﻿html { font-family: "Segoe UI" , "Arial"; }
.maina { /*background: url(//cdn.goomena.com/goomena-kostas/first-general/bg-reapet.jpg) repeat;     box-shadow: 0px 5px 5px 1px #c7c5c8 ;     moz-box-shadow: 0px 5px 5px 1px #c7c5c8 ;*/ }
.hidden { display: none; }
.clear { clear: both; }
.manwomancontainer { width: 950px; margin-left: auto; margin-right: auto; }
li { list-style: none; }
.dropdownlist { }
.woman { width: 428px; height: auto; float: left; margin-top: 100px; }
ul.woman { margin-bottom: 30px; list-style: none; }
.lista { list-style: none; padding-top: 11px; padding-bottom: 17px; }
.lista1 { background: url("//cdn.goomena.com/goomena-kostas/first-general/plus-red.png") no-repeat scroll -10px 0 transparent; height: 90px; padding-left: 70px; padding-top: 30px; vertical-align: middle; /*margin-top: 44px;*/ cursor: pointer; }
.lista2 { background: url("//cdn.goomena.com/goomena-kostas/first-general/1.png") no-repeat scroll 21px 0 transparent; height: 119px; padding-left: 70px; vertical-align: middle; margin-top: 10px; }
.lista3 { background: url("//cdn.goomena.com/goomena-kostas/first-general/2.png") no-repeat scroll 21px 0 transparent; height: 119px; padding-left: 70px; vertical-align: middle; margin-top: 10px; }
.lista4 { background: url("//cdn.goomena.com/goomena-kostas/first-general/3.png") no-repeat scroll 21px 0 transparent; height: 119px; padding-left: 70px; vertical-align: middle; margin-top: 10px; }
.tiperimeneis { margin-top: 80px; margin-bottom: 50px; height: 94px; }
.wginemelos { margin-bottom: 40px; }
.line { margin-left: 25%; margin-bottom: 20px; }
.womanimg { margin-bottom: 15px; margin-left: 97px; }
.giawomen { margin-bottom: 20px; margin-top: 10px; text-align: center; font-size: 21px; font-weight: normal; }

.man { width: 428px; height: auto; float: right; margin-top: 100px; }
ul.man { margin-bottom: 30px; list-style: none; }
.listaman { list-style: none; padding-top: 11px; padding-bottom: 11px; }
.listaman1 { background: url("//cdn.goomena.com/goomena-kostas/first-general/plus.png") no-repeat scroll -10px 0 transparent; height: 90px; padding-left: 70px; padding-top: 30px; vertical-align: middle; /*margin-top: 61px; */cursor: pointer; }
.listaman2 { background: url("//cdn.goomena.com/goomena-kostas/first-general/1.png") no-repeat scroll 21px 0 transparent; height: 119px; padding-left: 70px; vertical-align: middle; margin-top: 10px; padding-top: 0px; }
.listaman3 { background: url("//cdn.goomena.com/goomena-kostas/first-general/2.png") no-repeat scroll 21px 0 transparent; height: 119px; padding-left: 70px; vertical-align: middle; margin-top: 10px; }
.listaman4 { background: url("//cdn.goomena.com/goomena-kostas/first-general/3.png") no-repeat scroll 21px 0 transparent; height: 119px; padding-left: 70px; vertical-align: middle; margin-top: 10px; }
.tiperimeneisman { margin-top: 80px; margin-bottom: 50px; height: 94px; }
.mginemelos { margin-bottom: 40px; margin-top: 15px; }
.lineman { margin-left: 25%; margin-bottom: 20px; }
.manimg { margin-bottom: 15px; margin-left: 97px; }
.giamen { margin-bottom: 20px; margin-top: 10px; text-align: center; font-size: 21px; font-weight: normal; }

.photosforwomen { padding-bottom: 140px; margin-bottom: 85px; }
.photosformen { padding-bottom: 140px; margin-bottom: 85px; }
.polaroid { float: left; position: relative; width: 97px; height: 125px; margin-right: 10px; color: Black; }
.polaroid2 { float: right; position: relative; width: 97px; height: 125px; margin-right: 10px; color: Black; }
.polaroid img { width: 93px; height: 93px; border: 2px solid #fff; border-bottom: 32px solid #fff; -webkit-box-shadow: 3px 3px 3px #777; -moz-box-shadow: 3px 3px 3px #777; box-shadow: 3px 3px 3px #777; }
.polaroid2 img { width: 93px; height: 93px; border: 2px solid #fff; border-bottom: 32px solid #fff; -webkit-box-shadow: 3px 3px 3px #777; -moz-box-shadow: 3px 3px 3px #777; box-shadow: 3px 3px 3px #777; }
.polaroid p { position: absolute; text-align: center; width: 100%; bottom: -8px; font-size: 90%; color: #26a9e1; font-weight: bold; }
.polaroid2 p { position: absolute; text-align: center; width: 100%; bottom: -8px; font-size: 90%; color: #BD1F2D; font-weight: bold; }
.regformcontainer { width: 100%; }
.regmidcontainer { width: 983px; margin-left: auto; margin-right: auto; position: relative; }
.registerform { width: 475px; height: 448px; position: absolute; top: 21px; right: 0px; z-index: 1; background: url(//cdn.goomena.com/goomena-kostas/first-general/opac.png); padding: 15px; /*-webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);     -moz-box-shadow:    7px 7px 5px rgba(50, 50, 50, 0.75);     box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.75);*/ }
.registerform .fbimg { position: absolute; top: 25px; right: 50px; }
.welcomemsg { position: absolute; left: 0px; top: 134px; }
.welcomemsg h1 { width: 460px; color: White; font-size: 36px; font-weight: 600; left: 0px; position: absolute; top: 1px; z-index: 1; }
.tooltipcustom { width: 300px; background: white; color: white; font-size: 14px; background: black; opacity: 0.8; padding: 20px; }
.tip { cursor: pointer; font-weight: bold; color: #26a9e1; }
.mosaic { position: relative; overflow: hidden; width: 1440px; height: 478px; background-color: white; /*border-bottom: 4px solid #bb2237;     border-top: 4px solid #000105;*/ background: url(//cdn.goomena.com/goomena-kostas/first-general/bg-reapet.jpg) repeat; margin-left: auto; margin-right: auto; margin-top: 21px; }

.gradient1 { position: absolute; width: 1440px; height: 478px; background-color: Black; opacity: 0.55; }

.pic {position: absolute;border-right: 4px solid white; border-left: 4px solid white; border-bottom: 4px solid white; border-top: 4px solid white; background-position: center;-moz-background-size: 100% 100%; background-size: 100% 100%;}
.pic1 { width: 114px; height: 123px; border-top: 0px;}
.pic2 {  left: 118px; width: 111px; height: 123px;border-top: 0px;  }
.pic3 { left: 233px;  width: 85px; height: 95px;border-top: 0px;  }
.pic4 { left: 322px;  width: 100px; height: 106px;border-top: 0px;  }
.pic5 { left: 426px;  width: 128px; height: 139px;border-top: 0px;  }
.pic6 { left: 558px;  width: 114px; height: 130px;border-top: 0px;  }
.pic7 { left: 676px;  width: 105px; height: 108px;border-top: 0px;  }
.pic8 { left: 785px;  width: 123px; height: 129px;border-top: 0px;  top: 0px; }
.pic9 { left: 912px;  width: 70px; height: 70px;border-top: 0px;  }
.pic10 { left: 986px;  width: 110px; height: 117px;border-top: 0px;  }
.pic11 { left: 1100px;  width: 98px; height: 110px;border-top: 0px;  }
.pic12 { left: 1202px;  width: 114px; height: 123px;border-top: 0px;  }
.pic13 {  left: 1320px; width: 111px; height: 123px;border-top: 0px;  }
.pic14 { left: 1435px;  width: 85px; height: 95px;border-top: 0px;  }
.pic15 { left: 1524px;  width: 100px; height: 106px;border-top: 0px;  }
.pic16 { left: 1628px;  width: 128px; height: 139px;border-top: 0px;  }
.pic17 { left: 1760px;  width: 114px; height: 130px;border-top: 0px;  }
.pic18 { left: 1878px;  width: 105px; height: 108px;border-top: 0px;  }
.pic19 { left: 1987px;  width: 123px; height: 129px;border-top: 0px;  }
.pic20 { left: 2114px;  width: 70px; height: 70px;border-top: 0px;  }
.pic21 { left: 2188px;  width: 110px; height: 117px;border-top: 0px;  }
.pic22 { left: 2302px;  width: 98px; height: 110px;border-top: 0px;  }
.pic23 { top: 123px; left: 0px;  width: 153px; height: 149px;}
.pic24 { top: 123px; left: 157px;  width: 70px; height: 83px; }
.pic25 { top: 95px; left: 231px;  width: 102px; height: 110px; }
.pic26 { top: 106px; left: 337px;  width: 98px; height: 98px; }
.pic27 { top: 139px; left: 439px;  width: 112px; height: 110px; }
.pic28 { top: 130px; left: 555px;  width: 115px; height: 107px; }
.pic29 { top: 108px; left: 674px;  width: 104px; height: 109px; }
.pic30 { top: 129px; left: 782px;  width: 89px; height: 95px; }
.pic31 { top: 70px; left: 877px;  width: 156px; height: 136px; }
.pic32 { top: 117px; left: 1035px;  width: 56px; height: 46px; }
.pic33 { top: 110px; left: 1095px;  width: 100px; height: 92px; }
.pic34 { top: 123px; left: 1199px;  width: 153px; height: 149px; }
.pic35 { top: 123px; left: 1356px;  width: 70px; height: 83px; }
.pic36 { top: 95px; left: 1430px;  width: 102px; height: 110px; }
.pic37 { top: 106px; left: 1536px;  width: 98px; height: 98px; }
.pic38 { top: 139px; left: 1638px;  width: 112px; height: 110px; }
.pic39 { top: 130px; left: 1754px;  width: 115px; height: 107px; }
.pic40 { top: 108px; left: 1873px;  width: 104px; height: 109px; }
.pic41 { top: 129px; left: 1981px;  width: 89px; height: 95px; }
.pic42 { top: 70px; left: 2074px;  width: 156px; height: 136px; }
.pic43 { top: 117px; left: 2234px;  width: 56px; height: 46px; }
.pic44 { top: 110px; left: 2294px;  width: 100px; height: 92px; }
.pic45 { top: 276px; left: 0px;  width: 95px; height: 94px; }
.pic46 { top: 276px; left: 99px;  width: 111px; height: 115px; }
.pic47 { top: 209px; left: 157px;  width: 50px; height: 61px; }
.pic48 { top: 208px; left: 211px;  width: 149px; height: 160px; }
.pic49 { top: 208px; left: 364px;  width: 85px; height: 85px; }
.pic50 { top: 297px; left: 364px;  width: 85px; height: 73px; }
.pic51 { top: 247px; left: 453px;  width: 130px; height: 126px; }
.pic52 { top: 210px; left: 587px;  width: 161px; height: 161px; }
.pic53 { top: 226px; left: 752px;  width: 122px; height: 125px; }
.pic54 { top: 210px; left: 878px;  width: 123px; height: 125px; }
.pic55 { top: 167px; left: 1005px;  width: 115px; height: 115px; }
.pic56 { top: 206px; left: 1124px;  width: 71px; height: 78px; }
.pic57 { top: 276px; left: 1199px;  width: 95px; height: 94px; }
.pic58 { top: 276px; left: 1298px;  width: 111px; height: 115px; }
.pic59 { top: 209px; left: 1359px;  width: 50px; height: 61px; }
.pic60 { top: 208px; left: 1413px;  width: 149px; height: 160px; }
.pic61 { top: 208px; left: 1566px;  width: 85px; height: 85px; }
.pic62 { top: 297px; left: 1566px;  width: 85px; height: 73px; }
.pic63 { top: 247px; left: 1655px;  width: 130px; height: 126px; }
.pic64 { top: 210px; left: 1789px;  width: 161px; height: 161px; }
.pic65 { top: 226px; left: 1954px;  width: 122px; height: 125px; }
.pic66 { top: 210px; left: 2080px;  width: 123px; height: 125px; }
.pic67 { top: 167px; left: 2207px;  width: 115px; height: 115px; }
.pic68 { top: 206px; left: 2326px;  width: 71px; height: 78px; }
.pic69 { top: 374px; left: 0px;  width: 102px; height: 103px; }
.pic70 { top: 395px; left: 106px;  width: 82px; height: 82px; }
.pic71 { top: 372px; left: 192px;  width: 105px; height: 105px; }
.pic72 { top: 362px; left: 301px;  width: 109px; height: 116px; }
.pic73 { top: 378px; left: 414px;  width: 98px; height: 100px; }
.pic74 { top: 378px; left: 516px;  width: 104px; height: 100px; }
.pic75 { top: 378px; left: 624px;  width: 105px; height: 100px; }
.pic76 { top: 356px; left: 733px;  width: 118px; height: 122px; }
.pic77 { top: 342px; left: 855px;  width: 136px; height: 136px; }
.pic78 { top: 289px; left: 995px;  width: 200px; height: 189px; }
.pic79 { top: 374px; left: 1199px;  width: 102px; height: 103px; }
.pic80 { top: 395px; left: 1305px;  width: 82px; height: 82px; }
.pic81 { top: 372px; left: 1391px;  width: 105px; height: 105px; }
.pic82 { top: 362px; left: 1500px;  width: 109px; height: 116px; }
.pic83 { top: 378px; left: 1613px;  width: 98px; height: 100px; }
.pic84 { top: 378px; left: 1715px;  width: 104px; height: 100px; }
.pic85 { top: 378px; left: 1823px;  width: 105px; height: 100px; }
.pic86 { top: 356px; left: 1932px;  width: 118px; height: 122px; }
.pic87 { top: 342px; left: 2054px;  width: 136px; height: 136px; }
.pic88 { top: 289px; left: 2194px;  width: 200px; height: 189px; }

.mainregdiv { width: 470px; height: 212px; background: #eeeeee; }
.notmember { display: block; font-size: 27px; font-weight: 400; margin-left: 10px; margin-top: 0px; margin-bottom: 0px; padding-top: 7px; padding-bottom: 10px; }
.mainbememberp { font-size: 17px; font-weight: lighter; display: inline-block; margin-left: 10px; margin-top: 14px; }
.mainregdivctr { font-size: 16px; padding-left: 5px; padding-bottom: 12px; background: white; padding-top: 3px; width: 99%; }
.mainregdivctr h1 { font-size: 16px; font-weight: lighter; margin-left: 6px; }
.HyperRegister { font-size: 17px; display: inline-block; text-decoration: none; color: white; background: url(//cdn.goomena.com/goomena-kostas/first-general/egrafi-button.png) 0 40px; float: right; height: 34px; margin-right: 20px; margin-top: 8px; padding-top: 5px; text-align: center; width: 100px; cursor: pointer; }
.HyperRegister:hover { background: url(//cdn.goomena.com/goomena-kostas/first-general/egrafi-button.png) 0 0; }
.mainalreadymembr { width: 470px; height: 90px; background: white; margin-top: 18px; }
.mainalreadymembr p { font-size: 27px; float: left; margin-left: 10px; }
.mainalreadymembr a { font-size: 21px; text-decoration: none; background: url(//cdn.goomena.com/goomena-kostas/first-general/syndesi-button.png) 0 47px; display: block; float: right; height: 37px; margin-right: 20px; margin-top: 30px; padding-top: 7px; text-align: center; width: 122px; color: white; cursor: pointer; }
.mainalreadymembr a:hover { background: url(//cdn.goomena.com/goomena-kostas/first-general/syndesi-button.png) 0 0; }
.mainfblogindiv { width: 470px; height: 107px; background: #4a639b; margin-top: 18px; }
.mainfblogindiv img { float: left; margin-left: 10px; margin-top: 15px; }
.mainfblogindiv a { font-size: 27px; font-weight: lighter; color: white; text-decoration: none; margin-top: 35px; cursor: pointer; }
.PhotoInfoWrap { position: absolute; }
.PhotoInfos { }
.PhotoInfos img { width: 200px; height: 200px; border-width: 10px 10px 10px; border-color: #FFFFFF; border-style: solid; -webkit-box-shadow: 3px 3px 10px 3px #777777; box-shadow: 3px 3px 10px 3px #777777; }
.ProfileID { font-size: 17px; color: white; margin-top: 0px; margin-bottom: 0px; position: absolute; top: 10px; left: 15px; font-weight: 600; padding-left: 8px; padding-right: 8px; min-width: 50px; text-align: center; }
.ProfileCity { color: white; margin-top: 0px; margin-bottom: 0px; width: 200px; position: absolute; bottom: 10px; left: 10px; font-size: 14px; text-overflow: ellipsis; line-height: 15px; text-align: center; padding-top: 7px; padding-bottom: 7px; background: black; opacity: 0.65; }
.ProfileAgeWrap { font-size: 14px; color: white; position: absolute; text-align: center; top: 15px; right: 16px; border-radius: 50%; width: 50px; height: 50px; }
.ProfileAgeText { margin: 0px; padding-top: 4px; }
.ProfileAge { margin: 0px; }
.hidden { display: none; }
.gendermsg { }

a.wcloserdv { background: #72A252; height: 103px; padding-top: 21px; padding-left: 20px; margin-bottom: 60px; font-size: 25px; display: block; text-decoration: none; color: White; }
a.mcloserdv { background: #8c235c; height: 103px; padding-top: 21px; padding-left: 20px; font-size: 25px; margin-bottom: 60px; text-decoration: none; color: White; display: block; }
h2.wcloserdv,h2.mcloserdv{margin:0;padding:0;font-weight:normal;}


.animate {
-webkit-animation: cssAnimation 0.5s 1 ease-out;
-moz-animation: cssAnimation 0.5s 1 ease-out;
-o-animation: cssAnimation 0.5s 1 ease-out;
transform-origin:50% 50%;
}
@-webkit-keyframes cssAnimation {
from { -webkit-transform: scale(0.500) ;}
to { -webkit-transform: scale(1); }
}
@-moz-keyframes cssAnimation {
from { -moz-transform:  scale(0.500) ;}
to { -moz-transform:  scale(1); }
}
@-o-keyframes cssAnimation {
from { -o-transform:  scale(0.500) ;}
to { -o-transform:  scale(1);}
}

/*default.aspx no-grid new Botom 20141010*/
/* .maina{background:url("//cdn.goomena.com/Images/pub_default/public-defnogridbotom.jpg") no-repeat 50% 100%;} */
.ColouredBoxes{
    width: 108%;
    height: 514px;
    margin-left:-30px;
}
.ColouredBoxes .ColoredLadie{
     float: left;
    width: 491px;
    height: 100%;
    background-color: rgba(119, 218, 223, 0.68);
}
.ColouredBoxes .ColoredLadie .photos4-wrap,.ColouredBoxes .ColoredMan .photos4-wrap{
    margin-top:0px;
    float:none;
    width:100%;
    padding-top:44px;
    }

.ColouredBoxes .ColoredLadie .photos4-wrap .woman, .ColouredBoxes .ColoredMan .photos4-wrap .man{
    text-align:center;
    width:100%;
    }
.ColouredBoxes .ColoredLadie .photos4-wrap .woman .photosforwomen, 
.ColouredBoxes .ColoredMan .photos4-wrap .man .photosformen{
    text-align:center;
    width:448px;
    display:inline-block;
    padding-bottom:0px;
    margin-bottom:71px;

}
.RegisterButtoContainer{
    width:100%;
    text-align:center;

}
.btnRegister{
    display:inline-block;
    text-decoration:none;
    color:white;
    font-size:16px;
    font-weight:bold;
    border:3px solid #fff;
    height:42px;
    width:219px;
    line-height:40px;
}
.btnRegister:hover{
    background-color:white;
    color:#141F33;
}
.ColouredBoxes .ColoredLadie .photos4-wrap .woman .photosforwomen .photobox .polaroid, 
.ColouredBoxes .ColoredMan .photos4-wrap .man .photosformen .photobox .polaroid2{
    margin-right:15px;
}
.ColouredBoxes .ColoredLadie .photos4-wrap .woman .photosforwomen .photobox .polaroid .imagename, 
.ColouredBoxes .ColoredMan .photos4-wrap .man .photosformen .photobox .polaroid2 .imagename{
    bottom:-20px;
    color:white;
    font-size:14px;
  
}
.ColouredBoxes .ColoredLadie .photos4-wrap .woman .photosforwomen .photobox .polaroid .imgtag, 
.ColouredBoxes .ColoredMan .photos4-wrap .man .photosformen .photobox .polaroid2  .imgtag{
    width:102px;
    height:99px;
    border:2px solid #fff;
   
      -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    border-radius:7px;
}
.ColouredBoxes .ColoredMan{
     float: right;
    width: 491px;
    height: 100%;
    background-color: rgba(242, 64,116, 0.68);
}
.ColouredBoxes a.wcloserdv2 { background: #77dadf;
                height: 75px;
                padding-top: 12px; 
                /*padding-left: 20px;*/ 
                margin-bottom: 13px; 
                font-size: 22px; 
                display: block; 
                text-decoration: none; 
                color: black;
                line-height:25px;
                text-align:center;
}
.ColouredBoxes a.mcloserdv2 { background: #8c235c;
               height: 75px;
                padding-top: 12px; 
                /*padding-left: 20px;*/ 
                margin-bottom: 13px; 
                font-size: 22px; 
                display: block; 
                text-decoration: none; 
                color: white;
                line-height:25px;
                text-align:center;
}
.ColouredBoxes a.wcloserdv2 .lnktext{display:block;padding-top:3px;}
.ColouredBoxes a.mcloserdv2 .lnktext{display:block;padding-top:3px;}
h2.wcloserdv21,h2.mcloserdv21{margin:0;padding:0;font-weight:normal;padding-top:68px;}

.mobilebanner20141010{    
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    }
.mobilebanner20141010 .Left{
    float:left;
    width:557px;

    z-index: 2;
    position: relative;
    }
.mobilebanner20141010 .Right{
     z-index: 1;
     position: absolute;
     
        }
#mobilePhoto{
     width: 609px;
    height: 526px;
    background: url("//cdn.goomena.com/Images/pub_default/20141010_mobilebotom.jpg") no-repeat 50% 0;
    position: relative;
    top: 19px;
    left: 465px;
}
#TriangleDown{
        background: url("//cdn.goomena.com/Images/pub_default/20141010_triangledown.png.png") no-repeat 50% 0;
    height: 89px;
    left: 617px;
    position: relative;
    top: -24px;

}
#mobileapplogo{
        background: url("//cdn.goomena.com/Images/pub_default/20141010app_logo.png") no-repeat 50% 0;
    width: 100%;
    height: 170px;
    margin-top: 57px;
    }
#dvlblmobileText{
padding-top:38px;
}
#TriangleUp{
background:url("//cdn.goomena.com/Images/pub_default/20141010_triangleup.png") no-repeat 50% 0;
margin-left:-149px;
width:410px;
height:73px;
}
#btnDownloadAppContainer{
    width: 100%;
    height: 50px;
    text-align: center;
    }
#btnDownloadAppContainer .btnDownloadApp{
        text-decoration: none;     
         font-size: 15px;
    color: #141F33;
    font-weight: bold;
    border: 3px solid #141F33;
    height: 43px;
    display: inline-block;
    width: 213px;
    margin-left: 6px;
    line-height: 42px;

}
#btnDownloadAppContainer .btnDownloadApp:hover {
    background-color:#141F33;
    color:white;
}
#playstoreImg{
    
    display: block;
    width: 104px;
    height: 39px;
    margin-top: 75px;
    padding-bottom: 34px;
    margin-left: -16px;

}
/*End new Botom*/
