﻿body, h1, p, a, h2, h3, h4, li { font-family: "Segoe UI",Helvetica,Arial; }
        
.headernew { position: relative; height: 128px; width: 100%; /*background: url(first-general/bg-reapet.jpg) repeat;*/ }
.headernew a { text-decoration: none; }
.logincontainernew { position: relative; margin-left: auto; margin-right: auto; width: 983px; height: 125px; }
        
.logo { position: absolute; top: 7%; }
.menu li { display: inline; list-style-type: none; padding-right: 20px; }
.menu ul { bottom: 0px; position: absolute; right: 4px; }
.menu { bottom: 0px; position: absolute; left: 0px; }
.menu a { text-decoration: none; color: Black; font-size: 16px; }
.logintable { position: absolute; top: 0px; right: 0px; }
.languages { position: absolute; bottom: 0px; right: 0px; }
.languages a { text-decoration: none; color: Black; }
.languages .dxeT a,
.languages .dxic input.dxeEditAreaSys  { text-decoration: none; color: Black;font-family: "Segoe UI",Helvetica,Arial;font-size:13px; }
.languages .dxeListBoxItemRow_DevEx .dxeI{display:none; background: url('//cdn.goomena.com/images/flags/US.png') no-repeat 0 50%;width:16px;height:16px; }
.languages .dxeListBoxItemRow_DevEx .dxeT a{margin-left:5px;padding-left:25px;height:20px; display:block;}
.languages .dxeButtonEditSys .dxeIIC img{margin-left:5px;width:20px;height:20px;display:block;}
.US .languages .dxeButtonEditSys .dxeIIC img,
.languages .dxeListBoxItemRow_DevEx .dxeT a.US{ background: url('//cdn.goomena.com/images/flags/US.png') no-repeat 0 50%;}
.GR .languages .dxeButtonEditSys .dxeIIC img,
.languages .dxeListBoxItemRow_DevEx .dxeT a.GR { background: url('//cdn.goomena.com/images/flags/Greece.png') no-repeat 0 50%;}
.AL .languages .dxeButtonEditSys .dxeIIC img,
.languages .dxeListBoxItemRow_DevEx .dxeT a.AL { background: url('//cdn.goomena.com/images/flags/albania.png') no-repeat 0 50%;}
.TR .languages .dxeButtonEditSys .dxeIIC img,
.languages .dxeListBoxItemRow_DevEx .dxeT a.TR{ background: url('//cdn.goomena.com/images/flags/turk.png') no-repeat 0 50%;}
.RU .languages .dxeButtonEditSys .dxeIIC img,
.languages .dxeListBoxItemRow_DevEx .dxeT a.RU{ background: url('//cdn.goomena.com/images/flags/russian.png?v2') no-repeat 0 50%;}
.ES .languages .dxeButtonEditSys .dxeIIC img,
.languages .dxeListBoxItemRow_DevEx .dxeT a.ES{ background: url('//cdn.goomena.com/images/flags/spain-flag.png') no-repeat 0 50%;}
.menuwords { font-weight: 600; }
.forgotpass { font: 12px Tahoma; }
        
/***************FOOTER********************************************/
.clear { clear: both; }
.footernew { width: 100%; background-color: #EEEEEE; position: relative; padding-top: 1px; padding-bottom: 12px; min-width: 1024px; border-top: 4px solid #26a9e1; }
.footerbox { margin-left: auto; margin-right: auto; position: relative; margin-top: 32px; width: 974px; }
        
.footernew a { text-decoration: none; color: #24A9E1; }
.firstline a { color: Black; }
.footerbox li { padding: 2px; }
        
.ul1 { margin-bottom: 41px; }
.ul2 { margin-bottom: 29px; }
.ul3 { position: relative; }
.ul4 { left: 20%; position: absolute; top: 0; }
.ul5 { left: 20%; position: absolute; top: 180px; }
.socialbox { left: 20%; position: absolute; top: 243px; width: 275px; }
.prosoxi { position: absolute; right: 42px; top: 255px; width: 460px; }
.infobox { width: 498px; position: absolute; right: 5px; top: 0; }
.infobox p { font-size: 90%; margin-top: 0px; }
.infobox h1,.infobox h3 { margin-bottom: 0px; margin-top: 0; font-weight: lighter; font-size: 16px; }
.info { border-top: 1px solid black; padding-top: 20px; text-align: left; }
        
.siteinfo { font-size: 13px;margin-top: 10px; }        
.footerlogo { margin-top: 30px; }

.bemember:hover, .connect:hover { cursor: pointer; }
.fbcontainer { position: relative; width: 90px; height: 70px; float: right; }
#fblikes { font-family: Segoe UI, Arial; font-size: 13px; position: absolute; top: 0px; right: 0px; border-radius: 7px; background: #231F20; color: White; padding-bottom: 2px; text-align: center; width: 43px; }
.twcontainer { position: relative; width: 93px; height: 70px; float: left; }
#followers { font-family: Segoe UI, Arial; font-size: 13px; position: absolute; top: 0px; right: 0px; border-radius: 7px; background: #231F20; color: White; padding-bottom: 2px; text-align: center; width: 43px; }
.gpluscontainer { position: relative; width: 90px; height: 70px; float: right; }
#plusone { font-family: Segoe UI, Arial; font-size: 13px; position: absolute; top: 0px; right: 0px; border-radius: 7px; background: #231F20; color: White; padding-bottom: 2px; text-align: center; width: 43px; }
#ctl00_ucLogin1_lblError { position: absolute; bottom: 30px; right: 0; }
#ctl00_ucLogin1_MainLogin_UserName_EC { position: absolute; top: 32px; right: 500px; }
#ctl00_ucLogin1_MainLogin_Password_EC { position: absolute; top: 58px; right: 547px; }
.prosoxicontainer { color: Black; font-size: 13px; font-weight: 400; cursor: pointer; }
#lblEscortsWarningTooltip { padding: 20px; }
.pub-top-welcome{position: absolute; right: 0px;top: 17px;} 
 
.xmas .headernew{height: 139px;}    
.xmas .logincontainernew{height: 134px;}    
.xmas .logintable {top: 24px;}       
.xmas .pub-top-welcome{top: 27px;}

.link-more-articles {margin:5px 0 7px;}
