﻿.gifts-info-page { margin-top: 20px; }
.gifts-info-content { width: 709px; margin: 0 auto; background-color: #fff; }
.header-box { position: relative; height: 340px; }
.header-text { position: absolute; top: 37px; left: 12px; color: #BA0377; font-weight: normal; width: 280px; padding: 21px; text-transform: uppercase; }
.header-text h1 { font-weight: normal; margin: 0; padding: 0; font-size: 28px; line-height: 30px; margin-bottom: 20px; }
.header-text strong { font-size: 25px; line-height: 30px; font-weight: bold; }
.main-content { padding: 0 0 0 20px; }
.welcome-title { font-size: 21px; font-weight: normal; color: #615077; margin-bottom: 15px; margin-top: 20px; }
.welcome-text { font-size: 14px; color: #615077; line-height: 18px; height: 119px; padding-right: 20px; }
.description-title { font-size: 20px; font-weight: normal; color: #615077; margin-bottom: 20px; margin-top: 20px; width: 362px; line-height: 24px; }
.description-content { font-size: 14px; color: #615077; margin-top: 36px; line-height: 18px; position: relative; }
.description-content .lfloat { width: 380px; height: 301px; }
.description-content .rfloat { width: 281px; margin-top: -134px; }
.description-content p { margin-top: 0; }
.howitworks-title { font-size: 25px; font-weight: normal; color: #615077; margin-bottom: 20px; margin-top: 4px; margin-left: 40px; }
.howitworks-content { font-size: 14px; color: #615077; margin-left: 31px; margin-top: 37px; }
.howitworks-content .lfloat { width: 183px; height: 735px; }
.howitworks-content .rfloat { position: relative; width: 414px; height: 735px; margin-right: 30px; }
.howitworks-content h6 { font-size: 18px; color: #615077; margin: 12px 0px 0px; line-height: 27px; font-weight: normal; }
.howitworks-content p { font-size: 14px; color: #615077; margin: 14px 0px 0px 0px; line-height: 16px; }
.howitworks-content .prg1 { }
.howitworks-content .prg2 { margin: 138px 0px 0px 0px; }
.howitworks-content .prg3 { margin: 146px 0px 0px 0px; }
.howitworks-content .prg3 p { margin: 10px 0px 0px; line-height: 17px; }

.bottom-content { margin: 63px 0 0 0;border-top:2px solid #dfdfe0; }
.bottom-link { padding:0 0 36px; }
.check-agree { margin: 20px auto; width:450px;}
.check-agree label { font-size: 13px; color: #000; }
.check-agree a { font-size: 13px; color: #0099cc; }
.check-agree .center-table p {margin:0;display:inline;}
.check-agree .center-table td {vertical-align:top;}
.check-agree .center-table td .dxICheckBox{margin-right:7px;}
.check-agree .tos-link {white-space:nowrap;}

.bottom-content a.enter-link  { margin: 0 auto; width: 200px; height: 51px; display: block; background: url(//cdn.goomena.com/images2/gifts/yes-button.png) no-repeat scroll 0 0; color: #fff; font-size: 14px; font-weight: bold; text-align: center; line-height: 52px; }
.bottom-content a.enter-link:hover { background-position: 0 -67px; }
.bottom-content a.enter-link.opacity60:hover{ background-position:0 0;}
.bottom-content a.getout-link  { margin: 0 auto; width: 200px; height: 51px; display: block; background: url(//cdn.goomena.com/images2/gifts/no-button.png) no-repeat scroll 0 0; color: #fff; font-size: 14px; font-weight: bold; text-align: center; line-height: 52px; }
.bottom-content a.getout-link:hover { background-position: 0 -67px; }
.bottom-content a.getout-link.opacity60:hover{ background-position:0 0;}
.lnkNotEnoughCredits{
    
    background: none!important;
    color: #562e3d!important;
    width: 300px!important;
    height: 74px!important;
    margin: 0 auto;
    display: block;
    font-size: 14px; 
    font-weight: bold;
     text-align: center;
}
.lnkNotEnoughCredits:hover {
    cursor:pointer;
    /*background: none!important;
    color: #562e3d!important;
    width: 300px!important;
    height: 74px!important;*/

}
.right-side { padding-left: 8px; }
.gifts-credits-page { margin: 13px auto 0; width: 710px; }
.gifts-credits-content { }
.header-box { padding: 0px 0 10px; color: #562e3d; background-color: #fff; }
.header-box h2 { font-size: 17px; font-weight: normal; margin: 0; padding-left: 40px; padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #FBFBFB; }
.header-box img.points { width: 561px; margin: 10px auto 0; display: block; }
.header-box .lfloat { width: 236px; }
.header-box .lfloat h3 { font-size: 14px; font-weight: bold; text-align: center; padding: 0 20px; margin: 0; }
.header-box .lfloat h3.wide { padding: 0px 5px; }
.header-box .lfloat p { font-size: 14px; text-align: center; padding: 0 10px 0; margin: 5px 0px 0px; line-height: 18px; }
.your-credits { width: 100%; height: 83px; background: url(//cdn.goomena.com/images2/gifts/credits-title.png) no-repeat scroll 50% 50%; font-size: 20px; color: #562e3d; line-height: 82px; text-align: center; }
.your-credits .text { }
.credits-analysis { color: #562e3d; }

.credits-analysis .left-box {width: 360px; position: relative; overflow: hidden; }
.credits-analysis .left-box .top-part { background: url(//cdn.goomena.com/images2/gifts/credits-box-up.png?v2) no-repeat scroll 50% 0;padding-bottom:20px;}
.credits-analysis .left-box .bottom-part { background: url(//cdn.goomena.com/images2/gifts/credits-box-bottom.png) no-repeat scroll 0px 100%; height: 120px;}

.credits-analysis .center-box { background: url(//cdn.goomena.com/images2/gifts/friends-line.png) no-repeat scroll 50% 50%; width: 59px; height: 148px; position: relative; overflow: hidden; margin-top: 170px; }
.credits-analysis .right-box { width: 286px; color: #562e3d; }
.credits-analysis .right-box .friends-list { background: url(//cdn.goomena.com/images2/gifts/friend-box2.png?v2) no-repeat scroll 50% 100%; width: 277px; position: relative; overflow: hidden;padding-bottom: 8px;}
/*
.credits-analysis .right-box .friends-list.none { background: url(//cdn.goomena.com/images2/gifts/friend-box2.png) no-repeat scroll 50% 100%; height: 66px;}
.credits-analysis .right-box .friends-list.one-friend { background: url(//cdn.goomena.com/images2/gifts/friend-box2.png) no-repeat scroll 50% 100%;height: 142px;}
.credits-analysis .right-box .friends-list.two-friends { background: url(//cdn.goomena.com/images2/gifts/friend-box2.png) no-repeat scroll 50% 50%;height: 209px;}
*/
.credits-analysis .right-box h3 { font-size: 18px; font-weight: bold; margin: 20px 0px 0px; padding: 0px; text-align:center;}
.credits-analysis .right-box ul { list-style: disc; margin: 8px 0px 0px 17px; }
.credits-analysis .right-box li { list-style-type: disc; font-size: 11px; margin: 3px 0 0; padding: 0; }
.credits-analysis .right-box li .text { font-size: 12px; line-height: 14px; }
.credits-analysis .right-box .friends-points { height: 86px; overflow: hidden; }

.friends-list .one-box, 
.friends-list .two-box, 
.friends-list .last-box{ height:63px;}
.friends-list .one-box{ margin-top:0px;background: #EBEBED url(//cdn.goomena.com/images2/gifts/friend-box-single.png?v2) no-repeat scroll 0 0;width:277px;height:69px;}
.friends-list .two-box{ margin-top:7px;}
.friends-list .last-box{ margin-top:9px;}

.friends-list .action-link,.no-friends .friends-list-empty .action-link{ padding-top: 7px;text-align: center;position:relative;width:142px;margin-left:auto;margin-right:auto;}
.friends-list .action-link a,.no-friends .friends-list-empty .action-link a{display: inline; background:#572E3E;color: #fff; font-size: 12px; font-weight: bold; text-align: center; line-height: 49px; padding:9px 19px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.friends-list .action-link img.quest-small {position:absolute;top: 25px;right: -23px;}
.friends-list .no-friends{ margin-top:9px;}

.after-friends-list .action-link {padding-top: 7px;width:170px;margin-left:auto;margin-right:auto;}
.after-friends-list .action-link a {display: inline; background:#22333B;color: #fff; font-size: 12px; text-align: center; line-height: 49px; padding:9px 45px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.after-friends-list .action-link a:hover {}

.friends-list .one-box .round-img-43,
.friends-list .two-box .round-img-43 {top:0px;left:0px; width: 45px; height: 45px;}
.friends-list .one-box .lfloat,
.friends-list .two-box .lfloat {width:207px;height:53px;position:relative;overflow:hidden;}
.friends-list .one-box .rfloat,
.friends-list .two-box .rfloat {}
.friends-list .one-box .lfloat .login-name,
.friends-list .two-box .lfloat .login-name {font-size:16px;color:#562e3d;}
.friends-list .one-box .rfloat,.friends-list .two-box .rfloat {font-size:17px;font-weight:bold;color:#562e3d;text-align:right;height:43px;width:50px;
                                                               border-left:1px solid #DFD6D9;margin-top: 6px;padding-right:17px;line-height:38px;}
.friends-list .one-box .pr-photo-43-noshad{ position:absolute;top: 8px;left: 15px;width: 46px;height: 46px;}
.friends-list .two-box .pr-photo-43-noshad { position:absolute;top: 4px;left: 15px;width: 46px;height: 46px;}
.friends-list .one-box .login-wrap,
.friends-list .two-box .login-wrap {overflow:hidden;position:absolute;top: 9px;left: 72px;width:132px;height:43px;}

.friends-list .one-box .rfloat {margin-top: 12px;}

.friends-list.none .one-box,
.friends-list.none .two-box {display:none; }

.friends-list.one-friend .one-box{display:none; }
.friends-list.one-friend .two-box{display:inherit; }
/*
.friends-list.two-friends .one-box,
.friends-list.two-friends .two-box {display:inherit; }
*/

.no-friends .center-box {display:none;}
.no-friends .right-box {margin-left:30px;}
.no-friends .friends-list-empty .action-link a{font-size:14px;padding: 9px 26px;}
.no-friends .friends-list-empty .action-link{padding-top: 0;}

.credits-analysis .profile { height: 114px; }
.credits-analysis .details { color: #562e3d; width: 339px; overflow: hidden; font-size: 15px; padding-left: 15px;padding-bottom: 25px;position:relative; }
.credits-analysis .details .lfloat,
.credits-analysis .details .rfloat { background-color: #fff; padding: 0px 15px 0 15px; }
.credits-analysis .details .total { height: 36px; font-size: 18px; font-weight: bold; padding: 15px 0 0; }
.credits-analysis .details .total .lfloat { padding: 0px 0px 0px 9px; }
.credits-analysis .details .total .rfloat { padding: 0px 31px 0px 0px; }

.credits-analysis .details .free,
.credits-analysis .details .reserved,
.credits-analysis .details .friends,
.credits-analysis .details .bonus { height: 18px; padding-top: 6px;position:relative;}

.credits-analysis .details .free { }
.credits-analysis .details .reserved { }
.credits-analysis .details .friends { }
.credits-analysis .details .bonus { }

.credits-analysis .details .free .lfloat,
.credits-analysis .details .reserved .lfloat,
.credits-analysis .details .friends .lfloat,
.credits-analysis .details .bonus .lfloat { padding: 0px 8px 0 8px; }

.credits-analysis .details .free .rfloat,
.credits-analysis .details .reserved .rfloat,
.credits-analysis .details .friends .rfloat,
.credits-analysis .details .bonus .rfloat { width: 46px; padding:0px 35px 0px 0px; text-align: right; }
.credits-analysis .details .free .quest-small { position:absolute;top: 8px;right: 10px;}
.credits-analysis .details .reserved .quest-small { position:absolute;top: 8px;right: 10px;}

.credits-analysis .selection { padding-top: 24px; }
.credits-analysis .selection h5 { font-size: 15px; margin: 0 0 0 0; font-weight: normal; text-align: center; }
.credits-analysis .selection .quest-small { position:absolute;top: 8px;right: -29px;}
.credits-analysis .action { }
.action-link { padding-top: 20px; }
.action-link a { margin: 0 auto; width: 176px; height: 48px; display: block; background: url(//cdn.goomena.com/images2/gifts/button2.png) no-repeat scroll 0 0; color: #fff; font-size: 14px; font-weight: bold; text-align: center; line-height: 49px;cursor:pointer;}

.action-link.opacity60 a{cursor:default!important ;}
.action-link.opacity60 a:hover {cursor:default!important ;  background: url(//cdn.goomena.com/images2/gifts/button2.png) no-repeat scroll 0 0!important; color: #fff!important;}
.action-link a:hover { background-position: -1px -62px; }
.bottom-part .action-link {padding-top: 40px;}

.pr-photo-78-noshad { margin: 18px 10px 0 18px; }
.round-img-78 { top: 2px; left: 2px; width: 80px; }
.login-name { font-size: 26px; color: #fff; }

.action-link a.darker { background-color:#22333B;}
.my-coupons { margin-top:-4px;}
.my-coupons .lcorner {background: url(//cdn.goomena.com/images2/gifts/left-dots.png) no-repeat scroll 100% 0;width:80px;height:36px;margin-right:10px;}
.my-coupons .rcorner {background: url(//cdn.goomena.com/images2/gifts/right-dots.png) no-repeat scroll 0 0;width:85px;height:36px;margin-left:0; }
.my-coupons .action-link a {background-image:none;-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;height: 35px;line-height: 36px;}
.my-coupons .action-link {padding-top:17px;}


.logos { background: #fff; width: 710px;position: relative; overflow: hidden; margin-top: 50px; }
.logos img.logo { display: block; width: 574px; margin: 32px auto 0; }
.logos h4 { margin:0 0 10px 0; padding: 10px 45px 12px 18px; font-weight: normal; font-size: 17px; color: #562e3d; border-bottom: 1px solid #FBFBFB;position:relative;}
.logos img.quest,
.logos h4 img.quest{ position:absolute;right: 18px;top: 11px;}

.logos .lfloat { border:2px solid #EBEBED;width:217px;height:97px;margin-left:13px;margin-bottom:13px;}
.logos .amazon { background: url(//cdn.goomena.com/images2/gifts/brands/amazon.png) no-repeat scroll 50% 50%;}
.logos .ebay { background: url(//cdn.goomena.com/images2/gifts/brands/ebay.png) no-repeat scroll 50% 50%;}
.logos .dior { background: url(//cdn.goomena.com/images2/gifts/brands/dior.png) no-repeat scroll 50% 50%;}
.logos .asos { background: url(//cdn.goomena.com/images2/gifts/brands/asos.png) no-repeat scroll 50% 50%;}
.logos .gucci { background: url(//cdn.goomena.com/images2/gifts/brands/gucci.png) no-repeat scroll 50% 50%;}
.logos .loreal { background: url(//cdn.goomena.com/images2/gifts/brands/loreal.png) no-repeat scroll 50% 50%;}


/* spin edit fix */
/*
.credits-analysis .spin-wrap { width: 130px; margin: 15px auto 0; }
.credits-analysis .spin-control { }
.credits-analysis .spin-control .dxeEditArea { background-color: transparent !important; margin: 0 0 5px 2px; width: 30px; height: 25px !important; color: #fff; font-size: 15px; text-align: center; }
.credits-analysis .spin-control .dxeSpinDecButton,
.credits-analysis .spin-control .dxeSpinIncButton { background-color: #572E3E; background-image: none; }
.credits-analysis .spin-control .dxeSBC { padding: 0; }

.credits-analysis .spin-wrap { width: 130px; margin: 15px auto 0; }
.credits-analysis .spin-control { }
.credits-analysis .spin-control .dxeEditArea { background-color: transparent !important; margin: 0 0 5px 2px; width: 30px; height: 25px !important; color: #fff; font-size: 15px; text-align: center; border-spacing: 0px; border-radius: 4px; }
.credits-analysis .spin-control .dxeSpinDecButton,
.credits-analysis .spin-control .dxeSpinIncButton { background-color: #572E3E; background-image: none; }
.credits-analysis .spin-control .dxeSpinIncButton { border-top-right-radius: 4px; }
.credits-analysis .spin-control .dxeSpinDecButton { border-bottom-right-radius: 4px; }
*/

.credits-analysis .spin-wrap { width: 150px; margin: 15px auto 0;position:relative;}
.credits-analysis .spin-control { border-radius: 4px; border: none; border-spacing: 0px;}
.credits-analysis .spin-control .dxeEditArea { color: #562e3d; background-color: transparent !important; margin:0 0 2px 10px; width: 100%; height: 25px !important; font-size: 15px; text-align: start; border-spacing: 0px;}
.credits-analysis .spin-control .dxeSpinDecButton,
.credits-analysis .spin-control .dxeSpinIncButton { background-color: #572E3E; background-image: none; }
.credits-analysis .spin-control .dxeSpinIncButton { border-top-right-radius: 4px; }
.credits-analysis .spin-control .dxeSpinDecButton { border-bottom-right-radius: 4px; }
.credits-analysis .spin-control .dxeSpinIncButton img { margin-right: 2px; }
.credits-analysis .spin-control .dxeSpinDecButton img { margin-right: 2px; }
.credits-analysis .spin-control .dxeSBC { padding: 0; }
.HorLineInButtons { position: relative; height: 1px; width: 22px; opacity: 0.3; top: 18px; margin-left: auto; margin-right: 0px; right: 4px; background-color: white; }



.CouponArea{
       background: url("//cdn.goomena.com/Images2/gifts/coupon-bg.png") no-repeat 50% 0
}
.lblcreateCouponTitle{font-size:17px; color:#562e3d;margin-left:10px; }
.lblcreateCouponNotes{font-size:13px; color:#9ea4a7; font-style:italic;}
.createCouponContainer{
    border-style:dashed ;
    width:750px;
    padding-left:0px;
     padding-bottom :10px;
      padding-right :0px;
       /*padding-:10px;*/
       margin-top:40px;
       height:361px;
       border-color:#562e3d;
       border-width:2px;
       
}
.createCouponTitle .Toprow{
    background:url('//cdn.goomena.com/images/bg.jpg');
    position:relative;
    top:-15px;
    left:10px;
    width:300px;
}
.createCouponTitle .SecondRow{
     margin-top: -16px;
    margin-left: 18px;
    padding-bottom: 10px;
 

}
.Couponcredits{font-size:14px; color:#562e3d;margin-left:45px;padding-bottom:15px;}
.CouponName{margin-left:45px;padding-bottom:13px;}
.lblCouponCredits, .lblCouponName {font-size:14px; color:#562e3d; font-weight:bold;padding-right:13px;
                 display:block;                   
  position: relative;

}
.lblCouponCredits{top: 9px;}
.lblCouponName{  top: 5px;
  }
.btnhpMoreInfoTitle:hover,.CouponCreditsInfo:hover {cursor:pointer;}
.btnhpMoreInfoTitle  {
    margin-left:5px;
    margin-top:2px;
    display:inline-block ;
      background: url("//cdn.goomena.com/Images2/gifts/help-icon-small.png") no-repeat 50% 0;
      height:16px;
      width:16px;
}
.CouponCreditsInfo {
    margin-left:5px;
    margin-top:9px;
    display:inline-block ;
      background: url("//cdn.goomena.com/Images2/gifts/help-icon.png") no-repeat 50% 0;
      height:19px;
      width:19px;
      padding-left:3px;
}

.CouponArea{    
    height: 100%;
    padding-top: 115px;
    }
.CouponArea .Editable{width:440px;}
.CreateCouponButton{
    text-align:center;
}
.btnCouponCreate{
     background:url("//cdn.goomena.com/Images2/gifts/send-again.png") no-repeat -6px -61px;
     display:block;
     height:45px;
     width:157px;
     margin-left:126px;
     /*margin-right:auto ;*/
     padding-top:8px;
     margin-top:39px;
}
.btnCouponCreate:hover  {
        background: url("//cdn.goomena.com/Images2/gifts/send-again.png") no-repeat -1px -3px;
cursor:pointer;
}
.btnCouponCreateLabel{
    cursor:pointer;
    font-size:14px;
    color:white;
    font-weight:bold;
    padding-top:8px;
}
.Couponcredits .lfloat .spin-wrap{width:130px;margin:15px auto 0;}
.Couponcredits .lfloat .spin-control{border-radius:4px; border:none;border-spacing:0px;}
.Couponcredits .lfloat .spin-control .dxeEditArea{color:#562e3d; background-color:transparent !important;
                                                  margin:0 0 2px 2px;
                                                  width:100%;
                                                  height:25px !important;
                                                  font-size:15px;
                                                  text-align:start;
                                                  border-spacing:0px;
                                                  border-radius:4px; }
.Couponcredits .lfloat .spin-control .dxeSpinDecButton,
.Couponcredits .lfloat .spin-control .dxeSpinIncButton{background-color:#572E3E;background-image:none; }
    .Couponcredits .lfloat .spin-control .dxeSpinIncButton {border-top-right-radius:4px;
    }
.Couponcredits .lfloat .spin-control .dxeSpinDecButton{border-bottom-right-radius:4px;
}
.Couponcredits .lfloat .spin-control .dxeSpinIncButton img {margin-right:2px;}
.Couponcredits .lfloat .spin-control .dxeSpinDecButton img {margin-right:2px;}
.Couponcredits .lfloat .spin-control .dxeSBC{padding:0;}
.HorLineInButtons{
    position:relative;
    height:1px;
    width:22px;
        opacity:0.3;
        top:18px;
        margin-left:auto;
        margin-right:0px;
        right:4px;
        background-color:white;

}
.opacity30{
cursor:default;

}
.txtCouponName{border-radius:4px;}
.txtCouponName .dxeEditArea{color:#562e3d;font-size:15px; text-align:start ;font-weight:bold; margin-left:2px;}
.CouponMoney{width:274px; font-size:77px;font-family:'Segoe UI Light'; color:#562e3d;text-align:center;}
.lblCouponMoney{
    
    display: block;
    margin-left: 12px;
    margin-right: 6px;
    margin-top: -13px;
    
}
.CouponCode{
    text-align: center;
    padding-top: 58px;
    font-size: 19px;
    color: white;
    font-weight: 500;
    margin-left: 31px;
    margin-right: 14px;
}
.PreviewCouponContainer{
    margin-top:21px;
    background:url("//cdn.goomena.com/Images2/gifts/background-coupon.png") repeat;
    width: 732px;

}
.PreviewCouponTitle{
    
    background-color: white;
    text-align: center;
    padding: 10px;

}
.lblPreviewCouponTitle{color:#54BC87;
                       
    font-size: 21px;
  

}
.PreviewCouponTitle .SecondRow{
    
    padding-top: 2px;

}
.PreviewCouponTitle .ThrirdRow{
    
    padding-top: -3px;

}
.lblPreviewCouponNotes1,.lblPreviewCouponNotes2{
    color:#9ea4a7;
    font-size:14px;
}


.PreviewCouponArea{
       background: url("//cdn.goomena.com/Images2/gifts/coupon.png") no-repeat 50% 0;
       border-radius:5px;
       margin-top:11px;
       margin:10px;
       margin-bottom:13px;
       height:321px;
}
.CouponFirstLine{
    
    color: white;
    margin-top: 75px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 31px;

}
.PreviewCouponcreditsCont{
    margin-top: 32px;
    margin-left: 37px;
    width: 114px;
    height: 29px;
     text-align:center;
}

.lblPreviewCouponCredits, .lblPreviewCouponName ,.lblCouponCreditsΤext {
    font-size:14px; 
    color:#562e3d; 
    font-weight:bold;
    padding-right:2px;
    display:inline-block;
  position: relative;
  top:5px;

}
.lblCouponCreditsΤext{
    /*font-family:'Segoe UI Light';*/
    font-weight:500;
}
.PreviewCouponName{
    margin-left: 37px;
    margin-top: 20px;
    height: 28px;
    width: 326px;
    padding-left: 3px;
}
.CouponBarcode{
    
    margin-left: 35px;
    width: 191px;
    height: 38px;
    margin-top: 50px;

}
.CouponBotomNotes{
    margin-left: 35px;
    width:385px;
    /* height: 21px; */
    margin-top: 4px;
    color:white;
    font-size:11px;
    font-weight:bold;

}

.PreviewCouponMoney{
    margin-top: 116px;
    width:274px; 
    font-size:77px;
    font-family:'Segoe UI Light';
     color:#562e3d;
     text-align:center;

}
.PreviewlblCouponMoney{
    
    display: block;
    margin-left: 12px;
    margin-right: 6px;
    margin-top: -13px;
    
}
.PreviewCouponCode{
    text-align: center;
    padding-top: 58px;
    font-size: 19px;
    color: white;
    font-weight: 500;
    margin-left: 31px;
    margin-right: 14px;
}
.PreviewDownloadButton, .PreviewResendButton{
     background: url("//cdn.goomena.com/Images2/gifts/send-again.png") no-repeat -1px -3px;
     display:inline-block;
     height:45px;
     width:157px;
     /*margin-left:126px;*/
     /*margin-right:auto ;*/
     padding-top:8px;
     margin-top:13px;
}
.PreviewDownloadButton:hover, .PreviewResendButton:hover {
    background:url("//cdn.goomena.com/Images2/gifts/send-again.png") no-repeat -6px -61px;
        
cursor:pointer;
}
.lblDownloadText, .lblResendText{
    cursor:pointer;
    font-size:14px;
    color:white;
    font-weight:bold;
    padding-top:8px;
}
.PreviewCouponButtons{
    background-color: white;
    text-align: center;
    padding: 10px;
    height:69px;
}