﻿
/* referrer */
.referrer .login-welcome { margin: 20px 0; font-size: 11pt; color: #51BAE7; }
.referrer .link-buttons { display: block; padding: 10px 0 0 40px; vertical-align: text-bottom; width: 200px; height: 30px; margin: 10px 0; color: #8C8C8E; font-size: 15px; }
.referrer .button-left { padding-left: 40px; background: url('../../images/referrer/button-1.png') no-repeat left top; }
.referrer .button-right { background: url('../../images/referrer/button-2.png') no-repeat left top; }
.referrer .link { color: #8C8C8E; font-size: 12px; }
.referrer .balance-description { font-size: 14px; font-weight: bold; line-height: 20px; margin-bottom: 30px; }
.referrer .balance-text { font-size: 12px; font-weight: normal; }
.referrer .family { margin: 20px 0; }
.referrer .family-icon { margin: 0 20px 0 0; }
.referrer .family-text { padding: 10px 0 0; }
.referrer .family-all-levels { margin: 10px 0 0; }
.referrer .family-level { margin: 0 20px 0 0; font-weight: bold; }
.referrer .contact_form .contactLabel { width: 100px; color: #8C8C8E; }
.referrer .contact_form .form_right textarea { width: 260px !important; }
.referrer .contact_form .form_right input[type="text"] { width: 260px !important; }
.referrer .contact_form .form-actions { background-color: transparent; border-top: none; }

.referrer #filter { background-color: #35619F; }

/* spin edit fix */
.referrer .spin-control { }
.referrer .spin-control .dxeEditArea { background-color: transparent !important; margin: 0 0 5px 2px; width: 30px; height: 25px !important; color: #fff; font-size: 15px; text-align: center; }
.referrer .spin-control .dxeSpinDecButton, .referrer .spin-control .dxeSpinIncButton { background: none; background-color: transparent !important; }
.referrer .spin-control .dxeSBC { padding: 5px 8px 0 0; }

/* est */
.referrer .est .image-folders { width: 68px; height: 61px; background: url(../../Images/referrer/folders.png) no-repeat scroll 100% 0; }
.referrer .est .image-folders-wrap { text-align: center; padding: 5px 30px 0 0; }
.referrer .est hr.slim { height: 1px; background-color: #9A9A9A; border: none; }
.referrer .est .amount-box { width: 30%; height: 45px; padding: 10px 0 0; background: url(../../Images/referrer/bg.png) no-repeat scroll 50% 0; }
.referrer .est .amount-box .msg-amount-text { font-size: 14.0pt; color: #000; font-weight: bold; }
.referrer .est .family-count { position: absolute; left: 0; top: 20px; width: 100%; text-align: center; font-size: 40px; }




