﻿.rightsidediv { float: right; }
.BulletedList { margin-left: 0px; padding-left: 25px; }
li.BulletedListItem { }
.BulletedListItem a { color: Red; text-decoration: none; border-bottom-color: #f70; border-bottom-width: 1px; border-bottom-style: dashed; }
.lists { background: url(//cdn.goomena.com/goomena-kostas/first-general/bg-reapet.jpg); }
.registernewcontainer { background: white; width: 485px; position: relative; float: left; padding-left: 10px; padding-top: 0; padding-bottom: 75px; font-size: 13px; font-weight:normal;}
.registernewcontainer li { list-style: none; }
.registernewcontainer ul { padding-left: 0px; }
.form-actions { position: absolute; bottom: 5px; right: 10px; }
body {font-weight: lighter;}
.mainregistercon { background: url("//cdn.goomena.com/goomena-kostas/first-general/bg-reapet.jpg") repeat; border-top: 6px solid #be202f; padding-bottom: 100px; padding-top: 61px; }
.regmidcont { margin-left: auto; margin-right: auto; width: 1080px; position: relative; }
.lblform { float: left; margin-right: 5px; width: 135px; text-align: right;margin-top: 7px;font-weight:bold;}
.divform { margin-bottom: 3px; width: 480px; }
.center { cursor: pointer; }
.loadingIndicator { background: url('//cdn.goomena.com/Images2/ajax-loader.gif') no-repeat right center; box-sizing: border-box; padding-right: 20px; }
.mailValidation, .usernameValidation, .passwordValidation { text-align: left; width: 100% !important; padding-left: 20px; margin-bottom: 20px; display: none; }
ul.dxvsL { margin-left: 22px !important; }
ul.dxvsL li.dxvsE { margin-bottom: 7px; }

.pe_form .divform .dxeTextBox input.dxeEditArea { height: 17px !important; line-height: 17px !important; }
.pe_form .divform .dxeButtonEdit input.dxeEditArea { height: 17px !important; line-height: 17px !important; }
.pe_form .form_right .dxeButtonEdit input.dxeEditArea { height: 17px !important; line-height: 17px !important; }
.google-connect { display: none; }
.form_tos {margin-left: 84px;font-size: 11px !important;margin-right: 30px; }
.form_tos span, .form_tos a { font-size: 11px !important; }
._6j { border: 1px solid; -webkit-border-radius: 5px; color: #fff; cursor: pointer; display: inline-block; letter-spacing: 1px; position: relative; text-shadow: 0 1px 2px rgba(0,0,0,.5); }
._6nw ._6j { font-size: 23px; }
._6j:hover { text-decoration: none; }
._6wk { padding: 20px 30px; }
._6wl { background: -webkit-gradient(linear, center top, center bottom, from(#67ae55), to(#578843)); background: -webkit-linear-gradient(#67ae55, #578843); background-color: #69a74e; -webkit-box-shadow: inset 0 1px 1px #a4e388; border-color: #3b6e22 #3b6e22 #2c5115; }
._6wl:hover { background: -webkit-gradient(linear, center top, center bottom, from(#79bc64), to(#578843)); background: -webkit-linear-gradient(#79bc64, #578843); }
._6wm { border-width: 0; -webkit-box-shadow: inset 0 1px 1px #acee8f, 0 1px 5px #000; }
._6wm:active { -webkit-box-shadow: inset 0 1px 1px #acee8f, 0 0 3px #000; }
._6wn { background: -webkit-gradient(linear, center top, center bottom, from(#698fbf), to(#506fa5)); background: -webkit-linear-gradient(#698fbf, #506fa5); background-color: #6079ae; -webkit-box-shadow: inset 0 1px 1px #96b7f1; border-color: #29487c #29487c #1a3a6d; }
._6wn:hover { background: -webkit-gradient(linear, center top, center bottom, from(#7d9dce), to(#506fa5)); background: -webkit-linear-gradient(#7d9dce, #506fa5); }
._6wo { border-width: 0; -webkit-box-shadow: inset 0 1px 1px #96b7f1, 0 1px 5px #000; }
._6wo:active { -webkit-box-shadow: inset 0 1px 1px #96b7f1, 0 0 3px #000; }
._6j:active { top: 1px; }
._67u, ._67u:hover, ._67u:active { background: -webkit-gradient(linear, center top, center bottom, from(#fdfdfd), to(#e5e5e5)); background: -webkit-linear-gradient(#fdfdfd, #e5e5e5); background-color: #fdfdfd; border-color: #a6a6a6 #959595 #959595; -webkit-box-shadow: inset 0 1px 1px #fff; color: #b8b8b8; cursor: default; text-shadow: none; top: 0; }
._58mi { min-width: 194px; padding: 7px 20px; text-align: center; }
._6o { font-size: 19px; line-height: 126%; }
._6v { font-weight: bold; }
.mvm { margin-top: 10px; margin-bottom: 10px; }
.form-actions input.register-btn { 
border: 1px solid; 
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
color: #fff; cursor: pointer; 
display: inline-block; letter-spacing: 1px; 
position: relative; text-shadow: 0 1px 2px rgba(0,0,0,.5); padding: 20px 30px; 
background: -webkit-gradient(linear, center top, center bottom, from(#67ae55), to(#578843));
background: -webkit-linear-gradient(#67ae55, #578843); background-color: #69a74e; 
background: linear-gradient(#67ae55, #578843) repeat scroll 0 0 #69a74e;
-webkit-box-shadow: inset 0 1px 1px #a4e388; 
box-shadow: 0 1px 1px #a4e388 inset;
border-color: #3b6e22 #3b6e22 #2c5115; 
min-width: 194px; padding: 7px 20px; 
text-align: center; font-size: 19px; line-height: 126%; font-weight: bold; margin-top: 10px; margin-bottom: 10px;
}
.form-actions input.register-btnDis { 
    opacity:0.3;
border: 1px solid; 
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
color: #fff; cursor: pointer; 
display: inline-block; letter-spacing: 1px; 
position: relative; text-shadow: 0 1px 2px rgba(0,0,0,.5); padding: 20px 30px; 
background: -webkit-gradient(linear, center top, center bottom, from(#67ae55), to(#578843));
background: -webkit-linear-gradient(#67ae55, #578843); background-color: #69a74e; 
background: linear-gradient(#67ae55, #578843) repeat scroll 0 0 #69a74e;
-webkit-box-shadow: inset 0 1px 1px #a4e388; 
box-shadow: 0 1px 1px #a4e388 inset;
border-color: #3b6e22 #3b6e22 #2c5115; 
min-width: 194px; padding: 7px 20px; 
text-align: center; font-size: 19px; line-height: 126%; font-weight: bold; margin-top: 10px; margin-bottom: 10px;
}
.form-actions input.register-btnDis:hover { 
cursor:default!important ;
}
.form-actions input.register-btn:hover { 
background: -webkit-gradient(linear, center top, center bottom, from(#79bc64), to(#578843)); 
background: -webkit-linear-gradient(#79bc64, #578843); 
background: linear-gradient(#79bc64, #578843) repeat scroll 0 0 rgba(0, 0, 0, 0);
text-decoration: none; 
}
.login-input-wrap { border: 2px solid #E3E4E8; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding: 4px 0 5px 3px; position: relative; }
.login-input-wrap .dxeTextBox .dxeEditArea { margin-left: 25px; }
.login-input-wrap input { outline: -webkit-focus-ring-color none 0; font-size: 16px; width: 288px; line-height: 25px; }
.login-input-wrap input.dxeEditAreaSys { height: 23px; font-family: "Segoe UI",Helvetica,Arial; }
.login-input-wrap .dxeNullText .dxeEditArea { font-size: 14px; font-style: italic; color: #9fa0a3; font-family: "Segoe UI",Helvetica,Arial; letter-spacing: -1px; }
.login-input-wrap .text-watermark { font-size: 14px; display: none; padding: 7px 0 0 10px; position: absolute; left: 23px; top: 2px; bottom: 0px; font-style: italic; color: #9fa0a3; font-family: "Segoe UI",Helvetica,Arial; letter-spacing: -1px; }
.login-input-wrap .text-watermark span { }
.login-input-wrap td.dxic { padding: 0px; }
#register-sections .login-input-wrap .dxeTextBox { border: 0; }
#register-sections .login-input-wrap .text-watermark, #register-sections .login-input-wrap .dxeNullText .dxeEditArea { font-size: 15px; }
#register-sections .login-input-wrap .dxeButtonEdit { border: 0; width: 293px; }
#register-sections .login-input-wrap .dxEditors_edtDropDown { width: 14px; background-position: -93px 0px; }
#register-sections .login-input-wrap .dxeEditAreaSys { height: 21px; }
#register-sections .login-input-wrap input { line-height: 22px; }
#register-sections .login-input-wrap .text-watermark { top: 0px; }
#register-sections .check-wrap{padding-bottom:0px;position:relative;width:100%;}

#register-sections .login-input-wrap,#register-sections .birth-wrap  {width:302px;}
#register-sections .login-input-wrap .dxeTextBox {width:293px;}
#register-sections .login-input-wrap .dxeTextBox input { width:100%;}

#register-sections .login-input-wrap .dxeTextBox .dxeEditArea {margin-left:0px;font-weight:normal;}
#register-sections .register-btn {font-weight: normal !important;    text-rendering: optimizelegibility;}
#register-sections .uiContextualLayerPositioner._572t.uiLayer {width: 807px; top: 110px;display:none;}
#register-sections .login-input-wrap input.dxeEditAreaSys{ height: 25px !important; line-height: 21px !important;margin:0px;/*font-weight: bold;*/}
#register-sections .login-input-wrap .dxic{ padding:0px !important;}



.fields-separator { height: 5px; width: 100%; }

.birth-wrap .dxeButtonEditSys .dxeEditAreaSys{height: 23px;font-family: "Segoe UI",Helvetica,Arial;}
.birth-wrap .dxeButtonEdit {border:0;}
.birth-wrap .date-part {border: 2px solid #E3E4E8;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;position: relative;padding:4px 2px 3px 2px;}
.birth-wrap .date-table {margin-right: auto;}
.birth-wrap .day-wrap {margin-right: 0px;}
.birth-wrap .month-wrap {margin-right: 0px;}
.birth-wrap .date-part .dxeEditAreaSys {text-align:center;/*font-style:italic;#9fa0a3*/color:#000;font-family: "Segoe UI",Helvetica,Arial;letter-spacing:-1px;width:100%;font-size:14px !important;font-weight: normal;}
.birth-wrap .date-part .dxEditors_edtDropDown {width: 14px;background-position: -93px 0px;}
.birth-wrap .date-part .dxeButtonEditSys {height:21px !important;width:81px !important;} 

.birth-wrap .month-wrap.date-part .dxeButtonEditSys {width:114px !important;} 




/**************************************/
._53ii ._53in { padding-left: 14px; }
._53ii ._53in ._53io { background-image: url(/rsrc.php/v2/yz/r/AIQV6t_rVOS.png); background-repeat: no-repeat; background-size: auto; background-position: -23px -167px; height: 16px; left: 7px; width: 8px; }
._53ip ._53in ._53io { background-image: url(/rsrc.php/v2/yR/r/VlPNtZUoTgt.png); background-repeat: no-repeat; background-size: auto; background-position: -298px -5px; height: 16px; left: 2px; width: 9px; }
._53ii ._53il ._53io { background-image: url(/rsrc.php/v2/yz/r/AIQV6t_rVOS.png); background-repeat: no-repeat; background-size: auto; background-position: -17px -419px; height: 8px; top: 7px; width: 16px; }
._53ip ._53il ._53io { background-image: url(/rsrc.php/v2/yR/r/VlPNtZUoTgt.png); background-repeat: no-repeat; background-size: auto; background-position: -247px -22px; height: 9px; top: 2px; width: 16px; }
._53ii ._53il { padding-top: 14px; }
._53ii ._53ik { padding-bottom: 14px; }
._53ip ._53iv { padding: 15px; }
._53ip ._572u { padding: 6px 7px 6px 8px; }
._53ip ._53il { padding-top: 10px; }
._53ip ._53ik { padding-bottom: 10px; }
._53ip ._53in { padding-left: 10px; }
._53io { overflow: hidden; position: absolute; }
._53ih ._53io { display: none; }
.uiScrollableArea .uiContextualLayerPositioner { z-index: 4; }
.uiContextualLayerPositioner { height: 0; position: absolute; z-index: 200; }
._572t ._53iv { padding: 12px; }
._572t ._572u { background-color: #be4b49; border-color: #d3d6db; margin: 0 12px; padding: 8px 0; }
._572t ._53il { padding-top: 18px; }
._572t ._53ik { padding-bottom: 18px; }
._572t ._53in { padding-left: 18px; }
._572t ._53il ._53io { background-image: url(//cdn.goomena.com/images2/icons33.png); background-repeat: no-repeat; background-size: auto; background-position: 0 0; height: 11px; top: 7px; width: 22px; }
._572t ._53ik ._53io { background-image: url(//cdn.goomena.com/images2/icons33.png); background-repeat: no-repeat; background-size: auto; background-position: 0 0; bottom: 5px; height: 13px; width: 22px; }
._572t ._53in ._53io { background-image: url(//cdn.goomena.com/images2/icons33.png); background-repeat: no-repeat; background-size: auto; background-position: -3px -14px; height: 22px; left: 7px; width: 11px; }
.uiLayer { outline: none; }
.uiContextualLayer { position: absolute; }
.uiContextualLayerLeft .uiTooltipX { margin-right: 1px; padding-right: 4px; }
.uiContextualLayerLeft .uiTooltipX i.arrow { border-left-color: #282828; border-right: 0; right: 0; top: 10px; }
._53ip ._53im { padding-right: 10px; }
._53ip ._53im ._53io { background-image: url(//cdn.goomena.com/images2/icons33.png); background-repeat: no-repeat; background-size: auto; background-position: -308px -5px; height: 16px; right: 2px; width: 9px; }
._572t ._53im { padding-right: 18px; }
._572t ._53im ._53io { background-image: url(//cdn.goomena.com/images2/icons33.png); background-repeat: no-repeat; background-size: auto; background-position: -15px -14px; height: 22px; right: 7px; width: 11px; }
._53ii ._53im { padding-right: 14px; }
._53ii ._53im ._53io { background-image: url(//cdn.goomena.com/images2/icons33.png); background-repeat: no-repeat; background-size: auto; background-position: -21px -190px; height: 16px; right: 7px; width: 8px; }
._5633 { font-size: 13px; max-width: 300px; padding: 13px; }
._5633._5634 { color: #fff; }
._5633._5635 { background: #ddae2b; color: #fff; }
._58mf div._5634 ._5dba { border-color: #8b0300; border-style: solid; }
._5dbb._5634 ._5dbc, ._5dbb._5635 ._5dbd { display: inline; }

._53ij ._4g4y .uiBoxGray { border-color: #d3d6db; }
._53ij { background: #fff; position: relative; }
._53ii ._53ij { border: 0; border-radius: 2px; box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35); }
._53ip ._53ij { border: 1px solid #8c8c8c; border: 1px solid rgba(0, 0, 0, .45); border-bottom: 1px solid #666; box-shadow: 0 3px 8px rgba(0, 0, 0, .3); }
._572t ._53ij { background-color: #be4b49; border: 0; border-radius: 2px; box-shadow: 0 0 0 1px rgba(139, 3, 0, .75), 0 1px 10px rgba(0, 0, 0, .35); color: #fff; }
._53ii ._53ik ._53io { background-image: url(//cdn.goomena.com/images2/icons33.png); background-repeat: no-repeat; background-size: auto; background-position: -17px -410px; bottom: 7px; height: 8px; width: 16px; }
._53ip ._53ik ._53io { background-image: url(//cdn.goomena.com/images2/icons33.png); background-repeat: no-repeat; background-size: auto; background-position: -318px -5px; bottom: 2px; height: 9px; width: 16px; }
._53ip ._53ik._kc ._53io { background-image: url(//cdn.goomena.com/images2/icons33.png); background-repeat: no-repeat; background-size: auto; background-position: -335px -5px; }
#register-sections .hidden_elem { display: none !important; }
#register-sections .invisible_elem { visibility: hidden; }
#register-sections .accessible_elem { clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); height: 1px; overflow: hidden; position: absolute; width: 1px; }

.uiSelectorContextualLayer .uiContextualLayerAboveLeft .uiSelector, .uiSelectorContextualLayer .uiContextualLayerAboveRight .uiSelector { top: 2px; }
.uiSelectorContextualLayer .uiContextualLayerBelowLeft .uiSelector, .uiSelectorContextualLayer .uiContextualLayerBelowRight .uiSelector { top: -1px; }
.uiSelectorContextualLayer .uiContextualLayerAboveLeft .uiSelector .uiSelectorButton, .uiSelectorContextualLayer .uiContextualLayerAboveRight .uiSelector .uiSelectorButton { border: 1px solid #3b5998; border-top-color: #6d84b4; margin-top: -2px; top: 100%; }
.uiSelectorContextualLayer .uiContextualLayerBelowLeft .uiSelector .uiSelectorButton, .uiSelectorContextualLayer .uiContextualLayerBelowRight .uiSelector .uiSelectorButton { bottom: 100%; margin-bottom: -1px; }
.uiSelectorContextualLayer .uiContextualLayerAboveLeft .uiSelector .uiSelectorButton, .uiSelectorContextualLayer .uiContextualLayerBelowLeft .uiSelector .uiSelectorButton { left: 0; }
.uiSelectorContextualLayer .uiContextualLayerAboveRight .uiSelector .uiSelectorButton, .uiSelectorContextualLayer .uiContextualLayerBelowRight .uiSelector .uiSelectorButton { right: 0; }
div.uiContextualLayerPositionerFixed { position: fixed; }
.uiContextualLayerParent { position: relative; }
.uiContextualLayerAboveLeft .uiTooltipX, .uiContextualLayerAboveRight .uiTooltipX, .uiContextualLayerAboveCenter .uiTooltipX { margin-bottom: 1px; padding-bottom: 4px; }
.uiContextualLayerAboveLeft .uiTooltipX i.arrow, .uiContextualLayerAboveRight .uiTooltipX i.arrow, .uiContextualLayerAboveCenter .uiTooltipX i.arrow { border-bottom: 0; border-top-color: #282828; bottom: 0; }
.uiContextualLayerBelowLeft .uiTooltipX, .uiContextualLayerBelowRight .uiTooltipX, .uiContextualLayerBelowCenter .uiTooltipX { margin-top: 1px; padding-top: 4px; }
.uiContextualLayerBelowLeft .uiTooltipX i.arrow, .uiContextualLayerBelowRight .uiTooltipX i.arrow, .uiContextualLayerBelowCenter .uiTooltipX i.arrow { border-bottom-color: #282828; border-top: 0; top: 0; }
.uiContextualLayerAboveLeft .uiTooltipX i.arrow, .uiContextualLayerBelowLeft .uiTooltipX i.arrow { left: 12px; }
.uiContextualLayerAboveRight .uiTooltipX i.arrow, .uiContextualLayerBelowRight .uiTooltipX i.arrow { right: 12px; }
.uiContextualLayerAboveCenter .uiTooltipX i.arrow, .uiContextualLayerBelowCenter .uiTooltipX i.arrow { left: 50%; margin-left: -4px; }
.uiContextualLayerRight .uiTooltipX { margin-left: 1px; padding-left: 4px; }
.uiContextualLayerRight .uiTooltipX i.arrow { border-left: 0; border-right-color: #282828; left: 0; top: 10px; }

/*.check-wrap img.check { float:left;margin-top:10px;}*/
.birth-wrap { position:relative;padding: 4px 0 5px 0px;}
.login-input-wrap img.check { position:absolute;top:7px;right:5px;}
.birth-wrap img.check {position:absolute;top:11px;right:-31px;}



#register-sections .error-field .login-input-wrap .dxeButtonEdit, 
#register-sections .checked .login-input-wrap .dxeButtonEdit,
#register-sections .checking .login-input-wrap .dxeButtonEdit,
#register-sections .error-field .login-input-wrap .dxeTextBox, 
#register-sections .checked .login-input-wrap .dxeTextBox, 
#register-sections .checking .login-input-wrap .dxeTextBox{ border: 0; width: 269px; }

#register-sections .error-field .login-input-wrap,
#register-sections .error-field .birth-wrap .date-part{border-color:#25AAE2; }

.birthday-info,.show-region-city, .form_tos { font-size:12px;text-decoration:none;font-weight: normal;}
.birthday-info,.show-region-city { color:#3B5998;}
.form_tos a { color:#3B5998;}

.popup-close {text-align:right}
.popup-close a{line-height:18px;border:2px solid #8AB2E9;text-decoration:none;padding:3px 5px 5px;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.popup-close a:hover{background-color:#8AB2E9;color:#fff;}
.popup-close img{vertical-align:middle;background:url(//cdn.goomena.com/Images/close-button1.png) no-repeat 0 0;}
.popup-close a:hover img{vertical-align:middle;background:url(//cdn.goomena.com/Images/close-button2.png) no-repeat 0 0;}

#TrGender {margin-left: 139px;/*135px;*/}
#TrGender .check-wrap img.check { position:absolute;top:10px;right:7px;}
#TrGender.error-field {margin-left: 139px;/*141px;*/ }
#TrGender .error-field { border:1px solid #25AAE2;margin-bottom:2px;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
#register-sections .checked .check-wrap,
#register-sections .error-field .check-wrap,
#register-sections .checking .check-wrap{padding-right:30px;width:280px/*278px*/;}

#TrRegion, #TrCity {display:none;}

/*
#TrGender .dxeRadioButtonList #ctl00_content_rblGender_RB0,
#TrGender .dxeRadioButtonList #ctl00_content_rblGender_RB1{ position:relative;width:308px}*/

#TrGender .dxeRadioButtonList label {white-space:normal;max-width:308px;/*position:absolute;left:30px;top:0px;right:0px;*/ font-family: "Segoe UI",Helvetica,Arial; font-weight:normal;font-size: 13px;display: inline-block; }
#TrGender .dxeRadioButtonList .dxEditors_edtRadioButtonChecked, 
#TrGender .dxeRadioButtonList .dxEditors_edtRadioButtonUnchecked {display: inline-block;text-align: center;vertical-align: top;margin-top: 3px;}
#TrGender .dxeRadioButtonList .dxeIRBFocused {margin-top: 2px !important;}
#TrGender.error-field .dxeRadioButtonList label,
#TrGender.checked .dxeRadioButtonList label,
#TrGender.checking .dxeRadioButtonList label {max-width:313px;  margin-right:0px;}

#TrZip .login-input-wrap .dxeTextBox {width:240px;}
#TrZip .login-input-wrap .popup-close {margin-left:9px;margin-top:3px;}
#TrZip.error-field .login-input-wrap .dxeTextBox,
#TrZip.checked .login-input-wrap .dxeTextBox,
#TrZip.checking .login-input-wrap .dxeTextBox {width:215px;}

#ctl00_content_rblGender_RB0,#ctl00_content_rblGender_RB1 {position:relative;}
.gender-header {position: absolute;left: -133px;top: 3px;display: inline-block;width: 129px;text-align: right;}

#TrGender.me-female .check-wrap img.check {top:34px;}

#page.GR #TrGender .check-wrap img.check {right:26px;}
#page.GR #register-sections .checked .check-wrap,
#page.GR #register-sections .error-field .check-wrap,
#page.GR #register-sections .checking .check-wrap{padding-right:30px;width:327px/*278px*/;}
#page.GR #TrGender.me-male .check-wrap img.check {}
#page.GR #TrGender.me-female .check-wrap img.check {top:34px;right: 13px;}
