﻿html { font-family: "Segoe UI" , "Arial"; }
.maina { /*background: url(//cdn.goomena.com/goomena-kostas/first-general/bg-reapet.jpg) repeat;     box-shadow: 0px 5px 5px 1px #c7c5c8 ;     moz-box-shadow: 0px 5px 5px 1px #c7c5c8 ;*/ }
.hidden { display: none; }
.clear { clear: both; }
.manwomancontainer { width: 950px; margin-left: auto; margin-right: auto; }
li { list-style: none; }
.dropdownlist { }
.woman { width: 428px; height: auto; float: left; margin-top: 100px; }
ul.woman { margin-bottom: 30px; list-style: none; }
.lista { list-style: none; padding-top: 11px; padding-bottom: 17px; }
.lista1 { background: url("//cdn.goomena.com/goomena-kostas/first-general/plus-red.png") no-repeat scroll -10px 0 transparent; height: 90px; padding-left: 70px; padding-top: 30px; vertical-align: middle; /*margin-top: 44px;*/ cursor: pointer; }
.lista2 { background: url("//cdn.goomena.com/goomena-kostas/first-general/1.png") no-repeat scroll 21px 0 transparent; height: 119px; padding-left: 70px; vertical-align: middle; margin-top: 10px; }
.lista3 { background: url("//cdn.goomena.com/goomena-kostas/first-general/2.png") no-repeat scroll 21px 0 transparent; height: 119px; padding-left: 70px; vertical-align: middle; margin-top: 10px; }
.lista4 { background: url("//cdn.goomena.com/goomena-kostas/first-general/3.png") no-repeat scroll 21px 0 transparent; height: 119px; padding-left: 70px; vertical-align: middle; margin-top: 10px; }
.tiperimeneis { margin-top: 80px; margin-bottom: 50px; height: 94px; }

.line { margin-left: 25%; margin-bottom: 20px; }
.womanimg { margin-bottom: 15px; margin-left: 97px; }
.giawomen { margin-bottom: 20px; margin-top: 10px; text-align: center; font-size: 21px; font-weight: normal; }

.man { width: 428px; height: auto; float: right; margin-top: 100px; }
ul.man { margin-bottom: 30px; list-style: none; }
.listaman { list-style: none; padding-top: 11px; padding-bottom: 11px; }
.listaman1 { background: url("//cdn.goomena.com/goomena-kostas/first-general/plus.png") no-repeat scroll -10px 0 transparent; height: 90px; padding-left: 70px; padding-top: 30px; vertical-align: middle; /*margin-top: 61px; */cursor: pointer; }
.listaman2 { background: url("//cdn.goomena.com/goomena-kostas/first-general/1.png") no-repeat scroll 21px 0 transparent; height: 119px; padding-left: 70px; vertical-align: middle; margin-top: 10px; padding-top: 0px; }
.listaman3 { background: url("//cdn.goomena.com/goomena-kostas/first-general/2.png") no-repeat scroll 21px 0 transparent; height: 119px; padding-left: 70px; vertical-align: middle; margin-top: 10px; }
.listaman4 { background: url("//cdn.goomena.com/goomena-kostas/first-general/3.png") no-repeat scroll 21px 0 transparent; height: 119px; padding-left: 70px; vertical-align: middle; margin-top: 10px; }
.tiperimeneisman { margin-top: 80px; margin-bottom: 50px; height: 94px; }

.lineman { margin-left: 25%; margin-bottom: 20px; }
.manimg { margin-bottom: 15px; margin-left: 97px; }
.giamen { margin-bottom: 20px; margin-top: 10px; text-align: center; font-size: 21px; font-weight: normal; }

.photosforwomen { padding-bottom: 140px; margin-bottom: 85px; }
.photosformen { padding-bottom: 140px; margin-bottom: 85px; }
.polaroid { float: left; position: relative; width: 97px; height: 125px; margin-right: 10px; color: Black; }
.polaroid2 { float: right; position: relative; width: 97px; height: 125px; margin-right: 10px; color: Black; }
.polaroid img { width: 93px; height: 93px; border: 2px solid #fff; border-bottom: 32px solid #fff; -webkit-box-shadow: 3px 3px 3px #777; -moz-box-shadow: 3px 3px 3px #777; box-shadow: 3px 3px 3px #777; }
.polaroid2 img { width: 93px; height: 93px; border: 2px solid #fff; border-bottom: 32px solid #fff; -webkit-box-shadow: 3px 3px 3px #777; -moz-box-shadow: 3px 3px 3px #777; box-shadow: 3px 3px 3px #777; }
.polaroid p { position: absolute; text-align: center; width: 100%; bottom: -8px; font-size: 90%; color: #26a9e1; font-weight: bold; }
.polaroid2 p { position: absolute; text-align: center; width: 100%; bottom: -8px; font-size: 90%; color: #BD1F2D; font-weight: bold; }
.regformcontainer { width: 100%; }
.regmidcontainer { width: 983px; margin-left: auto; margin-right: auto; position: relative; }
.registerform { width: 475px; height: 448px; position: absolute; top: 0; right: 0px; z-index: 1; background: url(//cdn.goomena.com/goomena-kostas/first-general/opac.png); padding: 15px; /*-webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);     -moz-box-shadow:    7px 7px 5px rgba(50, 50, 50, 0.75);     box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.75);*/ }
.registerform .fbimg { position: absolute; top: 25px; right: 50px; }
.welcomemsg { position: absolute; left: 0px; top: 134px; }
.welcomemsg h1 { width: 460px; color: White; font-size: 36px; font-weight: 600; left: 0px; position: absolute; top: 1px; z-index: 1; }
.tooltipcustom { width: 300px; background: white; color: white; font-size: 14px; background: black; opacity: 0.8; padding: 20px; }
.tip { cursor: pointer; font-weight: bold; color: #26a9e1; }
.mosaic { position: relative; overflow: hidden; width: 1440px; height: 478px; background-color: white; /*border-bottom: 4px solid #bb2237;     border-top: 4px solid #000105;*/ background: url(//cdn.goomena.com/goomena-kostas/first-general/bg-reapet.jpg) repeat; margin-left: auto; margin-right: auto; margin-top: 21px; }

.gradient1 { position: absolute; width: 1440px; height: 478px; background-color: Black; opacity: 0.55; }
.mainregdiv { width: 470px; height: 212px; background: #eeeeee; }
.notmember { display: block; font-size: 27px; font-weight: 400; margin-left: 10px; margin-top: 0px; margin-bottom: 0px; padding-top: 7px; padding-bottom: 10px; }
.mainbememberp { font-size: 17px; font-weight: lighter; display: inline-block; margin-left: 10px; margin-top: 14px; }
.mainregdivctr { font-size: 16px; padding-left: 5px; padding-bottom: 12px; background: white; padding-top: 3px; width: 99%; }
.mainregdivctr h1 { font-size: 16px; font-weight: lighter; margin-left: 6px; }

.HyperRegister { font-size: 17px; display: inline-block; text-decoration: none; color: white; background: url(//cdn.goomena.com/goomena-kostas/first-general/egrafi-button.png) 0 40px; float: right; height: 34px; margin-right: 20px; margin-top: 8px; padding-top: 5px; text-align: center; width: 100px; cursor: pointer; }
.HyperRegister:hover { background: url(//cdn.goomena.com/goomena-kostas/first-general/egrafi-button.png) 0 0; }
.ES .HyperRegister {margin-top: -46px;}

.mainalreadymembr { width: 470px; height: 90px; background: white; margin-top: 18px; }
.mainalreadymembr p { font-size: 27px; float: left; margin-left: 10px; }
.mainalreadymembr a { font-size: 21px; text-decoration: none; background: url(//cdn.goomena.com/goomena-kostas/first-general/syndesi-button.png) 0 47px; display: block; float: right; height: 37px; margin-right: 20px; margin-top: 30px; padding-top: 7px; text-align: center; width: 122px; color: white; cursor: pointer; }
.mainalreadymembr a:hover { background: url(//cdn.goomena.com/goomena-kostas/first-general/syndesi-button.png) 0 0; }
.mainfblogindiv { width: 470px; height: 107px; background: #4a639b; margin-top: 18px; }
.mainfblogindiv img { float: left; margin-left: 10px; margin-top: 15px; }
.mainfblogindiv a ,.maingplogindiv a { font-size: 27px; font-weight: lighter; color: white; text-decoration: none; margin-top: 35px; cursor: pointer; }
.PhotoInfoWrap { position: absolute; }
.PhotoInfos { }
.PhotoInfos img { width: 200px; height: 200px; border-width: 10px 10px 10px; border-color: #FFFFFF; border-style: solid; -webkit-box-shadow: 3px 3px 10px 3px #777777; box-shadow: 3px 3px 10px 3px #777777; }
.ProfileID { font-size: 17px; color: white; margin-top: 0px; margin-bottom: 0px; position: absolute; top: 10px; left: 15px; font-weight: 600; padding-left: 8px; padding-right: 8px; min-width: 50px; text-align: center; }
.ProfileCity { color: white; margin-top: 0px; margin-bottom: 0px; width: 200px; position: absolute; bottom: 10px; left: 10px; font-size: 14px; text-overflow: ellipsis; line-height: 15px; text-align: center; padding-top: 7px; padding-bottom: 7px; background: black; opacity: 0.65; }
.ProfileAgeWrap { font-size: 14px; color: white; position: absolute; text-align: center; top: 15px; right: 16px; border-radius: 50%; width: 50px; height: 50px; }
.ProfileAgeText { margin: 0px; padding-top: 4px; }
.ProfileAge { margin: 0px; }
.hidden { display: none; }
.gendermsg { }

a.wcloserdv { background: #72A252; height: 103px; padding-top: 21px; padding-left: 20px; margin-bottom: 60px; font-size: 25px; display: block; text-decoration: none; color: White; }
a.mcloserdv { background: #8c235c; height: 103px; padding-top: 21px; padding-left: 20px; font-size: 25px; margin-bottom: 60px; text-decoration: none; color: White; display: block; }
h2.wcloserdv,h2.mcloserdv{margin:0;padding:0;font-weight:normal;}


.animate {
-webkit-animation: cssAnimation 0.5s 1 ease-out;
-moz-animation: cssAnimation 0.5s 1 ease-out;
-o-animation: cssAnimation 0.5s 1 ease-out;
transform-origin:50% 50%;
}
@-webkit-keyframes cssAnimation {
from { -webkit-transform: scale(0.500) ;}
to { -webkit-transform: scale(1); }
}
@-moz-keyframes cssAnimation {
from { -moz-transform:  scale(0.500) ;}
to { -moz-transform:  scale(1); }
}
@-o-keyframes cssAnimation {
from { -o-transform:  scale(0.500) ;}
to { -o-transform:  scale(1);}
}

.fb-connect-note { position: absolute; bottom: 17px; right: 10px; width: 401px; color: #fff; font-size: 11px; text-align: center; }


.font-light {font-family: "Segoe UI Light";font-weight:lighter;}
.font-regular {font-family: "Segoe UI";}
.font-semibold {font-family: "Segoe UI Semibold";font-weight: 600;}
#all_sections{margin-top: 16px;}
#all_sections .section-1, #all_sections .section-3{ max-width:2004px;margin-left: auto;margin-right: auto;}
#all_sections .section-1 { position:relative;}
#all_sections .section-1 .regformcontainer{ position:absolute;top:0px;}
#all_sections .mosaic { position: relative; overflow: hidden; width: 1440px; height: 478px; background-color: white; 
          background: url(//cdn.goomena.com/goomena-kostas/first-general/bg-reapet.jpg) repeat; margin-left: auto; margin-right: auto; margin-top: 10px;margin-bottom: 10px; }
#all_sections .members-photos .pic {width:104px;height:100px;float:left;background-size:cover; border-radius:7px;margin-left:4px;}
#all_sections .members-photos .mosaic {width:2080px;height:109px;position:absolute;left:-20px;}
#all_sections .members-photos {max-width:2004px;height:128px;overflow:hidden;position:relative;}
#all_sections .members-count {text-align:center;height: 57px;font-size: 28px;padding-top: 38px;}

.reg-box {height: 480px;position: absolute;top: 0;right: 0px;left: -25px;z-index: 1;}
.reg-wellcome {position:absolute;top: 392px;left:10px;width:600px;color:#fff;letter-spacing:-4px;margin:0;padding:0;line-height: 33px;}
.reg-wellcome .font-light {font-size: 46px;}
.reg-wellcome .font-semibold {font-size: 27px;line-height: 30px;padding-top: 19px;display: block;letter-spacing:-2px;}

.section-1-ext,.section-7-ext,.section-9-ext {background-color:#EEEEEE;}
.section-4-ext,.section-6-ext {background-color:#F3F3F3;}

.ext-borders {border-left: 10px solid #fff;border-right: 10px solid #fff;}
.reg-wellcome .font-light .font-semibold {font-size:46px;line-height:55px;padding:0;}
.wall-note-fb { padding-top:5px;}

#all_sections #top-pic{max-width:1436px;margin-left: auto;margin-right: auto;}
#all_sections #top-pic {background:url('//cdn.goomena.com/Images2/pub2/default-no-grid.jpg') no-repeat 50% 0;height:479px}
.section-1 {width:1424px;}
.section-1-ext, .section-3-ext {background-color: #D7F0ED;}
#all_sections .mosaic { margin-top:0;margin-bottom:0;}
#all_sections .members-photos {height: 109px;}

#all_sections.theme1 { }
#all_sections.theme7 .section-1-ext,#all_sections.theme7 .section-3-ext{background-color: #EBEBED;}
#all_sections.theme7 .reg-box {height: 480px;position: absolute;top: 0;right: 0px;left: -30px;z-index: 1;}
#all_sections.theme7 .reg-wellcome {position:absolute;top: 321px;width:600px;color:#E2114A;letter-spacing:-2px;margin:0;padding:0;line-height: 36px;}
#all_sections.theme7 .reg-wellcome .font-light {font-size: 40px; font-family:"Segoe UI Semibold" ;font-weight:600!important ; color:#E2114A;}
#all_sections.theme7 .reg-wellcome .font-semibold {font-size: 27px;line-height: 35px;padding-top: 19px;display: block;letter-spacing:-2px; font-family:"Segoe UI Light";font-weight:normal; color:white;}
#all_sections.theme7 .reg-wellcome .font-light .font-semibold {font-size:60px;line-height:55px;padding:0;}
 #all_sections.theme7 .mainalreadymembr {  background: rgba(20,31,51,0.7);  color: white; }

 #all_sections.theme7 .mainbemember-reg .mainbememberp { font-size: 17px; font-weight: bold; display: inline-block; margin-left: 10px; margin-top: 14px; }
 #all_sections.theme7 .registerform {background: url("//cdn.goomena.com/Images2/pub2/frame_bg3.png") no-repeat scroll 0 -25px transparent;height: 525px;width: 458px;padding: 0px;position: absolute;right: 16px;top: 0;z-index: 1;}
 #all_sections.theme7  .mainregdiv a.HyperRegister {background: url(//cdn.goomena.com/images2/pub2/login.png) 0 0;background-position:1px -73px;width:162px;height:43px;font-size:24px;margin-top: 5px;margin-left:auto;margin-right:auto;display: block;float:none;padding-top:2px;}
#all_sections.theme7  .mainregdiv a.HyperRegister:hover {background-position:0px 0px;}

/*#all_sections.theme7 .reg-wellcome{ font-family:"SEGOEUI Light";}*/





.hint--error.mainregdivctr{background-color:#BF2130;text-shadow:0 -1px 0 #5a2626;color: #fff;text-shadow: 0 -1px 0 black;-webkit-box-shadow:4px 4px 8px rgba(0,0,0,.3);-moz-box-shadow:4px 4px 8px rgba(0,0,0,.3);box-shadow:4px 4px 8px rgba(0,0,0,.3);-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
.hint--error.hint:after, .hint--error[data-hint]:after {margin-top:17px;}


#all_sections.theme1 #top-pic {background: url("//cdn.goomena.com/Images2/pub2/default-no-grid1.jpg") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);height: 528px;}
#all_sections.theme2 #top-pic {background: url("//cdn.goomena.com/Images2/pub2/default-no-grid2.jpg") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);height: 527px;}
#all_sections.theme3 #top-pic {background: url("//cdn.goomena.com/Images2/pub2/default-no-grid3.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);height: 525px;}
#all_sections.theme4 #top-pic {background: url("//cdn.goomena.com/Images2/pub2/default-no-grid4.jpg?v1") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);height: 480px;}
#all_sections.theme5 #top-pic {background: url("//cdn.goomena.com/Images2/pub2/default-no-grid-couple.jpg") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);height: 525px;}
#all_sections.theme6 #top-pic {background: url("//cdn.goomena.com/Images2/pub2/default-no-grid-single.jpg") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);height: 525px;}
/*#all_sections.theme7 #top-pic {background:url("//cdn.goomena.com/Images2/pub2/default-no-grid-7.jpg") no-repeat 50% 0;height:525px;}*/
/*#all_sections.theme7 #top-pic {background:url("//cdn.goomena.com/Images2/pub2/default-no-grid-6.jpg") no-repeat 50% 0;height:525px;}*/
#all_sections.theme7 #top-pic {background:url("//cdn.goomena.com/Images2/pub2/default-no-grid-8.jpg") no-repeat 50% 0;height:525px;}

#all_sections.theme1 .registerform,
#all_sections.theme2 .registerform, 
#all_sections.theme3 .registerform,
#all_sections.theme4 .registerform,
#all_sections.theme5 .registerform,
#all_sections.theme6 .registerform  {top: 23px;}

#all_sections.theme2 .reg-wellcome {color:#292929;}
.US #all_sections.theme2 .reg-wellcome,
.TR #all_sections.theme2 .reg-wellcome{top:171px;left:-13px;}
.GR #all_sections.theme2 .reg-wellcome,
.ES #all_sections.theme2 .reg-wellcome{top:171px;left:10px;width: 301px;line-height:50px;}
.ES #all_sections.theme2 .reg-wellcome{left:-14px;}

.ff #all_sections.theme2 .reg-wellcome .font-light {font-size: 44px;}

#all_sections.theme3 .reg-wellcome { top: 346px;left:147px;}
.GR #all_sections.theme3 .reg-wellcome {left:54px;}

.US #all_sections.theme4  .reg-wellcome,
.TR #all_sections.theme4 .reg-wellcome{top:58px;left:-147px;}
.GR #all_sections.theme4 .reg-wellcome,
.ES #all_sections.theme4 .reg-wellcome{top:376px;left:10px;}

#all_sections.themes .registerform {top:0px;right: -14px;}
.themes .registerform {background: url("//cdn.goomena.com/Images2/pub2/frame_bg2.png") no-repeat scroll 0 -25px transparent;height: 525px;width: 458px;padding: 0px;position: absolute;right: 16px;top: 0;z-index: 1;}
.themes .notmember {color:#fff;background-color:#141F33;text-align:center;font-family: "Segoe UI Light";font-weight:lighter; margin-left:0px;font-size: 24px;padding-top: 11px;padding-bottom: 14px;}
.themes .notmember .stronger, 
.themes .mainregdivctr .stronger{font-family: "Segoe UI";font-weight:bold;}

.themes .mainregdivctr {background-color: transparent;width:100%;padding-left: 0px;}
.themes .mainregdivctr h1{text-align:center;font-size:16px;font-weight:bold;margin-left: 0px;margin-top:15px;margin-bottom: 13px;}
.themes .mainregdivctr table.dxeBase{background:#fff;width:411px;height:48px;margin-left:auto;margin-right:auto;}
.themes .mainregdivctr #ctl00_content_RdioMale{margin-bottom:7px;}
.themes .mainregdivctr table.dxeBase span.dxeIRadioButton{margin-left:7px;}
.themes .mainregdivctr table.dxeBase span.dxeIRBFocused{margin-left:6px !important;}
.themes .mainregdivctr table.dxeBase span.dxEditors_edtRadioButtonUnchecked{background: url("//cdn.goomena.com/images2/pub2/check-box.png?v1") no-repeat scroll 0 0 transparent;width:20px;height:20px;}
.themes .mainregdivctr table.dxeBase span.dxEditors_edtRadioButtonChecked{background: url("//cdn.goomena.com/images2/search/check.png") no-repeat scroll 0 0 transparent;width:20px;height:20px;}
.themes .mainregdivctr table.dxeBase label {font-size:15px;}
.themes .mainregdivctr table.dxeBase .stronger{font-size:15px;}

.themes .hint--error.mainregdivctr {background-color: #BF2130;color: #000;text-shadow:none;}
.themes .hint--error.mainregdivctr table.dxeBase span.dxEditors_edtRadioButtonUnchecked,
.themes .hint--error.mainregdivctr table.dxeBase span.dxEditors_edtRadioButtonChecked { background-color:#fff;}

.themes .mainregdiv {background-color:transparent;height: 212px;width: 413px;margin-top:18px;margin-left: 25px;}
.themes .mainregdiv a.HyperRegister {background: url(//cdn.goomena.com/images2/pub2/login.png) 0 0;width:162px;height:43px;font-size:24px;margin-top: 5px;margin-left:auto;margin-right:auto;display: block;float:none;padding-top:2px;}
.themes .mainregdiv a.HyperRegister:hover {background-position:1px -73px;}

.themes .mainbemember-reg { position:relative;}
.themes .mainbemember-reg .mainbememberp {margin:0px 0px 0px 0px;font-size:16px;position:absolute;bottom:-30px;left:0px;right:0px;text-align:center;}

.themes .mainalreadymembr {width: 413px; position:absolute;bottom:23px;height: 67px;margin-left: 25px;}
.themes .mainalreadymembr p {font-size: 21px;width: 210px; margin-left: 28px; }
.themes .mainalreadymembr a {background: url(//cdn.goomena.com/images2/pub2/connect.png) no-repeat scroll 0 0; width:124px;height:36px;padding-top:2px;margin-top: 16px;font-size: 20px;}
.themes .mainalreadymembr a:hover {background-position:0 -66px;}


.themes .mainfblogindiv {width: 413px;margin-top: 175px;background: #fff;height: 60px;margin-left:25px;}
.themes .mainfblogindiv img{display:none;}
.themes .mainfblogindiv .fb-connect-note{width: 413px;right:0px;color:#0B528F;font-size:13px;bottom:auto;height:60px;margin-left:0;}
.themes .mainfblogindiv .fb-connect-note a{display:block;background: url(//cdn.goomena.com/images2/pub2/fb-blue.png) no-repeat scroll 20px 8px;
                                           color:#0B528F;font-size:26px;margin-top: 0;height:61px;padding-top: 5px;padding-left: 57px;
                                           position:absolute;left:0;right:0;z-index:1;letter-spacing:-1px;text-align:left;}
.themes .mainfblogindiv .fb-connect-note a:hover{background: url(//cdn.goomena.com/images2/pub2/facebook_white.png) no-repeat scroll 20px 8px}
.themes .mainfblogindiv .fb-connect-note .wall-note-fb {position: absolute;left:54px;right: 0;bottom: 15px; padding-top:0px;letter-spacing:0px;text-align:left;}

.themes .maingplogindiv {width: 412px;margin-top: 4px;background: #fff;height: 60px;}
.themes .maingplogindiv img{display:none;}
.themes .maingplogindiv .gp-connect-note{width: 413px;right:0px;color:#0B528F;font-size:13px;bottom:auto;height:60px;margin-left:0;}
.themes .maingplogindiv .gp-connect-note a{display:block;background: url(//cdn.goomena.com/images2/pub2/g-icon.png) no-repeat scroll 20px 11px;
                                           color:#d94656;font-size:26px;margin-top: 0;height:61px;padding-top: 9px;padding-left: 57px;
                                           position:absolute;left:0;right:0;z-index:1;letter-spacing:-1px;text-align:left;}
.themes .maingplogindiv .gp-connect-note a:hover{background: url(//cdn.goomena.com/images2/pub2/g-icon.png) no-repeat scroll 20px 11px}
.themes .maingplogindiv .gp-connect-note .wall-note-fb {position: absolute;left:54px;right: 0;bottom: 15px; padding-top:0px;letter-spacing:0px;text-align:left;}


.themes .mainfblogindiv .fb-connect-note.hovered{width: 413px;right:0px;color:#fff;background-color:#0B528F;}
.themes .mainfblogindiv .fb-connect-note.hovered a{display:block;background: url(//cdn.goomena.com/images2/pub2/facebook_white.png) no-repeat scroll 20px 8px;color:#fff}
.themes .mainfblogindiv .fb-connect-note.hovered a:hover{background: url(//cdn.goomena.com/images2/pub2/facebook_white.png) no-repeat scroll 20px 8px}

.themes .maingplogindiv .gp-connect-note.hovered{width: 413px;right:0px;color:#fff;background-color:#d94656;}
.themes .maingplogindiv .gp-connect-note.hovered a{display:block;background: url(//cdn.goomena.com/images2/pub2/g-icon_white.png) no-repeat scroll 20px 11px;color:#fff}
.themes .maingplogindiv .gp-connect-note.hovered a:hover{background: url(//cdn.goomena.com/images2/pub2/g-icon_white.png) no-repeat scroll 20px 11px}


.GR .themes .mainregdivctr #ctl00_content_RdioMale label,
.GR .themes .mainregdivctr #ctl00_content_RdioFemale label {word-spacing: -1px;font-size:14px;}
.GR .themes .mainfblogindiv .fb-connect-note .wall-note-fb {top: 37px;font-size: 12px;}


.no-reg-box #all_sections.theme6 .reg-wellcome {top: 316px;left: 515px;}
.no-reg-box #all_sections.theme6 .reg-wellcome .font-light {font-size: 75px;text-shadow: 0px 1px 3px rgba(50, 50, 50, 0.3);}
.no-reg-box #all_sections.theme6 .reg-wellcome .font-light .font-semibold {font-size: 69px;line-height: 84px;}

.GR.no-reg-box #all_sections.theme6 .reg-wellcome {left:481px;}
.GR.no-reg-box #all_sections.theme6 .reg-wellcome .font-light {font-size:49px;font-family:"Segoe UI Semibold";font-weight: bold;}
.GR.no-reg-box #all_sections.theme6 .reg-wellcome .font-light .font-semibold {font-size: 69px;line-height: 84px;font-family:"Segoe UI Light";font-weight:lighter;}

.ES.no-reg-box #all_sections.theme6 .reg-wellcome {left:506px;}
/*default.aspx no-grid new Botom 20141010*/

.ColouredBoxes{
    width: 108%;
    height: 514px;
    margin-left:-30px;
}
.ColouredBoxes .ColoredLadie{
     float: left;
    width: 491px;
    height: 100%;
    background-color: rgba(119, 218, 223, 0.68);
}
.ColouredBoxes .ColoredLadie .photos4-wrap,.ColouredBoxes .ColoredMan .photos4-wrap{
    margin-top:0px;
    float:none;
    width:100%;
    padding-top:44px;
    }

.ColouredBoxes .ColoredLadie .photos4-wrap .woman, .ColouredBoxes .ColoredMan .photos4-wrap .man{
    text-align:center;
    width:100%;
    }
.ColouredBoxes .ColoredLadie .photos4-wrap .woman .photosforwomen, 
.ColouredBoxes .ColoredMan .photos4-wrap .man .photosformen{
    text-align:center;
    width:448px;
    display:inline-block;
    padding-bottom:0px;
    margin-bottom:71px;

}
.RegisterButtoContainer{
    width:100%;
    text-align:center;

}
.btnRegister{
    display:inline-block;
    text-decoration:none;
    color:white;
    font-size:16px;
    font-weight:bold;
    border:3px solid #fff;
    height:42px;
    width:219px;
    line-height:40px;
}
/*.btnRegister:hover{
    background-color:white;
    color:#141F33;
}*/
.ColouredBoxes .ColoredLadie .photos4-wrap .woman .photosforwomen .photobox .polaroid, 
.ColouredBoxes .ColoredMan .photos4-wrap .man .photosformen .photobox .polaroid2{
    margin-right:15px;
}
.ColouredBoxes .ColoredLadie .photos4-wrap .woman .photosforwomen .photobox .polaroid .imagename, 
.ColouredBoxes .ColoredMan .photos4-wrap .man .photosformen .photobox .polaroid2 .imagename{
    bottom:-20px;
    color:white;
    font-size:14px;
  
}
.ColouredBoxes .ColoredLadie .photos4-wrap .woman .photosforwomen .photobox .polaroid .imgtag, 
.ColouredBoxes .ColoredMan .photos4-wrap .man .photosformen .photobox .polaroid2  .imgtag{
    width:102px;
    height:99px;
    border:2px solid #fff;
   
      -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    border-radius:7px;
}
.ColouredBoxes .ColoredMan{
     float: right;
    width: 491px;
    height: 100%;
    background-color: rgba(242, 64,116, 0.68);
}
.ColouredBoxes a.wcloserdv2 { background: #8c235c;
               height: 75px;
                padding-top: 12px; 
                /*padding-left: 20px;*/ 
                margin-bottom: 13px; 
                font-size: 22px; 
                display: block; 
                text-decoration: none; 
                color: white;
                line-height:25px;
                text-align:center;
}
.ColouredBoxes a.mcloserdv2 { background: #8c235c;
               height: 75px;
                padding-top: 12px; 
                /*padding-left: 20px;*/ 
                margin-bottom: 13px; 
                font-size: 22px; 
                display: block; 
                text-decoration: none; 
                color: white;
                line-height:25px;
                text-align:center;
}
.ColouredBoxes a.wcloserdv2 .lnktext{display:block;padding-top:3px;}
.ColouredBoxes a.mcloserdv2 .lnktext{display:block;padding-top:3px;}


.mobilebanner20141010{    
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    }
.mobilebanner20141010 .Left{
    float:left;
    width:557px;

    z-index: 2;
    position: relative;
    }
.mobilebanner20141010 .Right{
     z-index: 1;
     position: absolute;
     
        }
#mobilePhoto{
     width: 609px;
    height: 526px;
    background: url("//cdn.goomena.com/Images/pub_default/20141010_mobilebotom.jpg") no-repeat 50% 0;
    position: relative;
    top: 19px;
    left: 465px;
}
#TriangleDown{
        background: url("//cdn.goomena.com/Images/pub_default/20141010_triangledown.png.png") no-repeat 50% 0;
    height: 89px;
    left: 617px;
    position: relative;
    top: -24px;

}
#mobileapplogo{
        background: url("//cdn.goomena.com/Images/pub_default/20141010app_logo.png") no-repeat 50% 0;
    width: 100%;
    height: 170px;
    margin-top: 57px;
    }
#dvlblmobileText{
padding-top:38px;
}
#TriangleUp{
background:url("//cdn.goomena.com/Images/pub_default/20141010_triangleup.png") no-repeat 50% 0;
margin-left:-149px;
width:410px;
height:73px;
}
#btnDownloadAppContainer{
    width: 100%;
    height: 50px;
    text-align: center;
    }
#btnDownloadAppContainer .btnDownloadApp{
        text-decoration: none;     
         font-size: 15px;
    color: #141F33;
    font-weight: bold;
    border: 3px solid #141F33;
    height: 43px;
    display: inline-block;
    width: 213px;
    margin-left: 6px;
    line-height: 42px;

}
#btnDownloadAppContainer .btnDownloadApp:hover {
    background-color:#141F33;
    color:white;
}
#playstoreImg{
    
    display: block;
    width: 104px;
    height: 39px;
    margin-top: 75px;
    padding-bottom: 34px;
    margin-left: -16px;

}
/*End new Botom*/
/*Start Theme 8*/
#all_sections.theme8 .section-1-ext,#all_sections.theme7 .section-3-ext{background-color: #EBEBED;}
#all_sections.theme8 .reg-box {height: 480px;position: absolute;top: 0;right: 0px;left: -30px;z-index: 1;}
#all_sections.theme8 .reg-wellcome {position:absolute;top: 321px;width:600px;color:#E2114A;letter-spacing:-2px;margin:0;padding:0;line-height: 36px;}
#all_sections.theme8 .reg-wellcome .font-light {font-size: 40px; font-family:"Segoe UI Semibold" ;font-weight:600!important ; color:#E2114A;}
#all_sections.theme8 .reg-wellcome .font-semibold {font-size: 27px;line-height: 35px;padding-top: 19px;display: block;letter-spacing:-2px; font-family:"Segoe UI Light";font-weight:normal; color:white;}
#all_sections.theme8 .reg-wellcome .font-light .font-semibold {font-size:60px;line-height:55px;padding:0;}
 #all_sections.theme8 .mainalreadymembr {top:301px; width:412px; background: #ededed;  color: black;  margin-left:0px; }
#all_sections.theme8 .mainalreadymembr p{
     font-family:'Segoe UI Semibold' !important;
}
#all_sections.theme8 .registerform  .mainregdiv {background-color:transparent;height: 212px;width: 413px;margin-top:3px;margin-left: 25px;}
#all_sections.theme8 .registerform  .mainregdivctr table.dxeBase{
     height:45px;
      background:#ededed;
  }
#all_sections.theme8 .mainfblogindiv .fb-connect-note a,#all_sections.theme8 .maingplogindiv .gp-connect-note a{
    font-family:'Segoe UI Semibold' !important; 
}
#all_sections.theme8 .registerform .mainregdivctr{
    padding-bottom:20px;
}
#all_sections.theme8 .mainbemember-reg .mainbememberp{
    margin:0px 0px -5px 0px;
}
#all_sections.theme8 .mainfblogindiv{
    height:60px;
    background:#ededed;
     margin-left:0px;
     width:412px;
}
#all_sections.theme8 .registerform .mainregdiv{
    margin-left:0px;
    width:412px;
}
.maina .trianglecontainer{  width: 100%;
    /* height: 12px; */
    position: absolute;
    z-index: 1;}
 .maina .trianglecontainer #triangleUp{
         background: url("//cdn.goomena.com/Images2/Pub20141017/triangle-up20141017.png") repeat ;
    width: 100%;
    height: 12px;
    z-index: 10;
    margin-top:-1px;
 }
 .maina .trianglecontainer #triangleDown{
          background: url("//cdn.goomena.com/Images2/Pub20141017/triangle-down20141017.png") repeat;
    width: 100%;
    height: 12px;
    z-index: 10;
    margin-top:-12px;
 }
.maina {
    background: url("//cdn.goomena.com/Images2/Pub20141017/bottomBg20141017.jpg") no-repeat 50% 100%;
}
.manwomancontainer2{
    width:1064px;
    margin-left:auto;
    margin-right:auto;
}
.ColouredBoxes{
  width:97% !important;
  margin-left:0px!important;
}
.ColouredBoxes .ColoredMan{
    background-color:rgba(186, 31,90, 0.92);
}
.ColouredBoxes .ColoredLadie{width:472px!important;background-color:rgba(1, 183, 170, 0.75)!important; }
 #all_sections.theme8 .registerform.mainregdivctr #ctl00_content_RdioMale{margin-bottom:6px;}
 #all_sections.theme8 .registerform .mainregdivctr h1{margin-top:8px;margin-bottom: 17px;}
 #all_sections.theme8 .mainbemember-reg .mainbememberp { font-size: 17px; font-weight: bold; display: inline-block; margin-left: 10px; margin-top: 14px; }
 #all_sections.theme8 .registerform {/*background: url("//cdn.goomena.com/Images2/pub2/frame_bg3.png") no-repeat scroll 0 -25px transparent;*/background:rgba(255,255,255,0.5);box-shadow:0px 2px 7px #888888;  height: 525px;width: 412px;padding: 0px;position: absolute;right: -13px;top: 0px;z-index: 1;}
 #all_sections.theme8  .mainregdiv a.HyperRegister {background: url(//cdn.goomena.com/images2/pub2/login.png) 0 0;background-position:-1px -78px;width:159px;border-radius:5px;height:39px;font-size:24px;margin-top: 2px;margin-left:auto;margin-right:auto;display: block;float:none;padding-top:2px;}
#all_sections.theme8  .mainregdiv a.HyperRegister:hover {background-position:-2px -4px;}
/*#all_sections.theme8 .top-pic.GR {background:url("//cdn.goomena.com/Images2/Pub20141017/public20141024Gr.jpg") no-repeat 50% 0 !important ;height:525px;}*/
/*#all_sections.theme8 #top-pic {background:url("//cdn.goomena.com/Images2/Pub20141017/big-image10141017.jpg?v2") no-repeat 50% 0;height:525px;}*/
#all_sections.theme8 #top-pic {background:url("//cdn.goomena.com/Images2/pub2/public20150305.jpg?v2") no-repeat 50% 0;height:525px;}
#all_sections.theme8  .notmember{
    background-color: #13a7e3;
}
/*#all_sections.theme8 .reg-wellcome{display:none;}*/
/*#all_sections.theme8 #top-pic {background:url("//cdn.goomena.com/Images2/pub2/DefaultNo10.jpg?v2") no-repeat 50% 0;height:525px;}*/
#all_sections.theme8.Valantine #top-pic {background:url("//cdn.goomena.com/Images2/pub2/valentine_top.jpg") no-repeat 50% 0;height:525px;}
#all_sections.theme8.Valantine .registerform {background:rgba(255,255,255,1);
                                              box-shadow:none ;
}
#all_sections.theme8.carnaval #top-pic{
    background:url("//cdn.goomena.com/Images2/pub2/landCarnaval2015.jpg") no-repeat 50% 0;height:525px;
}
.ff  #all_sections.theme8 .reg-wellcome .font-light,
.ff #all_sections.theme8 .reg-wellcome .font-light .font-semibold{font-family: "Segoe UI Semibold" !important ; }
.mginemelos { margin-bottom: 80px; margin-top: 15px; }
.wginemelos { margin-bottom: 80px; }
h2.wcloserdv21,h2.mcloserdv21{padding-top:15px!important;}
.ColouredBoxes a.wcloserdv2 { background: inherit!important;
          color: white!important;
                line-height:35px!important;
                font-weight:normal!important;

              }
.ColouredBoxes a.mcloserdv2 { background: inherit!important;
          color: white!important;
                line-height:35px!important;
                font-weight:normal!important;

              }
.ColouredBoxes .ColoredLadie .photos4-wrap, .ColouredBoxes .ColoredMan .photos4-wrap {
    background:url("//cdn.goomena.com/Images2/Pub20141017/dots20141017.png") no-repeat 50% 0%;
}
    .ColouredBoxes .ColoredLadie .photos4-wrap .woman, .ColouredBoxes .ColoredMan .photos4-wrap .man {
   margin-top:8px!important;
         }
    #TriangleUp{display:none!important;}
    #TriangleDown{display:none!important;}
    .mobilebanner20141010{
       
    }
    .mobilebanner20141017{
        width:100%;
         background:url("//cdn.goomena.com/Images2/Pub20141017/moblie-bg20141017.png") no-repeat 50% 51px;
         margin-top:122px;
         height:787px;
    }
    #mobilePhoto{
          background:url("//cdn.goomena.com/Images2/Pub20141017/mobile-icon20141017.png") no-repeat 50% 0%;
      height:787px!important;
          }
    #dvlblmobileText{
        padding-top:120px!important;
    }
    #playstoreImg{display:none!important ;}
    #btnDownloadAppContainer .btnDownloadApp{
       background:url("//cdn.goomena.com/Images2/Pub20141017/download-button20141017.png") no-repeat -2px 0px!important;
   color:white!important;
   border:none!important;
   width:213px!important;
   margin-left:0px!important;
   height:50px!important;
   line-height:51px;
        }
    #btnDownloadAppContainer .btnDownloadApp:hover{
       background:url("//cdn.goomena.com/Images2/Pub20141017/download-button20141017.png") no-repeat -2px -67px!important;
        color:black!important;
    }
    #mobileapplogo{
        margin-top:35px!important;
        padding-bottom:10px;
    }

    .InnerButton{
        position: relative ;
    top: -40px;
    left: 0;
    width: 100%;
    height: 0;
    z-index:0;
    background:white;
 color:white;
    }
      .btnRegister:hover .InnerButton{
    height: 100%;
    color:black;
   	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  }
     .btnRegister{
         z-index:10;
     }
/*.btnRegister {
   		border: 3px solid #fff;
	color: #fff;
		background: none;
	cursor: pointer;
	display: inline-block;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;

}
.ColoredLadie > RegisterButtoContainer p {
        z-index:1;
    position:relative;
}
.noto{
    display:none;

}
.btnRegister:after {
content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	background: #fff;

}
.btnRegister:hover,
.btnRegister:active {
	color: #0e83cd;
}
 
 .btnRegister:hover:after,
.btnRegister:active:after {
	height: 100%;
}*/

/*End Theme 8*/
/*firefox fixes */
.ff .font-semibold,.ff .font-light,.ff .inner-box a.btn,
.ff .left-content p,.ff .right-content p,
.ff .left-content p strong,.ff .right-content p strong,
.ff .section-2 .header,.ff .section-2 .header strong,
.ff .section-2 .listaman, .ff .section-2 .lista,
.ff .section-2 .listaman strong, .ff .section-2 .lista strong,
.ff .section-7 .left-content p,.ff .section-7 .right-content p,
.ff .section-7 .left-content h6,.ff .section-7 .right-content h6,
.ff .section-8 h5, .ff .section-8 h6,.ff .section-8 .middle-content a{font-family: "Segoe UI";}

.ff .check-wrap label,
.ff #pe_formPersonalInfo .lfloat,
.ff #pe_formPersonalInfo .dxeButtonEditSys .dxeEditAreaSys,
.ff .themes .notmember,
.ff .GR.no-reg-box #all_sections.theme6 .reg-wellcome .font-light,
.ff .GR.no-reg-box #all_sections.theme6 .reg-wellcome .font-light .font-semibold{font-family: "Segoe UI Semibold";}

.ff  #all_sections.theme7 .reg-wellcome .font-light,
.ff #all_sections.theme7 .reg-wellcome .font-light .font-semibold{font-family: "Segoe UI Semibold" !important ; }
#all_sections.theme8.xmas2014 #top-pic {background:url("//cdn.goomena.com/Images2/2014xmas/big-image.jpg") no-repeat 50% 0;height:525px;}
#all_sections.theme8.xmas2014 .section-1-ext{background-color: #EeEeEe;}
#all_sections.theme8.xmas2014 .registerform{background-color: rgba(256, 256,256, 0.8);
height: 517px;
top: 0px;
padding-top: 8px;}
#all_sections.theme8.xmas2014 .registerform .mainregdivctr table.dxeBase{
background:white;
}
#all_sections.theme8.xmas2014 .mainfblogindiv{
    background:white;
}
#all_sections.theme8.xmas2014 .mainalreadymembr{
     background:white;
}
.themes.xmas2014 .notmember{
   

padding-top: 5px;

background-image: url("//cdn.goomena.com/Images2/2014xmas/1.png");

}