﻿.gifts-info-page { margin-top: 10px; }
.gifts-info-content { width: 709px; margin: 0 auto; background-color: #fff; }
.header-box { position: relative; height: 354px; }
.header-text { position: absolute; top: 37px; left: 12px; color: #BA0377; font-weight: normal; width: 280px; padding: 21px; text-transform: uppercase; }
.header-text h1 { font-weight: normal; margin: 0; padding: 0; font-size: 28px; line-height: 30px; margin-bottom: 20px; }
.header-text strong { font-size: 25px; line-height: 30px; font-weight: bold; }
.main-content { padding: 0 0 0 20px; }
.welcome-title { font-size: 21px; font-weight: normal; color: #615077; margin-bottom: 15px; margin-top: 20px; }
.welcome-text { font-size: 14px; color: #615077; line-height: 18px; height: 119px; padding-right: 20px; }
.description-title { font-size: 20px; font-weight: normal; color: #615077; margin-bottom: 20px; margin-top: 20px; width: 362px; line-height: 24px; }
.description-content { font-size: 14px; color: #615077; margin-top: 36px; line-height: 18px; position: relative; }
.description-content .lfloat { width: 380px; height: 301px; }
.description-content .rfloat { width: 281px; margin-top: -134px; }
.description-content p { margin-top: 0; }
.howitworks-title { font-size: 25px; font-weight: normal; color: #615077; margin-bottom: 20px; margin-top: 4px; margin-left: 40px; }
.howitworks-content { font-size: 14px; color: #615077; margin-left: 31px; margin-top: 37px; }
.howitworks-content .lfloat { width: 183px; height: 735px; }
.howitworks-content .rfloat { position: relative; width: 414px; height: 735px; margin-right: 30px; }
.howitworks-content h6 { font-size: 18px; color: #615077; margin: 12px 0px 0px; line-height: 27px; font-weight: normal; }
.howitworks-content p { font-size: 14px; color: #615077; margin: 14px 0px 0px 0px; line-height: 16px; }
.howitworks-content .prg1 { }
.howitworks-content .prg2 { margin: 121px 0px 0px 0px; }
.howitworks-content .prg3 { margin: 138px 0px 0px 0px; }
.howitworks-content .prg3 p { margin: 10px 0px 0px; line-height: 17px; }

.bottom-content { margin: 63px 0 0 0;border-top:2px solid #dfdfe0; }
.bottom-link { padding:0 0 36px; }
.check-agree { margin: 20px auto; width:450px;}
.check-agree label { font-size: 13px; color: #000; }
.check-agree a { font-size: 13px; color: #0099cc; }
.check-agree .center-table p {margin:0;display:inline;}
.check-agree .center-table td {vertical-align:top;}
.check-agree .center-table td .dxICheckBox{margin-right:7px;}
.check-agree .tos-link {white-space:nowrap;}

.bottom-content a.enter-link  { margin: 0 auto; width: 200px; height: 51px; display: block; background: url(//cdn.goomena.com/images2/gifts/yes-button.png) no-repeat scroll 0 0; color: #fff; font-size: 14px; font-weight: bold; text-align: center; line-height: 52px; }
.bottom-content a.enter-link:hover { background-position: 0 -67px; cursor:pointer;}
.bottom-content a.enter-link.opacity60:hover{ background-position:0 0; opacity:0.3;}
.bottom-content a.enter-link.opacity60{ background-position:0 0; opacity:0.3;}
.bottom-content a.getout-link  { margin: 0 auto; width: 200px; height: 51px; display: block; background: url(//cdn.goomena.com/images2/gifts/no-button.png) no-repeat scroll 0 0; color: #fff; font-size: 14px; font-weight: bold; text-align: center; line-height: 52px; }
.bottom-content a.getout-link:hover { background-position: 0 -67px; }
.bottom-content a.getout-link.opacity60:hover{ background-position:0 0;  opacity:0.3;}
.bottom-content a.getout-link.opacity60{ background-position:0 0;  opacity:0.3;}
.lnkNotEnoughCredits{
    
    background: none!important;
    color: #562e3d!important;
    width: 300px!important;
    height: 74px!important;
    margin: 0 auto;
    display: block;
    font-size: 14px; 
    font-weight: bold;
     text-align: center;
}
.lnkNotEnoughCredits:hover {
    cursor:pointer;
    /*background: none!important;
    color: #562e3d!important;
    width: 300px!important;
    height: 74px!important;*/

}

.gifts-credits-page { margin: 13px auto 0; width: 710px; }
.gifts-credits-content { }
.header-box { padding: 0px 0 10px; color: #6e607f; background-color: #fff; margin-top: 21px;}
.header-box h2 { /*font-size: 17px;*/ font-weight: normal; margin: 0; /*padding-left: 40px; padding-top: 10px; padding-bottom: 10px;*/ border-bottom: 1px solid #FBFBFB; }
.header-box img.points { width: 629px;
margin: -37px auto 0; display: block;padding-bottom: 12px; }
.header-box .lfloat { width: 236px; }
.header-box .lfloat h3 { font-size: 14px; font-weight: bold; text-align: center; padding: 0 20px; margin: 0; }
.header-box .lfloat h3.wide { padding: 0px 5px; }
.header-box .lfloat p { font-size: 14px; text-align: center; padding: 0 10px 0; margin: 8px 0px 0px; line-height: 18px; }
.pnlCreditsAnalysis .your-credits {
    color:white;
    margin-top: 20px;
    font-size: 20px;
text-align: center;
/* margin-top: 20px; */
padding-top: 18px;
padding-right: 59px;
padding-bottom: 17px;
background-size: contain;
}
.pnlCreditsAnalysis .credits-analysis.OuterBox{width: 100%;
height: 188px;
padding-left: 5px;
}
.pnlCreditsAnalysis .credits-analysis.OuterBox .top-part .details .lfloat {width: 326px;
height: 188px;}
.pnlCreditsAnalysis .credits-analysis.OuterBox .top-part .details .lfloat.v2{
width: 378px;
}
.credits-analysis.InnerBox .lblFreeTop{display: block;
font-size: 25px;
font-weight: bold;
TEXT-ALIGN: center;
/*padding-right: 37px;*/
padding-bottom: 25px;
}
.credits-analysis.InnerBox .lblFreeCountTop{
    font-size: 38px;
font-weight: bold;
}
.credits-analysis.InnerBox .lblPoints{
    font-size: 23px;
position: relative;
top: -5px;
margin-left: 2px;
}
.lblAnalysis-Title{
    font-size: 20px;
color: #615077;
text-align: center;
margin-top: 5px;

}
.Analysis .free{
margin-top: 28px;
}
.Analysis .ResultsBox{
    display: inline-block;
float: right;
}
.Analysis .lblValue{
    margin-right: 10px;
}
.Analysis .Reserved{
    margin-top: 4px;
}
.Analysis .Total{
    margin-top: 18px;
}
.Analysis .Total .lblValue{
   margin-right: 30px;
}
.Analysis  .ResultsBox .quest-small{
    position: relative;
top: 3px;
}
.Analysis .free,.Analysis .Reserved,.Analysis .Total{font-size:15px;
                                                     color:#615077; 
                                                     font-weight:bold;
                                                     margin-left: 42px;
                                                     margin-right: 46px;
}
.credits-analysis .lfloat.left-box{
    background: url(//cdn.goomena.com/images2/gifts/invitation-box.png?v2) no-repeat scroll 0 0;}
.credits-analysis.v2{
    margin-top: 23px;
    padding-bottom: 57px;
}
.credits-analysis .lfloat.left-box .Details{
    width: 100%;
    margin-top: 28px;
}
.credits-analysis.v2 .profile-picture2{
    display: block;
position: relative;
z-index: 0;
top: 48px;
left: 13px;
width:84px;
}
.credits-analysis.v2 .PhotoContainer{
 margin-left: 104px;
font-size: 26px;
font-weight: bold;
color: #615077;
line-height: 28px;
margin-top: 10px;
}
.credits-analysis.v2 .Ref-CodeTitle{
    display: block;
text-align: center;
font-size: 18px;
color: black;
}
.credits-analysis.v2 .Ref-Code{
    display: block;
font-size: 26px;
text-align: center;
color: black;
margin-top: 11px;
}
.credits-analysis.v2 .Ref-CodeHelp{
    display: block;
text-align: center;
font-size: 14px;
color: black;
margin-top: 26px;
}
.credits-analysis .friends-points{
  margin-top: 36px;
display: block;
font-size: 13px;
margin-left: 21px;
}
.credits-analysis .friends-points li{
    margin-bottom: 6px;
}
/*.friends-list  .profile-picture{
    position: initial;
}*/
.your-Friends{ width: 100%; height: 83px; background: url(//cdn.goomena.com/images2/gifts/lines2.png?v2) repeat-x scroll 5px 50%; font-size: 20px; color:rgb(211, 122, 138); line-height: 82px; text-align: center; }
.your-credits .text { }
.credits-analysis { color: #562e3d; }
.pnlCreditsAnalysis{background: url(//cdn.goomena.com/images2/gifts/your-points-box.png?v3) no-repeat scroll 5px 0;}
.credits-analysis .left-box {width: 360px; /*position: relative*/ overflow: hidden; height: 285px;}
.credits-analysis .left-box .top-part { background: url(//cdn.goomena.com/images2/gifts/credits-box-up.png?v2) no-repeat scroll 50% 0; padding-bottom:20px;}
.credits-analysis .left-box .bottom-part { background: url(//cdn.goomena.com/images2/gifts/credits-box-bottom.png) no-repeat scroll 0px 100%; height: 120px;}

.credits-analysis .center-box { background: url(//cdn.goomena.com/images2/gifts/friends-line.png) no-repeat scroll 50% 50%; width: 59px; height: 148px; position: relative; overflow: hidden; margin-top: 27px; }
.credits-analysis .right-box { width: 286px; color: #562e3d; }
.credits-analysis .right-box .friends-list { background: url(//cdn.goomena.com/images2/gifts/friend-box2.png?v2) no-repeat scroll 50% 100%; width: 277px; position: relative; overflow: hidden;padding-bottom: 8px;}
/*
.credits-analysis .right-box .friends-list.none { background: url(//cdn.goomena.com/images2/gifts/friend-box2.png) no-repeat scroll 50% 100%; height: 66px;}
.credits-analysis .right-box .friends-list.one-friend { background: url(//cdn.goomena.com/images2/gifts/friend-box2.png) no-repeat scroll 50% 100%;height: 142px;}
.credits-analysis .right-box .friends-list.two-friends { background: url(//cdn.goomena.com/images2/gifts/friend-box2.png) no-repeat scroll 50% 50%;height: 209px;}
*/
.credits-analysis .right-box h3 { font-size: 18px; font-weight: bold; margin: 20px 0px 0px; padding: 0px; text-align:center;}
.credits-analysis .right-box ul { list-style: disc; margin: 8px 0px 0px 17px; }
.credits-analysis .right-box li { list-style-type: disc; font-size: 11px; margin: 3px 0 0; padding: 0; }
.credits-analysis .right-box li .text { font-size: 12px; line-height: 14px; }
.credits-analysis .right-box .friends-points { height: 86px; overflow: hidden; }

.friends-list .one-box, 
.friends-list .two-box, 
.friends-list .last-box{ height:63px;}
.friends-list .two-box .lfloat{
    top: -7px;
}
.friends-list .two-box .rfloat{margin-top:-1px!important ;

}
.friends-list .three-box .login-wrap {
    top: 2px;
}
.credits-analysis.one-friends .lfloat.center-box{
    height: 12px;
margin-top: 60px;
}
.credits-analysis.two-friends .lfloat.center-box{
    background: url(//cdn.goomena.com/images2/gifts/friends-line.png) no-repeat scroll 50% 0%;
height: 80px;
}
.credits-analysis.one-friends .friends-list .one-box{
height: 53px;
}
.credits-analysis.two-friends .right-box .friends-list{
padding-bottom: 0;
}
.credits-analysis.two-friends .two-box .rfloat {
     margin-top: 6px!important;
}
.credits-analysis.two-friends .two-box .lfloat {
    top: 1px;
}
.credits-analysis.one-friends .right-box{
    margin-top: 35px;
}
.credits-analysis .friends-points li{
     list-style-type: disc;
}
.credits-analysis.one-friends.v2   .right-box .friends-points,.credits-analysis.two-friends.v2   .right-box .friends-points{
      margin-top: 0px; 
     margin-left: 0px;
}
.credits-analysis.one-friends   .right-box .friends-points li,.credits-analysis.two-friends.v2   .right-box .friends-points li{
    font-size: 13px;
    margin-bottom: 5px;
  
}
.friends-list .one-box{ margin-top:0px;background: #EBEBED url(//cdn.goomena.com/images2/gifts/friend-box-single.png?v2) no-repeat scroll 0 0;width:277px;height:69px;}
.friends-list .two-box{ margin-top:12px;}
.friends-list .last-box{ margin-top:9px;}

.friends-list .action-link,.no-friends .friends-list-empty .action-link{ padding-top: 7px;text-align: center;position:relative;width:142px;margin-left:auto;margin-right:auto;}
.friends-list .action-link a,.no-friends .friends-list-empty .action-link a{margin: 0 auto;
width: 143px;
height: 48px;
display: block;
background: url(//cdn.goomena.com/images2/gifts/reedem-button.png) no-repeat scroll 0 59px;
color: #fff;
font-size: 14px;
font-weight: bold;
text-align: center;
line-height: 46px;
cursor: pointer;}
.friends-list .action-link img.quest-small {position:absolute;top: 25px;right: -23px;}
.friends-list .no-friends{ margin-top:9px;}

.after-friends-list .action-link {padding-top: 7px;width:170px;margin-left:auto;margin-right:auto;}
.after-friends-list .action-link a {display: inline; background:#22333B;color: #fff; font-size: 12px; text-align: center; line-height: 49px; padding:9px 45px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.after-friends-list .action-link a:hover {}

.friends-list .one-box .round-img-43,
.friends-list .two-box .round-img-43 {top:0px;left:0px; width: 45px; height: 45px;}
.friends-list .one-box .lfloat,
.friends-list .two-box .lfloat,.friends-list .three-box .lfloat {width:207px;height:53px;position:relative;overflow:hidden;}
.friends-list .one-box .rfloat,
.friends-list .two-box .rfloat {}
.friends-list .one-box .lfloat .login-name,
.friends-list .two-box .lfloat .login-name,.friends-list .three-box .lfloat .login-name {font-size:16px;color:#615077;}
.friends-list .one-box .rfloat,.friends-list .two-box .rfloat,.friends-list .three-box  .rfloat {font-size:17px;font-weight:bold;color:#615077;text-align:right;height:43px;width:50px;
                                                               border-left:1px solid #DFD6D9;margin-top: 6px;padding-right:17px;line-height:38px;}
.friends-list .one-box .pr-photo-43-noshad{ position:absolute;top: 8px;left: 15px;width: 46px;height: 46px;}
.friends-list .two-box .pr-photo-43-noshad,.friends-list .three-box .pr-photo-43-noshad { position:absolute;top: 4px;left: 15px;width: 46px;height: 46px;}
.friends-list .one-box .login-wrap,
.friends-list .two-box .login-wrap,.friends-list .three-box  .login-wrap {overflow:hidden;position:absolute;left: 72px;width:132px;height:43px;}
.friends-list .one-box .login-wrap {
    top: 9px;
}
.friends-list .two-box .login-wrap {
    top: 7px;
}
.friends-list .one-box .rfloat {margin-top: 12px;}

.friends-list.none .one-box,
.friends-list.none .two-box {display:none; }

.friends-list.one-friend .one-box{display:none; }
.friends-list.one-friend .two-box{display:inherit; }
/*
.friends-list.two-friends .one-box,
.friends-list.two-friends .two-box {display:inherit; }
*/

.no-friends .center-box {display:none;}
.no-friends .right-box {margin-left:30px;}
.no-friends .friends-list-empty .action-link a{font-size:14px;padding: 9px 26px;}
.no-friends .friends-list-empty .action-link{padding-top: 0;}

.action-link { padding-top: 20px; }
.action-link a { margin: 0 auto;
width: 143px;
height: 48px;
display: block;
background: url(//cdn.goomena.com/images2/gifts/reedem-button.png) no-repeat scroll 0 -59px;
color: #fff;
font-size: 14px;
font-weight: bold;
text-align: center;
line-height: 49px;
cursor: pointer;}

.action-link.opacity60 a{cursor:default!important ;}
.action-link.opacity60 a:hover {cursor:default!important ;  background: url(//cdn.goomena.com/images2/gifts/button2.png) no-repeat scroll 0 0!important; color: #fff!important;}
.action-link a:hover { background-position: 0 0; }
.bottom-part .action-link {padding-top: 15px;}

.pr-photo-78-noshad { margin: 18px 10px 0 18px; }
.round-img-78 { top: 2px; left: 2px; width: 80px; }
.login-name { font-size: 26px; color: #fff; }

.action-link a.darker { background-color:#22333B;}
.my-coupons { margin-top:-4px;}
.my-coupons .lcorner {background: url(//cdn.goomena.com/images2/gifts/left-dots.png?v2) no-repeat scroll 100% 0;width:80px;height:36px;margin-right:10px;}
.my-coupons .rcorner {background: url(//cdn.goomena.com/images2/gifts/right-dots.png) no-repeat scroll 0 0;width:85px;height:36px;margin-left:0; }
.my-coupons .action-link a {font-size:12px;background-image:none;-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;height: 35px;line-height: 36px;}
.my-coupons .action-link {padding-top:17px;}
.my-coupons .action-link a:hover{
    background:#24FF90;
    color:#22333B;
}

.logos { background: #fff; width: 710px;position: relative; overflow: hidden; margin-top: 50px;TEXT-ALIGN: center; }
.logos img.logo { display: block; width: 574px; margin: 32px auto 0; }
.logos h4 { margin:0 0 10px 0; padding: 10px 18px 12px 18px; font-weight: normal; font-size: 17px; color: #562e3d; border-bottom: 1px solid #FBFBFB;position:relative;}
.logos img.quest,
.logos h4 img.quest{ position:absolute;right: 18px;top: 11px;}

.logos .lfloat { border:2px solid #EBEBED;width:217px;height:97px;margin-left:13px;margin-bottom:13px;}
.logos .amazon { background: url(//cdn.goomena.com/images2/gifts/brands/amazon.png) no-repeat scroll 50% 50%;}
.logos .ebay { background: url(//cdn.goomena.com/images2/gifts/brands/ebay.png) no-repeat scroll 50% 50%;}
.logos .dior { background: url(//cdn.goomena.com/images2/gifts/brands/dior.png) no-repeat scroll 50% 50%;}
.logos .asos { background: url(//cdn.goomena.com/images2/gifts/brands/asos.png) no-repeat scroll 50% 50%;}
.logos .gucci { background: url(//cdn.goomena.com/images2/gifts/brands/gucci.png) no-repeat scroll 50% 50%;}
.logos .loreal { background: url(//cdn.goomena.com/images2/gifts/brands/loreal.png) no-repeat scroll 50% 50%;}


/* spin edit fix */
/*
.credits-analysis .spin-wrap { width: 130px; margin: 15px auto 0; }
.credits-analysis .spin-control { }
.credits-analysis .spin-control .dxeEditArea { background-color: transparent !important; margin: 0 0 5px 2px; width: 30px; height: 25px !important; color: #fff; font-size: 15px; text-align: center; }
.credits-analysis .spin-control .dxeSpinDecButton,
.credits-analysis .spin-control .dxeSpinIncButton { background-color: #572E3E; background-image: none; }
.credits-analysis .spin-control .dxeSBC { padding: 0; }

.credits-analysis .spin-wrap { width: 130px; margin: 15px auto 0; }
.credits-analysis .spin-control { }
.credits-analysis .spin-control .dxeEditArea { background-color: transparent !important; margin: 0 0 5px 2px; width: 30px; height: 25px !important; color: #fff; font-size: 15px; text-align: center; border-spacing: 0px; border-radius: 4px; }
.credits-analysis .spin-control .dxeSpinDecButton,
.credits-analysis .spin-control .dxeSpinIncButton { background-color: #572E3E; background-image: none; }
.credits-analysis .spin-control .dxeSpinIncButton { border-top-right-radius: 4px; }
.credits-analysis .spin-control .dxeSpinDecButton { border-bottom-right-radius: 4px; }
*/

.credits-analysis .spin-wrap { width: 150px; margin: 15px auto 0;position:relative;}
.credits-analysis .spin-control { border-radius: 4px; border: none; border-spacing: 0px;}
.credits-analysis .spin-control .dxeEditArea { color: #562e3d; background-color: transparent !important; margin:0 0 2px 10px; width: 100%; height: 25px !important; font-size: 15px; text-align: start; border-spacing: 0px;}
.credits-analysis .spin-control .dxeSpinDecButton,
.credits-analysis .spin-control .dxeSpinIncButton { background-color: #572E3E; background-image: none; }
.credits-analysis .spin-control .dxeSpinIncButton { border-top-right-radius: 4px; }
.credits-analysis .spin-control .dxeSpinDecButton { border-bottom-right-radius: 4px; }
.credits-analysis .spin-control .dxeSpinIncButton img { margin-right: 2px; }
.credits-analysis .spin-control .dxeSpinDecButton img { margin-right: 2px; }
.credits-analysis .spin-control .dxeSBC { padding: 0; }
.HorLineInButtons { position: relative; height: 1px; width: 22px; opacity: 0.3; top: 18px; margin-left: auto; margin-right: 0px; right: 4px; background-color: white; }



.CouponArea{
       background: url("//cdn.goomena.com/Images2/gifts/coupon-bg.png") no-repeat 50% 0
}
.lblcreateCouponTitle{font-size:17px; color:#562e3d;margin-left:10px; }
.lblcreateCouponNotes{font-size:13px; color:#9ea4a7; font-style:italic;}
.createCouponContainer{
    border-style:dashed ;
    width:750px;
    padding-left:0px;
     padding-bottom :10px;
      padding-right :0px;
       /*padding-:10px;*/
       margin-top:40px;
       height:361px;
       border-color:#562e3d;
       border-width:2px;
       
}
.createCouponTitle .Toprow{
    background:url('//cdn.goomena.com/images/bg.jpg');
    position:relative;
    top:-15px;
    left:10px;
    width:300px;
}
.createCouponTitle .SecondRow{
     margin-top: -16px;
    margin-left: 18px;
    padding-bottom: 10px;
 

}
.Couponcredits{font-size:14px; color:#562e3d;margin-left:45px;padding-bottom:15px;}
.CouponName{margin-left:45px;padding-bottom:13px;}
.lblCouponCredits, .lblCouponName {font-size:14px; color:#562e3d; font-weight:bold;padding-right:13px;
                 display:block;                   
  position: relative;

}
.lblCouponFirstLine{

    height: 20px;
    width: 300px;
    display: inline-block;

}
.lblCouponCredits{top: 9px;}
.lblCouponName{  top: 5px;
  }
.btnhpMoreInfoTitle:hover,.CouponCreditsInfo:hover {cursor:pointer;}
.btnhpMoreInfoTitle  {
    margin-left:5px;
    margin-top:2px;
    display:inline-block ;
      background: url("//cdn.goomena.com/Images2/gifts/help-icon-small.png") no-repeat 50% 0;
      height:16px;
      width:16px;
}
.CouponCreditsInfo {
    margin-left:5px;
    margin-top:9px;
    display:inline-block ;
      background: url("//cdn.goomena.com/Images2/gifts/help-icon.png") no-repeat 50% 0;
      height:19px;
      width:19px;
      padding-left:3px;
}

.CouponArea{    
    height: 100%;
    padding-top: 115px;
    }
.CouponArea .Editable{width:440px;}
.CreateCouponButton{
    text-align:center;
}
.btnCouponCreate{
     background:url("//cdn.goomena.com/Images2/gifts/send-again.png") no-repeat -6px -61px;
     display:block;
     height:45px;
     width:157px;
     margin-left:126px;
     /*margin-right:auto ;*/
     padding-top:8px;
     margin-top:39px;
}
.btnCouponCreate:hover  {
        background: url("//cdn.goomena.com/Images2/gifts/send-again.png") no-repeat -1px -3px;
cursor:pointer;
}
.btnCouponCreateLabel{
    cursor:pointer;
    font-size:14px;
    color:white;
    font-weight:bold;
    padding-top:8px;
}
.Couponcredits .lfloat .spin-wrap{width:130px;margin:15px auto 0;}
.Couponcredits .lfloat .spin-control{border-radius:4px; border:none;border-spacing:0px;}
.Couponcredits .lfloat .spin-control .dxeEditArea{color:#562e3d; background-color:transparent !important;
                                                  margin:0 0 2px 2px;
                                                  width:100%;
                                                  height:25px !important;
                                                  font-size:15px;
                                                  text-align:start;
                                                  border-spacing:0px;
                                                  border-radius:4px; }
.Couponcredits .lfloat .spin-control .dxeSpinDecButton,
.Couponcredits .lfloat .spin-control .dxeSpinIncButton{background-color:#572E3E;background-image:none; }
    .Couponcredits .lfloat .spin-control .dxeSpinIncButton {border-top-right-radius:4px;
    }
.Couponcredits .lfloat .spin-control .dxeSpinDecButton{border-bottom-right-radius:4px;
}
.Couponcredits .lfloat .spin-control .dxeSpinIncButton img {margin-right:2px;}
.Couponcredits .lfloat .spin-control .dxeSpinDecButton img {margin-right:2px;}
.Couponcredits .lfloat .spin-control .dxeSBC{padding:0;}
.HorLineInButtons{
    position:relative;
    height:1px;
    width:22px;
        opacity:0.3;
        top:18px;
        margin-left:auto;
        margin-right:0px;
        right:4px;
        background-color:white;

}
.opacity30{
cursor:default;

}
.txtCouponName{border-radius:4px;}
.txtCouponName .dxeEditArea{color:#562e3d;font-size:15px; text-align:start ;font-weight:bold; margin-left:2px;}
.CouponMoney{width:274px; font-size:77px;font-family:'Segoe UI Light'; color:#562e3d;text-align:center;}
.lblCouponMoney{
    
    display: block;
    margin-left: 12px;
    margin-right: 6px;
    margin-top: -13px;
    
}
.CouponCode{
    text-align: center;
    padding-top: 58px;
    font-size: 19px;
    color: white;
    font-weight: 500;
    margin-left: 31px;
    margin-right: 14px;
}
.PreviewCouponContainer{
    margin-top:21px;
    background:url("//cdn.goomena.com/Images2/gifts/background-coupon.png") repeat;
    width: 732px;

}
.PreviewCouponTitle{
    
    background-color: white;
    text-align: center;
    padding: 10px;

}
.lblPreviewCouponTitle{color:#54BC87;
                       
    font-size: 21px;
  

}
.PreviewCouponTitle .SecondRow{
    
    padding-top: 2px;

}
.PreviewCouponTitle .ThrirdRow{
    
    padding-top: -3px;

}
.lblPreviewCouponNotes1,.lblPreviewCouponNotes2{
    color:#9ea4a7;
    font-size:14px;
}


.PreviewCouponArea{
       background: url("//cdn.goomena.com/Images2/gifts/coupon.png") no-repeat 50% 0;
       border-radius:5px;
       margin-top:11px;
       margin:10px;
       margin-bottom:13px;
       height:321px;
}
.CouponFirstLine{
    
    color: white;
    margin-top: 75px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 31px;

}
.PreviewCouponcreditsCont{
    margin-top: 32px;
    margin-left: 37px;
    width: 114px;
    height: 29px;
     text-align:center;
}

.lblPreviewCouponCredits, .lblPreviewCouponName ,.lblCouponCreditsΤext {
    font-size:14px; 
    color:#562e3d; 
    font-weight:bold;
    padding-right:2px;
    display:inline-block;
  position: relative;
  top:5px;

}
.lblCouponCreditsΤext{
    /*font-family:'Segoe UI Light';*/
    font-weight:500;
}
.PreviewCouponName{
    margin-left: 37px;
    margin-top: 20px;
    height: 28px;
    width: 326px;
    padding-left: 3px;
}
.CouponBarcode{
    
    margin-left: 35px;
    width: 191px;
    height: 38px;
    margin-top: 50px;

}
.CouponBotomNotes{
    margin-left: 35px;
    width:385px;
    /* height: 21px; */
    margin-top: 4px;
    color:white;
    font-size:11px;
    font-weight:bold;

}

.PreviewCouponMoney{
    margin-top: 116px;
    width:274px; 
    font-size:77px;
    font-family:'Segoe UI Light';
     color:#562e3d;
     text-align:center;

}
.PreviewlblCouponMoney{
    
    display: block;
    margin-left: 12px;
    margin-right: 6px;
    margin-top: -13px;
    
}
.PreviewCouponCode{
    text-align: center;
    padding-top: 58px;
    font-size: 19px;
    color: white;
    font-weight: 500;
    margin-left: 31px;
    margin-right: 14px;
}
.PreviewDownloadButton, .PreviewResendButton{
     background: url("//cdn.goomena.com/Images2/gifts/send-again.png") no-repeat -1px -3px;
     display:inline-block;
     height:45px;
     width:157px;
     /*margin-left:126px;*/
     /*margin-right:auto ;*/
     padding-top:8px;
     margin-top:13px;
}
.PreviewDownloadButton:hover, .PreviewResendButton:hover {
    background:url("//cdn.goomena.com/Images2/gifts/send-again.png") no-repeat -6px -61px;
        
cursor:pointer;
}
.lblDownloadText, .lblResendText{
    cursor:pointer;
    font-size:14px;
    color:white;
    font-weight:bold;
    padding-top:8px;
}
.PreviewCouponButtons{
    background-color: white;
    text-align: center;
    padding: 10px;
    height:69px;
}
.dvlblMustCheckAgree{
    display:block ;
    font-weight:bold;
   color:red;
   margin-left:60px;
   margin-bottom:8px;
}
.dvlblMustCheckAgree.Showinactive{
    display:none ;

}
.imgCouponActive.CouponActive.Disabled{
   width: 32px;
height: 32px;
display: block;
margin-left: auto;
margin-right: auto;
 background:url("//cdn.goomena.com/Images2/gifts/NotActive.png") no-repeat 0 0;

}
.credits-analysis .moreFriends{
    margin-top: 13px;
}
.credits-analysis .moreFriends a { margin: 0 auto;
width: 206px;
text-align: center;
display: block;
font-size: 15px;
color: #615077;
border-style: solid;
border-width: 2px;
border-radius: 20px;
height: 35px;
line-height: 32px;

cursor: pointer;}
.credits-analysis .moreFriends a:hover {color: white;
background: #615077;}
.imgCouponActive.CouponActive.Enabled{
        background:url("//cdn.goomena.com/Images2/gifts/Active.png") no-repeat 0 0;
        width: 32px;
height: 32px;
display: block;
margin-left: auto;
margin-right: auto;
}
.lblCouponCashOutDate.CouponActive.Enabled{
    display:none;
}
.lblCouponCashOutDate.CouponActive.Disabled{
    display:inline-block;
    text-align:center;
    width: 69px;
}
.CouponActive .tooltip{
position: absolute;
left: auto;
bottom: auto;
background: url('//cdn.goomena.com/images/hov-top.png') no-repeat left top;
width: auto;
z-index: 10000;
/* top: 0px; */
margin-top: -50px;
margin-left: 14px;
background-color: #353D43;
border-radius: 5px;
padding: 5px;
min-width: 184px;
text-align: center;
}
.CouponActive .tooltip .ttptext{
   padding: initial;
width: auto;
background: #353D43;
border-radius: 5px;
color: #fff;
line-height: 16px;
}
.CouponActive .tooltip_CouponActive .ttpbottom{
    padding-left: 10px;
padding-bottom: 15px;
padding-right: 20px;
position: absolute;
bottom: 0px;
top: 100%;
color: #fff;
background: url('//cdn.goomena.com/images/hov-bot.png') no-repeat left bottom;
font-size: 11px;
z-index: -1;
left: 0px;
}

#SelectGiftCardContainer .rptContainer{
    background: white;
padding-left: 17px;
padding-top: 1px;
}

#SelectGiftCardContainer .GiftCardBox{
width: 231px;
float: left;
/* padding: 8px; */
border-radius: 10px;
margin-top: 5px;
/* margin-left: 5px; */
/* margin-right: 5px; */
margin-bottom: 15px;
height: 285px;
padding-top: 8px;
padding-bottom: 8px;
/*background: url(//cdn.goomena.com/images2/gifts/card-box.png) no-repeat scroll 0 0;*/
}
#SelectGiftCardContainer .GiftCardBox2{
 width: 230px;
  float: left;
  /* padding: 8px; */
  border-radius: 10px;
  /* margin-top: 5px; */
   margin-left: 5px; 
  /* margin-right: 5px; */
  margin-bottom: 8px;
  height: 301px;
  padding-top: 8px;
  /* padding-bottom: 3px; */
  background: url(//cdn.goomena.com/images2/gifts/card-box.png) no-repeat scroll 0 -2px;
  text-align: center;
}
#SelectGiftCardContainer .GiftCardBox2 .GiftCardInnerBox2{margin-left: 2px;}
#SelectGiftCardContainer .GiftCardBox img {
   height: 127px;
    width: 203px;
}
#SelectGiftCardContainer .GiftCardBox .Image{
    margin-top: 8px;
}
#SelectGiftCardContainer .GiftCardInnerBox{
    width: 214px;
float: left;
}
#SelectGiftCardContainer .Header {
  text-align: center;
font-size: 20px;
font-weight: bold;
padding: 5px;
/* text-decoration: underline; */
color: #615077;
}
#SelectGiftCardContainer .SepLine{
  width: 2px;
background-color: #eaeaea;
height: 100%;
float: left;
margin-left: 5px;
margin-right: 10px;
}
#SelectGiftCardContainer .Description {
    padding-top: 13px;

}
#SelectGiftCardContainer .Description {
    font-size: 14px;
color: #615077;
}
#SelectGiftCardContainer .Description .ReadMoreLink{
    margin-left: 5px;
    color:#26A9E0;
}
#SelectGiftCardContainer .Description .Smalltext{
    width:203px;
    text-align:center;
}
#SelectGiftCardContainer .Description .Smalltext.WithMore:after {
   content: "...";
}
#SelectGiftCardContainer .Description .ReadMoreLink:hover {
   text-decoration:underline;
   cursor:pointer;
}
#SelectGiftCardContainer .btnSelect{
    padding-top: 10px;
padding-bottom: 10px;
}
#SelectGiftCardContainer  .Shadow{
    background: url('//cdn.goomena.com/images2/gifts/box-shadow.png') no-repeat 0 0;
    height: 69px;
margin-top: -11px;
margin-left: 8px;
}
/*#SelectGiftCardContainer .btnSelect .btnSelectGiftCard{
    color: #fff;
text-transform: uppercase;
font-size: 15px;
text-align: center;
    border-width: 0px;
width: 122px;
height: 39px;
display: block;
margin-left: auto;
margin-right: auto;
    background: url('//cdn.goomena.com/images2/gifts/select.png') no-repeat scroll 0 0;
      font-weight: bold;
      
}
#SelectGiftCardContainer .btnSelect .btnSelectGiftCard:hover{background-position:0 -54px;  cursor: pointer;
                                                                 }*/

 #SelectGiftCardContainer .GiftCardInnerBox2 .btnSelect .btnSelectGiftCard{margin-top: 4px;}
 #SelectGiftCardContainer .GiftCardInnerBox2.VISACARD .btnSelect .btnSelectGiftCard{  margin-top: -5px;}
#SelectGiftCardContainer .btnSelect .btnSelectGiftCard{
    color: #fff;
text-transform: uppercase;
font-size: 15px;
text-align: center;
    border-width: 0px;
width: 122px;
height: 39px;
display: block;
margin-left: auto;
margin-right: auto;
    background: url('//cdn.goomena.com/images2/gifts/select.png') no-repeat scroll 0 0;

}
    #SelectGiftCardContainer .btnSelect .btnSelectGiftCard:hover {
        background-position: 0 -54px;  cursor: pointer;
    }
         

/*#SelectGiftCardContainer .btnSelect .btnSelectGiftCard:hover{ background-position:100% 100%; cursor:pointer; }*/

#SelectGiftCardContainer .btnSelect .btnSelectGiftCard .btnSelectText {
    line-height: 40px;
}
#SelectGiftCardContainer  .Bigtext{display: none;
position: absolute;
background-color: white;
width: 500px;
/* margin: 5px; */
margin-top: -72px;
padding: 5px;
-webkit-box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.75);
box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.75);
border-radius: 10px;
/* overflow: auto; */
height: 100px;
font-size: 14px;
z-index: 10000;}
#SelectGiftCardContainer .Bigtext .BigTextTextArea{
    overflow: auto;
    display:block;
    height:100%;
        width:100%;
}
#SelectGiftCardContainer .Bigtext .ClosebtnBigText{
    background: url("//cdn.goomena.com/Images2/mbr2/close-button201411217darkWithShadow.png");
width: 35px;
height: 34px;
display: block;
position: absolute;
top: -24px;
right: -19px;
z-index: 10000;
}
#SelectGiftCardContainer .Bigtext .ClosebtnBigText:hover{
    cursor:pointer ;
}
#SelectGiftCardContainer .GiftCardBox .Amount{display: block;
padding: 10px;
height: 98px;
/*background-color: rgb(57, 53, 197);*/
border-radius: 21px;
color: white;
text-align: center;
font-size: 68px;
text-shadow: 2px 2px #838383;}

#SelectGiftCardContainer .rptOrderGiftCards .GiftCardInnerBox{
    padding-top:10px;
      /*background: url(//cdn.goomena.com/images2/gifts/card-box.png) no-repeat scroll 0 0;*/
}
#SelectGiftCardContainer .rptOrderGiftCards {
    /*background: white;*/
padding-left: 5px;
/*padding-top: 15px;*/}



.gifts-credits-Container{
    background: url(//cdn.goomena.com/images2/gifts/header-box.png) no-repeat scroll 0 0;
    height: 145px;
background-size: contain;
}
.gifts-credits-Container .CouponTitle{
   margin-top: 6px;
margin-bottom: 8px;
color:white;
font-size:17px;
font-weight:bold;
margin-left: 18px;
line-height: 43px;
}
.TopTextContainer{
   font-size: 15px;
line-height: 18px;
margin-left: 18px;
margin-top: 9px;
margin-right: 18px;
}

#SelectGiftCardContainer .crtlSelectGiftCard .list-title {
 line-height: 37px;
height: 37px;
font-size: 22px;
margin-top: 11px;
margin-bottom: 8px;
}
.gifts-credits-Container .CouponTitle .more_info2,#SelectGiftCardContainer .crtlSelectGiftCard .list-title .more_info2 {
    vertical-align: text-top;
    margin-top: 5px;
}
.gifts-credits-Container .CouponTitle .more_info2,#SelectGiftCardContainer .GiftCards-title .more_info2 {height: 20px; margin-left: 5px; display: inline-block; background: url('//cdn.goomena.com/images2/mbr2/questmark.png') no-repeat scroll 100% -24px;  width: 19px; text-indent: -9999px; vertical-align: text-bottom; }
.InnerFreeCountContainer{
 
color: white;
padding-bottom: 14px;
padding-left: 6px;
padding-right: 6px;
text-align: center;

}
/*#SelectGiftCardContainer .GiftCards-title .more_info2{
    height: 20px;
margin-left: 5px;
display: inline-block;
background: url('//cdn.goomena.com/images2/mbr2/questmark.png') no-repeat scroll 100% -24px;
width: 19px;
text-indent: -9999px;
vertical-align: text-bottom;
}*/
#SelectGiftCardContainer .GiftCards-title{
background: url(//cdn.goomena.com/images2/gifts/header-box-2.png) no-repeat scroll 0 0;
height: 124px;
background-size: contain;
margin-top: 6px;
margin-bottom: 8px;
color: white;
font-size: 17px;
font-weight: bold;

line-height: 43px;
}
#SelectGiftCardContainer .GiftCards-title .TitleContainer{
    margin-left: 18px;
    display: inline-block;}
 .friends-list .two-box .login-wrap{
     top:2px;
 }
  #SelectGiftCardContainer .ReapeaterHeader{
     background: url(//cdn.goomena.com/images2/gifts/gift-card.png) no-repeat scroll 0 0;
     height:53px;
     width: 275px;
margin-left: 13px;
 }
    #SelectGiftCardContainer .AvaliableHeader{
     background: url(//cdn.goomena.com/images2/gifts/amounts.png?v3) no-repeat scroll 0 0;
     height:48px;
     width: 275px;
margin-left: 2px;
 }
 #SelectGiftCardContainer .ReapeaterHeader{
     background: url(//cdn.goomena.com/images2/gifts/gift-card.png) no-repeat scroll 0 0;
     height:53px;
     width: 275px;
margin-left: 13px;
 }
     #SelectGiftCardContainer .GiftCardInnerBox2 .lblAmmount{
      font-size: 19px;
  font-weight: bold;
  color: #233333;
  margin-top: 14px;
  display: block;
     }
        #SelectGiftCardContainer .GiftCardInnerBox2 .ValuedGiftCard{
  display: inline-block;
  margin-top: 12px;
        }
        #SelectGiftCardContainer .GiftCardInnerBox2 .Description{
            padding-top: 4px;
        }
.my-coupons{
    width: 328px;
margin-left: auto;
margin-right: auto;
margin-top: -26px;
}

.profile  .lfloat .profile-picture .round-img-78{
    margin-left: auto;
margin-right: auto;
}
.profile  .lfloat  .Name{
    text-align: center;
}
.profile .lfloat .Name .login-name{
  color: #562e3d;
  font-size:22px;
}


    .SmallPopupNotEnoughCreditsContainer .SmallPopupNotEnoughInner{
   background-color: #2A343E;
color: white;
font-size: 14px;
padding: 10px;
line-height: 15px;
/* width: 119%; */
display: inline-block;
z-index: 100;
position: absolute;
/* padding-left: 0px; */
/* margin-left: -13px; */
/* margin: 0px 22px 0px -12px; */
left: -9px;
/*-webkit-box-shadow: 0px 3px 17px 4px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 3px 17px 4px rgba(0,0,0,0.5);
box-shadow: 0px 3px 17px 4px rgba(0,0,0,0.5);*/
/*border-radius: 8px;*/

text-align: center;
margin: 0px;
    }
    
    .SmallPopupNotEnoughCreditsContainer .Triangle{
        display:none;
width: 0;
height: 0;
border-style: solid;
border-width: 0 36px 11.2px 36px;
border-color: transparent transparent #2A343E transparent;

margin-left: auto;
margin-right: auto;
top: -18px;
position: relative;
margin-bottom: -15px;
    }
    .PopupText{

    }

    .SmallPopupNotEnoughCreditsContainer{
        display: block;
position: relative;
  top: -36px;
  margin-left: 12px;
  margin-right: 4px;
/*width: 216px;*/
    }
    /*.SmallPopupNotEnoughCreditsContainer{top:4px;}*/
/*EndOf NewArrange*/

#blanket {
   background-color:#111;
   opacity: 0.65;
   *background:none;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
}


#SelectGiftCardContainer .AvaliablePopUpConfirm .dxpcControl{  border-radius: 6px;}
#SelectGiftCardContainer .AvaliablePopUpConfirm .PopUpMessage{  font-size: 17px;
  text-align: center;
  display: block;
  margin-top: 32px;
    padding-bottom: 28px;
}

#SelectGiftCardContainer .AvaliablePopUpConfirm .btnConfirm{
         background: url(//cdn.goomena.com/images2/gifts/confirm-button.png) no-repeat scroll -4px -2px;
   display: block;
  width: 233px;
  height: 41px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  font-weight: bold;
  color: white;
  line-height: 41px;
  padding-bottom: 7px;
}
#SelectGiftCardContainer .AvaliablePopUpConfirm .btnConfirm:hover  {
      background-position:-4px -61px;
}
#SelectGiftCardContainer .AvaliablePopUpConfirm .btnCancel{
  display: block;
  color: #969fa4;
  font-size: 15px;
  text-decoration: underline;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 55px;
}
#SelectGiftCardContainer .AvaliablePopUpConfirm .btnCancel:hover{
    cursor:pointer;
}
#SelectGiftCardContainer  .ErrorBox{  /*display: block;*/
  color: red;
  font-size: 14px;
  font-weight: bold;
  margin-left: 12px;}

.pnlCreditsAnalysis .popUpClosebtn{
      position: absolute;
  top: -20px;
  right: -20px;
}
.pnlCreditsAnalysis .popUpClosebtn:hover{
    cursor:pointer;
}
.pnlCreditsAnalysis .dxpcControl.popMoreFriends {
      border-radius: 6px;
}
.pnlCreditsAnalysis   .pnlMoreFriends{
     background-color: white;
  width: 467px;
  font-size: 16px;
  color: #562e3d;
  /*height: 537px;
  overflow-y: scroll;*/
}
.pnlCreditsAnalysis  .pnlMoreFriends .MoreFriendsHeader{
    height: 50px;
        border-bottom: 2px solid #e3e3e3;
}
.pnlCreditsAnalysis .pnlMoreFriends .MoreFriendsHeader .lfloat{
      margin-top: 23px;
      margin-left: 45px;
}
.pnlCreditsAnalysis .pnlMoreFriends .MoreFriendsHeader .rfloat{
   margin-right: 45px;
  margin-top: 23px;
    font-weight: bold;
}
.pnlCreditsAnalysis .pnlMoreFriends .rptContainerMoreFriends .rfloat{
       font-weight: bold;
}
.pnlCreditsAnalysis .pnlMoreFriends .rptContainerMoreFriends{
  padding-left: 36px;
  padding-right: 45px;
  height: 506px;
  overflow-y: scroll;
}
.pnlCreditsAnalysis .pnlMoreFriends .rptContainerMoreFriends.scroll{
    padding-right: 28px;
}
.pnlCreditsAnalysis .pnlMoreFriends .rptContainerMoreFriends .FriendContainer{
     border-bottom: 1px solid #e3e3e3;
       height: 70px;
}
.pnlCreditsAnalysis .pnlMoreFriends .rptContainerMoreFriends .FriendContainer .Outer{
      height: 70px;
  display: table;
}
    .pnlCreditsAnalysis .pnlMoreFriends .rptContainerMoreFriends .FriendContainer .middle {
        display: table-cell;
  vertical-align: middle;
    }
  .pnlCreditsAnalysis .pnlMoreFriends .rptContainerMoreFriends .FriendContainer  .login-name{
      font-size:16px;
      color:#593442;
        margin-left: 23px;
  }

  #OrderList{  margin-top: 11px;}

  #OrderList .rptContainerOrders{  background-color: white;}
   #OrderList  .rptContainerOrders .HeaderContainer{
       font-size:14px;
       font-weight:bold;
       border-bottom:2px solid #909aa4;
       color:#909aa4;
   }
   #OrderList  .rptContainerOrders .HeaderContainer  .Outer  {  height: 34px;}
    #OrderList  .rptContainerOrders  .Outer{
       display:table;
       margin-left:5px;
       margin-right:5px;

   }
    #OrderList  .rptContainerOrders  .middle{
       display:table-cell;
       vertical-align:middle;
       text-align:center;
   }
    #OrderList  .rptContainerOrders  .middle .GiftCard{
text-align:left;
width:200px;
margin-left:15px;


   }
     #OrderList  .lnkBackTOCouponContainer{display: block;
  margin-top: 10px;
  margin-left: 15px;
  font-size: 15px;}
     #OrderList  .rptContainerOrders .OrderContainer .middle .GiftCard{
         font-size:17px;
         font-weight:bold;
     }
       #OrderList  .rptContainerOrders .OrderContainer{
           font-size:14px;
           border-bottom:2px solid #ebebed;
       }
       #OrderList  .rptContainerOrders .OrderContainer  .Outer {
           height: 51px;
       }
     #OrderList  .rptContainerOrders  .middle .Points{
         width:100px;
     }
      #OrderList  .rptContainerOrders  .middle .Date{
         width:135px;
     }
         #OrderList  .rptContainerOrders  .middle .Status{
         width:220px;
     }
/*Confirm*/


/*Confirm End*/