﻿.landing-content a, .landing-content a h1,.landing-content a:visited,.landing-content a:visited h1 {color:#24A9E1;text-decoration:none;}
.landing-content a:hover,.landing-content a:hover h1{color: #007ada;}
.pe_box a,
.pe_box a:visited{color:#000;text-decoration:none;}
.pe_box a:hover{color:#00aeef;}
.landingdiv1.pe_box {text-align:left;width:1000px;margin-bottom:102px;}
.section-1 {width:1424px;}
.section-1-ext, .section-3-ext {background-color: #EEEEEE;}
.mosaic { margin-top:0;margin-bottom:0;}
.members-photos {height: 109px;}
.section-2 {position: relative;margin-top: 20px;}
.pe_box a.register-me {line-height:64px;display:block;width:236px;height:69px;font-size:22px;
                    background:url(//cdn.goomena.com/images/landing/register-button2.png) no-repeat scroll 0 0;color:#fff}
.pe_box a.register-me:hover {background-position:0 -172px;color:#fff}


.landing-bottom-container {margin-top: 50px;margin-bottom: 50px;background-color:#141f33;min-width: 1424px;}
.landing-bottom { width:944px;margin-left: auto;margin-right: auto;}
.landing-bottom-up {margin-top: 35px;}
.landing-bottom-down {margin-top: 35px;}
.landingFacesContainer {width:136px;height:190px;margin-right:25px;margin-left:0px;overflow:hidden;}
.landingFacesContainer.face-last{margin-right:0px;}
.landingFacesContainer .landingimgborder{background:none;width: 138px;height: 138px;text-decoration:none;}
.landingFacesContainer .login-name {margin:5px 0 0;font-size:22px;font-weight:bold;color:#ed5565;}
.landingFacesContainer .profile-info {margin:0;font-size:13px;font-weight:bold;color:#fff;}
.landingFacesContainer .FaceImg {width: 130px;height: 130px;border-radius: 130px;margin-top: 0;margin-left: 0; }
.landing-bottom-register {float: right;width:448px;margin-top: 12px;}
.landingregbtn {font-size:31px;color: white; padding-top: 25px; display: block; width: 336px; height: 65px; background: none; border: 3px solid #fff;margin-left: auto;margin-right: auto;}
.landingregbtn:hover {background: none;color:#141f33; background-color:white; }
.landing-bottom-register .register-text,.landing-bottom-register .register-text h1{font-size:18px;font-weight:bold;color:#ed5565;text-align:center;}
.landing-bottom-register .register-text h1 { margin-top:20px;}
.landing-helper {margin-left: auto;width: 1420px;margin-right: auto;}
.landing-connect-buttons {height:200px;margin-top:80px;}

.landing-connect-buttons a {text-align: center;text-decoration: none;font-size:16px;color: white;display: block;padding-top: 19px;height:41px;padding-right:61px;}
.register-email,.register-gplus,.register-fb {width:315px;}
.register-email{padding-right:45px;}
.register-email a {width:206px;background: url("//cdn.goomena.com/images/landing/register_mail.png?v=1") no-repeat scroll 0 0;}
.register-fb a {width:206px;background: url("//cdn.goomena.com/images/landing/register_fb.png?v=1") no-repeat scroll 0 0;}
.register-email a:hover {background: url("//cdn.goomena.com/images/landing/register_mail.png?v=1") no-repeat scroll 0 100%;}
.register-fb a:hover {background: url("//cdn.goomena.com/images/landing/register_fb.png?v=1") no-repeat scroll 0 100%;}
.register-gplus { display:none;}
.register-gplus a {width:204px;background: url("//cdn.goomena.com/images/landing/register_goo.png?v=1") no-repeat scroll 0 0;}
.landing-connect-buttons .landing-bottom { width:680px;}
.landing-connect-buttons .connect-text { position:relative;}
.landing-connect-buttons .connect-text .fb-wall{position: absolute;top: 10px;left: 362px;width: 434px;font-size: 13px;text-align: left;}
    
a.landingimgborder img.FaceImg {border: 3px solid #141F33;}
a.landingimgborder:hover img.FaceImg {border: 3px solid #fff;}


.dark-box {margin-bottom: 10px;margin-top: 10px;line-height:22px;background-color:#1F1D32;position:relative; -webkit-border-radius: 3px; -moz-border-radius:3px; border-radius:3px;}
.dark-box p {padding:15px 20px 15px 38px;font-size:17px; font-weight: normal;font-style:italic;color:#fff;}

.landing20140627 .middle-photos-question,
.landing20140704 .middle-photos-question,
.landing20140711 .middle-photos-question,
.landing20140715 .middle-photos-question{width: 240px;height:1px;margin:84px auto 0;position:relative;}
.landing20140627 .middle-photos-question .text1,
.landing20140704 .middle-photos-question .text1,
.landing20140711 .middle-photos-question .text1,
.landing20140715 .middle-photos-question .text1{
    width: 240px;font-size:25px;background-color:#19243A; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
    position:absolute;top:-5px;color:#fff;text-align:center;line-height: 50px;padding-bottom: 10px;
    -webkit-box-shadow: 7px 7px 14px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 14px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 14px 0px rgba(50, 50, 50, 0.75);
}

.landing20140704 .middle-photos-question{margin-top:52px;}
.landing20140715 .landingdiv1 a.register-me {width:238px; margin-left:13px;background:url(//cdn.goomena.com/images/landing/button-0715.png) no-repeat scroll 0 0;}
.landing20140715 .landingdiv1 a.register-me:hover {background-position:0 -114px;}
.section-1, .section-2, .section-3,.header-bottom-ext,.landing-bottom-container  {min-width: 1424px;}

.landing20140715 .landingdiv1 a.register-me {width:238px; margin-left:13px;background:url(//cdn.goomena.com/images/landing/button-0715.png) no-repeat scroll 0 0;}
.landing20140715 .landingdiv1 a.register-me:hover {background-position:0 -114px;}

.landing20141107 .landingdiv1 a.register-mewithGomenaOnTop{line-height:64px;display:block;width:201px;height:124px;font-size:22px;
                    background:url(//cdn.goomena.com/Images/Landing/register-en-button201411072.png) no-repeat scroll 0 0;}
    .landing20141107 .landingdiv1 a.register-mewithGomenaOnTop:hover {
        background: url(//cdn.goomena.com/Images/Landing/register-en-button201411072.png) no-repeat scroll 0 -150px;
    }

.landingcontainer.GR .landing-content .landing20141107 .landingdiv1 a.register-mewithGomenaOnTop{line-height:64px;display:block;width:201px;height:124px;font-size:22px;
                     background: url(//cdn.goomena.com/Images/Landing/register-gr-button20141107.png) no-repeat scroll 0 0!important;}
.landingcontainer.GR .landing-content .landing20141107 .landingdiv1 a.register-mewithGomenaOnTop:hover {background: url(//cdn.goomena.com/Images/Landing/register-gr-button20141107.png) no-repeat scroll 0 -150px!important;}


