﻿.center-table { margin-left: auto; margin-right: auto; }

#payments_pub { font-family:'Segoe UI','Arial'; margin:0 auto;width:920px;}
#payments_pub .top-wrap { }
#payments_pub .top-wrap h3 { font-size: 19px; font-weight: normal; margin-bottom: 10px; }
#payments_pub .top-wrap h4 { font-size: 15px; font-weight: normal; margin-top: 0px; }
#payments_pub .top-wrap div#title_one {display: block;background: url('//cdn.goomena.com/images2/payment/1.png') no-repeat scroll 0 0;width: 157px;height: 48px;font-size: 13px;font-weight: bold;overflow: hidden;padding-left: 17px;padding-top: 10px;padding-right: 10px;}
#payments_pub .top-wrap div#title_two {display: block;background: url('//cdn.goomena.com/images2/payment/2.png') no-repeat scroll 0 0;width: 157px;height: 53px;font-size: 13px;font-weight: bold;overflow: hidden;padding-left: 17px;padding-top: 10px;padding-right: 10px;}
#payments_pub .top-wrap div#title_three {display:block; background: url('//cdn.goomena.com/images2/payment/3.png') no-repeat scroll 0 0;width: 184px;height: 53px;font-size: 13px;font-weight: bold;overflow: hidden;padding-left: 17px;padding-top: 10px;padding-right: 10px;}
#payments_pub .top-wrap .img-text-3 { position: relative; height: 150px; }
#payments_pub .top-wrap .text-31 { width: 186px; text-align: left; position: absolute; left: 0px;}
#payments_pub .top-wrap .text-32 { width: 186px; text-align: left; position: absolute; left: 219px; }
#payments_pub .top-wrap .text-33 { width: 211px; text-align: left; position: absolute; left: 433px; }
#payments_pub .top-wrap .img-text-3 p { font-size: 13px; }
#payments_pub .top-wrap .img-text-3 p { font-size: 13px; }
    
#payments_pub .wrap-2 { position: relative; width: 663px; }
#payments_pub .wrap-2 .blue-credits { font-size: 18px; color: #33b5e5; font-weight: normal; }
#payments_pub .wrap-2 .geotrust { position: absolute; right: 0px; top: 0px; }
    
#payments_pub #products_2 { position: relative;height: 350px; }
#payments_pub .product-tab {display:block;cursor:pointer;width:251px;height:338px;position:relative;}
#payments_pub .product-1 {background: url('//cdn.goomena.com/goomena-kostas/pricing/for-public.png') no-repeat scroll 0 0;position: absolute; left: 10px; top:9px;}
#payments_pub .product-2 {background: url('//cdn.goomena.com/goomena-kostas/pricing/for-public.png') no-repeat scroll 0 0; position: absolute; left: 313px; top:9px;}
#payments_pub .product-3 {background: url('//cdn.goomena.com/goomena-kostas/pricing/for-public-recommend.png') no-repeat scroll 0 0; position: absolute; width:287px;height:338px; left:601px; top:8px;}

#payments_pub .pricecol { position: absolute; top: 20px; left: 15px; background-repeat: no-repeat; width: 85px; height: 85px; }
#payments_pub .product-1 .pricecol { }
#payments_pub .product-2 .pricecol {}
#payments_pub .product-3 .pricecol {}
    
#payments_pub .pricecol-credits { position: absolute; top:0px; left: 0; right: 0; font-size: 42px; color: #000;text-align: center; }
#payments_pub .pricecol-credits-text { position: absolute; top: 62px; left: 0;right:0;  font-size: 27px; color: #000; text-align: center; }
#payments_pub .pricecol-price { position: absolute; top: 145px; left: 0;right:0; font-size: 54px; color: #000; text-align: center;}
#payments_pub .product-3 .pricecol-price { top: 154px;}
    
    
#payments_pub .pricecol-expire-wrap { position: absolute; top: 51px; left: 0;right:0; font-size: 14px; color: #000; background: url('//cdn.goomena.com/images2/payment/check-cycle.png') no-repeat scroll 0 50%; padding-left: 20px; vertical-align: middle; display:none;}
#payments_pub .product-3 .pricecol-expire-wrap { top: 58px;}
#payments_pub .pricecol-expire { position: absolute; top: 152px; left: 30px; font-size: 14px; color: #000; background: url('//cdn.goomena.com/images2/payment/check-cycle.png') no-repeat scroll 0 50%; padding-left: 20px; vertical-align: middle; }
#payments_pub .pricecol-expire-line2 { position: absolute; top: 176px; left: 30px; font-size: 14px; color: #000; background: url('//cdn.goomena.com/images2/payment/check-cycle.png') no-repeat scroll 0 50%; padding-left: 20px; vertical-align: middle; }
#payments_pub .pricecol-expire-line3 { position: absolute; top: 200px; left: 30px; font-size: 14px; color: #000; background: url('//cdn.goomena.com/images2/payment/check-cycle.png') no-repeat scroll 0 50%; padding-left: 20px; vertical-align: middle; }
#payments_pub .pricecol-order-btn { color: #fff; text-transform: uppercase; font-size: 15px; text-align: center; line-height: 37px; 
                                            border-width: 0px; width: 129px; height: 35px; position: absolute; bottom: 32px; left: 62px; 
                                            display: inline-block; 
                                            background: url('//cdn.goomena.com/goomena-kostas/pricing/order-button.png') no-repeat scroll 100% 100%;text-indent:-9999px; }
#payments_pub .wrap-3 { margin-top: 40px; width: 663px; margin-left: auto; margin-right: auto; }
#payments_pub .wrap-3 .rightdiv { text-align: center; }
#payments_pub .wrap-3 .rightdiv p { line-height: 20px; font-size: 14px; }
#payments_pub .wrap-3 .oikonomikadiv {margin-top: 40px; margin-left: auto; margin-right: auto; width: 663px; height: 115px; background: url('//cdn.goomena.com/images2/payment/symferei.png') no-repeat scroll 0 0; }
#payments_pub .wrap-3 .oikonomikadiv p {padding-top: 10px;margin-left: 25px;}
#payments_pub .wrap-3 p.note-2 { font-size: 13px; margin-top: 50px; }
#payments_pub .wrap-3 .gifts { margin-top: 50px; display: none; }
#payments_pub .wrap-3 p.note { padding-top: 25px; border-top: 1px solid #bababc; margin-top: 60px; font-size: 10px; font-family: "Segoe UI" , "Arial"; }
#payments_pub .paymentsimgs {margin:15px auto 0;width:663px;text-align:center;}
    
#payments_pub .pricecol-price.small {position: absolute; top: 76px; left: 0;right:20px; font-size: 32px; color: #000;text-align:right;}
#payments_pub .product-1.tr .pricecol-price {top: 152px;background: url('//cdn.goomena.com/images2/payment/42-1.png') no-repeat scroll 50% 50%;height:56px;}
#payments_pub .product-2.tr .pricecol-price {top: 152px;background: url('//cdn.goomena.com/images2/payment/100-1.png') no-repeat scroll 50% 50%;height:57px;}
#payments_pub .product-3.tr .pricecol-price {top: 159px;background: url('//cdn.goomena.com/images2/payment/180-1.png') no-repeat scroll 50% 50%;height:57px;}
#payments_pub .product-4{display:none;}    

#payments_pub .ordbut { position: absolute; bottom: 27px; right: 25%; }
#payments_pub .ordbut2 { position: absolute; bottom: 27px; right: 29%; }
#payments_pub .pricecol { position: relative;font-family:"Segoe UI","Arial"; }
#payments_pub .pricecol-credits { text-align:center;font-size:42px;line-height:42px;padding-top:20px;}
#payments_pub .pricecol-credits-text { text-align:center;font-size:22px;line-height:25px;}
#payments_pub .pricecol-price {position:absolute;top:149px;left:0px;right:0px; }
#payments_pub .pricecol-price-text {text-align:center;font-size:56px;line-height:42px;color:#39B54A; }
#payments_pub .pricecol-expire {position:absolute;top:200px;left:0px;right:0px; display:none;}
#payments_pub .pricecol-expire-text {text-align:center;font-size:14px;}
#payments_pub .pricecol-price.small {top:159px; }
#payments_pub .pricecol-price.small .pricecol-price-text{font-size:36px;line-height:36px; }
#payments_pub .pricecol-expire.small .pricecol-expire-text{}
    
     
#payments_pub .product-4{display:block;}    
#payments_pub #products_2 {height: 410px;margin: 6px auto 0;width: 866px;background: url('//cdn.goomena.com/images2/payment/xmas-pub/logos.png') no-repeat scroll 50% 100%; }
#payments_pub .product-tab{position: absolute; width: 218px; height: 347px;}
#payments_pub .product-1 {background: url('//cdn.goomena.com/images2/payment/xmas-pub/1000-public.png') no-repeat scroll 0 3px;left:-13px;top:9px;}
#payments_pub .product-1:hover{background-position:0 -490px;}
#payments_pub .product-2 {background: url('//cdn.goomena.com/images2/payment/xmas-pub/3000-public.png') no-repeat scroll 0 3px;left:201px;top:9px;}
#payments_pub .product-2:hover{background-position:0 -490px;}
#payments_pub .product-3 {background: url('//cdn.goomena.com/images2/payment/6000-pub.png') no-repeat scroll 0 3px;width:220px;height:347px;left:637px;top:9px;}
#payments_pub .product-3:hover{background-position:1px -490px;}
#payments_pub .product-5 {background: url('//cdn.goomena.com/images2/payment/10000-pub.png') no-repeat scroll 0 3px;width:220px;height:347px;left:418px;top:9px;}
#payments_pub .product-5:hover{background-position:0 -489px;}
/*#payments_pub .product-5 {background: url('//cdn.goomena.com/images2/payment/10000-pubdouble.png') no-repeat scroll 0 3px;width:220px;height:347px;left:418px;top:9px;}
#payments_pub .product-5:hover{background-position:0 -490px;}*/
#payments_pub .pricecol {}
#payments_pub .pricecol-credits { color:#fff;font-size: 54px;top: 15px;}
#payments_pub .pricecol-credits-text {color:#fff;font-size: 35px;top: 69px;}

#payments_pub .pricecol-price {font-size: 60px;top: 170px; color:#000;}
#payments_pub .pricecol-price-text {color:#000; }
#payments_pub .pricecol-price-text .small {font-size: 25px;vertical-align: super;}

#payments_pub .pricecol-order-btn {bottom: 54px;left: 46px;background: url('//cdn.goomena.com/images2/payment/xmas-pub/order-button.png') no-repeat scroll 0% -7%; text-indent:0px; text-decoration:none;font-weight:bold;}
#payments_pub .pricecol-order-btn:hover {background-position:100% 100%;}

#payments_pub .product-3 .pricecol,.product-5 .pricecol {}
#payments_pub .product-3 .pricecol-credits,.product-5 .pricecol-credits  {top:17px;}
#payments_pub .product-3 .pricecol-credits-text,.product-5 .pricecol-credits-text  {top:69px;}
#payments_pub .product-3 .pricecol-price,.product-5 .pricecol-price  {top:172px;}
#payments_pub .product-3 .pricecol-expire-wrap {top: 58px;}
#payments_pub .product-3 .pricecol-order-btn {bottom: 54px;left: 47px;}
#payments_pub .product-5 .pricecol-order-btn {bottom: 54px;left: 47px;}
#payments_pub .product-4{display:none;}

#payments_pub .paymentsimgs{padding-bottom: 229px;background: url('//cdn.goomena.com/images2/payment/credits-banner-gr.png') no-repeat scroll 102% 100%;}
    #payments_pub.us .paymentsimgs{background: url('//cdn.goomena.com/images2/payment/credits-banner-en.png') no-repeat scroll 102% 100%;}
#payments_pub.es .paymentsimgs{background: url('//cdn.goomena.com/images2/payment/credits-banner-es.png') no-repeat scroll 102% 100%;}
/*#payments_pub .paymentsimgs{padding-bottom: 229px;background: url('//cdn.goomena.com/images2/payment/double-offer-gr.png') no-repeat scroll 102% 100%;}
#payments_pub.us .paymentsimgs{padding-bottom: 229px;background: url('//cdn.goomena.com/images2/payment/double-offer-en.png') no-repeat scroll 102% 100%;}
#payments_pub.es .paymentsimgs{padding-bottom: 229px;background: url('//cdn.goomena.com/images2/payment/double-offer-en.png.png') no-repeat scroll 102% 100%;}*/
/* xmas offer */    
#payments_pub.xmas .product-4 {background: url('//cdn.goomena.com/images2/payment/xmas-pub/5000-public.png') no-repeat scroll 0 3px;width:220px;height:415px;left:418px;top:-58px;}
#payments_pub.xmas .product-4:hover{background-position:0 -490px;}
#payments_pub.xmas .product-4 .pricecol-credits { top: 83px;  }
#payments_pub.xmas .product-4 .pricecol-credits-text { top: 69px;  }
#payments_pub.xmas .product-4 .pricecol-price { top: 238px;}
#payments_pub.xmas .product-4 .pricecol-expire-wrap { top: 58px;}
#payments_pub.xmas .product-4 .pricecol-order-btn {left: 44px;bottom: 56px;}
#payments_pub.xmas .paymentsimgs img{display:none;}
#payments_pub.xmas .paymentsimgs {margin:38px auto;height:153px;background: url('//cdn.goomena.com/images2/payment/xmas/banner-greek.png') no-repeat scroll 50% 100%;}
#payments_pub.xmas.us .paymentsimgs{background: url('//cdn.goomena.com/images2/payment/xmas/banner-eng.png') no-repeat scroll 50% 100%;}

 /* xmas offer end */    
 
#payments_pub .timesdiv1{width:auto !important;}
#payments_pub .timesdiv1 h2{font-size: 28px;background: url('//cdn.goomena.com/images2/payment/xmas-pub/geotrust-logo.png') no-repeat scroll 100% 100%;margin-left:auto;margin-right:auto;width: 866px;}



#payment_2 { font-family: 'Segoe UI' , 'Arial'; }
#payment_2 .top-wrap { }
#payment_2 .top-wrap h3 { font-size: 19px; font-weight: normal; margin-bottom: 10px; }
#payment_2 .top-wrap h4 { font-size: 15px; font-weight: normal; margin-top: 0px; }
#payment_2 .top-wrap div#title_one {display: block;background: url('//cdn.goomena.com/images2/payment/1.png') no-repeat scroll 0 0;width: 157px;height: 48px;font-size: 13px;font-weight: bold;overflow: hidden;padding-left: 17px;padding-top: 10px;padding-right: 10px;}
#payment_2 .top-wrap div#title_two {display: block;background: url('//cdn.goomena.com/images2/payment/2.png') no-repeat scroll 0 0;width: 157px;height: 53px;font-size: 13px;font-weight: bold;overflow: hidden;padding-left: 17px;padding-top: 10px;padding-right: 10px;}
#payment_2 .top-wrap div#title_three {display:block; background: url('//cdn.goomena.com/images2/payment/3.png') no-repeat scroll 0 0;width: 184px;height: 53px;font-size: 13px;font-weight: bold;overflow: hidden;padding-left: 17px;padding-top: 10px;padding-right: 10px;}
#payment_2 .top-wrap .img-text-3 { position: relative; height: 150px; }
#payment_2 .top-wrap .text-31 { width: 186px; text-align: left; position: absolute; left: 0px;}
#payment_2 .top-wrap .text-32 { width: 186px; text-align: left; position: absolute; left: 219px; }
#payment_2 .top-wrap .text-33 { width: 211px; text-align: left; position: absolute; left: 433px; }
#payment_2 .top-wrap .img-text-3 p { font-size: 13px; }
#payment_2 .top-wrap .img-text-3 p { font-size: 13px; }
    
#payment_2 .wrap-2 { position: relative; width: 663px; }
#payment_2 .wrap-2 .blue-credits { font-size: 18px; color: #33b5e5; font-weight: normal; }
#payment_2 .wrap-2 .geotrust { position: absolute; right: 0px; top: 0px; }
    
#payment_2 #products_2 { position: relative;}
/*
#payment_2 #products_2 {height: 350px; }
#payment_2 .product-1 {background: url('//cdn.goomena.com/images2/payment/1000-box.png') no-repeat scroll 0 0; position: absolute; width: 217px; height: 340px; left: 0px; top:9px;}
#payment_2 .product-2 {background: url('//cdn.goomena.com/images2/payment/3000-box.png') no-repeat scroll 0 0; position: absolute; width: 217px; height: 340px; left: 221px; top:9px;}
#payment_2 .product-3 {background: url('//cdn.goomena.com/images2/payment/6000-box.png') no-repeat scroll 0 0; position: absolute; width: 217px; height: 340px; left: 442px; top:0px;}
#payment_2 .product-1:hover{background: url('//cdn.goomena.com/images2/payment/1000-box-hover.png') no-repeat scroll 0 0; }
#payment_2 .product-2:hover{background: url('//cdn.goomena.com/images2/payment/3000-box-hover.png') no-repeat scroll 0 0;}
#payment_2 .product-3:hover{background: url('//cdn.goomena.com/images2/payment/6000-box-hover.png') no-repeat scroll 0 0;}
  */  
#payment_2 .pricecol { position: absolute; top: 20px; left: 15px; background-repeat: no-repeat; width: 85px; height: 85px; }
#payment_2 .product-1 .pricecol { }
#payment_2 .product-2 .pricecol {}
#payment_2 .product-3 .pricecol {}
    
#payment_2 .pricecol-credits { position: absolute; top: 20px; left: 0; right: 0; font-size: 42px; color: #fff;text-align: center; }
#payment_2 .pricecol-credits-text { position: absolute; top: 42px; left: 0;right:0;  font-size: 27px; color: #fff; text-align: center; }
#payment_2 .product-3  .pricecol-credits { top: 29px;  }
#payment_2 .product-3  .pricecol-credits-text { top: 45px;  }

#payment_2 .pricecol-price { position: absolute; top: 145px; left: 0;right:0; font-size: 54px; color: #000; text-align: center;}
#payment_2 .product-3 .pricecol-price { top: 154px;}
    
    
#payment_2 .pricecol-expire-wrap { position: absolute; top: 51px; left: 0;right:0; font-size: 14px; color: #000; background: url('//cdn.goomena.com/images2/payment/check-cycle.png') no-repeat scroll 0 50%; padding-left: 20px; vertical-align: middle; display:none;}
#payment_2 .product-3 .pricecol-expire-wrap { top: 58px;}
#payment_2 .pricecol-expire { position: absolute; top: 152px; left: 30px; font-size: 14px; color: #000; background: url('//cdn.goomena.com/images2/payment/check-cycle.png') no-repeat scroll 0 50%; padding-left: 20px; vertical-align: middle; }
#payment_2 .pricecol-expire-line2 { position: absolute; top: 176px; left: 30px; font-size: 14px; color: #000; background: url('//cdn.goomena.com/images2/payment/check-cycle.png') no-repeat scroll 0 50%; padding-left: 20px; vertical-align: middle; }
#payment_2 .pricecol-expire-line3 { position: absolute; top: 200px; left: 30px; font-size: 14px; color: #000; background: url('//cdn.goomena.com/images2/payment/check-cycle.png') no-repeat scroll 0 50%; padding-left: 20px; vertical-align: middle; }
#payment_2 .pricecol-order-btn { color: #fff; text-transform: uppercase; font-size: 15px; text-align: center; line-height: 37px; 
                                            border-width: 0px; width: 129px; height: 35px; position: absolute; bottom: 39px; left: 44px; 
                                            display: inline-block; 
                                            background: url('//cdn.goomena.com/images2/payment/order-button.png') no-repeat scroll 100% 100%; }
#payment_2 .pricecol-order-btn:hover {background-position:0 -7%;}
#payment_2 .product-3 .pricecol-order-btn {bottom: 30px;}
#payment_2 .wrap-3 { margin-top: 0; width: 663px; margin-left: auto; margin-right: auto; }
#payment_2 .wrap-3 .rightdiv { text-align: center; }
#payment_2 .wrap-3 .rightdiv p { line-height: 20px; font-size: 14px; }
#payment_2 .wrap-3 .oikonomikadiv {margin-top: 40px; margin-left: auto; margin-right: auto; width: 663px; height: 115px; background: url('//cdn.goomena.com/images2/payment/symferei.png') no-repeat scroll 0 0; }
#payment_2 .wrap-3 .oikonomikadiv p {padding-top: 10px;margin-left: 25px;}
#payment_2 .wrap-3 p.note-2 { font-size: 13px; margin-top: 50px; }
#payment_2 .wrap-3 .gifts { margin-top: 50px; display: none; }
#payment_2 .wrap-3 p.note { padding-top: 25px; border-top: 1px solid #bababc; margin-top: 60px; font-size: 10px; font-family: "Segoe UI" , "Arial"; }
#payment_2 .paymentsimgs {margin:15px 0 0;width:663px;text-align:center;}
    
#payment_2 .pricecol-price.small {position: absolute; top: 76px; left: 0;right:20px; font-size: 32px; color: #000;text-align:right;}
#payment_2 .product-tab {display:block;cursor:pointer;}
#payment_2 .product-1.tr .pricecol-price {top: 152px;background: url('//cdn.goomena.com/images2/payment/42-1.png') no-repeat scroll 50% 50%;height:56px;}
#payment_2 .product-2.tr .pricecol-price {top: 152px;background: url('//cdn.goomena.com/images2/payment/100-1.png') no-repeat scroll 50% 50%;height:57px;}
#payment_2 .product-3.tr .pricecol-price {top: 159px;background: url('//cdn.goomena.com/images2/payment/180-1.png') no-repeat scroll 50% 50%;height:57px;}
    
#payment_2 #products_2{height: 280px;}
#payment_2 .product-tab{position: absolute; width: 176px; height: 270px;}
#payment_2 .product-1 {background: url('//cdn.goomena.com/images2/payment/xmas/1000-credits.png') no-repeat scroll 0 1px;left:-13px;top:9px;}
#payment_2 .product-1:hover{background-position:0 -411px;}
#payment_2 .product-2 {background: url('//cdn.goomena.com/images2/payment/xmas/3000credits.png') no-repeat scroll 0 1px;left:160px;top:9px;}
#payment_2 .product-2:hover{background-position:0 -411px;}
#payment_2 .product-3 {background: url('//cdn.goomena.com/images2/payment/6000credits-2.png') no-repeat scroll 0 1px;width:176px;height:270px;left:506px;top:9px;}
#payment_2 .product-3:hover{background-position:0 -412px;}
#payment_2 .product-5 {background: url('//cdn.goomena.com/images2/payment/10000credits-2.png') no-repeat scroll 0 1px;width:176px;height:279px;left:333px;top:9px;}
    #payment_2 .product-5:hover{background-position:0 -410px;}

/*#payment_2 .product-5 {background: url('//cdn.goomena.com/images2/payment/10000credits-double.png') no-repeat scroll 0 1px;width:176px;height:279px;left:333px;top:9px;}
#payment_2 .product-5:hover{background-position:0 -411px;}*/
/*#payment_2 .product-5 {10000credits-double.png
background: url('//cdn.goomena.com/images2/payment/10000creditsXmas.png?v2') no-repeat scroll 0 1px;
width: 176px;
height: 280px;
left: 333px;
z-index: 0;
top: -6px;
padding-top: 10px;
}
#payment_2 .product-5:hover{background-position:0 -410px;}
.product-5 .pricecol {margin-top:10px;}
.product-5 .pricecol-credits {margin-top:15px; }
.product-5 .pricecol-expire-wrap { margin-top:15px;}
.product-5 .pricecol-price{margin-top:15px;}
.product-5 .pricecol-order-btn{bottom:42px!important;}*/

#payment_2 .pricecol {}
#payment_2 .pricecol-credits { }
#payment_2 .pricecol-credits-text { }

#payment_2 .pricecol-price {font-size: 50px;top: 124px;}
#payment_2 .pricecol-order-btn {bottom: 37px;left: 23px;background: url('//cdn.goomena.com/images2/payment/xmas/order-button.png') no-repeat scroll 0% -7%; }
#payment_2 .pricecol-order-btn:hover {background-position:100% 100%;}
#payment_2 .pricecol-price .small {font-size: 25px;vertical-align: super;}


#payment_2 .product-3 .pricecol,.product-5 .pricecol {display:none;  }
#payment_2 .product-3 .pricecol-credits,.product-5 .pricecol-credits { top: 20px; }
#payment_2 .product-3 .pricecol-credits-text,.product-5 .pricecol-credits-text { top: 45px;}
#payment_2 .product-3 .pricecol-price,.product-5 .pricecol-price { top: 124px;}
#payment_2 .product-3 .pricecol-expire-wrap { top: 58px;}
#payment_2 .product-3 .pricecol-order-btn {bottom: 37px;left: 21px;}
#payment_2 .product-5 .pricecol-order-btn {bottom: 46px;left: 21px;}
#payment_2 .product-4{display:none;}
/*#payment_2 .top-wrap .img-text-3{padding-bottom:223px;background: url('//cdn.goomena.com/images2/payment/2014xms-banner-gr.png') no-repeat scroll 102% 100%; margin-bottom:25px;}*/
#payment_2 .top-wrap .img-text-3{padding-bottom:223px;background: url('//cdn.goomena.com/images2/payment/20141016OFFER-BANNER-GR.png') no-repeat scroll 102% 100%; margin-bottom:25px;}
#payment_2.us .top-wrap .img-text-3{padding-bottom:223px;background: url('//cdn.goomena.com/images2/payment/20141016OFFER-BANNER-ENG.png?v2') no-repeat scroll 102% 100%; margin-bottom:25px;}
#payment_2.es .top-wrap .img-text-3{padding-bottom:223px;background: url('//cdn.goomena.com/images2/payment/20141016OFFER-BANNER-ENG.png?v2') no-repeat scroll 102% 100%; margin-bottom:25px;}
/*#payment_2 .top-wrap .img-text-3{padding-bottom:223px;background: url('//cdn.goomena.com/images2/payment/double-offer-gr.png') no-repeat scroll 102% 100%; margin-bottom:25px;}
#payment_2.us .top-wrap .img-text-3{padding-bottom:223px;background: url('//cdn.goomena.com/images2/payment/double-offer-en.png?v2') no-repeat scroll 102% 100%; margin-bottom:25px;}
#payment_2.es .top-wrap .img-text-3{padding-bottom:223px;background: url('//cdn.goomena.com/images2/payment/double-offer-en.png?v2') no-repeat scroll 102% 100%; margin-bottom:25px;}*/
.lang-tr #payment_2 .top-wrap .img-text-3{background: url('//cdn.goomena.com/images2/payment/double-offer-en.png') no-repeat scroll 102% 100%; margin-bottom:25px;}

/* xmas offer */    
#payment_2.xmas .product-4 {display:block;background: url('//cdn.goomena.com/images2/payment/xmas/5000credits.png') no-repeat scroll 0 1px;width:176px;height:330px;left:333px;top:-44px;}
#payment_2.xmas .product-4:hover{background-position:0 -411px;}
#payment_2.xmas .product-4 .pricecol-credits {top: 73px;}
#payment_2.xmas .product-4 .pricecol-credits-text { top: 45px;}
#payment_2.xmas .product-4 .pricecol-price { top: 179px;}
#payment_2.xmas .product-4 .pricecol-expire-wrap { top: 58px;}
#payment_2.xmas .product-4 .pricecol-order-btn {bottom: 44px;}
#payment_2.xmas .top-wrap .img-text-3{padding-bottom:125px;background: url('//cdn.goomena.com/images2/payment/xmas/banner-greek.png') no-repeat scroll 50% 100%;}
#payment_2.xmas.us .top-wrap .img-text-3{padding-bottom:125px;background: url('//cdn.goomena.com/images2/payment/xmas/banner-eng.png') no-repeat scroll 50% 100%;}
#payment_2.xmas .wrap-2 {margin: 29px 0 0 0;}
#payment_2.xmas .wrap-2 .blue-credits {margin: 0;}
/* xmas offer end */

#payment_2 .sms-link-banner { display:none;}

#payment_2 .sms-link #products_2_wrapper { background: url(//cdn.goomena.com/Images2/payment/price-bg.png?v1) no-repeat scroll 0 0; height: 356px; width: 697px; padding-top: 46px; margin-left: -8px; }
#payment_2 .sms-link #products_2_wrapper #products_2 { margin-left: 14px; }
#payment_2 .sms-link #products_2_wrapper .paymentsimgs { margin-left: 14px;margin-top: 7px; }
#payment_2 .sms-link .wrap-2 .blue-credits { display: none; }
#payment_2 .sms-link .vat-info {border-bottom: 0px;margin: -23px 0px -23px 11px !important;font-size: 11px;}
#payment_2 .sms-link .after-vat-info {margin: 34px 0px;border-bottom: 1px solid #BABABC;padding-bottom: 3px;height: 42px;}
#payment_2 .sms-link .sms-link-banner { display:none;}


#payment_2 .sms-form #products_2_wrapper { background: url(//cdn.goomena.com/Images2/payment/price-bg.png?v1) no-repeat scroll 0 0; height: 356px; width: 697px; padding-top: 46px; margin-left: -8px; }
#payment_2 .sms-form #products_2_wrapper #products_2 { margin-left: 14px; }
#payment_2 .sms-form #products_2_wrapper .paymentsimgs { margin-left: 14px;margin-top: 7px; }
#payment_2 .sms-form .wrap-2 .blue-credits { display: none; }
#payment_2 .sms-form .vat-info {border-bottom: 0px;margin: -23px 0px -23px 11px !important;font-size: 11px;}
#payment_2 .sms-form .after-vat-info {margin:0px;border-bottom: 1px solid #BABABC;padding-bottom: 3px;height: 67px;}
#payment_2 .sms-form img.sms-banner {margin-top:7px;margin-left:-16px;}
#payment_2 .sms-form .mobile-icon img{margin-right:5px;}
#payment_2 .sms-form .mobile-hdr {}
#payment_2 .sms-form .form-text {width:440px;font-size:14px;margin:10px 0 10px}
#payment_2 .sms-form .form-input {width:210px;margin:10px 0 10px;}
#payment_2 .sms-form .form-input input{height:30px;line-height:25px;font-size:18px;width:130px;border:2px solid #ACACAC;-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
#payment_2 .sms-form .form-input a{display:block;height:26px;line-height:25px;font-size:14px;font-weight:bold;background-color:#6EAE02;-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;margin-left:0px;color:#fff;padding:5px 10px 5px;}
#payment_2 .sms-form .green-line {border-top:1px solid #01B39B;height:1px;width:100%;}
#payment_2 .sms-form .attention-img {width:107px;height:106px;text-align:center;margin:15px 5px 5px 5px;}
#payment_2 .sms-form .attention-text {width:546px;margin:5px 5px 5px 5px;}
#payment_2 .sms-form .attention-text h4 {font-weight:bold;font-size:18px;margin:8px 0px 0px;}
#payment_2 .sms-form .attention-text p {font-weight:normal;font-size:17px;margin:8px 0px 0px;}
#payment_2 .sms-form .sms-vat {text-align:right;font-size:10px;margin:18px 0px 0px;font-style:italic;}
#payment_2 .sms-form .select-product-bar {background:url(//cdn.goomena.com/Images2/payment/bar.png?v1) no-repeat scroll 0 0;height:110px;width:711px;margin:40px 0 0 -16px;}
#payment_2 .sms-form .select-product-bar .select-text {width:630px;height:40px;text-align:center;padding:18px 0 0 0;font-weight:bold;font-size:19px;color:#fff;}
.lang-gr #payment_2 .sms-form .select-product-bar .select-text {font-size:16px;padding: 20px 0 0 0;}
#payment_2 .sms-form .top-wrap h3{display:none;}
#payment_2 .sms-form .top-wrap h4{display:none;}
#payment_2 .sms-form .top-wrap .img-text-3 { height:20px;}
#payment_2 .sms-form .top-wrap .img-text-3 div{display:none;}

.sms-payment-info-popup div.header-line{background:#0575A5;top: 28px;height: 3px;}
.sms-payment-info-popup .header-text{background:#fff; color:#0575A5;display:inline-block;padding:0 10px;font-size:20px;margin-left:20px;margin-top:-15px;}
.sms-payment-info {height: 516px;width: 100%;margin-top: 15px;font-family: 'Segoe UI',Helvetica,Arial; }
.sms-payment-info h1{margin:0;padding:0 20px; }
.sms-payment-info h2{margin:0 10px;padding:0;font-size:15px;}
.sms-payment-info .p-top{color:#000;font-size:18px;margin:0 10px 18px;padding:0; line-height:20px;}
.sms-payment-info .p2{color:#000;font-size:15px;margin:0 10px 18px;padding:0; line-height:20px;}
.sms-payment-info .btn{ color:#00BEF2;text-decoration:underline;margin:0 10px 9px;font-size:15px;text-align:center;}
.sms-payment-info strong a.btn{ }
.sms-payment-info .shema{text-align:center;margin-top: 26px;margin-bottom: 27px;}
.sms-payment-info p a{color:#00BEF2;}
.OfferArrow {
    background:url(//cdn.goomena.com/Images2/payment/arrow.png?v1);
        width: 83px;
    height: 111px;
       position: relative;
    left: 399px;
    top: -61px;
    margin-bottom: -111px;

}


/*.pe_box.GR #payments_pub .paymentsimgs{
      padding-bottom: 259px;
    background: url('//cdn.goomena.com/images2/payment/gr-banner-offer20141209.png') no-repeat scroll 102% 100%;
}
#payments_pub.us .paymentsimgs,#payments_pub.es .paymentsimgs{
    padding-bottom: 259px;
  
    background: url('//cdn.goomena.com/images2/payment/us-banner-offer20141209.png') no-repeat scroll 102% 100%;
}
#payments_pub .product-5 .pricecol-credits{display:none;}
#payments_pub .product-5 {
   
background: url('//cdn.goomena.com/images2/payment/10000xmas.png?v2') no-repeat scroll 0 1px;
  height: 360px;
     top: -9px;
}
#payments_pub .product-5 .pricecol-order-btn {margin-bottom: 7px;}
#payments_pub .product-5:hover{background-position:0 -493px;}*/