﻿#profile_edit a.remove_wants, #profile_edit a.remove_job {background: url('//cdn.goomena.com/images/red_green2.png') no-repeat 100% -25px; width: auto; padding-left:4px; display: inline-block; font-size: 13px; padding-top: 2px; white-space: nowrap; }
#profile_edit a.remove_wants:hover, #profile_edit a.remove_job:hover { background-position: 100% -1px; color: #DD1F4F; }

#pe .pac-container { left: 362px; width: 196px; -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px; }
#pe .pac-container:after { content: normal; }
#pe .pac-item { padding: 5px 3px; }
#pe .pac-item:hover, #my .pac-selected { background: none repeat scroll 0 0 #F2F2F2; color: #1C7D04; }
.pac-container { -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px; margin-top: -2px; }
.pac-container:after { content: normal; }
.pac-item { padding: 0px 3px; text-align: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; cursor: pointer; }
.pac-icon-marker { display: none; }
.pac-item:hover, .pac-selected { background: none repeat scroll 0 0 #F2F2F2; color: #1C7D04; }
.remove_wants img, .remove_job img {height: 16px;vertical-align:text-top;}
#liTravelingPlaces .form_right p, #liJobs .form_right p{width:404px;padding:0 0 5px 0; margin: 0;}

#liJobs {margin-top:15px;}
.ui-autocomplete:after { background-image: url("//maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white2.png"); background-position: right center; background-repeat: no-repeat; background-size: 104px 16px; content: ""; display: block; height: 16px; padding: 1px 1px 1px 0; text-align: right; }
.ui-autocomplete { border-radius: 0 0 4px 4px; margin-top: -2px; }
.ui-autocomplete { background-color: #FFFFFF; border-radius: 2px; border-top: 1px solid #D9D9D9; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); font-family: Arial,sans-serif; overflow: hidden; position: absolute !important; z-index: 1000; }
#pe .ui-autocomplete { left: 362px; width: 196px; -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px; }
#pe .ui-autocomplete:after { content: normal; }
#pe .ui-menu .ui-menu-item a:hover { background: none repeat scroll 0 0 #F2F2F2; color: #1C7D04; }
.ui-autocomplete { -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px; margin-top: -2px; }
.ui-autocomplete:after { content: normal; }
.ui-menu .ui-menu-item { padding: 0px 3px; text-align: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; cursor: pointer; border-top: 1px solid #E6E6E6;height:30px;}
.ui-menu .ui-menu-item a{line-height:25px;}
.ui-menu .ui-menu-item:hover{ background: none repeat scroll 0 0 #F2F2F2;}
.ui-menu .ui-menu-item a:hover { background: none repeat scroll 0 0 #F2F2F2; color: #000; }
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {border: 1px solid transparent;	background:none;}
.go-link {position: absolute;left: 314px;top: 2px;font-size: 15px;}
