﻿
.userErrorMsg { font-size: 14px; position: absolute; right: 0px; top: 0px; z-index: 100001; background-color: #fff; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5; }
.opacity20 { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; filter: alpha(opacity=20); -moz-opacity: 0.2; -khtml-opacity: 0.2; opacity: 0.2; }
.opacity30 { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; filter: alpha(opacity=30); -moz-opacity: 0.3; -khtml-opacity: 0.3; opacity: 0.3; }
.opacity40 { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; filter: alpha(opacity=40); -moz-opacity: 0.4; -khtml-opacity: 0.4; opacity: 0.4; }
.opacity50 { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5; }
.opacity60 { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter: alpha(opacity=60); -moz-opacity: 0.6; -khtml-opacity: 0.6; opacity: 0.6; }
.opacity70 { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter: alpha(opacity=70); -moz-opacity: 0.7; -khtml-opacity: 0.7; opacity: 0.7; }
.opacity90 { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; filter: alpha(opacity=90); -moz-opacity: 0.90; -khtml-opacity: 0.90; opacity: 0.90; }
.opacity96 { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=96)"; filter: alpha(opacity=96); -moz-opacity: 0.96; -khtml-opacity: 0.96; opacity: 0.96; }

.transparent { /* Required for IE 5, 6, 7 */ /* ...or something to trigger hasLayout, like zoom: 1; */ width: 100%; /* Theoretically for IE 8 & 9 (more valid) */ /* ...but not required as filter works too */ /* should come BEFORE filter */ -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* This works in IE 8 & 9 too */ /* ... but also 5, 6, 7 */ filter: alpha(opacity=50); /* Older than Firefox 0.9 */ -moz-opacity: 0.5; /* Safari 1.x (pre WebKit!) */ -khtml-opacity: 0.5; /* Modern! 	/* Firefox 0.9+, Safari 2?, Chrome any? 	/* Opera 9+, IE 9+ */ opacity: 0.5; }

.transparent2 { zoom: 1; filter: alpha(opacity=50); opacity: 0.5; }
.clear { clear: both; display: block; float: none !important; height: 0; overflow: hidden; visibility: hidden; width: 0; }

.lfloat{float:left;}
.rfloat{float:right;}
.hidden{display:none;}


#flag_ad_21 {background-image: url('/Images2/flag_glossy_21/ad.png');padding-left:30px;}
#flag_ae_21 {background-image: url('/Images2/flag_glossy_21/ae.png');padding-left:30px;}
#flag_af_21 {background-image: url('/Images2/flag_glossy_21/af.png');padding-left:30px;}
#flag_ag_21 {background-image: url('/Images2/flag_glossy_21/ag.png');padding-left:30px;}
#flag_ai_21 {background-image: url('/Images2/flag_glossy_21/ai.png');padding-left:30px;}
#flag_al_21 {background-image: url('/Images2/flag_glossy_21/al.png');padding-left:30px;}
#flag_am_21 {background-image: url('/Images2/flag_glossy_21/am.png');padding-left:30px;}
#flag_an_21 {background-image: url('/Images2/flag_glossy_21/an.png');padding-left:30px;}
#flag_ao_21 {background-image: url('/Images2/flag_glossy_21/ao.png');padding-left:30px;}
#flag_ar_21 {background-image: url('/Images2/flag_glossy_21/ar.png');padding-left:30px;}
#flag_as_21 {background-image: url('/Images2/flag_glossy_21/as.png');padding-left:30px;}
#flag_at_21 {background-image: url('/Images2/flag_glossy_21/at.png');padding-left:30px;}
#flag_au_21 {background-image: url('/Images2/flag_glossy_21/au.png');padding-left:30px;}
#flag_aw_21 {background-image: url('/Images2/flag_glossy_21/aw.png');padding-left:30px;}
#flag_ax_21 {background-image: url('/Images2/flag_glossy_21/ax.png');padding-left:30px;}
#flag_ba_21 {background-image: url('/Images2/flag_glossy_21/ba.png');padding-left:30px;}
#flag_bb_21 {background-image: url('/Images2/flag_glossy_21/bb.png');padding-left:30px;}
#flag_bd_21 {background-image: url('/Images2/flag_glossy_21/bd.png');padding-left:30px;}
#flag_be_21 {background-image: url('/Images2/flag_glossy_21/be.png');padding-left:30px;}
#flag_bf_21 {background-image: url('/Images2/flag_glossy_21/bf.png');padding-left:30px;}
#flag_bg_21 {background-image: url('/Images2/flag_glossy_21/bg.png');padding-left:30px;}
#flag_bh_21 {background-image: url('/Images2/flag_glossy_21/bh.png');padding-left:30px;}
#flag_bi_21 {background-image: url('/Images2/flag_glossy_21/bi.png');padding-left:30px;}
#flag_bj_21 {background-image: url('/Images2/flag_glossy_21/bj.png');padding-left:30px;}
#flag_bm_21 {background-image: url('/Images2/flag_glossy_21/bm.png');padding-left:30px;}
#flag_bn_21 {background-image: url('/Images2/flag_glossy_21/bn.png');padding-left:30px;}
#flag_bo_21 {background-image: url('/Images2/flag_glossy_21/bo.png');padding-left:30px;}
#flag_br_21 {background-image: url('/Images2/flag_glossy_21/br.png');padding-left:30px;}
#flag_bs_21 {background-image: url('/Images2/flag_glossy_21/bs.png');padding-left:30px;}
#flag_bt_21 {background-image: url('/Images2/flag_glossy_21/bt.png');padding-left:30px;}
#flag_bw_21 {background-image: url('/Images2/flag_glossy_21/bw.png');padding-left:30px;}
#flag_by_21 {background-image: url('/Images2/flag_glossy_21/by.png');padding-left:30px;}
#flag_bz_21 {background-image: url('/Images2/flag_glossy_21/bz.png');padding-left:30px;}
#flag_ca_21 {background-image: url('/Images2/flag_glossy_21/ca.png');padding-left:30px;}
#flag_cd_21 {background-image: url('/Images2/flag_glossy_21/cd.png');padding-left:30px;}
#flag_cf_21 {background-image: url('/Images2/flag_glossy_21/cf.png');padding-left:30px;}
#flag_cg_21 {background-image: url('/Images2/flag_glossy_21/cg.png');padding-left:30px;}
#flag_ch_21 {background-image: url('/Images2/flag_glossy_21/ch.png');padding-left:30px;}
#flag_ci_21 {background-image: url('/Images2/flag_glossy_21/ci.png');padding-left:30px;}
#flag_ck_21 {background-image: url('/Images2/flag_glossy_21/ck.png');padding-left:30px;}
#flag_cl_21 {background-image: url('/Images2/flag_glossy_21/cl.png');padding-left:30px;}
#flag_cm_21 {background-image: url('/Images2/flag_glossy_21/cm.png');padding-left:30px;}
#flag_cn_21 {background-image: url('/Images2/flag_glossy_21/cn.png');padding-left:30px;}
#flag_co_21 {background-image: url('/Images2/flag_glossy_21/co.png');padding-left:30px;}
#flag_cr_21 {background-image: url('/Images2/flag_glossy_21/cr.png');padding-left:30px;}
#flag_cu_21 {background-image: url('/Images2/flag_glossy_21/cu.png');padding-left:30px;}
#flag_cv_21 {background-image: url('/Images2/flag_glossy_21/cv.png');padding-left:30px;}
#flag_cx_21 {background-image: url('/Images2/flag_glossy_21/cx.png');padding-left:30px;}
#flag_cy_21 {background-image: url('/Images2/flag_glossy_21/cy.png');padding-left:30px;}
#flag_cz_21 {background-image: url('/Images2/flag_glossy_21/cz.png');padding-left:30px;}
#flag_de_21 {background-image: url('/Images2/flag_glossy_21/de.png');padding-left:30px;}
#flag_dj_21 {background-image: url('/Images2/flag_glossy_21/dj.png');padding-left:30px;}
#flag_dk_21 {background-image: url('/Images2/flag_glossy_21/dk.png');padding-left:30px;}
#flag_dm_21 {background-image: url('/Images2/flag_glossy_21/dm.png');padding-left:30px;}
#flag_do_21 {background-image: url('/Images2/flag_glossy_21/do.png');padding-left:30px;}
#flag_dz_21 {background-image: url('/Images2/flag_glossy_21/dz.png');padding-left:30px;}
#flag_ec_21 {background-image: url('/Images2/flag_glossy_21/ec.png');padding-left:30px;}
#flag_ee_21 {background-image: url('/Images2/flag_glossy_21/ee.png');padding-left:30px;}
#flag_eg_21 {background-image: url('/Images2/flag_glossy_21/eg.png');padding-left:30px;}
#flag_er_21 {background-image: url('/Images2/flag_glossy_21/er.png');padding-left:30px;}
#flag_es_21 {background-image: url('/Images2/flag_glossy_21/es.png');padding-left:30px;}
#flag_et_21 {background-image: url('/Images2/flag_glossy_21/et.png');padding-left:30px;}
#flag_eu_21 {background-image: url('/Images2/flag_glossy_21/eu.png');padding-left:30px;}
#flag_fi_21 {background-image: url('/Images2/flag_glossy_21/fi.png');padding-left:30px;}
#flag_fj_21 {background-image: url('/Images2/flag_glossy_21/fj.png');padding-left:30px;}
#flag_fk_21 {background-image: url('/Images2/flag_glossy_21/fk.png');padding-left:30px;}
#flag_fm_21 {background-image: url('/Images2/flag_glossy_21/fm.png');padding-left:30px;}
#flag_fo_21 {background-image: url('/Images2/flag_glossy_21/fo.png');padding-left:30px;}
#flag_fr_21 {background-image: url('/Images2/flag_glossy_21/fr.png');padding-left:30px;}
#flag_ga_21 {background-image: url('/Images2/flag_glossy_21/ga.png');padding-left:30px;}
#flag_gd_21 {background-image: url('/Images2/flag_glossy_21/gd.png');padding-left:30px;}
#flag_ge_21 {background-image: url('/Images2/flag_glossy_21/ge.png');padding-left:30px;}
#flag_gg_21 {background-image: url('/Images2/flag_glossy_21/gg.png');padding-left:30px;}
#flag_gh_21 {background-image: url('/Images2/flag_glossy_21/gh.png');padding-left:30px;}
#flag_gi_21 {background-image: url('/Images2/flag_glossy_21/gi.png');padding-left:30px;}
#flag_gl_21 {background-image: url('/Images2/flag_glossy_21/gl.png');padding-left:30px;}
#flag_gm_21 {background-image: url('/Images2/flag_glossy_21/gm.png');padding-left:30px;}
#flag_gn_21 {background-image: url('/Images2/flag_glossy_21/gn.png');padding-left:30px;}
#flag_gq_21 {background-image: url('/Images2/flag_glossy_21/gq.png');padding-left:30px;}
#flag_gr_21 {background-image: url('/Images2/flag_glossy_21/gr.png');padding-left:30px;}
#flag_gr-cy_21 {background-image: url('/Images2/flag_glossy_21/gr-cy.png');padding-left:30px;}
#flag_gs_21 {background-image: url('/Images2/flag_glossy_21/gs.png');padding-left:30px;}
#flag_gt_21 {background-image: url('/Images2/flag_glossy_21/gt.png');padding-left:30px;}
#flag_gu_21 {background-image: url('/Images2/flag_glossy_21/gu.png');padding-left:30px;}
#flag_gw_21 {background-image: url('/Images2/flag_glossy_21/gw.png');padding-left:30px;}
#flag_gy_21 {background-image: url('/Images2/flag_glossy_21/gy.png');padding-left:30px;}
#flag_hk_21 {background-image: url('/Images2/flag_glossy_21/hk.png');padding-left:30px;}
#flag_hn_21 {background-image: url('/Images2/flag_glossy_21/hn.png');padding-left:30px;}
#flag_hr_21 {background-image: url('/Images2/flag_glossy_21/hr.png');padding-left:30px;}
#flag_ht_21 {background-image: url('/Images2/flag_glossy_21/ht.png');padding-left:30px;}
#flag_hu_21 {background-image: url('/Images2/flag_glossy_21/hu.png');padding-left:30px;}
#flag_id_21 {background-image: url('/Images2/flag_glossy_21/id.png');padding-left:30px;}
#flag_ie_21 {background-image: url('/Images2/flag_glossy_21/ie.png');padding-left:30px;}
#flag_il_21 {background-image: url('/Images2/flag_glossy_21/il.png');padding-left:30px;}
#flag_im_21 {background-image: url('/Images2/flag_glossy_21/im.png');padding-left:30px;}
#flag_in_21 {background-image: url('/Images2/flag_glossy_21/in.png');padding-left:30px;}
#flag_io_21 {background-image: url('/Images2/flag_glossy_21/io.png');padding-left:30px;}
#flag_iq_21 {background-image: url('/Images2/flag_glossy_21/iq.png');padding-left:30px;}
#flag_ir_21 {background-image: url('/Images2/flag_glossy_21/ir.png');padding-left:30px;}
#flag_is_21 {background-image: url('/Images2/flag_glossy_21/is.png');padding-left:30px;}
#flag_it_21 {background-image: url('/Images2/flag_glossy_21/it.png');padding-left:30px;}
#flag_je_21 {background-image: url('/Images2/flag_glossy_21/je.png');padding-left:30px;}
#flag_jm_21 {background-image: url('/Images2/flag_glossy_21/jm.png');padding-left:30px;}
#flag_jo_21 {background-image: url('/Images2/flag_glossy_21/jo.png');padding-left:30px;}
#flag_jp_21 {background-image: url('/Images2/flag_glossy_21/jp.png');padding-left:30px;}
#flag_ke_21 {background-image: url('/Images2/flag_glossy_21/ke.png');padding-left:30px;}
#flag_kg_21 {background-image: url('/Images2/flag_glossy_21/kg.png');padding-left:30px;}
#flag_kh_21 {background-image: url('/Images2/flag_glossy_21/kh.png');padding-left:30px;}
#flag_ki_21 {background-image: url('/Images2/flag_glossy_21/ki.png');padding-left:30px;}
#flag_km_21 {background-image: url('/Images2/flag_glossy_21/km.png');padding-left:30px;}
#flag_kn_21 {background-image: url('/Images2/flag_glossy_21/kn.png');padding-left:30px;}
#flag_kp_21 {background-image: url('/Images2/flag_glossy_21/kp.png');padding-left:30px;}
#flag_kr_21 {background-image: url('/Images2/flag_glossy_21/kr.png');padding-left:30px;}
#flag_kw_21 {background-image: url('/Images2/flag_glossy_21/kw.png');padding-left:30px;}
#flag_ky_21 {background-image: url('/Images2/flag_glossy_21/ky.png');padding-left:30px;}
#flag_kz_21 {background-image: url('/Images2/flag_glossy_21/kz.png');padding-left:30px;}
#flag_la_21 {background-image: url('/Images2/flag_glossy_21/la.png');padding-left:30px;}
#flag_lb_21 {background-image: url('/Images2/flag_glossy_21/lb.png');padding-left:30px;}
#flag_lc_21 {background-image: url('/Images2/flag_glossy_21/lc.png');padding-left:30px;}
#flag_li_21 {background-image: url('/Images2/flag_glossy_21/li.png');padding-left:30px;}
#flag_lk_21 {background-image: url('/Images2/flag_glossy_21/lk.png');padding-left:30px;}
#flag_lr_21 {background-image: url('/Images2/flag_glossy_21/lr.png');padding-left:30px;}
#flag_ls_21 {background-image: url('/Images2/flag_glossy_21/ls.png');padding-left:30px;}
#flag_lt_21 {background-image: url('/Images2/flag_glossy_21/lt.png');padding-left:30px;}
#flag_lu_21 {background-image: url('/Images2/flag_glossy_21/lu.png');padding-left:30px;}
#flag_lv_21 {background-image: url('/Images2/flag_glossy_21/lv.png');padding-left:30px;}
#flag_ly_21 {background-image: url('/Images2/flag_glossy_21/ly.png');padding-left:30px;}
#flag_ma_21 {background-image: url('/Images2/flag_glossy_21/ma.png');padding-left:30px;}
#flag_mc_21 {background-image: url('/Images2/flag_glossy_21/mc.png');padding-left:30px;}
#flag_md_21 {background-image: url('/Images2/flag_glossy_21/md.png');padding-left:30px;}
#flag_me_21 {background-image: url('/Images2/flag_glossy_21/me.png');padding-left:30px;}
#flag_mg_21 {background-image: url('/Images2/flag_glossy_21/mg.png');padding-left:30px;}
#flag_mh_21 {background-image: url('/Images2/flag_glossy_21/mh.png');padding-left:30px;}
#flag_ml_21 {background-image: url('/Images2/flag_glossy_21/ml.png');padding-left:30px;}
#flag_mn_21 {background-image: url('/Images2/flag_glossy_21/mn.png');padding-left:30px;}
#flag_mo_21 {background-image: url('/Images2/flag_glossy_21/mo.png');padding-left:30px;}
#flag_mp_21 {background-image: url('/Images2/flag_glossy_21/mp.png');padding-left:30px;}
#flag_mq_21 {background-image: url('/Images2/flag_glossy_21/mq.png');padding-left:30px;}
#flag_mr_21 {background-image: url('/Images2/flag_glossy_21/mr.png');padding-left:30px;}
#flag_ms_21 {background-image: url('/Images2/flag_glossy_21/ms.png');padding-left:30px;}
#flag_mt_21 {background-image: url('/Images2/flag_glossy_21/mt.png');padding-left:30px;}
#flag_mu_21 {background-image: url('/Images2/flag_glossy_21/mu.png');padding-left:30px;}
#flag_mv_21 {background-image: url('/Images2/flag_glossy_21/mv.png');padding-left:30px;}
#flag_mw_21 {background-image: url('/Images2/flag_glossy_21/mw.png');padding-left:30px;}
#flag_mx_21 {background-image: url('/Images2/flag_glossy_21/mx.png');padding-left:30px;}
#flag_my_21 {background-image: url('/Images2/flag_glossy_21/my.png');padding-left:30px;}
#flag_mz_21 {background-image: url('/Images2/flag_glossy_21/mz.png');padding-left:30px;}
#flag_na_21 {background-image: url('/Images2/flag_glossy_21/na.png');padding-left:30px;}
#flag_ne_21 {background-image: url('/Images2/flag_glossy_21/ne.png');padding-left:30px;}
#flag_nf_21 {background-image: url('/Images2/flag_glossy_21/nf.png');padding-left:30px;}
#flag_ng_21 {background-image: url('/Images2/flag_glossy_21/ng.png');padding-left:30px;}
#flag_ni_21 {background-image: url('/Images2/flag_glossy_21/ni.png');padding-left:30px;}
#flag_nl_21 {background-image: url('/Images2/flag_glossy_21/nl.png');padding-left:30px;}
#flag_nm_21 {background-image: url('/Images2/flag_glossy_21/nm.png');padding-left:30px;}
#flag_no_21 {background-image: url('/Images2/flag_glossy_21/no.png');padding-left:30px;}
#flag_np_21 {background-image: url('/Images2/flag_glossy_21/np.png');padding-left:30px;}
#flag_nr_21 {background-image: url('/Images2/flag_glossy_21/nr.png');padding-left:30px;}
#flag_nu_21 {background-image: url('/Images2/flag_glossy_21/nu.png');padding-left:30px;}
#flag_nz_21 {background-image: url('/Images2/flag_glossy_21/nz.png');padding-left:30px;}
#flag_om_21 {background-image: url('/Images2/flag_glossy_21/om.png');padding-left:30px;}
#flag_pa_21 {background-image: url('/Images2/flag_glossy_21/pa.png');padding-left:30px;}
#flag_pf_21 {background-image: url('/Images2/flag_glossy_21/pf.png');padding-left:30px;}
#flag_pg_21 {background-image: url('/Images2/flag_glossy_21/pg.png');padding-left:30px;}
#flag_ph_21 {background-image: url('/Images2/flag_glossy_21/ph.png');padding-left:30px;}
#flag_pk_21 {background-image: url('/Images2/flag_glossy_21/pk.png');padding-left:30px;}
#flag_pl_21 {background-image: url('/Images2/flag_glossy_21/pl.png');padding-left:30px;}
#flag_pm_21 {background-image: url('/Images2/flag_glossy_21/pm.png');padding-left:30px;}
#flag_pn_21 {background-image: url('/Images2/flag_glossy_21/pn.png');padding-left:30px;}
#flag_pr_21 {background-image: url('/Images2/flag_glossy_21/pr.png');padding-left:30px;}
#flag_pt_21 {background-image: url('/Images2/flag_glossy_21/pt.png');padding-left:30px;}
#flag_pw_21 {background-image: url('/Images2/flag_glossy_21/pw.png');padding-left:30px;}
#flag_py_21 {background-image: url('/Images2/flag_glossy_21/py.png');padding-left:30px;}
#flag_qa_21 {background-image: url('/Images2/flag_glossy_21/qa.png');padding-left:30px;}
#flag_ro_21 {background-image: url('/Images2/flag_glossy_21/ro.png');padding-left:30px;}
#flag_rs_21 {background-image: url('/Images2/flag_glossy_21/rs.png');padding-left:30px;}
#flag_ru_21 {background-image: url('/Images2/flag_glossy_21/ru.png');padding-left:30px;}
#flag_rw_21 {background-image: url('/Images2/flag_glossy_21/rw.png');padding-left:30px;}
#flag_sa_21 {background-image: url('/Images2/flag_glossy_21/sa.png');padding-left:30px;}
#flag_sb_21 {background-image: url('/Images2/flag_glossy_21/sb.png');padding-left:30px;}
#flag_sc_21 {background-image: url('/Images2/flag_glossy_21/sc.png');padding-left:30px;}
#flag_sd_21 {background-image: url('/Images2/flag_glossy_21/sd.png');padding-left:30px;}
#flag_se_21 {background-image: url('/Images2/flag_glossy_21/se.png');padding-left:30px;}
#flag_sg_21 {background-image: url('/Images2/flag_glossy_21/sg.png');padding-left:30px;}
#flag_sh_21 {background-image: url('/Images2/flag_glossy_21/sh.png');padding-left:30px;}
#flag_si_21 {background-image: url('/Images2/flag_glossy_21/si.png');padding-left:30px;}
#flag_sk_21 {background-image: url('/Images2/flag_glossy_21/sk.png');padding-left:30px;}
#flag_sl_21 {background-image: url('/Images2/flag_glossy_21/sl.png');padding-left:30px;}
#flag_sm_21 {background-image: url('/Images2/flag_glossy_21/sm.png');padding-left:30px;}
#flag_sn_21 {background-image: url('/Images2/flag_glossy_21/sn.png');padding-left:30px;}
#flag_so_21 {background-image: url('/Images2/flag_glossy_21/so.png');padding-left:30px;}
#flag_sr_21 {background-image: url('/Images2/flag_glossy_21/sr.png');padding-left:30px;}
#flag_st_21 {background-image: url('/Images2/flag_glossy_21/st.png');padding-left:30px;}
#flag_sv_21 {background-image: url('/Images2/flag_glossy_21/sv.png');padding-left:30px;}
#flag_sy_21 {background-image: url('/Images2/flag_glossy_21/sy.png');padding-left:30px;}
#flag_sz_21 {background-image: url('/Images2/flag_glossy_21/sz.png');padding-left:30px;}
#flag_tc_21 {background-image: url('/Images2/flag_glossy_21/tc.png');padding-left:30px;}
#flag_td_21 {background-image: url('/Images2/flag_glossy_21/td.png');padding-left:30px;}
#flag_tg_21 {background-image: url('/Images2/flag_glossy_21/tg.png');padding-left:30px;}
#flag_th_21 {background-image: url('/Images2/flag_glossy_21/th.png');padding-left:30px;}
#flag_tj_21 {background-image: url('/Images2/flag_glossy_21/tj.png');padding-left:30px;}
#flag_tl_21 {background-image: url('/Images2/flag_glossy_21/tl.png');padding-left:30px;}
#flag_tm_21 {background-image: url('/Images2/flag_glossy_21/tm.png');padding-left:30px;}
#flag_tn_21 {background-image: url('/Images2/flag_glossy_21/tn.png');padding-left:30px;}
#flag_to_21 {background-image: url('/Images2/flag_glossy_21/to.png');padding-left:30px;}
#flag_tr_21 {background-image: url('/Images2/flag_glossy_21/tr.png');padding-left:30px;}
#flag_tt_21 {background-image: url('/Images2/flag_glossy_21/tt.png');padding-left:30px;}
#flag_tv_21 {background-image: url('/Images2/flag_glossy_21/tv.png');padding-left:30px;}
#flag_tw_21 {background-image: url('/Images2/flag_glossy_21/tw.png');padding-left:30px;}
#flag_tz_21 {background-image: url('/Images2/flag_glossy_21/tz.png');padding-left:30px;}
#flag_ua_21 {background-image: url('/Images2/flag_glossy_21/ua.png');padding-left:30px;}
#flag_ug_21 {background-image: url('/Images2/flag_glossy_21/ug.png');padding-left:30px;}
#flag_uk_21 {background-image: url('/Images2/flag_glossy_21/uk.png');padding-left:30px;}
#flag_us_21 {background-image: url('/Images2/flag_glossy_21/us.png');padding-left:30px;}
#flag_uy_21 {background-image: url('/Images2/flag_glossy_21/uy.png');padding-left:30px;}
#flag_uz_21 {background-image: url('/Images2/flag_glossy_21/uz.png');padding-left:30px;}
#flag_vc_21 {background-image: url('/Images2/flag_glossy_21/vc.png');padding-left:30px;}
#flag_ve_21 {background-image: url('/Images2/flag_glossy_21/ve.png');padding-left:30px;}
#flag_vg_21 {background-image: url('/Images2/flag_glossy_21/vg.png');padding-left:30px;}
#flag_vh_21 {background-image: url('/Images2/flag_glossy_21/vh.png');padding-left:30px;}
#flag_vi_21 {background-image: url('/Images2/flag_glossy_21/vi.png');padding-left:30px;}
#flag_vn_21 {background-image: url('/Images2/flag_glossy_21/vn.png');padding-left:30px;}
#flag_vu_21 {background-image: url('/Images2/flag_glossy_21/vu.png');padding-left:30px;}
#flag_wf_21 {background-image: url('/Images2/flag_glossy_21/wf.png');padding-left:30px;}
#flag_ws_21 {background-image: url('/Images2/flag_glossy_21/ws.png');padding-left:30px;}
#flag_ye_21 {background-image: url('/Images2/flag_glossy_21/ye.png');padding-left:30px;}
#flag_yt_21 {background-image: url('/Images2/flag_glossy_21/yt.png');padding-left:30px;}
#flag_yu_21 {background-image: url('/Images2/flag_glossy_21/yu.png');padding-left:30px;}
#flag_za_21 {background-image: url('/Images2/flag_glossy_21/za.png');padding-left:30px;}
#flag_zm_21 {background-image: url('/Images2/flag_glossy_21/zm.png');padding-left:30px;}
#flag_zw_21 {background-image: url('/Images2/flag_glossy_21/zw.png');padding-left:30px;}
/* flags from www.nordicfactory.com */

