﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

.TopPart {
    background: url(../Images/BestDeals.jpg) no-repeat 50% 50%;
    background-size: cover;
    min-height: 450px;
}

    .TopPart .Header {
        background: url(../Images/goodeals-3.png) no-repeat 50% 50%;
        width: 250px;
        margin: 0px auto;
        min-height: 140px;
        background-size: contain;
        display: block;
    }

    .TopPart .secHeader {
        color: white;
        font-size: 30px;
        text-align: center;
        padding-top: 80px;
    }

.ProductsContainer {
    text-align: center;
}

    .ProductsContainer .GoomenProductsContainer {
        text-align: left;
        vertical-align: middle;
        display: inline-block;
        margin-top: 30px;
    }

        .ProductsContainer .GoomenProductsContainer .GoomenaProduct {
            position: relative;
            display: inline-block;
            max-width: 220px;
            margin-left: 20px;
            margin-bottom: 20px;
            vertical-align: middle;
            color: black;
        }

            .ProductsContainer .GoomenProductsContainer .GoomenaProduct .ImageContainer img {
                width: 220px;
            }

            .ProductsContainer .GoomenProductsContainer .GoomenaProduct .SmallDescription {
                text-align: center;
                font-size: 15px;
                padding: 5px;
            }

            .ProductsContainer .GoomenProductsContainer .GoomenaProduct .FromCompany {
                float: left;
                font-size: 16px;
            }

                .ProductsContainer .GoomenProductsContainer .GoomenaProduct .FromCompany .CompanyLink {
                    color: #56B78A;
                    font-size: 16px;
                }

            .ProductsContainer .GoomenProductsContainer .GoomenaProduct .MoneyContainer {
                float: right;
                font-size: 16px;
                color: #4485E2;
            }

                .ProductsContainer .GoomenProductsContainer .GoomenaProduct .MoneyContainer .Price {
                    display: none;
                }

                .ProductsContainer .GoomenProductsContainer .GoomenaProduct .MoneyContainer::after {
                    content: '';
                    display: inline-block;
                    float: none;
                    clear: both;
                }

            .ProductsContainer .GoomenProductsContainer .GoomenaProduct .ProductDescription {
                display: none;
            }

            .ProductsContainer .GoomenProductsContainer .GoomenaProduct .ButtonContainer {
                display: none;
            }

.BackGround {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 999;
}

.PopUp .BackGround .Container {
    background: white;
    width: 729px;
    height: 359px;
    margin: 180px auto 0 auto;
    padding: 30px;
    border-radius: 8px;
}

    .PopUp .BackGround .Container .ImageContainer {
        float: left;
        margin-right: 20px;
    }

    .PopUp .BackGround .Container .SmallDescription {
        font-size: 25px;
        color: #332536;
    }

    .PopUp .BackGround .Container .FromCompany {
        display: none;
    }

    .PopUp .BackGround .Container .MoneyContainer {
        display: block;
        text-align: center;
        font-size: 20px;
        padding-top: 30px;
        color: #4485E2;
    }

        .PopUp .BackGround .Container .MoneyContainer .Price {
            color: #332536;
            padding-right: 10px;
        }

.clear {
    clear: both;
    float: none;
    display: block;
    height: 0px;
}

.PopUp .BackGround .Container {
    z-index: 1000;
}

    .PopUp .BackGround .Container .ProductDescription {
        font-size: 14px;
        color: #99a0a6;
        padding-top: 30px;
    }

    .PopUp .BackGround .Container .ButtonContainer:before {
        content: '';
        display: block;
        height: 1px;
        background: #ebebeb;
        width: 729px;
        position: absolute;
        left: -30px;
    }

    .PopUp .BackGround .Container .ButtonContainer {
        margin-top: 45px;
        position: relative;
        text-align: center;
    }

        .PopUp .BackGround .Container .ButtonContainer .BuyNowbtn {
            padding: 15px 40px 15px 40px;
            font-size: 16px;
            font-weight: bold;
            background: #00bff3;
            color: white;
            border-radius: 8px;
            display: inline-block;
            margin-top: 17px;
            text-transform: uppercase;
        }

            .PopUp .BackGround .Container .ButtonContainer .BuyNowbtn:hover {
                background: #059ac2;
                text-decoration: none;
            }

.UserNamePopUp {
    display: none;
}

    .UserNamePopUp .Container {
        display: block;
        width: 500px;
        margin: 150px auto 0 auto;
        background: white;
        border-radius: 8px;
        padding: 30px;
        z-index: 1000;
    }

    .UserNamePopUp .Container .Error{
        padding-top:20px;
        text-align:center;
        color:red;
        font-size:13px;
        margin-bottom:-18px;
    }
        .UserNamePopUp .Container .Header {
            font-size: 20px;
            line-height: 22px;
            text-align: center;
        }

        .UserNamePopUp .Container .Content {
            position: relative;
        }

            .UserNamePopUp .Container .Content input {
                /*max-width:400px;*/
                width: 100%;
                margin: 0px auto;
                margin-top: 30px;
                display: block;
                border: 1px solid #d9d9d9;
                font-size: 15px;
                border-radius: 4px;
                min-height: 35px;
                line-height: 35px;
                padding-left: 15px;
            }

                .UserNamePopUp .Container .Content input::-webkit-input-placeholder {
                    font-style: italic;
                }

                .UserNamePopUp .Container .Content input:-moz-placeholder { /* Firefox 18- */
                    font-style: italic;
                }

                .UserNamePopUp .Container .Content input::-moz-placeholder { /* Firefox 19+ */
                    font-style: italic;
                }

                .UserNamePopUp .Container .Content input:-ms-input-placeholder {
                    font-style: italic;
                }

        .UserNamePopUp .Container .ButtonContainer {
            text-align: center;
        }

            .UserNamePopUp .Container .ButtonContainer .BuyNowbtn {
                text-align: center;
                background: #00BFF3;
                padding: 10px 40px;
                border-radius: 8px;
                display: inline-block;
                margin-top: 20px;
                color: white;
                font-size: 16px;
                font-weight: bold;
            }

                .UserNamePopUp .Container .ButtonContainer .BuyNowbtn:hover {
                    background: #059ac2;
                    text-decoration: none;
                }

.Transaction {
    width: 729px;
    height: 343px;
    box-shadow: 05px 5px 40px 0px rgba(0,0,0,0.15);
    margin: 30px auto 0px auto;
    padding: 20px;
}

    .Transaction .Header {
        font-size: 31px;
    }

        .Transaction .Header:before {
            display: block;
            content: '';
            width: 57px;
            height: 57px;
            background: url(../Images/success.png);
            margin: 15px auto 15px auto;
        }

    .Transaction .Secheader {
        font-size: 18px;
        color: #b8babd;
        line-height: 18px;
    }

    .Transaction[data-status="success"] .Header {
        color: #7ac142;
    }

    .Transaction[data-status="failed"] .Header {
        color: #b8babd;
    }

        .Transaction[data-status="failed"] .Header:before {
            background: url(../Images/cancelled.png);
        }

    .Transaction .btnContainer {
        position: relative;
        margin-top: 50px;
    }

        .Transaction .btnContainer .linkToGoomena {
            font-size: 16px;
            font-weight: bold;
            color: white;
            background: #00BFF3;
            display: inline-block;
            border-radius: 6px;
            padding: 18px 30px 7px 30px;
            line-height: 13px;
        }

            .Transaction .btnContainer .linkToGoomena:hover {
                background: #059ac2;
                text-decoration: none;
            }

.btnInvoiceContainer {
    text-align: center;
    margin-top: 40px;
}

    .btnInvoiceContainer .linkInvoice {
        font-size: 16px;
        font-weight: bold;
        color: white;
        background: #d9d9d9;
        display: inline-block;
        border-radius: 6px;
        padding: 18px 30px 16px 30px;
        line-height: 13px;
    }

        .btnInvoiceContainer .linkInvoice:hover {
            background: #adadad;
            text-decoration: none;
        }
.ProductsContainer.Form .Transaction{
    display:none;
}
.ProductsContainer.Form .btnInvoiceContainer {
display:none;
}
#InvoiceForm {
    display: none;
}

  .ProductsContainer.Form  #InvoiceForm {
        display: block;
                   background: white;
                box-shadow: 05px 5px 40px 0px rgba(0,0,0,0.15);
        text-align:center;
        padding:40px;
    }
   #InvoiceForm .row{
       position:relative;
   }
    #InvoiceForm .row i{
             display: INLINE-BLOCK;
    position: ABSOLUTE;
    cursor: pointer;
    /*FLOAT: RIGHT;*/
    TOP: 30PX;
    margin-left:190px;
   }
      #InvoiceForm .Header{
          font-size:25px;
          font-weight:bold;
          padding-bottom:20px;
      }
     #InvoiceForm .row.has-error i{
         color:red;
    }
      #InvoiceForm .row.has-success i{
         color:green;
    }
      #SubmitContainer input[type="submit"]{
          display:block;
              max-width: 320px;
      }
    #InvoiceForm input{
        display:block;
        width:100%;
        margin:0px auto;
        border: 1px solid #d9d9d9;
        border-radius:4px;
        font-size:16px;
    }
      #InvoiceForm #SubmitContainer{
padding-top:20px;
margin-bottom:20px;

    }
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
