﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="CountryDropDown.ascx.vb" Inherits="Dating.Server.Site.Web.CountryDropDown" %>
<select runat="server" id="ddl">
<option value="">Select A Country</option>
<option value="231">United States</option>
<option value="38">Canada</option>
<option value="77">United Kingdom</option>
<option value="14">Australia</option>
<option value="3">Afghanistan</option>
<option value="6">Albanian</option>
<option value="62">Algeria</option>
<option value="12">American Samoa</option>
<option value="1">Andorra</option>
<option value="9">Angola</option>
<option value="5">Anguilla</option>
<option value="10">Antarctica</option>
<option value="4">Antigua and Barbuda</option>
<option value="11">Argentina</option>
<option value="7">Armenia</option>
<option value="15">Aruba</option>
<option value="13">Austria</option>
<option value="17">Azerbaijan</option>
<option value="32">Bahamas</option>
<option value="24">Bahrain</option>
<option value="20">Bangladesh</option>
<option value="19">Barbados</option>
<option value="36">Belarus</option>
<option value="21">Belgium</option>
<option value="37">Belize</option>
<option value="26">Benin</option>
<option value="28">Bermuda</option>
<option value="33">Bhutan</option>
<option value="30">Bolivia</option>
<option value="18">Bosnia and Herzegovina</option>
<option value="35">Botswana</option>
<option value="31">Brazil</option>
<option value="106">British Indian Ocean Territory</option>
<option value="237">British Virgin Islands</option>
<option value="29">Brunei</option>
<option value="23">Bulgaria</option>
<option value="22">Burkina Faso</option>
<option value="25">Burundi</option>
<option value="117">Cambodia</option>
<option value="47">Cameroon</option>
<option value="53">Cape Verde</option>
<option value="124">Cayman Islands</option>
<option value="41">Central African Republic</option>
<option value="213">Chad</option>
<option value="46">Chile</option>
<option value="48">China</option>
<option value="54">Christmas Island</option>
<option value="39">Cocos Islands</option>
<option value="49">Colombia</option>
<option value="119">Comoros</option>
<option value="45">Cook Islands</option>
<option value="50">Costa Rica</option>
<option value="98">Croatia</option>
<option value="52">Cuba</option>
<option value="55">Cyprus</option>
<option value="56">Czech Republic</option>
<option value="40">Democratic Republic of the Congo</option>
<option value="59">Denmark</option>
<option value="58">Djibouti</option>
<option value="60">Dominica</option>
<option value="61">Dominican Republic</option>
<option value="219">East Timor</option>
<option value="63">Ecuador</option>
<option value="65">Egypt</option>
<option value="209">El Salvador</option>
<option value="88">Equatorial Guinea</option>
<option value="67">Eritrea</option>
<option value="64">Estonia</option>
<option value="69">Ethiopia</option>
<option value="72">Falkland Islands</option>
<option value="74">Faroe Islands</option>
<option value="71">Fiji</option>
<option value="70">Finland</option>
<option value="75">France</option>
<option value="80">French Guiana</option>
<option value="214">French Southern Territories</option>
<option value="76">Gabon</option>
<option value="85">Gambia</option>
<option value="79">Georgia</option>
<option value="57">Germany</option>
<option value="82">Ghana</option>
<option value="83">Gibraltar</option>
<option value="89">Greece</option>
<option value="84">Greenland</option>
<option value="78">Grenada</option>
<option value="87">Guadeloupe</option>
<option value="92">Guam</option>
<option value="91">Guatemala</option>
<option value="81">Guernsey</option>
<option value="86">Guinea</option>
<option value="93">Guinea-Bissau</option>
<option value="94">Guyana</option>
<option value="99">Haiti</option>
<option value="97">Honduras</option>
<option value="95">Hong Kong</option>
<option value="100">Hungary</option>
<option value="109">Iceland</option>
<option value="105">India</option>
<option value="101">Indonesia</option>
<option value="108">Iran</option>
<option value="107">Iraq</option>
<option value="102">Ireland</option>
<option value="103">Israel</option>
<option value="110">Italy</option>
<option value="44">Ivory Coast</option>
<option value="112">Jamaica</option>
<option value="114">Japan</option>
<option value="113">Jordan</option>
<option value="125">Kazakhstan</option>
<option value="115">Kenya</option>
<option value="118">Kiribati</option>
<option value="243">Kosovo</option>
<option value="123">Kuwait</option>
<option value="116">Kyrgyzstan</option>
<option value="126">Laos</option>
<option value="135">Latvia</option>
<option value="127">Lebanon</option>
<option value="132">Lesotho</option>
<option value="131">Liberia</option>
<option value="136">Libya</option>
<option value="129">Liechtenstein</option>
<option value="133">Lithuania</option>
<option value="134">Luxembourg</option>
<option value="148">Macao</option>
<option value="144">Macedonia</option>
<option value="142">Madagascar</option>
<option value="156">Malawi</option>
<option value="158">Malaysia</option>
<option value="155">Maldives</option>
<option value="145">Mali</option>
<option value="153">Malta</option>
<option value="143">Marshall Islands</option>
<option value="150">Martinique</option>
<option value="151">Mauritania</option>
<option value="154">Mauritius</option>
<option value="245">Mayotte</option>
<option value="157">Mexico</option>
<option value="73">Micronesia</option>
<option value="139">Moldova</option>
<option value="138">Monaco</option>
<option value="147">Mongolia</option>
<option value="140">Montenegro</option>
<option value="152">Montserrat</option>
<option value="137">Morocco</option>
<option value="159">Mozambique</option>
<option value="146">Myanmar</option>
<option value="160">Namibia</option>
<option value="169">Nauru</option>
<option value="168">Nepal</option>
<option value="166">Netherlands</option>
<option value="8">Netherlands Antilles</option>
<option value="171">New Zealand</option>
<option value="165">Nicaragua</option>
<option value="162">Niger</option>
<option value="164">Nigeria</option>
<option value="170">Niue</option>
<option value="163">Norfolk Island</option>
<option value="121">North Korea</option>
<option value="167">Norway</option>
<option value="172">Oman</option>
<option value="178">Pakistan</option>
<option value="185">Palau</option>
<option value="183">Palestinian Territory</option>
<option value="173">Panama</option>
<option value="176">Papua New Guinea</option>
<option value="186">Paraguay</option>
<option value="174">Peru</option>
<option value="177">Philippines</option>
<option value="181">Pitcairn</option>
<option value="179">Poland</option>
<option value="184">Portugal</option>
<option value="182">Puerto Rico</option>
<option value="187">Qatar</option>
<option value="42">Republic of the Congo</option>
<option value="188">Reunion</option>
<option value="189">Romania</option>
<option value="191">Russia</option>
<option value="192">Rwanda</option>
<option value="199">Saint Helena</option>
<option value="120">Saint Kitts and Nevis</option>
<option value="128">Saint Lucia</option>
<option value="180">Saint Pierre and Miquelon</option>
<option value="235">Saint Vincent and the Grenadines</option>
<option value="242">Samoa</option>
<option value="204">San Marino</option>
<option value="208">Sao Tome and Principe</option>
<option value="193">Saudi Arabia</option>
<option value="205">Senegal</option>
<option value="190">Serbia</option>
<option value="195">Seychelles</option>
<option value="203">Sierra Leone</option>
<option value="198">Singapore</option>
<option value="202">Slovakia</option>
<option value="200">Slovenia</option>
<option value="194">Solomon Islands</option>
<option value="206">Somalia</option>
<option value="246">South Africa</option>
<option value="90">South Georgia</option>
<option value="122">South Korea</option>
<option value="68">Spain</option>
<option value="130">Sri Lanka</option>
<option value="196">Sudan</option>
<option value="207">Suriname</option>
<option value="211">Swaziland</option>
<option value="197">Sweden</option>
<option value="43">Switzerland</option>
<option value="210">Syria</option>
<option value="226">Taiwan</option>
<option value="217">Tajikistan</option>
<option value="227">Tanzania</option>
<option value="216">Thailand</option>
<option value="215">Togo</option>
<option value="218">Tokelau</option>
<option value="222">Tonga</option>
<option value="224">Trinidad and Tobago</option>
<option value="221">Tunisia</option>
<option value="223">Turkey</option>
<option value="220">Turkmenistan</option>
<option value="212">Turks and Caicos Islands</option>
<option value="225">Tuvalu</option>
<option value="238">U.S. Virgin Islands</option>
<option value="229">Uganda</option>
<option value="228">Ukraine</option>
<option value="2">United Arab Emirates</option>
<option value="232">Uruguay</option>
<option value="233">Uzbekistan</option>
<option value="240">Vanuatu</option>
<option value="234">Vatican</option>
<option value="236">Venezuela</option>
<option value="239">Vietnam</option>
<option value="66">Western Sahara</option>
<option value="244">Yemen</option>
<option value="247">Zambia</option>
<option value="248">Zimbabwe</option>
</select>
