﻿.dxWeb_rpHeaderTopLeftCorner_balance,
.dxWeb_rpHeaderTopRightCorner_balance,
.dxWeb_rpBottomLeftCorner_balance,
.dxWeb_rpBottomRightCorner_balance,
.dxWeb_rpTopLeftCorner_balance,
.dxWeb_rpTopRightCorner_balance,
.dxWeb_rpGroupBoxBottomLeftCorner_balance,
.dxWeb_rpGroupBoxBottomRightCorner_balance,
.dxWeb_rpGroupBoxTopLeftCorner_balance,
.dxWeb_rpGroupBoxTopRightCorner_balance,
.dxWeb_mHorizontalPopOut_balance,
.dxWeb_mVerticalPopOut_balance,
.dxWeb_mVerticalPopOutRtl_balance,
.dxWeb_mSubMenuItem_balance,
.dxWeb_mSubMenuItemChecked_balance,
.dxWeb_mScrollUp_balance,
.dxWeb_mScrollDown_balance,
.dxWeb_tcScrollLeft_balance,
.dxWeb_tcScrollRight_balance,
.dxWeb_tcScrollLeftHover_balance,
.dxWeb_tcScrollRightHover_balance,
.dxWeb_tcScrollLeftPressed_balance,
.dxWeb_tcScrollRightPressed_balance,
.dxWeb_tcScrollLeftDisabled_balance,
.dxWeb_tcScrollRightDisabled_balance,
.dxWeb_nbCollapse_balance,
.dxWeb_nbExpand_balance,
.dxWeb_splVSeparator_balance,
.dxWeb_splVSeparatorHover_balance,
.dxWeb_splHSeparator_balance,
.dxWeb_splHSeparatorHover_balance,
.dxWeb_splVCollapseBackwardButton_balance,
.dxWeb_splVCollapseBackwardButtonHover_balance,
.dxWeb_splHCollapseBackwardButton_balance,
.dxWeb_splHCollapseBackwardButtonHover_balance,
.dxWeb_splVCollapseForwardButton_balance,
.dxWeb_splVCollapseForwardButtonHover_balance,
.dxWeb_splHCollapseForwardButton_balance,
.dxWeb_splHCollapseForwardButtonHover_balance,
.dxWeb_pcCloseButton_balance,
.dxWeb_pcSizeGrip_balance,
.dxWeb_pcSizeGripRtl_balance,
.dxWeb_pAll_balance,
.dxWeb_pAllDisabled_balance,
.dxWeb_pPrev_balance,
.dxWeb_pPrevDisabled_balance,
.dxWeb_pNext_balance,
.dxWeb_pNextDisabled_balance,
.dxWeb_pLast_balance,
.dxWeb_pLastDisabled_balance,
.dxWeb_pFirst_balance,
.dxWeb_pFirstDisabled_balance,
.dxWeb_tvColBtn_balance,
.dxWeb_tvColBtnRtl_balance,
.dxWeb_tvExpBtn_balance,
.dxWeb_tvExpBtnRtl_balance,
.dxWeb_fmFolder_balance,
.dxWeb_fmFolderLocked_balance,
.dxWeb_fmCreateButton_balance,
.dxWeb_fmMoveButton_balance,
.dxWeb_fmRenameButton_balance,
.dxWeb_fmDeleteButton_balance,
.dxWeb_fmRefreshButton_balance,
.dxWeb_fmDwnlButton_balance,
.dxWeb_fmCreateButtonDisabled_balance,
.dxWeb_fmMoveButtonDisabled_balance,
.dxWeb_fmRenameButtonDisabled_balance,
.dxWeb_fmDeleteButtonDisabled_balance,
.dxWeb_fmRefreshButtonDisabled_balance,
.dxWeb_fmDwnlButtonDisabled_balance {
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
    display: block;
}

.dxWeb_pAll_balance,
.dxWeb_pAllDisabled_balance,
.dxWeb_pPrev_balance,
.dxWeb_pPrevDisabled_balance,
.dxWeb_pNext_balance,
.dxWeb_pNextDisabled_balance,
.dxWeb_pLast_balance,
.dxWeb_pLastDisabled_balance,
.dxWeb_pFirst_balance,
.dxWeb_pFirstDisabled_balance {
    display: inline;
}

.dxWeb_edtCheckBoxChecked_balance,
.dxWeb_edtCheckBoxUnchecked_balance,
.dxWeb_edtCheckBoxGrayed_balance,
.dxWeb_edtCheckBoxCheckedDisabled_balance,
.dxWeb_edtCheckBoxUncheckedDisabled_balance,
.dxWeb_edtCheckBoxGrayedDisabled_balance {
	background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxUnchecked_balance {
	background-position: -41px -99px;
}
.dxWeb_edtCheckBoxChecked_balance {
	background-position: -56px -99px;
}
.dxWeb_edtCheckBoxGrayed_balance {
	background-position: -71px -99px;
}
.dxWeb_edtCheckBoxUncheckedDisabled_balance {
	background-position: -86px -99px;
}
.dxWeb_edtCheckBoxCheckedDisabled_balance {
	background-position: -101px -99px;
}
.dxWeb_edtCheckBoxGrayedDisabled_balance {
	background-position: -116px -99px;
}

.dxWeb_mScrollUp_balance, .dxWeb_mScrollDown_balance
{
	margin: auto;
}

.dxWeb_rpHeaderTopLeftCorner_balance {
    background-position: -104px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpHeaderTopRightCorner_balance {
    background-position: -117px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpBottomLeftCorner_balance {
    background-position: -78px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpBottomRightCorner_balance {
    background-position: -91px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpTopLeftCorner_balance {
    background-position: -52px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpTopRightCorner_balance {
    background-position: -65px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpGroupBoxBottomLeftCorner_balance {
    background-position: -26px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpGroupBoxBottomRightCorner_balance {
    background-position: -39px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpGroupBoxTopLeftCorner_balance {
    background-position: 0px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpGroupBoxTopRightCorner_balance {
    background-position: -13px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_mHorizontalPopOut_balance {
    background-position: -92px -50px;
    width: 5px;
    height: 3px;
}

.dxWeb_mVerticalPopOut_balance {
    background-position: -105px -50px;
    width: 4px;
    height: 8px;
}

.dxWeb_mVerticalPopOutRtl_balance {
    background-position: -145px -50px;
    width: 4px;
    height: 8px;
}

.dxWeb_mSubMenuItem_balance {
    background-position: -48px -50px;
    width: 14px;
    height: 14px;
}

.dxWeb_mSubMenuItemChecked_balance {
    background-position: -70px -50px;
    width: 14px;
    height: 14px;
}

.dxWeb_mScrollUp_balance {
    background-position: -117px -50px;
    width: 7px;
    height: 5px;
}

.dxWeb_mScrollDown_balance {
    background-position: -133px -50px;
    width: 7px;
    height: 5px;
}

.dxWeb_tcScrollLeft_balance {
	background-position: -129px -62px;
    width: 7px;
    height: 7px;
}

.dxWeb_tcScrollRight_balance {
	background-position: -137px -62px;
    width: 7px;
    height: 7px;
}

.dxWeb_tcScrollLeftHover_balance {
	background-position: -129px -70px;
    width: 7px;
    height: 7px;
}
.dxWeb_tcScrollRightHover_balance {
	background-position: -137px -70px;
    width: 7px;
    height: 7px;
}

.dxWeb_tcScrollLeftPressed_balance {
	background-position: -129px -78px;
    width: 7px;
    height: 7px;
}
.dxWeb_tcScrollRightPressed_balance {
	background-position: -137px -78px;
    width: 7px;
    height: 7px;
}

.dxWeb_tcScrollLeftDisabled_balance {
	background-position: -129px -86px;
    width: 7px;
    height: 7px;
}
.dxWeb_tcScrollRightDisabled_balance  {
	background-position: -137px -86px;
    width: 7px;
    height: 7px;
}

.dxWeb_nbCollapse_balance {
    background-position: -129px 0px;
    width: 13px;
    height: 15px;
}

.dxWeb_nbExpand_balance {
    background-position: -129px -23px;
    width: 13px;
    height: 15px;
}

.dxWeb_splVSeparator_balance {
    background-position: -92px -62px;
    width: 6px;
    height: 18px;
}

.dxWeb_splVSeparatorHover_balance {
    background-position: -99px -62px;
    width: 6px;
    height: 18px;
}

.dxWeb_splHSeparator_balance {
    background-position: -58px -74px;
    width: 18px;
    height: 6px;
}

.dxWeb_splHSeparatorHover_balance {
    background-position: -58px -81px;
    width: 18px;
    height: 6px;
}

.dxWeb_splVCollapseBackwardButton_balance {
    background-position: -30px -74px;
    width: 6px;
    height: 7px;
}

.dxWeb_splVCollapseBackwardButtonHover_balance {
    background-position: -37px -74px;
    width: 6px;
    height: 7px;
}

.dxWeb_splHCollapseBackwardButton_balance {
    background-position: 0px -74px;
    width: 7px;
    height: 6px;
}

.dxWeb_splHCollapseBackwardButtonHover_balance {
    background-position: 0px -81px;
    width: 7px;
    height: 6px;
}

.dxWeb_splVCollapseForwardButton_balance {
    background-position: -44px -74px;
    width: 6px;
    height: 7px;
}

.dxWeb_splVCollapseForwardButtonHover_balance {
    background-position: -51px -74px;
    width: 6px;
    height: 7px;
}

.dxWeb_splHCollapseForwardButton_balance {
    background-position: -15px -74px;
    width: 7px;
    height: 6px;
}

.dxWeb_splHCollapseForwardButtonHover_balance {
    background-position: -15px -81px;
    width: 7px;
    height: 6px;
}

.dxWeb_pcCloseButton_balance {
    background-position: 0px -50px;
    width: 15px;
    height: 14px;
}

.dxWeb_pcSizeGrip_balance {
    background-position: -24px -50px;
    width: 16px;
    height: 16px;
}

.dxWeb_pcSizeGripRtl_balance {
    background-position: -109px -62px;
    width: 16px;
    height: 16px;
}

.dxWeb_pAll_balance {
    background-position: 0px 0px;
    width: 21px;
    height: 17px;
}

.dxWeb_pAllDisabled_balance {
    background-position: 0px -25px;
    width: 21px;
    height: 17px;
}

.dxWeb_pPrev_balance {
    background-position: -105px 0px;
    width: 16px;
    height: 17px;
}

.dxWeb_pPrevDisabled_balance {
    background-position: -105px -25px;
    width: 16px;
    height: 17px;
}

.dxWeb_pNext_balance {
    background-position: -81px 0px;
    width: 16px;
    height: 17px;
}

.dxWeb_pNextDisabled_balance {
    background-position: -81px -25px;
    width: 16px;
    height: 17px;
}

.dxWeb_pLast_balance {
    background-position: -55px 0px;
    width: 18px;
    height: 17px;
}

.dxWeb_pLastDisabled_balance {
    background-position: -55px -25px;
    width: 18px;
    height: 17px;
}

.dxWeb_pFirst_balance {
    background-position: -29px 0px;
    width: 18px;
    height: 17px;
}

.dxWeb_pFirstDisabled_balance {
    background-position: -29px -25px;
    width: 18px;
    height: 17px;
}

.dxWeb_tvColBtn_balance,
.dxWeb_tvColBtnRtl_balance {
	background-position: -19px -98px;
    width: 17px;
    height: 17px;
}

.dxWeb_tvExpBtn_balance,
.dxWeb_tvExpBtnRtl_balance {
	background-position: 0px -98px;
    width: 17px;
    height: 17px;
}

.dxWeb_fmFolder_balance {
	background-position: 0px -123px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmFolderLocked_balance {
	background-position: -20px -123px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmCreateButton_balance {
	background-position: -40px -123px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmRenameButton_balance {
	background-position: -60px -123px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmMoveButton_balance {
	background-position: -80px -123px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmDeleteButton_balance {
	background-position: -100px -123px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmRefreshButton_balance {
	background-position: -120px -123px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmDwnlButton_balance {
	background-position: 0px -147px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDwnlButtonDisabled_balance {
	background-position: -20px -147px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmCreateButtonDisabled_balance {
	background-position: -40px -147px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmRenameButtonDisabled_balance {
	background-position: -60px -147px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmMoveButtonDisabled_balance {
	background-position: -80px -147px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmDeleteButtonDisabled_balance {
	background-position: -100px -147px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmRefreshButtonDisabled_balance {
	background-position: -120px -147px;
    width: 16px;
    height: 16px;
}