/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import url(../warp/css/menus.css);


/* Mega Drop-Down Menu
----------------------------------------------------------------------------------------------------*/

/* Level 1 */
.menu-dropdown li.level1 {
	padding: 0 1px 4px 0;
	background: url(../images/menu_dropdown_level1_bg.png) 100% 0 no-repeat;
	background-clip: padding-box;
	box-shadow: 0 3px 2px rgba(0,0,0,0.15);
}

.menu-dropdown a.level1,
.menu-dropdown span.level1 {
	padding: 4px 20px 5px 20px;
	border-top: 1px solid #d3d3d3;
	background: #F7F7F9;
	background-clip: padding-box;
	box-shadow: inset 0 0 0 1px #fff;
	color: #777;
	font-size: 13px;
	text-transform: uppercase;
}

.menu-dropdown a.level1 > span,
.menu-dropdown span.level1 > span {
	padding: 0;
	height: 33px;
	line-height: 30px;
	background: url(../images/menu_dropdown_level1.png) 0 100% repeat-x;
}

/* First Item */
.menu-dropdown:first-child li.level1:first-child { border-radius: 4px 0 0 4px; }

.menu-dropdown:first-child li.level1:first-child .level1 {
	border-left: 1px solid #d3d3d3;
	border-radius: 4px 0 0 4px;
}

/* Active */
.menu-dropdown li.level1.active { box-shadow: none; }

.menu-dropdown a.level1.active,
.menu-dropdown span.level1.active {
	position: relative;
	top: 4px;
	background: #E1E2E6 url(../images/menu_dropdown_level1_bg_active.png) 0 0 repeat-x;
	background-clip: padding-box;
	box-shadow: inset 8px 0 12px -10px #999,
				inset -8px 0 12px -10px #999,
				0 1px 0 #a9a9a9,
				0 2px 0 rgba(255,255,255,0.4);
}

.menu-dropdown li.active .level1 > span {
	position: relative;
	top: -2px;
	color: #444;
}

/* First Item Active */
.menu-dropdown:first-child li.level1:first-child .level1.active {
	box-shadow: inset -8px 0 12px -10px #999,
				0 1px 0 #a9a9a9,
				0 2px 0 rgba(255,255,255,0.4);
}

/* Hover */
.menu-dropdown li.level1:hover .level1 > span,
.menu-dropdown li.remain .level1 > span { color: #555; }


/* Drop-Down */
.menu-dropdown .dropdown {
	top: 49px;
	border-top: 1px solid #d3d3d3;
	border-top: 1px solid rgba(0,0,0,0.2);
	border-radius: 4px;
	background-clip: padding-box;
}

.menu-dropdown .dropdown-bg > div {
	padding: 3px;
	border: 1px solid #d3d3d3;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 4px;
	border-top: none;
	background: #fff;
	background-clip: padding-box;
}

/* Level 2 */
.menu-dropdown li.level2 {  margin: 2px; }
.menu-dropdown li.level2:first-child { border: none; }

.menu-dropdown a.level2,
.menu-dropdown span.level2 {
	border-radius: 3px;
	background: #f3f3f3;
	color: #777;
}

.menu-dropdown a.level2 > span,
.menu-dropdown span.level2 > span { padding: 5px 10px; }

/* Set Hover */
.menu-dropdown a.level2:hover { color: #fff; }

/* Set Current */
.menu-dropdown a.current.level2 { font-weight: bold; } 

/* Level 3 */
.menu-dropdown ul.level3 { padding: 4px 4px 8px 4px; }

.menu-dropdown a.level3 {
	padding-left: 16px;
	background: url(../images/menu_dropdown_level3.png) 0 0 no-repeat;
}

.menu-dropdown a.level3:hover { background-position: 0 -40px; }
.menu-dropdown a.level3.current { background-position: 0 -80px; }

/* Set Hover */
.menu-dropdown a.level3:hover { color: #d50; }

/* Set Current */
.menu-dropdown a.current.level3 { font-weight: bold; } 

/* Icons */
.menu-dropdown .level1 .level1 span.icon {
	width: 30px;
	height: 30px;
	margin-left: -5px;
}
.menu-dropdown .level1 .level1 span.icon + span,
.menu-dropdown .level1 .level1 span.icon + span + span { margin-left: 25px; }

.menu-dropdown li.level2 .level2 span.icon { margin-right: 4px; }

.menu-dropdown li.level2 .level2 span.icon + span,
.menu-dropdown li.level2 .level2 span.icon + span + span { margin-left: 39px; }

/* Subtitles */
.menu-dropdown .level1 .level1 span.title { ----------------------------------------}
.menu-dropdown .level1 .level1 span.subtitle { margin-top: -2px; }

.menu-dropdown .level1 span.title { line-height: 35px; }
.menu-dropdown .level2 span.title { line-height: 21px; }



/* Sidebar/Accordion Menu
----------------------------------------------------------------------------------------------------*/

/* Link */
.menu-sidebar a,
.menu-sidebar li > span { color: #777; }

.mod-box-black .menu-sidebar a,
.mod-box-black .menu-sidebar li > span { color: #bbb; }

.mod-box-color .menu-sidebar a > span,
.mod-box-color .menu-sidebar span > span { color: #fff; }

/* Current */
.menu-sidebar a.current { 
	color: #444;
	font-weight: bold;
}

/* Level 1 */
.menu-sidebar li.level1 { background: url(../images/menu_sidebar_level1.png) 0 0 repeat-x; }
.mod-box-black .menu-sidebar li.level1 { background-image: url(../images/menu_sidebar_level1_black.png); }
.mod-box-color .menu-sidebar li.level1 { background-image: url(../images/menu_sidebar_level1_color.png); }
.menu-sidebar li.level1:first-child { background: none; }

.menu-sidebar li.parent .level1 > span { background: url(../images/menu_sidebar_parent.png) 100% 0 no-repeat; }
.mod-box-black .menu-sidebar li.parent .level1 > span { background-image: url(../images/menu_sidebar_parent_black.png); }
.menu-sidebar li.parent.active .level1 > span { background-position: 100% -80px; }

/* Level 2-4 */
.menu-sidebar ul.level2 ul { padding-left: 10px; }

.menu-sidebar .level2 a {
	padding-left: 16px;
	background: url(../images/menu_sidebar_level2.png) 0 0 no-repeat;
}
.mod-box-black .menu-sidebar .level2 a { background-image: url(../images/menu_sidebar_level2_black.png); }

.menu-sidebar .level2 a:hover { background-position: 0 -40px; }
.menu-sidebar .level2 a.current { background-position: 0 -80px; }

/* Icons */
.menu-sidebar span.icon { margin-right: 4px; }


/* Line Menu
----------------------------------------------------------------------------------------------------*/

.menu-line li {
	margin-left: 10px;
	padding-left: 9px;
	background: url(../images/menu_line_item.png) 0 50% no-repeat;
}

.menu-line li:first-child {
	margin-left: 0;
	padding-left: 0;
	background: none;
}

.menu-line li a:hover { color: #444; }