﻿html, body, h1, p, a, h2, h3, h4, li { font-family: "Segoe UI",Helvetica,Arial; }
        
.headernew { position: relative; height: 137px; width: 100%; /*background: url(first-general/bg-reapet.jpg) repeat;*/ }
.headernew a { text-decoration: none; }
.logincontainernew { position: relative; margin-left: auto; margin-right: auto; width: 983px; height: 96px; }
        
.logo { position: absolute; top: 7%; }
.menu li { display: inline; list-style-type: none; padding-right: 20px; }
.menu ul { bottom: 0px; position: absolute; right: 4px; }
.logintable { position: absolute; top: 0px; right: 0px; }
.menu { top: 8px; position: absolute; left: 0px; }
.languages { position: absolute; top: 8px; right: 0px; }
.languages a { text-decoration: none; color: Black; }
.languages .dxeT a,
.languages .dxic input.dxeEditAreaSys  { text-decoration: none; color: Black;font-family: "Segoe UI",Helvetica,Arial;font-size:13px; }
.languages .dxeListBoxItemRow_DevEx .dxeI{display:none; background: url('//cdn.goomena.com/images/flags/US.png') no-repeat 0 50%;width:16px;height:16px; }
.languages .dxeListBoxItemRow_DevEx .dxeT a{margin-left:5px;padding-left:25px;height:20px; display:block;}
.languages .dxeButtonEditSys .dxeIIC img{margin-left:5px;width:20px;height:20px;display:block;}
.US .languages .dxeButtonEditSys .dxeIIC img,
.languages .dxeListBoxItemRow_DevEx .dxeT a.US{ background: url('//cdn.goomena.com/images/flags/US.png') no-repeat 0 50%;}
.GR .languages .dxeButtonEditSys .dxeIIC img,
.languages .dxeListBoxItemRow_DevEx .dxeT a.GR { background: url('//cdn.goomena.com/images/flags/Greece.png') no-repeat 0 50%;}
.AL .languages .dxeButtonEditSys .dxeIIC img,
.languages .dxeListBoxItemRow_DevEx .dxeT a.AL { background: url('//cdn.goomena.com/images/flags/albania.png') no-repeat 0 50%;}
.TR .languages .dxeButtonEditSys .dxeIIC img,
.languages .dxeListBoxItemRow_DevEx .dxeT a.TR{ background: url('//cdn.goomena.com/images/flags/turk.png') no-repeat 0 50%;}
.ES .languages .dxeButtonEditSys .dxeIIC img,
.languages .dxeListBoxItemRow_DevEx .dxeT a.ES{ background: url('//cdn.goomena.com/images/flags/spain-flag.png') no-repeat 0 50%;}
.menuwords { font-weight: 600; }
.forgotpass { font: 12px Tahoma; }
        
/***************FOOTER********************************************/
.clear { clear: both; }
.footernew { width: 100%; background-color: #EEEEEE; position: relative; padding-top: 1px; padding-bottom: 12px; min-width: 1024px; margin-top:18px;border-top: 4px solid #26a9e1;}
.footerbox { margin-left: auto; margin-right: auto; position: relative; margin-top: 32px; width: 974px; }
        
.footernew a { text-decoration: none; color: #24A9E1; }
.firstline a { color: Black; }
.footerbox li { padding: 2px; }
        
.ul1 { margin-bottom: 41px; }
.ul2 { margin-bottom: 29px; }
.ul3 { position: relative; }
.ul4 { left: 20%; position: absolute; top: 0; }
.ul5 { left: 20%; position: absolute; top: 180px; }
.socialbox { left: 20%; position: absolute; top: 243px; width: 275px; }
.prosoxi { position: absolute; right: 42px; top: 255px; width: 460px; }
.infobox { width: 498px; position: absolute; right: 5px; top: 0; }
.infobox p { font-size: 90%; margin-top: 0px; }
.infobox h1,.infobox h3 { margin-bottom: 0px; margin-top: 0; font-weight: lighter; font-size: 16px; }
.info { border-top: 1px solid black; padding-top: 20px; text-align: left; }
        
.siteinfo { font-size: 13px;margin-top: 10px; }        
.footerlogo { margin-top: 30px; }

.bemember:hover, .connect:hover { cursor: pointer; }
.fbcontainer { position: relative; width: 90px; height: 70px; float: right; }
#fblikes { font-family: Segoe UI, Arial; font-size: 13px; position: absolute; top: 0px; right: 0px; border-radius: 7px; background: #231F20; color: White; padding-bottom: 2px; text-align: center; width: 43px; }
.twcontainer { position: relative; width: 93px; height: 70px; float: left; }
#followers { font-family: Segoe UI, Arial; font-size: 13px; position: absolute; top: 0px; right: 0px; border-radius: 7px; background: #231F20; color: White; padding-bottom: 2px; text-align: center; width: 43px; }
.gpluscontainer { position: relative; width: 90px; height: 70px; float: right; }
#plusone { font-family: Segoe UI, Arial; font-size: 13px; position: absolute; top: 0px; right: 0px; border-radius: 7px; background: #231F20; color: White; padding-bottom: 2px; text-align: center; width: 43px; }
#ctl00_ucLogin1_lblError { position: absolute; bottom: 12px; right: 0; }
#ctl00_ucLogin1_MainLogin_UserName_EC { position: absolute; top: 32px; right: 500px; }
#ctl00_ucLogin1_MainLogin_Password_EC { position: absolute; top: 58px; right: 547px; }
.prosoxicontainer { color: Black; font-size: 13px; font-weight: 400; cursor: pointer; }
#lblEscortsWarningTooltip { padding: 20px; }
.pub-top-welcome{position: absolute; right: 0px;top: 17px;padding-top: 6px;} 
 
.xmas .headernew{height: 139px;}    
.xmas .logincontainernew{height: 134px;}    
.xmas .logintable {top: 24px;}       
.xmas .pub-top-welcome{top: 27px;}

.link-more-articles {margin:5px 0 7px;}


.logo { margin-top:5px;}
.header-bottom-wrap {margin-left: auto;margin-right: auto;max-width:2004px;height:41px;background-color:#1F1D32;}
.header-bottom {position: relative;margin-left: auto;margin-right: auto;width: 983px;}
.menu a { text-decoration: none; color: #fff; font-size: 17px; }
.font-light {font-family: "Segoe UI Light";font-weight:lighter;}
.font-regular {font-family: "Segoe UI";}
.font-semibold {font-family: "Segoe UI Semibold";font-weight: 600;}


.main-fb-logindiv {background-color:#fff;color:#4A639B;display:block;position:relative;}
.main-fb-logindiv img {margin:9px 0 7px 16px;background:url('//cdn.goomena.com/images2/pub2/fb-blue.png') no-repeat scroll 50% 50%;}
.main-fb-logindiv span.fb-connect { font-size: 20px;text-decoration: none;cursor: pointer;color:#4A639B;position:absolute;left:55px;top:10px;letter-spacing: -1px;}
.main-fb-logindiv span.fb-connect-note {font-size: 13px; text-align: center;position:absolute;left:53px;top:37px;}
.main-fb-logindiv:hover {background-color:#4A639B;color:#fff; }
.main-fb-logindiv:hover img {background:url('//cdn.goomena.com/images2/pub2/facebook_white.png') no-repeat scroll 50% 50%;}
.main-fb-logindiv:hover span.fb-connect { color:#fff; }
.main-fb-logindiv:hover span.fb-connect-note {}

.main-gp-logindiv {background-color:#fff;color:#D94656;display:block;position:relative;}
.main-gp-logindiv img {margin:13px 0 11px 16px;background:url('//cdn.goomena.com/images2/pub2/g-red.png') no-repeat scroll 50% 50%;}
.main-gp-logindiv span.gp-connect { font-size: 20px;text-decoration: none;cursor: pointer;color:#D94656;position:absolute;left:55px;top:15px;letter-spacing: -1px;}
.main-gp-logindiv span.gp-connect-note {font-size: 13px; text-align: center;position:absolute;left:53px;top:33px;}
.main-gp-logindiv:hover {background-color:#D94656;color:#fff; }
.main-gp-logindiv:hover img {background:url('//cdn.goomena.com/images2/pub2/g-white.png') no-repeat scroll 50% 50%;}
.main-gp-logindiv:hover span.gp-connect { color:#fff; }
.main-gp-logindiv:hover span.gp-connect-note {}

.main-goo-logindiv {background-color:#39B54A;color:#fff;height:44px;display:block;text-decoration: none;font-size: 20px;text-decoration: none;cursor: pointer;color:#fff;letter-spacing: -1px;width:348px;text-align:center;padding-top:14px;}
.main-goo-logindiv:hover { background-color: #1F1D30; }

.section-1,.section-2,.section-3,.section-4,.section-5,.section-6,.section-7,.section-8,.section-9 { max-width:2004px;margin-left: auto;margin-right: auto;}
#all_sections .inner-box { margin-left: auto; margin-right: auto; width: 983px; }
.inner-box a.btn { display:inline-block; font-size:24px;font-family: "Segoe UI Light";font-weight:lighter;border:1px solid #141F33;-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;padding:4px 15px 9px;cursor:pointer;text-decoration:none;color:#141F33;}
.inner-box a.btn:hover {color:#fff;background-color:#141F33;}

.left-content,.middle-content {float:left;}
.right-content {float:right;}
.middle-content {margin-left: 10px;width:400px;}
.left-content p{font-size: 17px;text-align:right;margin-top:40px;margin-bottom:40px;font-family: "Segoe UI Light";font-weight:lighter;letter-spacing:-1px;}
.right-content p {font-size: 17px;text-align:left;margin-top:40px;margin-bottom:40px;font-family: "Segoe UI Light";font-weight:lighter;letter-spacing:-1px;}
.left-content p strong{font-family:"Segoe UI Semibold";font-weight: 600;}
.right-content p strong{font-family:"Segoe UI Semibold";font-weight: 600;}
.section-1 { position:relative;}
.section-1 .regformcontainer{ position:absolute;top:0px;}
.members-photos .pic {width:104px;height:100px;float:left;background-size:cover;border-radius:7px;margin-left:4px;}
.members-photos .mosaic {width:2080px;height:109px;position:absolute;left:-20px;}
.members-photos {max-width:2004px;height:128px;overflow:hidden;position:relative;}
.members-count {text-align:center;height: 57px;font-size: 28px;padding-top: 38px;}
.section-2 {position:relative;margin-top:67px;} 
.section-2 .inner-box {height:560px;background: url('//cdn.goomena.com/Images2/pub2/1lines.png') no-repeat 50% 100%;}
.section-2 .left-content {text-align:center;width: 470px;} 
.section-2 .right-content {text-align:center;width: 470px;} 
.section-2 .left-content .left-image{margin:25px 40px 0 0;} 
.section-2 .right-content .right-image{margin:10px 0 0 5px;}
.section-2 .header { margin:45px 0 0;font-size:27px;font-family: "Segoe UI Light";font-weight:lighter;text-align:center;}
.section-2 .header strong{ font-family: "Segoe UI Semibold";font-weight: 600;}
.section-2 .listaman, .section-2 .lista { font-size:17px;font-family: "Segoe UI Light";font-weight:lighter;}
.section-2 .listaman strong, .section-2 .lista strong {font-family: "Segoe UI Semibold";font-weight: 600;}
.section-2 .left-content .text,.section-2 .right-content .text {margin-top:45px;}
.section-2 .left-content .text p,.section-2 .right-content .text p {margin-top: 0;margin-bottom: 30px;text-align:center;}

.reg-box {height: 624px;position: absolute;top: 0;right: 0px;left: -25px;z-index: 1;}
.reg-wellcome {position:absolute;top: 292px;left:10px;width:600px;color:#fff;letter-spacing:-4px;margin:0;padding:0;line-height: 54px;}
.reg-wellcome .font-semibold {font-size: 27px;line-height: 30px;padding-top: 19px;display: block;letter-spacing:-2px;}

.section-3 .inner-box,.section-4 .inner-box,.section-5 .inner-box,.section-6 .inner-box { background: url('//cdn.goomena.com/Images2/pub2/line2.png') no-repeat 50% 100%;}
.section-3 .left-content,.section-4 .left-content,.section-5 .left-content,.section-6 .left-content,
.section-3 .right-content,.section-4 .right-content,.section-5 .right-content,.section-6 .right-content {width:313px;text-align:center;}

.section-4 .content-box,.section-6 .content-box{padding-top:140px;}
.section-4 .content-box .left-content{margin-top:70px;}
.section-4 .content-box .right-content{margin-top:40px;}
.section-4 .content-box .middle-content,.section-6 .content-box .middle-content{margin-top:25px;width: 302px;height: 303px;margin-left:25px;}

.section-5 .content-box{padding-top:110px;}
.section-5 .content-box .left-content,
.section-5 .content-box .right-content{width:313px;text-align:center;}
.section-5 .content-box .left-content{margin-top:70px;}
.section-5 .content-box .right-content{margin-top:40px;}
.section-5 .content-box .middle-content{margin-top:25px;width: 302px;height: 303px;margin-left:25px;position:relative;}
.section-5 .content-box .middle-content-back{width: 302px;height: 303px;position:absolute;bottom: -100px;left:0px;right:0px;}

.section-6 .content-box .left-content{margin-top:40px;}
.section-6 .content-box .right-content {margin-top:20px;}

.section-3 .middle-content { }
.section-3 .content-box { text-align:center;background-color:#fff;}
.section-3 .text { text-align:center;color:#000;background-color:#fff;padding:50px 0;margin:0;letter-spacing:-2px;}
.section-3 .inner-box { height:483px;padding:50px 0 0 0;}

.section-4,.section-6 { background-color:#F3F3F3}
.section-4 .inner-box,.section-5 .inner-box,.section-6 .inner-box { height:696px;}
.section-4 .middle-content {background: url('//cdn.goomena.com/Images2/pub2/frame1.png?v=3') no-repeat 50% 50%;}
.section-5 .middle-content .middle-content-back {background: url('//cdn.goomena.com/Images2/pub2/frame2.png?v=3') no-repeat 50% 50%;}
.section-6 .middle-content {background: url('//cdn.goomena.com/Images2/pub2/frame3.png?v=3') no-repeat 50% -20px;}

.buttons-box a {letter-spacing:-2px;}
.buttons-box .left-content{text-align:right;}
.buttons-box .right-content{text-align:left;}

.section-7 {margin-top:80px;background-color:#fff}
#all_sections .section-7 .inner-box {width:auto;max-width:2004px;background-color:#EEEEEE;
                                     background: url('//cdn.goomena.com/Images2/pub2/frame4.jpg?v=2') no-repeat 50% 100%;height:510px;
                                        position:relative;margin:0 auto;}
.section-7 .left-content,.section-7 .right-content{color:#fff;font-size:17px;width:525px;float:none;}
.section-7 .left-content p,.section-7 .right-content p{margin-bottom:30px;font-family: "Segoe UI Semibold";font-weight: 600;}
.section-7 .left-content h6,.section-7 .right-content h6{font-size:48px;font-family: "Segoe UI Light";font-weight:lighter;margin:15px 0;}
.section-7 .left-content {text-align:right;}
.section-7 .right-content {text-align:left;}
.section-7 .left-content h6{text-align:right;}
.section-7 .right-content h6{text-align:left;}

.section-8 { margin-bottom:50px;}
.section-8 .hor-dots-top,.section-8 .hor-dots-bottom { display:block;width:100%;height:2px;}
.section-8 .hor-dots-top {text-align:right;}
.section-8 .hor-dots-bottom {text-align:left;}
.section-8 .hor-dots-top img,
.section-8 .hor-dots-bottom img{background: url('//cdn.goomena.com/Images2/pub2/line.png') repeat 0 0;}
.section-8 h5{text-align:center;font-size:53px;font-family: "Segoe UI Light";font-weight:lighter;margin-bottom:0px;}
.section-8 h6{text-align:center;font-size:29px;font-family: "Segoe UI Light";font-weight:lighter;margin-top:20px;margin-bottom:20px;}
.section-8 .middle-content { float:none;width:360px;margin:0 auto;}
.section-8 .middle-content a { display:block;width:350px;margin:0 auto;text-decoration:none;height:80px;font-family: "Segoe UI Light";font-weight:lighter;}
.section-8 a.main-logindiv {border:2px solid #141F33;font-size:26px;color:#000;text-align:center;padding-top: 18px;height: 58px;}

.section-8 ul,.section-8 ul li{margin:0;padding:0;}
.section-8 a.main-fb-logindiv {border:2px solid #0B538E;padding:10px 0 0 0;height: 66px;top: 0px;}
.section-8 a.main-fb-logindiv .content {display:block;width:311px;margin-left:auto;margin-right:auto;position:relative;}
.section-8 a.main-fb-logindiv img{margin:5px 10px 0px 0px;}
.section-8 a.main-fb-logindiv span.fb-connect-note {top: 32px;left:auto; }
.section-8 a.main-fb-logindiv span.fb-connect {top: 0;left:auto;}
.US .section-8 a.main-fb-logindiv .content {width:224px;}
.ES .section-8 a.main-fb-logindiv .content {width:232px;}


.section-8 a.main-gp-logindiv {border:2px solid #DB4453;padding: 19px 0 0 0;height: 57px;}
.section-8 a.main-gp-logindiv .content {display:block;width:284px;margin-left:auto;margin-right:auto;position:relative;}
.section-8 a.main-gp-logindiv img{margin:5px 10px 0px 0px;}
.section-8 a.main-gp-logindiv span.gp-connect {top: 0;left:auto;}
.US .section-8 a.main-gp-logindiv .content {width:203px;}
.ES .section-8 a.main-gp-logindiv .content {width:213px;}

.section-8 a.main-goo-logindiv {border:2px solid #3CB54B;padding: 19px 0 0 0;height: 57px;color:#3CB54B;background-color:#fff;}
.section-8 a.main-goo-logindiv .content {display:block;color:#3CB54B;text-align:center;}
.section-8 a.main-goo-logindiv span.goo-connect {top: 0;left:auto;background-image:none;color:#3CB54B;padding-top: 0px;font-size:20px;}

.section-8 a.main-logindiv:hover {color:#fff;background-color:#141F33;}
.section-8 a.main-fb-logindiv:hover {color:#fff;background-color:#0C5290;}
.section-8 a.main-gp-logindiv:hover {color:#fff;background-color:#DB4453;}
.section-8 a.main-goo-logindiv:hover,.section-8 a.main-goo-logindiv:hover span.goo-connect {color:#fff;background-color:#3CB54B;}

.section-9 .mosaic {background-image:none; }


.header-bottom-ext {height:41px;background-color:#1F1D32;}
.section-1-ext,.section-7-ext,.section-9-ext {background-color:#EEEEEE;}
.section-4-ext,.section-6-ext {background-color:#F3F3F3;}

.ext-borders {border-left: 10px solid #fff;border-right: 10px solid #fff;}
.reg-wellcome .font-light .font-semibold {font-size:55px;line-height: 65px;padding:0;}

.maina { /*background: url(//cdn.goomena.com/goomena-kostas/first-general/bg-reapet.jpg) repeat;     box-shadow: 0px 5px 5px 1px #c7c5c8 ;     moz-box-shadow: 0px 5px 5px 1px #c7c5c8 ;*/ }
.hidden { display: none; }
.clear { clear: both; }
.manwomancontainer { width: 950px; margin-left: auto; margin-right: auto; }
li { list-style: none; }
.dropdownlist { }
.woman { width: 428px; height: auto; float: left; margin-top: 100px; }
ul.woman { margin-bottom: 30px; list-style: none; }
.lista { list-style: none; /*padding-top: 11px; padding-bottom: 17px;*/ }
.lista1 { background: url("//cdn.goomena.com/goomena-kostas/first-general/plus-red.png") no-repeat scroll -10px 0 transparent; height: 90px; padding-left: 70px; padding-top: 30px; vertical-align: middle; /*margin-top: 44px;*/ cursor: pointer; }
.lista2 { background: url("//cdn.goomena.com/goomena-kostas/first-general/1.png") no-repeat scroll 21px 0 transparent; height: 119px; padding-left: 70px; vertical-align: middle; margin-top: 10px; }
.lista3 { background: url("//cdn.goomena.com/goomena-kostas/first-general/2.png") no-repeat scroll 21px 0 transparent; height: 119px; padding-left: 70px; vertical-align: middle; margin-top: 10px; }
.lista4 { background: url("//cdn.goomena.com/goomena-kostas/first-general/3.png") no-repeat scroll 21px 0 transparent; height: 119px; padding-left: 70px; vertical-align: middle; margin-top: 10px; }
.tiperimeneis { margin-top: 80px; margin-bottom: 50px; height: 94px; }
.wginemelos { margin-bottom: 40px; }
.line { margin-left: 25%; margin-bottom: 20px; }
.womanimg { margin-bottom: 15px; margin-left: 97px; }
.giawomen { margin-bottom: 20px; margin-top: 10px; text-align: center; font-size: 21px; font-weight: normal; }

.man { width: 428px; height: auto; float: right; margin-top: 100px; }
ul.man { margin-bottom: 30px; list-style: none; }
.listaman { list-style: none; /*padding-top: 11px; padding-bottom: 11px;*/ }
.listaman1 { background: url("//cdn.goomena.com/goomena-kostas/first-general/plus.png") no-repeat scroll -10px 0 transparent; height: 90px; padding-left: 70px; padding-top: 30px; vertical-align: middle; /*margin-top: 61px; */cursor: pointer; }
.listaman2 { background: url("//cdn.goomena.com/goomena-kostas/first-general/1.png") no-repeat scroll 21px 0 transparent; height: 119px; padding-left: 70px; vertical-align: middle; margin-top: 10px; padding-top: 0px; }
.listaman3 { background: url("//cdn.goomena.com/goomena-kostas/first-general/2.png") no-repeat scroll 21px 0 transparent; height: 119px; padding-left: 70px; vertical-align: middle; margin-top: 10px; }
.listaman4 { background: url("//cdn.goomena.com/goomena-kostas/first-general/3.png") no-repeat scroll 21px 0 transparent; height: 119px; padding-left: 70px; vertical-align: middle; margin-top: 10px; }
.tiperimeneisman { margin-top: 80px; margin-bottom: 50px; height: 94px; }
.mginemelos { margin-bottom: 40px; margin-top: 15px; }
.lineman { margin-left: 25%; margin-bottom: 20px; }
.manimg { margin-bottom: 15px; margin-left: 97px; }
.giamen { margin-bottom: 20px; margin-top: 10px; text-align: center; font-size: 21px; font-weight: normal; }

.photosforwomen { padding-bottom: 140px; margin-bottom: 85px; }
.photosformen { padding-bottom: 140px; margin-bottom: 85px; }
.polaroid { float: left; position: relative; width: 97px; height: 125px; margin-right: 10px; color: Black; }
.polaroid2 { float: right; position: relative; width: 97px; height: 125px; margin-right: 10px; color: Black; }
.polaroid img { width: 93px; height: 93px; border: 2px solid #fff; border-bottom: 32px solid #fff; -webkit-box-shadow: 3px 3px 3px #777; -moz-box-shadow: 3px 3px 3px #777; box-shadow: 3px 3px 3px #777; }
.polaroid2 img { width: 93px; height: 93px; border: 2px solid #fff; border-bottom: 32px solid #fff; -webkit-box-shadow: 3px 3px 3px #777; -moz-box-shadow: 3px 3px 3px #777; box-shadow: 3px 3px 3px #777; }
.polaroid p { position: absolute; text-align: center; width: 100%; bottom: -8px; font-size: 90%; color: #26a9e1; font-weight: bold; }
.polaroid2 p { position: absolute; text-align: center; width: 100%; bottom: -8px; font-size: 90%; color: #BD1F2D; font-weight: bold; }
.regformcontainer { width: 100%; }
.regmidcontainer { width: 983px; margin-left: auto; margin-right: auto; position: relative; }
.registerform { width:384px;height: 552px; position: absolute; top: 21px; right: 0px; z-index: 1;padding: 0;background-color: #fff;background: url(//cdn.goomena.com/images2/pub2/bg.png) no-repeat scroll 0 0;
                /* height: 448px; background: url(//cdn.goomena.com/goomena-kostas/first-general/opac.png);*/  
                /*-webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);-moz-box-shadow:7px 7px 5px rgba(50, 50, 50, 0.75);box-shadow:7px 7px 5px rgba(50, 50, 50, 0.75);*/ }
.registerform .fbimg { position: absolute; top: 25px; right: 50px; }
.welcomemsg { position: absolute; left: 0px; top: 134px; }
.welcomemsg h1 { width: 460px; color: White; font-size: 36px; font-weight: 600; left: 0px; position: absolute; top: 1px; z-index: 1; }
.tooltipcustom { width: 300px; background: white; color: white; font-size: 14px; background: black; opacity: 0.8; padding: 20px; }
.tip { cursor: pointer; font-weight: bold; color: #26a9e1; }
.mosaic { position: relative; overflow: hidden; width: 1440px; height: 478px; background-color: white; 
          /*border-bottom: 4px solid #bb2237;     border-top: 4px solid #000105;*/ 
          background: url(//cdn.goomena.com/goomena-kostas/first-general/bg-reapet.jpg) repeat; margin-left: auto; margin-right: auto; margin-top: 10px;margin-bottom: 10px; }

.mainalreadymembr { width: 470px; height: 90px; background: white; margin-top: 18px; }
.mainalreadymembr p { font-size: 27px; float: left; margin-left: 10px; }
.mainalreadymembr a { font-size: 21px; text-decoration: none; background: url(//cdn.goomena.com/goomena-kostas/first-general/syndesi-button.png) 0 47px; display: block; float: right; height: 37px; margin-right: 20px; margin-top: 30px; padding-top: 7px; text-align: center; width: 122px; color: white; cursor: pointer; }
.mainalreadymembr a:hover { background: url(//cdn.goomena.com/goomena-kostas/first-general/syndesi-button.png) 0 0; }
.PhotoInfoWrap { position: absolute; }
.PhotoInfos { }
.PhotoInfos img { width: 200px; height: 200px; border-width: 10px 10px 10px; border-color: #FFFFFF; border-style: solid; -webkit-box-shadow: 3px 3px 10px 3px #777777; box-shadow: 3px 3px 10px 3px #777777; }
.ProfileID { font-size: 17px; color: white; margin-top: 0px; margin-bottom: 0px; position: absolute; top: 10px; left: 15px; font-weight: 600; padding-left: 8px; padding-right: 8px; min-width: 50px; text-align: center; }
.ProfileCity { color: white; margin-top: 0px; margin-bottom: 0px; width: 200px; position: absolute; bottom: 10px; left: 10px; font-size: 14px; text-overflow: ellipsis; line-height: 15px; text-align: center; padding-top: 7px; padding-bottom: 7px; background: black; opacity: 0.65; }
.ProfileAgeWrap { font-size: 14px; color: white; position: absolute; text-align: center; top: 15px; right: 16px; border-radius: 50%; width: 50px; height: 50px; }
.ProfileAgeText { margin: 0px; padding-top: 4px; }
.ProfileAge { margin: 0px; }
.gendermsg { }

a.wcloserdv { background: #72A252; height: 103px; padding-top: 21px; padding-left: 20px; margin-bottom: 60px; font-size: 25px; display: block; text-decoration: none; color: White; }
a.mcloserdv { background: #8c235c; height: 103px; padding-top: 21px; padding-left: 20px; font-size: 25px; margin-bottom: 60px; text-decoration: none; color: White; display: block; }
h2.wcloserdv,h2.mcloserdv{margin:0;padding:0;font-weight:normal;}


.animate {
-webkit-animation: cssAnimation 0.5s 1 ease-out;
-moz-animation: cssAnimation 0.5s 1 ease-out;
-o-animation: cssAnimation 0.5s 1 ease-out;
transform-origin:50% 50%;
}
@-webkit-keyframes cssAnimation {
from { -webkit-transform: scale(0.500) ;}
to { -webkit-transform: scale(1); }
}
@-moz-keyframes cssAnimation {
from { -moz-transform:  scale(0.500) ;}
to { -moz-transform:  scale(1); }
}
@-o-keyframes cssAnimation {
from { -o-transform:  scale(0.500) ;}
to { -o-transform:  scale(1);}
}

.default-menu {border-bottom:2px Solid #1F1D32;}
.selected-menu {border-bottom:2px Solid #D82F46;}
.selected-menu span,.selected-menu a{color:#D82F46;font-size:17px;}

.mainregdiv {/*height: 212px;*/}
.notmember { display: block; font-size: 35px; font-weight: normal;margin: 0px;padding:26px 0 0;text-align: center;}
.notmember .header{letter-spacing:-2px;}
.notmember .select-item{font-size:15px;display:block;}
.notmember2 { display: block; font-size: 15px; font-weight: normal;margin:0 0 10px;padding:0 ;text-align: center;}
.notmember2 .sub-header{letter-spacing:-1px;}
.ES .notmember {font-size: 30px;}

.mainbememberp { font-size: 17px; font-weight: lighter; display: inline-block; margin-left: 10px; margin-top: 14px; }
.HyperRegister { font-size:30px; display:block; text-decoration: none; color: white; background: #29A8DD;text-align: center;cursor: pointer;line-height:59px;}
.HyperRegister:hover {background: #060A20; }
.mainregdivctr { font-size: 16px; padding: 15px 15px 10px 44px;}
.mainregdivctr h1 { font-size: 16px; font-weight: lighter; margin-left: 6px;}
.mainregdivctr table.dxeBase {background: #fff;}
.mainregdivctr table.dxeBase .dxeIRadioButton{margin-left: 10px  !important;}
.mainregdivctr table.dxeBase .dxeIRBFocused {margin-left: 9px !important;}
.mainregdivctr table.dxeBase label { font-size: 15px;width:265px;display: block;padding:14px 0 13px 7px;font-family: "Segoe UI",Helvetica,Arial;}
.mainregdivctr table.dxeBase td {}
.reg-buttons { margin:0 18px 0 18px;}
.reg-alternative {font-size: 25px;}
.reg-alternative-separator { height:7px;width:10px;}
.reg-form-footer { margin:0 30px 0 0;text-align:right;letter-spacing: -1px;line-height:28px;position:absolute;bottom:-23px;right:0px;color:#fff;}
.reg-form-footer .text-big {font-size:28px; }
.reg-form-footer .text-small {font-size:16px;display:block;}
.reg-form-footer .text-normal {display:none;}

.hor-line { width:75px;height:1px;background-color:#000;margin-top:9px;}
.center-table { margin-left: auto; margin-right: auto; }

#top-pic,#top_pic{max-width:2004px;}
#top-pic {background:url('//cdn.goomena.com/Images2/pub2/pub2main.jpg') no-repeat 50% 0;height:624px}
#login-sections #top-pic, #top_pic{background:url('//cdn.goomena.com/Images2/pub2/register-bg.jpg') no-repeat 50% 0;height:744px}
#top_pic.man1{background:url('//cdn.goomena.com/Images2/pub2/men-register-bg.jpg') no-repeat 50% 0;}
#top_pic.woman1{background:url('//cdn.goomena.com/Images2/pub2/woman-register-bg.jpg') no-repeat 50% 0;}

#login-sections .reg-wellcome, 
#register-sections .reg-wellcome {right: 10px;left:auto;text-align:right;top:auto;bottom:0px;}
#login-sections .reg-wellcome .font-semibold, 
#register-sections .reg-wellcome .font-semibold  {padding-top: 8px;}
#login-sections .reg-wellcome .font-light .font-semibold, 
#register-sections .reg-wellcome .font-light .font-semibold  {line-height: 55px;}

#login-sections .registerform, 
#register-sections .registerform {
    right:auto;left:0px;background-image:none;background-color:#fff;top: 70px;padding-bottom:110px;height:auto;
    -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
    -webkit-box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.75); -moz-box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.75); 
    box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.75);}
#register-sections .registerform {top: 40px;}
#register-sections .registerform {padding-bottom:7px;}
#login-sections .notmember{text-align:left;}
#register-sections .notmember {text-align:center;padding-top:7px;}
#login-sections .login-title{margin:0px;font-size:28px;color:#53bf61;font-weight:normal;line-height:34px;}
#register-sections .login-title {margin:0px;font-size:36px;color:#df194c;font-weight:normal;line-height:34px;}
#login-sections .select-item {font-size:18px;color:#9fa0a3;}
#login-sections .mainregdiv, 
#register-sections .mainregdiv { padding:0px 5px 8px 22px;}

#login-sections .main-fb-logindiv, #login-sections .main-gp-logindiv, 
#register-sections .main-fb-logindiv, #register-sections .main-gp-logindiv   { background-color:transparent;margin:0px;}
#login-sections .main-fb-logindiv img, #login-sections .main-gp-logindiv img, 
#register-sections .main-fb-logindiv img, #register-sections .main-gp-logindiv img {width: 138px;height: 89px;margin:0px;}
#login-sections .main-fb-logindiv img, 
#register-sections .main-fb-logindiv img {background:url('//cdn.goomena.com/Images2/pub2/fb-login.png') no-repeat 50% -4px;}
#login-sections .main-fb-logindiv:hover img, 
#register-sections .main-fb-logindiv:hover img {background-position: 50% -142px;}

#login-sections .main-gp-logindiv img, 
#register-sections .main-gp-logindiv img {background:url('//cdn.goomena.com/Images2/pub2/gmail-login.png') no-repeat 50% -4px;}
#login-sections .main-gp-logindiv:hover img, 
#register-sections .main-gp-logindiv:hover img {background-position: 50% -142px;}

#login-sections .main-gp-logindiv, 
#register-sections .main-gp-logindiv  { position:absolute;bottom:-76px;left:5px;}

.login_box {margin:20px 10px 0 0;}
.login-buttons {position:absolute;left: 341px;top: 132px}
.login-with-wrap {position:absolute;top: -39px;left:49px;transform:rotate(-4deg);-ms-transform:rotate(-4deg); /* IE 9 */-webkit-transform:rotate(-4deg); /* Opera, Chrome, and Safari */-moz-transform: rotate(-4deg);-o-transform: rotate(-4deg);}
.login-with {font-size:22px;color:#fff;white-space:nowrap;letter-spacing:-1px;}
.login-input-wrap {border:2px solid #E3E4E8;-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;padding:7px 0 5px 7px;position:relative;}
.login-input-wrap .dxeTextBox .dxeEditArea {margin-left:25px;}
.login-input-wrap input { outline:-webkit-focus-ring-color none 0;font-size:16px;width:288px;line-height:25px;}
.login-input-wrap input.dxeEditAreaSys { height:23px;font-family: "Segoe UI",Helvetica,Arial;}
.login-input-wrap .dxeNullText .dxeEditArea {font-size:14px;font-style:italic;color:#9fa0a3;font-family: "Segoe UI",Helvetica,Arial;letter-spacing:-1px;}
.login-input-wrap .text-watermark{font-size:14px;display:none;padding:7px 0 0 10px;position:absolute;left:23px;top:2px;bottom:0px;font-style:italic;color:#9fa0a3;font-family: "Segoe UI",Helvetica,Arial;letter-spacing:-1px;}
.login-input-wrap .text-watermark span{}
.login-input-wrap td.dxic { padding:0px;}
.check-wrap {padding:7px 0 5px 5px;}
.check-wrap label{font-family: "Segoe UI Semibold";font-weight: 600;font-size:15px;}
.restore-wrap {text-align:center;}
.restore-wrap a{font-size:15px;color:#9fa0a3;}
#register-sections .validations {position: absolute;left: 418px;top: 97px;right:auto;z-index: 100;background-image:none;background-color:#fff;height:auto;
    -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
    -webkit-box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.75); -moz-box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.75); 
    box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.75);padding-bottom: 10px;}
#register-sections .validations-controls {margin:15px; }
#register-sections .validations .triangle-left {width: 0;
height: 0;
border-top: 14px solid transparent;
border-right: 33px solid #fff;
border-bottom: 20px solid transparent;
position: absolute;
left: -19px;
top: 19px;}

#login-sections .form-actions input, 
#register-sections .form-actions input {cursor:pointer;background:url('//cdn.goomena.com/Images2/pub2/login-button.png') no-repeat 0 0px;width:342px;height:54px;border:0;padding:0;font-size:22px;font-family: "Segoe UI Semibold";font-weight: 600;color:#fff;}
#login-sections .form-actions input:hover, 
#register-sections .form-actions input:hover {background-position: 0 -119px;}

#login-sections .reg-form-footer, 
#register-sections .reg-form-footer{background-color:#EFEFEF;left:0px;right:0px;margin:0;bottom:0px;text-align: center;min-height:80px;letter-spacing: 0;
                                 -webkit-border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; border-radius:0 0 5px 5px;}
#login-sections .reg-form-footer .footer-text, 
#register-sections .reg-form-footer .footer-text{display:block;color:#9fa0a3;font-size:18px;margin-top:17px;line-height:20px;}
#login-sections .reg-form-footer a, 
#register-sections .reg-form-footer a{display:block;color:#1F1D30;text-decoration:underline;font-size:17px;font-family: "Segoe UI Semibold";font-weight: 600;}
#login-sections .members-count, 
#register-sections .members-count {height: 38px;font-size: 21px;padding-top: 10px;}
#login-sections .section-1-ext, 
#register-sections .section-1-ext {background-color:transparent;}
#login-sections .mosaic, 
#register-sections .mosaic {margin-top:0;margin-bottom:0;}

#login-sections img.check, 
#register-sections img.check {position:absolute;right:5px;top:5px;}
#register-sections .RegisterGenderRadioButtonList img.check {top:15px;}

.fields-separator {height:5px;width:100%;}
.birth-title {font-size:14px;color:#1F1D30;}
.birth-title-wrap {margin:4px 0 4px 0;text-align:center;}
.birth-wrap .dxeButtonEditSys .dxeEditAreaSys{height: 23px;font-family: "Segoe UI",Helvetica,Arial;}
.birth-wrap .dxeButtonEdit {border:0;}
.birth-wrap .date-part {border: 2px solid #E3E4E8;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;position: relative;padding:5px 4px 4px 3px;}
.birth-wrap .date-table {margin-left: auto; margin-right: auto;}
.birth-wrap .day-wrap {margin-right: 3px;}
.birth-wrap .month-wrap {margin-right: 3px;}
.birth-wrap .date-part .dxeEditAreaSys {text-align:center;font-style:italic;color:#9fa0a3;font-family: "Segoe UI",Helvetica,Arial;letter-spacing:-1px;width:69px;font-size:15px !important;}
.birth-wrap .date-part .dxEditors_edtDropDown {width: 14px;background-position: -93px 0px;}
.birth-wrap .date-part .dxeButtonEditSys {height:21px !important;} 


#register-sections .check-wrap{padding-top:5px;padding-bottom:0px;position:relative;}
#register-sections .check-wrap label{font-family:"Segoe UI";font-size:14px;padding-left: 7px;}
#register-sections .login_box{margin-top:0;}
#register-sections .login-input-wrap .dxeTextBox{border:0;}
#register-sections .login-input-wrap .text-watermark,#register-sections .login-input-wrap .dxeNullText .dxeEditArea {font-size:15px;}
#register-sections .login-input-wrap .dxeButtonEdit {border:0;width:332px}
#register-sections .login-input-wrap .dxEditors_edtDropDown {width: 14px;background-position: -93px 0px;}
#register-sections .login-input-wrap .dxeEditAreaSys {height:21px;}
#register-sections .login-input-wrap input {line-height:22px;}
#register-sections .login-input-wrap .text-watermark{top:0px;}
#register-sections .form-actions {margin-top:20px;text-align: center;}
#register-sections .form-actions .dxb{font-family: "Segoe UI Semibold";font-weight: 600;color:#fff;}
#register-sections .form-actions .dxb span{line-height: 14px;}
#register-sections .RegisterAgreementsCheckBox { padding-left:0px;padding-top:7px;}
#register-sections .RegisterAgreementsCheckBox .dxeBase label,
#register-sections .RegisterAgreementsCheckBox .dxeBase label span{font-size: 11px !important;color:#1f1d30;font-family: "Segoe UI Semibold" !important;font-weight: 600;}
#register-sections .select-item {font-size:14px;color:#1f1d30;font-family: "Segoe UI Semibold";font-weight: 600;margin:12px 0 15px;}

#register-sections .check-wrap .dxeErrorCell, 
#register-sections .check-wrap .dxEditors_edtError,
#register-sections .login-input-wrap .dxeErrorCell, 
#register-sections .login-input-wrap .dxEditors_edtError {display:none;}

#after-register-sections .reg-box { height: auto; }
#pe_formPersonalInfo {margin-left:15px;margin-right:15px;}
#after-register-sections .registerform {
    right:auto;left:40px;background-image:none;background-color:#fff;height:auto;
    -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;padding-bottom:7px;top: 40px;
    -webkit-box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.75); -moz-box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.75); 
    box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.75);z-index:10;}
#after-register-sections .last-info-title-box {width:202px;height:60px;position:absolute;top: 0px;left: 70px;background:url('//cdn.goomena.com/Images2/pub2/last.png') no-repeat 0 0px;z-index:1;}
#after-register-sections .last-info-title {font-size:22px;color:#fff;margin-left:21px;margin-top:7px;}
#after-register-sections .last-info-text {font-size:23px;margin-left:15px;margin-top:7px;margin-top: 13px;margin-bottom: 15px;}
#pe_formPersonalInfo .lfloat { width:125px;text-align:right;font-family: "Segoe UI Semibold";font-weight: 600;font-size:14px;}
#pe_formPersonalInfo .lfloat label{padding-top:10px;display:block;}
#pe_formPersonalInfo .dxeButtonEditSys .dxeEditAreaSys{height: 23px;width: 100%;font-family: "Segoe UI Semibold";font-weight: 600;font-size:14px;font-style:italic;color:#B4B3B9;}
#pe_formPersonalInfo .dxeButtonEdit{width: 195px;border:0;}
#pe_formPersonalInfo ul{list-style: none;}
#after-register-sections .form-actions {width:290px;margin:15px 0;margin-left:auto;margin-right:auto;}
#after-register-sections .form-actions input {border:0;display:block;cursor:pointer;width:290px;height:59px;border:0;padding:0;font-size:19px;color:#fff;background-color:transparent;text-align:center;
                                              /*background:url('//cdn.goomena.com/Images2/pub2/enter_button.png') no-repeat 0 0px;*/}
/*#after-register-sections .form-actions input:hover {background-position: 0 -124px;}*/
#after-register-sections .login-input-wrap {width:200px;margin-left:10px;padding: 6px 0 5px 6px;}
#after-register-sections .login-input-wrap .dxeListBoxItem{font-family: "Segoe UI",Helvetica,Arial;font-size:14px;}

#after-register-sections .reg-wellcome {right: 10px;left:460px;text-align:left;top:161px;letter-spacing: -2px;line-height: 39px;width: 500px;}
#after-register-sections .reg-wellcome .font-light{font-size:39px;}
#after-register-sections .reg-wellcome .font-semibold{font-size:18px;font-family: "Segoe UI Semibold";font-weight: 600;letter-spacing:-1px;}
#after-register-sections .reg-wellcome .font-light .font-semibold{font-size:39px;font-family: "Segoe UI Semibold";font-weight: 600;display:inline;line-height: 39px;}
#after-register-sections .grey-box{background-color:#96959D;width: 341px;margin-left:auto;margin-right:auto;margin-top:15px;}
#after-register-sections .grey-box .legend{background-color:#96959D;color:#fff;font-size: 16px;}
#after-register-sections .grey-box .login-input-wrap{padding: 6px 0 5px 2px;background-color:#CDCCD1;-webkit-border-radius:0; -moz-border-radius:0; border-radius:0;border:0;width: 204px;}
#after-register-sections .grey-box .login-input-wrap .dxeButtonEditSys .dxeEditAreaSys{background-color:#CDCCD1;color:#000;font-size:16px;font-family: "Segoe UI",Helvetica,Arial;font-style:normal;}
#after-register-sections .grey-box .login-input-wrap .dxeButtonEdit{background-color:#CDCCD1;width: 197px;}
#after-register-sections .grey-box .login-input-wrap .dxeButtonEdit .dxeIIC{padding-right: 10px;}
#after-register-sections .grey-box .login-input-wrap .dxeButtonEdit .dxEditors_edtDropDown{background-position: -91px 0px;width: 18px;}

/*firefox fixes */
.ff .font-semibold,.ff .font-light,.ff .inner-box a.btn,
.ff .left-content p,.ff .right-content p,
.ff .left-content p strong,.ff .right-content p strong,
.ff .section-2 .header,.ff .section-2 .header strong,
.ff .section-2 .listaman, .ff .section-2 .lista,
.ff .section-2 .listaman strong, .ff .section-2 .lista strong,
.ff .section-7 .left-content p,.ff .section-7 .right-content p,
.ff .section-7 .left-content h6,.ff .section-7 .right-content h6,
.ff .section-8 h5, .ff .section-8 h6,.ff .section-8 .middle-content a{font-family: "Segoe UI";}

.ff .check-wrap label,
.ff #login-sections .form-actions input,
.ff #login-sections .reg-form-footer a,
.ff #register-sections .form-actions input,
.ff #register-sections .reg-form-footer a,
.ff #register-sections .form-actions .dxb,
.ff #register-sections .select-item,
.ff #pe_formPersonalInfo .lfloat,
.ff #pe_formPersonalInfo .dxeButtonEditSys .dxeEditAreaSys,
.ff #after-register-sections .reg-wellcome .font-semibold,
.ff #after-register-sections .reg-wellcome .font-light .font-semibold{font-family: "Segoe UI";}

.ff #register-sections .RegisterAgreementsCheckBox .dxeBase label,
.ff #register-sections .RegisterAgreementsCheckBox .dxeBase label span{font-family: "Segoe UI" !important;}


