﻿html, body {
    margin: 0;
    padding: 0;
     background-color: white; 
}

.NewTermsPopupConathiner {
    width: 727px;
    background-color: white; /* padding: 10px; 
BORDER-radius: 5px;*/
}

.lblnewTermsMessageHeader {
    font-size: 16px;
    color: #12538d;
    display: block;
}


.cbAgreements{
    padding-left:10px;
    padding-right:10px;
}
.MainContent {
    margin-top: 14px;
    margin-right: 10px;
    margin-left: 10px;
    height:111px;
    background:url('//cdn.goomena.com/images2/newTermsicon20141130.png') no-repeat scroll 435px 100% transparent;
}

.lblnewTermsMessage {
    font-size: 13px;
    color: #12538d;
    display: block;
    padding-top: 7px;
}

.newTermsReadMore {
    padding-top: 12px;
}

.newTermsReadMoreText {
    color: #54BC87!important;
    font-size: 14px;
    text-decoration: underline;
}

#NewTermsBottom {
    display: none;
    margin-right: 10px;
    margin-left: 10px;
}
#NewTermsBottom2 {
    display: block;
  margin-right:3px;
    margin-left: 10px;
}
.NewTermsBotomImage {
    display:none!important;
    width: 80px;
    height: 38px;
    background: url(//cdn.goomena.com/images2/newTermsicon20141130.png) no-repeat 50% 0;
    position: relative;
    margin-bottom: auto;
    margin-top: -12px;
    margin-left: 491px;
}

.btnNewTermsAccept {
    background: url("//cdn.goomena.com/Images2/newTermsbutton20141130.png") no-repeat -4px -1px;
    display: block;
    height: 29px;
    width: 122px;
     margin-left: 114px; /*margin-right:auto ;*/
    color: white;
    text-align: center;
    font-size: 14px;
    padding-top: 8px;
    margin-top: 23px;
    font-weight: bold;
}

.btnNewTermsAcceptDis:hover {
    cursor: default;
}

.btnNewTermsAcceptDis {
    opacity: 0.3;
    cursor: default;
    background: url("//cdn.goomena.com/Images2/newTermsbutton20141130.png") no-repeat -4px -1px;
    display: block;
    height: 29px;
    width: 122px;
    margin-left: 114px; /*margin-right:auto ;*/
    color: white;
    text-align: center;
    font-size: 14px;
    padding-top: 8px;
    margin-top: 23px;
    font-weight: bold;
}

.btnNewTermsAccept:hover {
    background: url("//cdn.goomena.com/Images2/newTermsbutton20141130.png") no-repeat -4px -54px;
    cursor: pointer;
}

.NewTermsBottomLine {
    height: 2px;
    background-color: #12538d;
    width: 100%;
    margin-left: -10px; /* overflow-x: overlay; */
    width: 727px;
}

.lblNewTermsBottom {
    height: 452px;
    overflow: auto;
    display: block;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 7px!Important;
}

.mCSB_scrollTools .mCSB_draggerContainer {
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}

.mCSB_scrollTools .mCSB_draggerRail {
    width: 7px!important;
    background-color: rgba(0,0,0,0.45)!important;
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #000!important;
}



.mCustomScrollBox {
    height: 431px;
}

.mCSB_scrollTools {
    height: 438px;
}
