﻿
#payment_2 { font-family: 'Segoe UI' , 'Arial'; }
#payment_2 .top-wrap { }
#payment_2 .top-wrap h3 { font-size: 19px; font-weight: normal; margin-bottom: 10px; }
#payment_2 .top-wrap h4 { font-size: 15px; font-weight: normal; margin-top: 0px; }
#payment_2 .top-wrap div#title_one {display: block;background: url('//cdn.goomena.com/images2/payment/1.png') no-repeat scroll 0 0;width: 157px;height: 48px;font-size: 13px;font-weight: bold;overflow: hidden;padding-left: 17px;padding-top: 10px;padding-right: 10px;}
#payment_2 .top-wrap div#title_two {display: block;background: url('//cdn.goomena.com/images2/payment/2.png') no-repeat scroll 0 0;width: 157px;height: 53px;font-size: 13px;font-weight: bold;overflow: hidden;padding-left: 17px;padding-top: 10px;padding-right: 10px;}
#payment_2 .top-wrap div#title_three {display:block; background: url('//cdn.goomena.com/images2/payment/3.png') no-repeat scroll 0 0;width: 184px;height: 53px;font-size: 13px;font-weight: bold;overflow: hidden;padding-left: 17px;padding-top: 10px;padding-right: 10px;}
#payment_2 .top-wrap .img-text-3 { position: relative; height: 150px; }
#payment_2 .top-wrap .text-31 { width: 186px; text-align: left; position: absolute; left: 0px;}
#payment_2 .top-wrap .text-32 { width: 186px; text-align: left; position: absolute; left: 219px; }
#payment_2 .top-wrap .text-33 { width: 211px; text-align: left; position: absolute; left: 433px; }
#payment_2 .top-wrap .img-text-3 p { font-size: 13px; }
#payment_2 .top-wrap .img-text-3 p { font-size: 13px; }
    
#payment_2 .wrap-2 { position: relative; width: 663px; }
#payment_2 .wrap-2 .blue-credits { font-size: 18px; color: #33b5e5; font-weight: normal; }
#payment_2 .wrap-2 .geotrust { position: absolute; right: 0px; top: 0px; }
    
#payment_2 #products_2 { position: relative;background-color:#E6E5E1;padding:0 0 40px 0;}
#payment_2 .wrap-3 {width: 663px; margin-left: auto; margin-right: auto; }
#payment_2 .wrap-3 .rightdiv { text-align: center; }
#payment_2 .wrap-3 .rightdiv p { line-height: 20px; font-size: 14px; }
#payment_2 .wrap-3 .oikonomikadiv {margin-top: 40px; margin-left: auto; margin-right: auto; width: 663px; height: 115px; background: url('//cdn.goomena.com/images2/payment/symferei.png') no-repeat scroll 0 0; }
#payment_2 .wrap-3 .oikonomikadiv p {padding-top: 10px;margin-left: 25px;}
#payment_2 .wrap-3 p.note-2 { font-size: 13px; margin-top: 50px; }
#payment_2 .wrap-3 .gifts { margin-top: 50px; display: none; }
#payment_2 .wrap-3 p.note { padding-top: 25px; border-top: 1px solid #bababc; margin-top: 60px; font-size: 10px; font-family: "Segoe UI" , "Arial"; }
#payment_2 .paymentsimgs {width:663px;text-align:center;}
    
#payment_2 .pricecol-price.small {position: absolute; top: 76px; left: 0;right:20px; font-size: 32px; color: #000;text-align:right;}
#payment_2 .product-1.tr .pricecol-price {top: 152px;background: url('//cdn.goomena.com/images2/payment/42-1.png') no-repeat scroll 50% 50%;height:56px;}
#payment_2 .product-2.tr .pricecol-price {top: 152px;background: url('//cdn.goomena.com/images2/payment/100-1.png') no-repeat scroll 50% 50%;height:57px;}
#payment_2 .product-3.tr .pricecol-price {top: 159px;background: url('//cdn.goomena.com/images2/payment/180-1.png') no-repeat scroll 50% 50%;height:57px;}

#payment_2 .top-wrap .img-text-3{padding-bottom:192px;background: url('//cdn.goomena.com/images2/payment/credits-banner-gr.png') no-repeat scroll 102% 100%;}
#payment_2.us .top-wrap .img-text-3{padding-bottom:192px;background: url('//cdn.goomena.com/images2/payment/credits-banner-en.png') no-repeat scroll 102% 100%;}
#payment_2.es .top-wrap .img-text-3{padding-bottom:192px;background: url('//cdn.goomena.com/images2/payment/credits-banner-es.png') no-repeat scroll 102% 100%;}
.lang-tr #payment_2 .top-wrap .img-text-3{background: url('//cdn.goomena.com/images2/payment/credits-banner-tr.png') no-repeat scroll 102% 100%;}

#products_2 figure { margin:0;}
#products_2 .product-hover figcaption {
	opacity: 0;
	text-align: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;

 	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
   
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	transform: none;
}

#products_2 .product-hover figcaption.ph-1, 
#products_2 .product-hover figcaption.ph-2,
#products_2 .product-hover figcaption.ph-3,
#products_2 .product-hover figcaption.ph-4,
#products_2 .product-hover figcaption.ph-5{
    opacity: 1;
 	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
   
	/*-webkit-transform: translate(15px, 15px);
	-moz-transform: translate(15px, 15px);
	-ms-transform: translate(15px, 15px);
	transform: translate(15px, 15px);*/
}

#products_sub {background: url('//cdn.goomena.com/images2/payment3/bg-days.png') no-repeat scroll 0px 0px;position:relative;height: 307px;width: 694px;margin:10px 0 0 0;}
#products_sub .product-prices{background: url('//cdn.goomena.com/images2/payment3/days-details.png') no-repeat scroll 50% 100%;position:relative;height: 312px;}
#products_sub .product-tab{position: absolute; width: 168px; height: 265px;display:block;cursor:pointer;top:35px;}

#products_sub .pricecol { position: absolute; top: 20px; left: 15px; background-repeat: no-repeat; width: 85px; height: 85px; }
#products_sub .product-1 .pricecol { }
#products_sub .product-2 .pricecol {}
#products_sub .product-3 .pricecol {}
    
#products_sub .pricecol-credits { position: absolute; top: 20px; left: 0; right: 0; font-size: 42px; color: #fff;text-align: center; }
#products_sub .pricecol-credits-text { position: absolute; top: 42px; left: 0;right:0;  font-size: 27px; color: #fff; text-align: center; }
#products_sub .product-3  .pricecol-credits { top: 29px;  }
#products_sub .product-3  .pricecol-credits-text { top: 45px;  }

#products_sub .pricecol-price { position: absolute; top: 145px; left: 0;right:0; font-size: 54px; color: #000; text-align: center;}
#products_sub .product-3 .pricecol-price { top: 154px;}
    
    
#products_sub .pricecol-expire-wrap { position: absolute; top: 51px; left: 0;right:0; font-size: 14px; color: #000; background: url('//cdn.goomena.com/images2/payment/check-cycle.png') no-repeat scroll 0 50%; padding-left: 20px; vertical-align: middle; display:none;}
#products_sub .product-3 .pricecol-expire-wrap { top: 58px;}
#products_sub .pricecol-expire { position: absolute; top: 152px; left: 30px; font-size: 14px; color: #000; background: url('//cdn.goomena.com/images2/payment/check-cycle.png') no-repeat scroll 0 50%; padding-left: 20px; vertical-align: middle; }
#products_sub .pricecol-expire-line2 { position: absolute; top: 176px; left: 30px; font-size: 14px; color: #000; background: url('//cdn.goomena.com/images2/payment/check-cycle.png') no-repeat scroll 0 50%; padding-left: 20px; vertical-align: middle; }
#products_sub .pricecol-expire-line3 { position: absolute; top: 200px; left: 30px; font-size: 14px; color: #000; background: url('//cdn.goomena.com/images2/payment/check-cycle.png') no-repeat scroll 0 50%; padding-left: 20px; vertical-align: middle; }

#products_sub .pricecol-order-wrap {left:0px;right:0px;bottom:23px;position: absolute;text-align:center;}
#products_sub .pricecol-order-btn { color: #fff; text-transform: uppercase; font-size: 15px; line-height: 34px; 
                                            border-width: 0px; width: 129px; height: 35px;display:block;margin:0 auto;}
#products_sub .pricecol-order-btn:hover {background-position:0 -7%;}
#products_sub .product-3 .pricecol-order-btn {bottom: 30px;}
#products_sub .product-1 {left:7px;}
#products_sub .product-2 {left:177px;}
#products_sub .product-3 {left:518px;}
#products_sub .product-4 {left:348px;}
#products_sub .product-hover figcaption{width:201px;height:309px;top:11px;position:absolute;}
#products_sub .ph-1{background: url('//cdn.goomena.com/images2/payment3/30days.png') no-repeat scroll 0 1px;left:-8px;}
#products_sub .ph-2{background: url('//cdn.goomena.com/images2/payment3/90days.png') no-repeat scroll 0 1px;left:162px;}
#products_sub .ph-3{background: url('//cdn.goomena.com/images2/payment3/360days.png') no-repeat scroll 0 1px;left:503px;}
#products_sub .product-hover .ph-4{background: url('//cdn.goomena.com/images2/payment3/180days.png') no-repeat scroll 0 1px;left:333px;top:-20px;height:342px;}
#products_sub .pricecol {}
#products_sub .pricecol-credits { }
#products_sub .pricecol-credits-text { }

#products_sub .pricecol-price {font-size: 50px;top: 124px;}
#products_sub .pricecol-order-btn {/*bottom: 37px;left: 23px;*/background: url('//cdn.goomena.com/images2/payment/xmas/order-button.png') no-repeat scroll 0px 2px; }
#products_sub .pricecol-order-btn:hover {background-position:0px -40px;}
#products_sub .pricecol-price .small {font-size: 25px;vertical-align: super;}

#products_sub .product-3 .pricecol,.product-5 .pricecol {display:none;  }
#products_sub .product-3 .pricecol-credits,.product-5 .pricecol-credits { top: 20px; }
#products_sub .product-3 .pricecol-credits-text,.product-5 .pricecol-credits-text { top: 45px;}
#products_sub .product-3 .pricecol-price,.product-5 .pricecol-price { top: 124px;}
#products_sub .product-3 .pricecol-expire-wrap { top: 58px;}
#products_sub .product-3 .pricecol-order-btn {bottom: 37px;left: 21px;}
#products_sub .product-5 .pricecol-order-btn {bottom: 46px;left: 21px;}


#products_credits {background: url('//cdn.goomena.com/images2/payment3/bg-credits.png') no-repeat scroll 50% 100%;position:relative;height: 312px;width: 694px;margin:20px 0 0 0;}
#products_credits .product-prices{background: url('//cdn.goomena.com/images2/payment3/credits-details.png?v=1') no-repeat scroll 50% 100%;position:relative;height: 312px;}
#products_credits .product-tab{position: absolute; width: 168px; height: 265px;display:block;cursor:pointer;top:35px;}

#products_credits .pricecol { position: absolute; top: 20px; left: 15px; background-repeat: no-repeat; width: 85px; height: 85px;display:none; }
#products_credits .product-1 .pricecol {}
#products_credits .product-2 .pricecol {}
#products_credits .product-3 .pricecol {}
    
#products_credits .pricecol-credits { position: absolute; top: 20px; left: 0; right: 0; font-size: 42px; color: #fff;text-align: center;display:none;  }
#products_credits .pricecol-credits-text { position: absolute; top: 42px; left: 0;right:0;  font-size: 27px; color: #fff; text-align: center;display:none;  }
#products_credits .product-3  .pricecol-credits { top: 29px;  }
#products_credits .product-3  .pricecol-credits-text { top: 45px;  }

#products_credits .pricecol-price { position: absolute; top: 145px; left: 0;right:0; font-size: 54px; color: #000; text-align: center;display:none; }
#products_credits .product-3 .pricecol-price { top: 154px;}
    
    
#products_credits .pricecol-expire-wrap { position: absolute; top: 51px; left: 0;right:0; font-size: 14px; color: #000; background: url('//cdn.goomena.com/images2/payment/check-cycle.png') no-repeat scroll 0 50%; padding-left: 20px; vertical-align: middle; display:none;}
#products_credits .product-3 .pricecol-expire-wrap { top: 58px;}
#products_credits .pricecol-expire { position: absolute; top: 152px; left: 30px; font-size: 14px; color: #000; background: url('//cdn.goomena.com/images2/payment/check-cycle.png') no-repeat scroll 0 50%; padding-left: 20px; vertical-align: middle; }
#products_credits .pricecol-expire-line2 { position: absolute; top: 176px; left: 30px; font-size: 14px; color: #000; background: url('//cdn.goomena.com/images2/payment/check-cycle.png') no-repeat scroll 0 50%; padding-left: 20px; vertical-align: middle; }
#products_credits .pricecol-expire-line3 { position: absolute; top: 200px; left: 30px; font-size: 14px; color: #000; background: url('//cdn.goomena.com/images2/payment/check-cycle.png') no-repeat scroll 0 50%; padding-left: 20px; vertical-align: middle; }

#products_credits .pricecol-order-wrap {left:0px;right:0px;bottom:23px;position: absolute;text-align:center;}
#products_credits .pricecol-order-btn { color: #fff; text-transform: uppercase; font-size: 15px; line-height: 34px; 
                                            border-width: 0px; width: 129px; height: 35px;display:block;margin:0 auto;}
#products_credits .pricecol-order-btn:hover {background-position:0 -7%;}
#products_credits .product-3 .pricecol-order-btn {bottom: 30px;}
#products_credits .product-1 {left:7px;}
#products_credits .product-2 {left:174px;}
#products_credits .product-3 {left:518px;}
#products_credits .product-5 {left:346px;}
#products_credits .product-hover figcaption{width:201px;height:309px;top:11px;position:absolute;}
#products_credits .ph-1{background: url('//cdn.goomena.com/images2/payment3/30days.png') no-repeat scroll 0 1px;left:-8px;}
#products_credits .ph-2{background: url('//cdn.goomena.com/images2/payment3/90days.png') no-repeat scroll 0 1px;left:162px;}
#products_credits .ph-3{background: url('//cdn.goomena.com/images2/payment3/360days.png') no-repeat scroll 0 1px;left:503px;}
#products_credits .product-hover .ph-5{background: url('//cdn.goomena.com/images2/payment3/180days.png') no-repeat scroll 0 1px;left:333px;top:-20px;height:342px;}
#products_credits .pricecol {}
#products_credits .pricecol-credits { }
#products_credits .pricecol-credits-text { }

#products_credits .pricecol-price {font-size: 50px;top: 124px;}
#products_credits .pricecol-order-btn {/*bottom: 37px;left: 23px;*/background: url('//cdn.goomena.com/images2/payment/xmas/order-button.png') no-repeat scroll 0px 2px; }
#products_credits .pricecol-order-btn:hover {background-position:0px -40px;}
#products_credits .pricecol-price .small {font-size: 25px;vertical-align: super;}

#products_credits .product-3 .pricecol,.product-5 .pricecol {display:none;  }
#products_credits .product-3 .pricecol-credits,.product-5 .pricecol-credits { top: 20px; }
#products_credits .product-3 .pricecol-credits-text,.product-5 .pricecol-credits-text { top: 45px;}
#products_credits .product-3 .pricecol-price,.product-5 .pricecol-price { top: 124px;}
#products_credits .product-3 .pricecol-expire-wrap { top: 58px;}
#products_credits .product-3 .pricecol-order-btn {bottom: 37px;left: 21px;}
#products_credits .product-5 .pricecol-order-btn {bottom: 46px;left: 21px;}


/* xmas offer */    
#payment_2.xmas #products_credits .product-4 {display:block;background: url('//cdn.goomena.com/images2/payment/xmas/5000credits.png') no-repeat scroll 0 1px;width:176px;height:330px;left:333px;top:-44px;}
#payment_2.xmas #products_credits .product-4:hover{background-position:0 -411px;}
#payment_2.xmas #products_credits .product-4 .pricecol-credits {top: 73px;}
#payment_2.xmas #products_credits .product-4 .pricecol-credits-text { top: 45px;}
#payment_2.xmas #products_credits .product-4 .pricecol-price { top: 179px;}
#payment_2.xmas #products_credits .product-4 .pricecol-expire-wrap { top: 58px;}
#payment_2.xmas #products_credits .product-4 .pricecol-order-btn {bottom: 44px;}
#payment_2.xmas #products_credits .top-wrap .img-text-3{padding-bottom:125px;background: url('//cdn.goomena.com/images2/payment/xmas/banner-greek.png') no-repeat scroll 50% 100%;}
#payment_2.xmas.us .top-wrap .img-text-3{padding-bottom:125px;background: url('//cdn.goomena.com/images2/payment/xmas/banner-eng.png') no-repeat scroll 50% 100%;}
#payment_2.xmas .wrap-2 {margin: 29px 0 0 0;}
#payment_2.xmas .wrap-2 .blue-credits {margin: 0;}
/* xmas offer end */



.product-header { display:block;background-color:#FFFFFF;padding:6px 10px;text-align:center;margin:0 30px;font-size:21px;}
.sub-info { display:block;font-size:13px;font-style:italic;padding:0 0 0 17px;}
.sub-content {padding:20px 0 20px 7px;}
.credits-content {padding:20px 0 20px 7px; }
.product-header .cycle-wrap { position:relative;}
.product-header .cycle-or { font-size:37px;-webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; background-color:#273840;display:inline-block;
                            width:60px;height:60px;color:#fff;position:absolute;z-index:10;left:-78px;top:-41px;text-align:center;-webkit-margin-before:26px;}

.info-content {padding: 0 0 0 15px;}
