﻿

#payments_pub { font-family: 'Segoe UI' , 'Arial'; margin:0 auto;width:920px;}
#payments_pub .top-wrap { }
#payments_pub .top-wrap h3 { font-size: 19px; font-weight: normal; margin-bottom: 10px; }
#payments_pub .top-wrap h4 { font-size: 15px; font-weight: normal; margin-top: 0px; }
#payments_pub .top-wrap div#title_one {display: block;background: url('//cdn.goomena.com/images2/payment/1.png') no-repeat scroll 0 0;width: 157px;height: 48px;font-size: 13px;font-weight: bold;overflow: hidden;padding-left: 17px;padding-top: 10px;padding-right: 10px;}
#payments_pub .top-wrap div#title_two {display: block;background: url('//cdn.goomena.com/images2/payment/2.png') no-repeat scroll 0 0;width: 157px;height: 53px;font-size: 13px;font-weight: bold;overflow: hidden;padding-left: 17px;padding-top: 10px;padding-right: 10px;}
#payments_pub .top-wrap div#title_three {display:block; background: url('//cdn.goomena.com/images2/payment/3.png') no-repeat scroll 0 0;width: 184px;height: 53px;font-size: 13px;font-weight: bold;overflow: hidden;padding-left: 17px;padding-top: 10px;padding-right: 10px;}
#payments_pub .top-wrap .img-text-3 { position: relative; height: 150px; }
#payments_pub .top-wrap .text-31 { width: 186px; text-align: left; position: absolute; left: 0px;}
#payments_pub .top-wrap .text-32 { width: 186px; text-align: left; position: absolute; left: 219px; }
#payments_pub .top-wrap .text-33 { width: 211px; text-align: left; position: absolute; left: 433px; }
#payments_pub .top-wrap .img-text-3 p { font-size: 13px; }
#payments_pub .top-wrap .img-text-3 p { font-size: 13px; }
    
#payments_pub .wrap-2 { position: relative; width: 663px; }
#payments_pub .wrap-2 .blue-credits { font-size: 18px; color: #33b5e5; font-weight: normal; }
#payments_pub .wrap-2 .geotrust { position: absolute; right: 0px; top: 0px; }
    
#payments_pub #products_2 { position: relative;height: 350px; }
#payments_pub .product-tab {display:block;cursor:pointer;width:251px;height:338px;position:relative;}
#payments_pub .product-1 {background: url('//cdn.goomena.com/goomena-kostas/pricing/for-public.png') no-repeat scroll 0 0;position: absolute; left: 10px; top:9px;}
#payments_pub .product-2 {background: url('//cdn.goomena.com/goomena-kostas/pricing/for-public.png') no-repeat scroll 0 0; position: absolute; left: 313px; top:9px;}
#payments_pub .product-3 {background: url('//cdn.goomena.com/goomena-kostas/pricing/for-public-recommend.png') no-repeat scroll 0 0; position: absolute; width:287px;height:338px; left:601px; top:8px;}

#payments_pub .pricecol { position: absolute; top: 20px; left: 15px; background-repeat: no-repeat; width: 85px; height: 85px; }
#payments_pub .product-1 .pricecol { }
#payments_pub .product-2 .pricecol {}
#payments_pub .product-3 .pricecol {}
    
#payments_pub .pricecol-credits { position: absolute; top:0px; left: 0; right: 0; font-size: 42px; color: #000;text-align: center; }
#payments_pub .pricecol-credits-text { position: absolute; top: 62px; left: 0;right:0;  font-size: 27px; color: #000; text-align: center; }
#payments_pub .pricecol-price { position: absolute; top: 145px; left: 0;right:0; font-size: 54px; color: #000; text-align: center;}
#payments_pub .product-3 .pricecol-price { top: 154px;}
    
    
#payments_pub .pricecol-expire-wrap { position: absolute; top: 51px; left: 0;right:0; font-size: 14px; color: #000; background: url('//cdn.goomena.com/images2/payment/check-cycle.png') no-repeat scroll 0 50%; padding-left: 20px; vertical-align: middle; display:none;}
#payments_pub .product-3 .pricecol-expire-wrap { top: 58px;}
#payments_pub .pricecol-expire { position: absolute; top: 152px; left: 30px; font-size: 14px; color: #000; background: url('//cdn.goomena.com/images2/payment/check-cycle.png') no-repeat scroll 0 50%; padding-left: 20px; vertical-align: middle; }
#payments_pub .pricecol-expire-line2 { position: absolute; top: 176px; left: 30px; font-size: 14px; color: #000; background: url('//cdn.goomena.com/images2/payment/check-cycle.png') no-repeat scroll 0 50%; padding-left: 20px; vertical-align: middle; }
#payments_pub .pricecol-expire-line3 { position: absolute; top: 200px; left: 30px; font-size: 14px; color: #000; background: url('//cdn.goomena.com/images2/payment/check-cycle.png') no-repeat scroll 0 50%; padding-left: 20px; vertical-align: middle; }
#payments_pub .pricecol-order-btn { color: #fff; text-transform: uppercase; font-size: 15px; text-align: center; line-height: 37px; 
                                            border-width: 0px; width: 129px; height: 35px; position: absolute; bottom: 32px; left: 62px; 
                                            display: inline-block; 
                                            background: url('//cdn.goomena.com/goomena-kostas/pricing/order-button.png') no-repeat scroll 100% 100%;text-indent:-9999px; }
#payments_pub .wrap-3 { margin-top: 40px; width: 663px; margin-left: auto; margin-right: auto; }
#payments_pub .wrap-3 .rightdiv { text-align: center; }
#payments_pub .wrap-3 .rightdiv p { line-height: 20px; font-size: 14px; }
#payments_pub .wrap-3 .oikonomikadiv {margin-top: 40px; margin-left: auto; margin-right: auto; width: 663px; height: 115px; background: url('//cdn.goomena.com/images2/payment/symferei.png') no-repeat scroll 0 0; }
#payments_pub .wrap-3 .oikonomikadiv p {padding-top: 10px;margin-left: 25px;}
#payments_pub .wrap-3 p.note-2 { font-size: 13px; margin-top: 50px; }
#payments_pub .wrap-3 .gifts { margin-top: 50px; display: none; }
#payments_pub .wrap-3 p.note { padding-top: 25px; border-top: 1px solid #bababc; margin-top: 60px; font-size: 10px; font-family: "Segoe UI" , "Arial"; }
#payments_pub .paymentsimgs {margin:15px auto 0;width:663px;text-align:center;}
    
#payments_pub .pricecol-price.small {position: absolute; top: 76px; left: 0;right:20px; font-size: 32px; color: #000;text-align:right;}
#payments_pub .product-1.tr .pricecol-price {top: 152px;background: url('//cdn.goomena.com/images2/payment/42-1.png') no-repeat scroll 50% 50%;height:56px;}
#payments_pub .product-2.tr .pricecol-price {top: 152px;background: url('//cdn.goomena.com/images2/payment/100-1.png') no-repeat scroll 50% 50%;height:57px;}
#payments_pub .product-3.tr .pricecol-price {top: 159px;background: url('//cdn.goomena.com/images2/payment/180-1.png') no-repeat scroll 50% 50%;height:57px;}
#payments_pub .product-4{display:none;}    

#payments_pub .ordbut { position: absolute; bottom: 27px; right: 25%; }
#payments_pub .ordbut2 { position: absolute; bottom: 27px; right: 29%; }
#payments_pub .pricecol { position: relative;font-family:"Segoe UI","Arial"; }
#payments_pub .pricecol-credits { text-align:center;font-size:42px;line-height:42px;padding-top:20px;}
#payments_pub .pricecol-credits-text { text-align:center;font-size:22px;line-height:25px;}
#payments_pub .pricecol-price {position:absolute;top:149px;left:0px;right:0px; }
#payments_pub .pricecol-price-text {text-align:center;font-size:56px;line-height:42px;color:#39B54A; }
#payments_pub .pricecol-expire {position:absolute;top:200px;left:0px;right:0px; display:none;}
#payments_pub .pricecol-expire-text {text-align:center;font-size:14px;}
#payments_pub .pricecol-price.small {top:159px; }
#payments_pub .pricecol-price.small .pricecol-price-text{font-size:36px;line-height:36px; }
#payments_pub .pricecol-expire.small .pricecol-expire-text{}
    
     
#payments_pub .product-4{display:block;}    
#payments_pub #products_2 {height: 410px;margin: 6px auto 0;width: 866px;background: url('//cdn.goomena.com/images2/payment/xmas-pub/logos.png') no-repeat scroll 50% 100%; }
#payments_pub .product-tab{position: absolute; width: 218px; height: 347px;}
#payments_pub .product-1 {background: url('//cdn.goomena.com/images2/payment/xmas-pub/1000-public.png') no-repeat scroll 0 3px;left:-13px;top:9px;}
#payments_pub .product-1:hover{background-position:0 -490px;}
#payments_pub .product-2 {background: url('//cdn.goomena.com/images2/payment/xmas-pub/3000-public.png') no-repeat scroll 0 3px;left:201px;top:9px;}
#payments_pub .product-2:hover{background-position:0 -490px;}
#payments_pub .product-3 {background: url('//cdn.goomena.com/images2/payment/6000-pub.png') no-repeat scroll 0 3px;width:220px;height:347px;left:637px;top:9px;}
#payments_pub .product-3:hover{background-position:1px -490px;}
#payments_pub .product-5 {background: url('//cdn.goomena.com/images2/payment/10000-pub.png') no-repeat scroll 0 3px;width:220px;height:347px;left:418px;top:9px;}
#payments_pub .product-5:hover{background-position:0 -489px;}
#payments_pub .pricecol {}
#payments_pub .pricecol-credits { color:#fff;font-size: 54px;top: 15px;}
#payments_pub .pricecol-credits-text {color:#fff;font-size: 35px;top: 69px;}

#payments_pub .pricecol-price {font-size: 60px;top: 170px; color:#000;}
#payments_pub .pricecol-price-text {color:#000; }
#payments_pub .pricecol-price-text .small {font-size: 25px;vertical-align: super;}

#payments_pub .pricecol-order-btn {bottom: 54px;left: 46px;background: url('//cdn.goomena.com/images2/payment/xmas-pub/order-button.png') no-repeat scroll 0% -7%; text-indent:0px; text-decoration:none;font-weight:bold;}
#payments_pub .pricecol-order-btn:hover {background-position:100% 100%;}

#payments_pub .product-3 .pricecol,.product-5 .pricecol {}
#payments_pub .product-3 .pricecol-credits,.product-5 .pricecol-credits  {top:17px;}
#payments_pub .product-3 .pricecol-credits-text,.product-5 .pricecol-credits-text  {top:69px;}
#payments_pub .product-3 .pricecol-price,.product-5 .pricecol-price  {top:172px;}
#payments_pub .product-3 .pricecol-expire-wrap {top: 58px;}
#payments_pub .product-3 .pricecol-order-btn {bottom: 54px;left: 47px;}
#payments_pub .product-5 .pricecol-order-btn {bottom: 54px;left: 47px;}
#payments_pub .product-4{display:none;}

#payments_pub .paymentsimgs{padding-bottom: 229px;background: url('//cdn.goomena.com/images2/payment/credits-banner-gr.png') no-repeat scroll 102% 100%;}
#payments_pub.us .paymentsimgs{background: url('//cdn.goomena.com/images2/payment/credits-banner-en.png') no-repeat scroll 102% 100%;}
#payments_pub.es .paymentsimgs{background: url('//cdn.goomena.com/images2/payment/credits-banner-es.png') no-repeat scroll 102% 100%;}

/* xmas offer */    
#payments_pub.xmas .product-4 {background: url('//cdn.goomena.com/images2/payment/xmas-pub/5000-public.png') no-repeat scroll 0 3px;width:220px;height:415px;left:418px;top:-58px;}
#payments_pub.xmas .product-4:hover{background-position:0 -490px;}
#payments_pub.xmas .product-4 .pricecol-credits { top: 83px;  }
#payments_pub.xmas .product-4 .pricecol-credits-text { top: 69px;  }
#payments_pub.xmas .product-4 .pricecol-price { top: 238px;}
#payments_pub.xmas .product-4 .pricecol-expire-wrap { top: 58px;}
#payments_pub.xmas .product-4 .pricecol-order-btn {left: 44px;bottom: 56px;}
#payments_pub.xmas .paymentsimgs img{display:none;}
#payments_pub.xmas .paymentsimgs {margin:38px auto;height:153px;background: url('//cdn.goomena.com/images2/payment/xmas/banner-greek.png') no-repeat scroll 50% 100%;}
#payments_pub.xmas.us .paymentsimgs{background: url('//cdn.goomena.com/images2/payment/xmas/banner-eng.png') no-repeat scroll 50% 100%;}
 /* xmas offer end */    
 
#payments_pub .timesdiv1{width:auto !important;}
#payments_pub .timesdiv1 h2{font-size: 28px;background: url('//cdn.goomena.com/images2/payment/xmas-pub/geotrust-logo.png') no-repeat scroll 100% 100%;margin-left:auto;margin-right:auto;width: 866px;}



#payment_2 { font-family: 'Segoe UI' , 'Arial'; }
#payment_2 .top-wrap { }
#payment_2 .top-wrap h3 { font-size: 19px; font-weight: normal; margin-bottom: 10px; }
#payment_2 .top-wrap h4 { font-size: 15px; font-weight: normal; margin-top: 0px; }
#payment_2 .top-wrap div#title_one {display: block;background: url('//cdn.goomena.com/images2/payment/1.png') no-repeat scroll 0 0;width: 157px;height: 48px;font-size: 13px;font-weight: bold;overflow: hidden;padding-left: 17px;padding-top: 10px;padding-right: 10px;}
#payment_2 .top-wrap div#title_two {display: block;background: url('//cdn.goomena.com/images2/payment/2.png') no-repeat scroll 0 0;width: 157px;height: 53px;font-size: 13px;font-weight: bold;overflow: hidden;padding-left: 17px;padding-top: 10px;padding-right: 10px;}
#payment_2 .top-wrap div#title_three {display:block; background: url('//cdn.goomena.com/images2/payment/3.png') no-repeat scroll 0 0;width: 184px;height: 53px;font-size: 13px;font-weight: bold;overflow: hidden;padding-left: 17px;padding-top: 10px;padding-right: 10px;}
#payment_2 .top-wrap .img-text-3 { position: relative; height: 150px; }
#payment_2 .top-wrap .text-31 { width: 186px; text-align: left; position: absolute; left: 0px;}
#payment_2 .top-wrap .text-32 { width: 186px; text-align: left; position: absolute; left: 219px; }
#payment_2 .top-wrap .text-33 { width: 211px; text-align: left; position: absolute; left: 433px; }
#payment_2 .top-wrap .img-text-3 p { font-size: 13px; }
#payment_2 .top-wrap .img-text-3 p { font-size: 13px; }
    
#payment_2 .wrap-2 { position: relative; width: 663px; }
#payment_2 .wrap-2 .blue-credits { font-size: 18px; color: #33b5e5; font-weight: normal; }
#payment_2 .wrap-2 .geotrust { position: absolute; right: 0px; top: 0px; }
    
#payment_2 #products_2 { position: relative;}
/*
#payment_2 #products_2 {height: 350px; }
#payment_2 .product-1 {background: url('//cdn.goomena.com/images2/payment/1000-box.png') no-repeat scroll 0 0; position: absolute; width: 217px; height: 340px; left: 0px; top:9px;}
#payment_2 .product-2 {background: url('//cdn.goomena.com/images2/payment/3000-box.png') no-repeat scroll 0 0; position: absolute; width: 217px; height: 340px; left: 221px; top:9px;}
#payment_2 .product-3 {background: url('//cdn.goomena.com/images2/payment/6000-box.png') no-repeat scroll 0 0; position: absolute; width: 217px; height: 340px; left: 442px; top:0px;}
#payment_2 .product-1:hover{background: url('//cdn.goomena.com/images2/payment/1000-box-hover.png') no-repeat scroll 0 0; }
#payment_2 .product-2:hover{background: url('//cdn.goomena.com/images2/payment/3000-box-hover.png') no-repeat scroll 0 0;}
#payment_2 .product-3:hover{background: url('//cdn.goomena.com/images2/payment/6000-box-hover.png') no-repeat scroll 0 0;}
  */  
#payment_2 .pricecol { position: absolute; top: 20px; left: 15px; background-repeat: no-repeat; width: 85px; height: 85px; }
#payment_2 .product-1 .pricecol { }
#payment_2 .product-2 .pricecol {}
#payment_2 .product-3 .pricecol {}
    
#payment_2 .pricecol-credits { position: absolute; top: 20px; left: 0; right: 0; font-size: 42px; color: #fff;text-align: center; }
#payment_2 .pricecol-credits-text { position: absolute; top: 42px; left: 0;right:0;  font-size: 27px; color: #fff; text-align: center; }
#payment_2 .product-3  .pricecol-credits { top: 29px;  }
#payment_2 .product-3  .pricecol-credits-text { top: 45px;  }

#payment_2 .pricecol-price { position: absolute; top: 145px; left: 0;right:0; font-size: 54px; color: #000; text-align: center;}
#payment_2 .product-3 .pricecol-price { top: 154px;}
    
    
#payment_2 .pricecol-expire-wrap { position: absolute; top: 51px; left: 0;right:0; font-size: 14px; color: #000; background: url('//cdn.goomena.com/images2/payment/check-cycle.png') no-repeat scroll 0 50%; padding-left: 20px; vertical-align: middle; display:none;}
#payment_2 .product-3 .pricecol-expire-wrap { top: 58px;}
#payment_2 .pricecol-expire { position: absolute; top: 152px; left: 30px; font-size: 14px; color: #000; background: url('//cdn.goomena.com/images2/payment/check-cycle.png') no-repeat scroll 0 50%; padding-left: 20px; vertical-align: middle; }
#payment_2 .pricecol-expire-line2 { position: absolute; top: 176px; left: 30px; font-size: 14px; color: #000; background: url('//cdn.goomena.com/images2/payment/check-cycle.png') no-repeat scroll 0 50%; padding-left: 20px; vertical-align: middle; }
#payment_2 .pricecol-expire-line3 { position: absolute; top: 200px; left: 30px; font-size: 14px; color: #000; background: url('//cdn.goomena.com/images2/payment/check-cycle.png') no-repeat scroll 0 50%; padding-left: 20px; vertical-align: middle; }
#payment_2 .pricecol-order-btn { color: #fff; text-transform: uppercase; font-size: 15px; text-align: center; line-height: 37px; 
                                            border-width: 0px; width: 129px; height: 35px; position: absolute; bottom: 39px; left: 44px; 
                                            display: inline-block; 
                                            background: url('//cdn.goomena.com/images2/payment/order-button.png') no-repeat scroll 100% 100%; }
#payment_2 .pricecol-order-btn:hover {background-position:0 -7%;}
#payment_2 .product-3 .pricecol-order-btn {bottom: 30px;}
#payment_2 .wrap-3 { margin-top: 40px; width: 663px; margin-left: auto; margin-right: auto; }
#payment_2 .wrap-3 .rightdiv { text-align: center; }
#payment_2 .wrap-3 .rightdiv p { line-height: 20px; font-size: 14px; }
#payment_2 .wrap-3 .oikonomikadiv {margin-top: 40px; margin-left: auto; margin-right: auto; width: 663px; height: 115px; background: url('//cdn.goomena.com/images2/payment/symferei.png') no-repeat scroll 0 0; }
#payment_2 .wrap-3 .oikonomikadiv p {padding-top: 10px;margin-left: 25px;}
#payment_2 .wrap-3 p.note-2 { font-size: 13px; margin-top: 50px; }
#payment_2 .wrap-3 .gifts { margin-top: 50px; display: none; }
#payment_2 .wrap-3 p.note { padding-top: 25px; border-top: 1px solid #bababc; margin-top: 60px; font-size: 10px; font-family: "Segoe UI" , "Arial"; }
#payment_2 .paymentsimgs {margin:15px 0 0;width:663px;text-align:center;}
    
#payment_2 .pricecol-price.small {position: absolute; top: 76px; left: 0;right:20px; font-size: 32px; color: #000;text-align:right;}
#payment_2 .product-tab {display:block;cursor:pointer;}
#payment_2 .product-1.tr .pricecol-price {top: 152px;background: url('//cdn.goomena.com/images2/payment/42-1.png') no-repeat scroll 50% 50%;height:56px;}
#payment_2 .product-2.tr .pricecol-price {top: 152px;background: url('//cdn.goomena.com/images2/payment/100-1.png') no-repeat scroll 50% 50%;height:57px;}
#payment_2 .product-3.tr .pricecol-price {top: 159px;background: url('//cdn.goomena.com/images2/payment/180-1.png') no-repeat scroll 50% 50%;height:57px;}
    
#payment_2 #products_2{height: 280px;}
#payment_2 .product-tab{position: absolute; width: 176px; height: 270px;}
#payment_2 .product-1 {background: url('//cdn.goomena.com/images2/payment/xmas/1000-credits.png') no-repeat scroll 0 1px;left:-13px;top:9px;}
#payment_2 .product-1:hover{background-position:0 -411px;}
#payment_2 .product-2 {background: url('//cdn.goomena.com/images2/payment/xmas/3000credits.png') no-repeat scroll 0 1px;left:160px;top:9px;}
#payment_2 .product-2:hover{background-position:0 -411px;}
#payment_2 .product-3 {background: url('//cdn.goomena.com/images2/payment/6000credits-2.png') no-repeat scroll 0 1px;width:176px;height:270px;left:506px;top:9px;}
#payment_2 .product-3:hover{background-position:0 -412px;}
#payment_2 .product-5 {background: url('//cdn.goomena.com/images2/payment/10000credits-2.png') no-repeat scroll 0 1px;width:176px;height:279px;left:333px;top:9px;}
#payment_2 .product-5:hover{background-position:0 -410px;}
#payment_2 .pricecol {}
#payment_2 .pricecol-credits { }
#payment_2 .pricecol-credits-text { }

#payment_2 .pricecol-price {font-size: 50px;top: 124px;}
#payment_2 .pricecol-order-btn {bottom: 37px;left: 23px;background: url('//cdn.goomena.com/images2/payment/xmas/order-button.png') no-repeat scroll 0% -7%; }
#payment_2 .pricecol-order-btn:hover {background-position:100% 100%;}
#payment_2 .pricecol-price .small {font-size: 25px;vertical-align: super;}


#payment_2 .product-3 .pricecol,.product-5 .pricecol {display:none;  }
#payment_2 .product-3 .pricecol-credits,.product-5 .pricecol-credits { top: 20px; }
#payment_2 .product-3 .pricecol-credits-text,.product-5 .pricecol-credits-text { top: 45px;}
#payment_2 .product-3 .pricecol-price,.product-5 .pricecol-price { top: 135px;}
#payment_2 .product-3 .pricecol-expire-wrap { top: 58px;}
#payment_2 .product-3 .pricecol-order-btn {bottom: 37px;left: 21px;}
#payment_2 .product-5 .pricecol-order-btn {bottom: 46px;left: 21px;}
#payment_2 .product-4{display:none;}
#payment_2 .top-wrap .img-text-3{padding-bottom:192px;background: url('//cdn.goomena.com/images2/payment/credits-banner-gr.png') no-repeat scroll 102% 100%;}
#payment_2.us .top-wrap .img-text-3{padding-bottom:192px;background: url('//cdn.goomena.com/images2/payment/credits-banner-en.png') no-repeat scroll 102% 100%;}
#payment_2.es .top-wrap .img-text-3{padding-bottom:192px;background: url('//cdn.goomena.com/images2/payment/credits-banner-es.png') no-repeat scroll 102% 100%;}
.lang-tr #payment_2 .top-wrap .img-text-3{background: url('//cdn.goomena.com/images2/payment/credits-banner-tr.png') no-repeat scroll 102% 100%;}

/* xmas offer */    
#payment_2.xmas .product-4 {display:block;background: url('//cdn.goomena.com/images2/payment/xmas/5000credits.png') no-repeat scroll 0 1px;width:176px;height:330px;left:333px;top:-44px;}
#payment_2.xmas .product-4:hover{background-position:0 -411px;}
#payment_2.xmas .product-4 .pricecol-credits {top: 73px;}
#payment_2.xmas .product-4 .pricecol-credits-text { top: 45px;}
#payment_2.xmas .product-4 .pricecol-price { top: 179px;}
#payment_2.xmas .product-4 .pricecol-expire-wrap { top: 58px;}
#payment_2.xmas .product-4 .pricecol-order-btn {bottom: 44px;}
#payment_2.xmas .top-wrap .img-text-3{padding-bottom:125px;background: url('//cdn.goomena.com/images2/payment/xmas/banner-greek.png') no-repeat scroll 50% 100%;}
#payment_2.xmas.us .top-wrap .img-text-3{padding-bottom:125px;background: url('//cdn.goomena.com/images2/payment/xmas/banner-eng.png') no-repeat scroll 50% 100%;}
#payment_2.xmas .wrap-2 {margin: 29px 0 0 0;}
#payment_2.xmas .wrap-2 .blue-credits {margin: 0;}
/* xmas offer end */    
