﻿.lblLoveHatesTitle{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    color: red;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
#LoveHate .d_winks_profiles a.login-name{
    font-size:18px;
        color:#26A5DA;
}

#LoveHate { background-color: #fff; width: 680px; padding-top: 10px; padding-left: 20px; padding-bottom: 10px; }
#LoveHate h3 { font-size: 18px; margin: 0px; padding: 0px; padding-top: 5px; height: 44px; position: relative; }
#LoveHate h3 a { font-size: 18px; margin: 0px; padding: 0px; height: 44px; color: #000; }
#LoveHate h3 span a { font-size: 14px; margin: 0px; padding: 0px; color: #26A5DA; text-align: right; position: absolute; right: 10px; top: 10px; }
#LoveHate h3 span a:hover { color: #DD1F4F; }
#LoveHate .d_winks_profiles { }
#LoveHate .d_winks_profiles a.login-name { font-size: 18px; color: #26A5DA; }
/*#LoveHate .d_winks_profiles a.login-name:hover { color: #DD1F4F; }*/
#LoveHate .d_winks_profiles .d_big_photo { cursor: pointer; /*margin-bottom: 20px;*/ margin-right: 20px; background-color: #F3F3F3; /*float: left;*/ width: 149px; height: 100%; }
#LoveHate .d_winks_profiles .pr-photo-116-noshad { margin-left: auto; margin-right: auto; margin-top: 10px; }
/*#LoveHate .d_winks_profiles .pr-photo-116-noshad:hover { border-color: #DD1F4F;background-color: #DD1F4F;}*/
#LoveHate .d_winks_profiles .text_content { text-align: center; margin-top: 8px; white-space: nowrap; overflow: hidden; }
#LoveHate .d_winks_profiles .online-indicator { font-size: 12px; text-align: center; }
#LoveHate .d_winks_profiles .online-indicator img { vertical-align: middle; margin-right: 5px; }
#LoveHate .d_winks_profiles .d_big_photo:hover { background-color: #2a343c; }
#LoveHate .d_winks_profiles .VoteMember{
    width: 149px;
    height: 100%;
    float: left; 
    margin-bottom: 20px;
    background-color: #F3F3F3;
}
#LoveHate .LoveCount,#LoveHate .HateCount{
   
   
 
    text-align: center;
    
}
#LoveHate #LoveCountImg, #LoveHate #HateCountImg{
   /*-- background: url(http://www.gossip-tv.gr/templates/gossip-tv/images/icons/icon-yes.png) no-repeat 0 0;*/
    /*height:15px;
    width:15px;*/
    display:block;
    float:left;
    vertical-align:middle;
    margin-right:5px;
}
/*#LoveHate #LoveCountImg{
    background: url(http://www.gossip-tv.gr/templates/gossip-tv/images/icons/icon-yes.png) no-repeat 0 0;
}
#LoveHate #HateCountImg{
    background: url(http://www.gossip-tv.gr/templates/gossip-tv/images/icons/icon-no.png) no-repeat 0 0;
}*/

#LoveHate-results .s_item .Age{font-weight:bold;


}
#CenterWinners{
    text-align:center;
}
#LoveHate-Winners{
    display:inline-block;
}
#LoveHate-results .s_item, #LoveHate-Winners  .s_item{font-weight:bold;
z-index:100;
position:relative;
text-align:center ;
width:132px;
float:left;
height:252px;
margin-right:3px;
margin-left:4px;
background-color:inherit;

}
#LoveHate-members{
   
    width:720px;
}
#LoveHate-results,#LoveHate-Winners{
    padding-left:10px;
}
#LoveHate-results .s_item .LoveHateProfileImg,#LoveHate-Winners .s_item .LoveHateProfileImg{
width:132px;
height:132px;

}

#LoveHate-results .s_item .left .photo,#LoveHate-Winners .s_item .left .photo{
    position:relative;
    left:auto ;
    /*top:0px;*/
    background-color:white;
}
#LoveHate-results .s_item .left .photo .tooltip.tooltip_LoveHate_photo,#LoveHate-Winners .s_item .left .photo .tooltip.tooltip_LoveHate_photo{
   
    left:0px;
    top:100px;
    display:none;
    position:absolute;
    width:100%;
    z-index:1000;
    background:rgba(225, 225, 225, .8);
    bottom:0px;
    height:30px;
}
#LoveHate-results .s_item .left .photo .tooltip.tooltip_LoveHate_photo .tooltip_text,#LoveHate-Winners  .s_item .left .photo .tooltip.tooltip_LoveHate_photo .tooltip_text{
   
   
    background:none;
    color:black;
    font-size:13px;
    width:100%;
    padding:0 0 0 0;
    position:relative;
    top:5px;
    z-index:1;
    text-align:center;

   
}
#LoveHate-results .s_item .left,#LoveHate-Winners .s_item .left{
    height:250px;
    width:100%;
  
}
#LoveHate-results .s_item .left .info,#LoveHate-Winners .s_item .left .info{
    position:relative;
    left:auto ;
       right:auto;
       width:auto;
       padding-bottom:10px;
       font-size:14px;
       font-weight:bold;
       line-height:16px;
       padding-top:10px;
       background-color:white;
}
#LoveHate-results .s_item .left .info h2 a,#LoveHate-Winners .s_item .left .info h2 a{
    color:#31ade0;
    font-size:15px;
    font-weight:bold ;
}
#LoveHate-results .s_item .left .info h2,#LoveHate-Winners  .s_item .left .info h2{
    margin:-1px 0 0 0;
}
#LoveHate-results .s_item .left #LoveHateButtons{
    background-color:white;
    height:58px;
    position:relative;
    top:10px;
    cursor:default;
}

#LoveHate-results .s_item .left .btn{
 width:65px;
 height:54px;

 float:left;
}
#LoveHate-results .s_item .left .btn.lnkLove.NoVoted{
  background : url('//cdn.goomena.com/images2/LoveHateButtons_sm.png')no-repeat 22px -46px;
   /*background : url('//cdn.goomena.com/images2/LoveHateButtons_sm.png')no-repeat 26px -115px;*/
}
#LoveHate-results .s_item .left .btn.lnkLove.NoVoted:hover{
  background : url('//cdn.goomena.com/images2/LoveHateButtons_sm.png')no-repeat 22px -7px;
}
#LoveHate-results .s_item .left .btn.lnkLove.Voted, #LoveHate-results .s_item .left .btn.lnkLove.DisVote{
  background : url('//cdn.goomena.com/images2/LoveHateButtons_sm.png')no-repeat 22px -46px;
}
#LoveHate-results .s_item .left .btn.lnkLove.Voted.Enabled{
  background : url('//cdn.goomena.com/images2/LoveHateButtons_sm.png')no-repeat 22px -7px;
}


#LoveHate-results .s_item .left .btn.lnkHate.NoVoted{
  background : url('//cdn.goomena.com/images2/LoveHateButtons_sm.png')no-repeat 22px -125px;
}
#LoveHate-results .s_item .left .btn.lnkHate.NoVoted:hover{
  background : url('//cdn.goomena.com/images2/LoveHateButtons_sm.png')no-repeat 22px -84px;
}
#LoveHate-results .s_item .left .btn.lnkHate.Voted, #LoveHate-results .s_item .left .btn.lnkHate.DisVote{
  background : url('//cdn.goomena.com/images2/LoveHateButtons_sm.png')no-repeat 22px -125px;
}
#LoveHate-results .s_item .left .btn.lnkHate.Voted.Enabled{
  background : url('//cdn.goomena.com/images2/LoveHateButtons_sm.png')no-repeat 22px -84px;
}

#LoveHate-results .s_item .left #GraySpace{
    width:2px;
    height:42px;
    background-color:#EAEBED;
    float:left;
    margin-top:5px;
}
#LoveHate-results .s_item .left .LoveHateCounter{
    position:relative;
    margin-top:34px;
    font-size:15px;
    color:#909aa4;
}
/*#LoveHate-results .s_item .left #LoveHateCounters .LoveHateCounter{

  
    float:left;

     margin-top:3px;

}
#LoveHate-results .s_item .left #LoveHateCounters .LoveHateCounter .Box{

    width:50px;
    background:url('//cdn.goomena.com/images2/bubble.png')no-repeat;
    border-radius:5px;
    margin-left:16px;
    line-height:19px;
    height:27px;
   }
#LoveHate-results .s_item .left #LoveHateCounters .LoveHateCounter .Box .LoveCounter,#LoveHate-results .s_item .left #LoveHateCounters .LoveHateCounter .Box .HateCounter {

    display:block;
    padding-top:6px;
   }*/
#LoveHate-results .s_item .left .photo .PhotoOverlay{
    display:none;
     position:absolute;
     top:29px;
  
  width:101px;
  height:84px;
}

#LoveHate-results .s_item .left .photo .prmOverlayLoveEnabled {
  
     display:block  ;
     position:absolute;
     top:29px;
  
  width:101px;
  height:84px;
 background:url('//cdn.goomena.com/images2/LoveHate_Heart_sm.png')no-repeat;
  left:16px;
 
}
#LoveHate-results .s_item .left .photo .prmOverlayHateEnabled {
    display:block  ;
       position:absolute;
     top:35px;
  
  width:101px;
  height:84px;
  background:url('//cdn.goomena.com/images2/Lovehate_Negative_sm.png')no-repeat;
 left:30px;
  
}
#LoveHate-results .s_item .left .photo .PlusSymbol{
    display:none;
     position:absolute;
     top:48px;
  font-size:20px;
  width:44px;
  height:29px;
  left:33px;
  color:#1c2e3c;
}

#LoveHate-results .s_item .left .photo .PhotoOverlay.Love{
  background:url('//cdn.goomena.com/images2/LoveHate_Heart_sm.png')no-repeat;
  left:16px;
  
 
}
#LoveHate-results .s_item .left .photo .PhotoOverlay.Hate{
  background:url('//cdn.goomena.com/images2/Lovehate_Negative_sm.png')no-repeat;
 left:30px;
  
  
}
#LoveHate-results .tooltip_lnkHate{left:30px;top: -30px;display: none; background-color:#353D43;border-radius:5px;width:auto;} 
#LoveHate-results .tooltip_lnkHate .tooltip_text{width:auto;}

#LoveHate-results .tooltip_lnkLove{left:30px;top: -30px;display: none; background-color:#353D43;border-radius:5px;width:auto;} 
#LoveHate-results .tooltip_lnkLove .tooltip_text{width:auto;}


#LoveHate-members .ss-filters {
    position:relative;
    padding-top:10px;
}
#LoveHate-members .LoveHateViewHeader{
    width:100%;
   background:url('//cdn.goomena.com/images2/line-dots.png')no-repeat;
   background-position:center;
   height:37px;
   position:relative;
   padding-bottom:20px;
   text-align:center;
  /* margin-bottom:10px;*/
}
#LoveHate-members .lblLoveHateViewHeader{
    width:440px;
    text-align:center;
    padding-top:7px;
    margin-left:-5px;
    display:inline-block;
    font-size:18px;
    color:#716e7f;
    font-weight:bold;

}
#LoveHate-members .rfloat{
    padding-right:19px;
}
#LoveHate-results .s_item .left  .LoveHateNoVote{
       display:none;
    position:absolute;
    width:100%;
    z-index:1000;
    top:-130px;
    padding-top:5px;
    padding-bottom:5px;
    background:rgba(255,255,255,0.8);

     
}
.LoveHateCmsContent.male{
background:url('//cdn.goomena.com/Images2/mbr20150127/LoveHateMenBanner.png')no-repeat;
     margin-top:31px;
    display:block;
    width:100%;
    height:273px;
}
.lang-gr .LoveHateCmsContent.male{
    background:url('//cdn.goomena.com/Images2/mbr20150127/LoveHateMenBannerGR.png')no-repeat;
     margin-top:31px;
    display:block;
    width:100%;
    height:273px;
}
.member20150127 .LoveHateCmsContent #Header{
    margin-left: -102px;
}
.lang-gr.member20150127 .LoveHateCmsContent #Header{
     margin-left: -95px;
}
.lang-gr.member20150127 .LoveHateCmsContent.male{background:url('//cdn.goomena.com/Images2/mbr20150127/LoveHateMenBannerBigT.png')no-repeat;}
.lang-gr.member20150127 .LoveHateCmsContent.female{background:url('//cdn.goomena.com/Images2/mbr20150127/LoveHateWomenBannerBigT.png')no-repeat;}
.LoveHateCmsContent.female{
background:url('//cdn.goomena.com/Images2/mbr20150127/LoveHateWomenBanner.png?v2')no-repeat;
     margin-top:31px;
    display:block;
    width:100%;
    height:273px;
    background-position-x:-6px;
}
.lang-gr .LoveHateCmsContent.female{
    background:url('//cdn.goomena.com/Images2/mbr20150127/LoveHateWomenBannerGR.png?v3')no-repeat;
     margin-top:31px;
    display:block;
    width:100%;
    height:273px;
    background-position-x:-6px;
}
 .LoveHateCmsContent{
      margin-top:31px;
    display:block;
    width:100%;
    height:250px;
}
 .LoveHateCmsContent #Header{
    text-align:center;
    padding-bottom:20px;
    padding-top:10px;
    font-size:21px;
    margin-left:-121px;
    color:white;
}
.LoveHateCmsContent #MainTxt{
    width:470px;
    height:142px;
    margin-left:31px;
    margin-right:267px;
    margin-bottom:0px;
    }
#LoveHate-members #quick-search-form2{
    margin-top:10px;
    margin-bottom:20px;
    width:100%;

}
#LoveHate-members #quick-search-form2 #search-top-row{
    float:left;
    width:273px;
    z-index:1000;
    margin-left:10px;
}
#LoveHate-members .rfloat.descr-wrap{
    padding-top:4px;
}
#LoveHate-members #quick-search-form2 .link-clear{
  display:block;
  margin-left:72px;
  position:relative;
  }
#LoveHate-members #CenterWinners #LoveHate-Winners .lblWinners{
    float:left;
    display:block;
    /*font-size:25px;*/
    font-weight:bold;
    width:105px;
    text-align:center;
    margin-right:34px;
    /*margin-top:56px;*/
    /*color:#716e7f;*/

}
#LoveHate-members .PreviousVotingWinners {
    padding-bottom:20px;
}
#LoveHate-Winners  .s_item{
    height:210px;
    /*background-color:white;*/

}
#LoveHate-members .PreviousVotingWinners .WinnerPlace .PlaceText{
    margin-top:5px;
    font-size:17px;
    color:#716e7f;
}
 #LoveHate-Winners .s_item .left .info{
     /*padding-top:0px;*/
 }
 #LoveHate-members #CenterWinners #LoveHate-Winners .lblWinners1{
    float:left;
    display:block;
    font-size:25px;
    font-weight:bold;
    width:105px;
    text-align:center;
    margin-right:34px;
   margin-top:40px;
    color:#716e7f;

}
  #LoveHate-members #CenterWinners #LoveHate-Winners #wnIcon{
  background:url('//cdn.goomena.com/images2/winnerIcon.png?v4')no-repeat;
  height:100px;
  width:100px;
  float:left;


}
 #LoveHate-Winners{
    margin-left:-146px;
}