﻿.FrameArroundBox{background-color:#ed5565; border-style:solid;border-color:white;border-width:4px;  margin-top: 14px;}
#MatchingCriteria #Criteria {color:white;   font-weight: bold;
  font-size: 13px;  }
#MatchingCriteria #Criteria .trackbar-title{text-align:center; padding-bottom:7px;}
#MatchingCriteria #Criteria .top-trackbars .trcBox{display:inline-table ;padding:0px 15px 0px 15px; }
#MatchingCriteria #Criteria .top-trackbars .trcBox .dxeTBHSys .dxeTBRBScaleSys .dxeTBTrack, .dxeTBHSys .dxeTBTrack{  height: 13px;
  background-color: #8B3336;
  border-radius: 7px;
  background-image:none;
}
#MatchingCriteria #Criteria .top-trackbars .trcBox .dxeTBHSys .dxeTBBarHighlight{  height: 13px;
  background-color: white;
  background-image:none;
  border-radius: 7px;
}
#MatchingCriteria #Criteria .top-trackbars .trcBox .dxeTBHSys{
    height:29px;
}
#MatchingCriteria #Criteria .top-trackbars .trcBox  .dxEditors_edtTBMainDH,#MatchingCriteria #Criteria .trcBox  .dxEditors_edtTBMainDHHover,
#MatchingCriteria #Criteria .top-trackbars .trcBox .dxEditors_edtTBSecondaryDH,#MatchingCriteria #Criteria .trcBox .dxEditors_edtTBSecondaryDHHover{
    background-image:url('http://cdn.goomena.com/Images2/Matching/heart.png');
    background-position: 0px 0px;
      width: 33px;
  height: 31px;
  margin-left:-3px;
}
#MatchingCriteria #Criteria .top-trackbars{ text-align:center;  margin-top: 16px;}
#MatchingCriteria #Criteria .top-trackbars #criteria_distance.trcBox {padding-left:25px;

}
#MatchingCriteria #Criteria  .crt-list-content label { color:white ; }
#MatchingCriteria #Criteria  .crt-lists h6 { color: white; font-weight:bold ; margin: 0; font-size: 15px; }
#MatchingCriteria #Criteria  h6{  padding-bottom: 10px;}
#MatchingCriteria #Criteria .crt-list4{width: 165px; overflow: hidden; }
#MatchingCriteria #Criteria .crt-list4.breast{width: 144px;  }
#MatchingCriteria #Criteria .crt-list4.PersonalHairColor{width: 171px;  }
#MatchingCriteria #Criteria .crt-list4.eyecolor{width: 169px; }

#MatchingCriteria #Criteria .crt-list2.RelationshipStatus,
#MatchingCriteria #Criteria .crt-list2.Education,
#MatchingCriteria #Criteria .crt-list2.Ethnicity,
#MatchingCriteria #Criteria .crt-list2.SmokingHabit{width: 314px; margin-left: -4px;}
#MatchingCriteria #Criteria  .crt-lists .TopRowList,#MatchingCriteria #Criteria  .crt-lists .SecondRowList,
#MatchingCriteria #Criteria  .crt-lists .TopRowList,#MatchingCriteria #Criteria  .crt-lists .ThirdRowList,
#MatchingCriteria #Criteria  .crt-lists .TopRowList,#MatchingCriteria #Criteria  .crt-lists .ForthRowList,
#MatchingCriteria #Criteria  .crt-lists .TopRowList,#MatchingCriteria #Criteria  .crt-lists .FifthRowList{  text-align: center;}
#MatchingCriteria #Criteria  .crt-lists .TopRowList .TopRowListInner,
#MatchingCriteria #Criteria  .crt-lists .SecondRowList .SecondRowListInner,
#MatchingCriteria #Criteria  .crt-lists .ThirdRowList .ThirdRowListInner,
#MatchingCriteria #Criteria  .crt-lists .ForthRowList .ForthRowListInner,
#MatchingCriteria #Criteria  .crt-lists .FifthRowList .FifthRowListInner{  display: inline-table;
  text-align: left;}
#MatchingCriteria #Criteria .MiddleBoxButtons .MiddleBoxButtonsInline .criteria.checkbox{border-style: solid;
  -webkit-border-radius:3px;                                                                              
  -moz-border-radius:  3px;
  border-radius: 3px;
  border-width: 2px;
  padding: 5px 24px 5px 6px;
    margin: 5px;
}
#MatchingCriteria #Criteria .MiddleBoxButtons .MiddleBoxButtonsInline #criteria_SpokenLang  .criteria.checkbox{
    padding: 0px;
   font-weight: bold;
}
#MatchingCriteria #Criteria .MiddleBoxButtons .MiddleBoxButtonsInline #criteria_SpokenLang  .criteria.checkbox .LangContainer{
    display:table-cell ;
    background-color:white;
    color:#ed5565;
    padding: 0px 10px 0px 6px;
    margin: 5px;
    vertical-align:middle;
}
#MatchingCriteria #Criteria .MiddleBoxButtons .MiddleBoxButtonsInline #criteria_SpokenLang  .criteria.checkbox .LandDropDownContainer{
    display:table-cell ;
   }
#MatchingCriteria #Criteria .MiddleBoxButtons .MiddleBoxButtonsInline #criteria_SpokenLang  .criteria.checkbox .LandDropDownContainer .dxeButtonEditSys.dxeButtonEdit{
      height: 34px;
      background-color:#ed5565;
}
#MatchingCriteria #Criteria .MiddleBoxButtons .MiddleBoxButtonsInline #criteria_SpokenLang  .criteria.checkbox .LandDropDownContainer .dxeButtonEditSys.dxeButtonEdit .dxeEditArea.dxeEditAreaSys{
     background-color:#ed5565;
     margin-left:10px;
     color:white;
     font-size:13px;
}
#MatchingCriteria #Criteria .MiddleBoxButtons .MiddleBoxButtonsInline #criteria_SpokenLang  .criteria.checkbox .LandDropDownContainer .dxeButtonEdit{
border:none;

}
#MatchingCriteria #Criteria .MiddleBoxButtons .MiddleBoxButtonsInline .dxeListBox,
 #MatchingCriteria #Criteria .MiddleBoxButtons .MiddleBoxButtonsInline .dxpc-ddSys .dxpc-content{
    border: none;
    border-bottom-left-radius :4px;
        border-bottom-right-radius  :4px;
}
#MatchingCriteria #Criteria .MiddleBoxButtons .MiddleBoxButtonsInline{
      font-weight: normal;
  font-size: 14px;
  display:inline-table;
  text-align:left;
  width:642px;
}
#MatchingCriteria #Criteria .MiddleBoxButtons {
    text-align:center;
    margin-top:25px;

}

#MatchingCriteria #Criteria  .dxeButtonEdit td.dxic input[type="text"] { width: 170px; text-align: left; }
#MatchingCriteria #Criteria .MiddleBoxButtons .MiddleBoxButtonsInline #criteria_SpokenLang  .criteria.checkbox .LandDropDownContainer  .dxEditors_edtDropDown{
    background-image:url('http://cdn.goomena.com/Images2/Matching/arrow.png');
    border:none;
    background-position:0px 0px;
    width: 13px;
  height: 8px;
}
#MatchingCriteria #Criteria .MiddleBoxButtons .MiddleBoxButtonsInline #criteria_SpokenLang  .criteria.checkbox .LandDropDownContainer .dxeButtonEditButton,
#MatchingCriteria #Criteria .MiddleBoxButtons .MiddleBoxButtonsInline #criteria_SpokenLang  .criteria.checkbox .LandDropDownContainer .dxeButtonEditButtonHover{
        background-image:none;
        background:none;
        background-color:#ed5565;
    border:none;
    margin-top: 4px;
  
}
#MatchingCriteria #Criteria .MiddleBoxButtons .MiddleBoxButtonsInline #criteria_SpokenLang  .criteria.checkbox .LandDropDownContainer .dxeButtonEditButton table.dxbebt{
    width: 24px;
}
#MatchingCriteria #Criteria  .form-actions { margin-top: 44px;   padding-bottom: 20px;}

#MatchingCriteria #Criteria  .form-actions input.btn { 
   background: none;
    background-color: white;
    width: 354px;
    height: 48px; 
    text-align: center;
    font-size: 19px; 
    color: #ed5565;
    padding: 0; 
    margin: 0 auto; 
    border-radius: 7px;
    border-width: 3px;
    border-color: white;
    border-style: solid;
}

#MatchingCriteria #Criteria  .form-actions input.btn:hover{
      color: white;
  background-color: #ed5565;
}
#MatchingCriteria #Criteria  h3 { color: white; font-weight: normal; margin: 0; font-size: 23px; }


#MatchingCriteria #Criteria  .cbp-content { }
#MatchingCriteria #Criteria  .crt-box { margin-top: 15px; }
#MatchingCriteria #Criteria  h3.paragraph { margin-top: 30px; }

#MatchingCriteria #Criteria  .cbp-content { position: relative; }
#MatchingCriteria #Criteria  .saved-search { background-color: #EBEBED; position: absolute; right: 5px; top: 10px; width: 280px; padding-bottom: 8px; }
#MatchingCriteria #Criteria  .saved-search h3.section-title { margin: 0; padding: 5px 10px 5px 13px; border-bottom: 3px solid #fff; font-size: 15px; color: #000; font-family:'Segoe UI Semibold',Helvetica,Arial; }
#MatchingCriteria #Criteria  .saved-search p.section-text { color: #909aa4; margin: 0; padding: 5px 10px 6px 13px; font-size: 13px; }
#MatchingCriteria #Criteria  .saved-search .dxeButtonEdit td.dxic input[type="text"] { width: 156px; }
#MatchingCriteria #Criteria  .saved-search .controls { width: 253px; margin: 0 auto; }
#MatchingCriteria #Criteria  .saved-search .lfloat { margin-top: 7px; }
#MatchingCriteria #Criteria  .saved-search .as_info { height:139px;overflow:auto;}
#MatchingCriteria #Criteria  .crt-box .check-box label { font-size: 15px; color: #909aa4; }
#MatchingCriteria #Criteria  .dxeButtonEdit.input-small td.dxic input[type="text"] { width: 60px; }
#MatchingCriteria #Criteria  .crt-box .cr-word { margin-right: 10px; margin-top: 5px; }
#MatchingCriteria #Criteria  .crt-box .cr-control { margin-right: 10px; }

#MatchingCriteria #Criteria  .crt-lists { margin-top: 32px; margin-left: 10px; }
#MatchingCriteria #Criteria  .crt-list3 { width: 220px; overflow: hidden; }
#MatchingCriteria #Criteria  .crt-list2 { width: 330px; overflow: hidden; }




#MatchingCriteria #Criteria  .form-actions input.btn:hover { background-position: -3px -65px; }
#MatchingCriteria #Criteria  a.as_recent_del { display: inline-block; background: url('//cdn.goomena.com/images/red_green2.png') no-repeat 0 -25px; width: auto; padding-left: 15px; display: inline-block; width: 170px; overflow: hidden; font-size: 13px; padding-top: 2px; white-space: nowrap; }
#MatchingCriteria #Criteria  a.as_recent_del:hover {background-position: 0 -1px; color: #DD1F4F;}



#MatchingCriteria #Criteria .txtZip{
float: left;
  display: inline-block;
  
}
#MatchingCriteria #Criteria .msg_ZipExample{
  float: left;
  margin-left: 10px;
}
#MatchingCriteria #Criteria .cbp-content .crt-box{
    width:296px;
}
.ff #MatchingCriteria #Criteria   {font-family:'Segoe UI';font-weight:600;}


/*----------------------------------MatchingResults----------------------------------------------------------------------*/

#MatchingResults{
    background:url('//cdn.goomena.com/Images2/Matching/bg-repeat.png') repeat-y 0 0;
      margin-left: -15px;
  margin-top: -15px;
  padding: 15px 15px;
}

#MatchingResults .ResultsArea{
      background: url('//cdn.goomena.com/Images2/Matching/line1_edit.png') no-repeat -50px -21px;
  height: 114px;
  margin-left: -16px;
  margin-top: -22px;
  display: inline-table;
    width: 100%;
  padding-bottom: 37px;
}
#m-body-container{
       margin-bottom: 0px; 
}
#MatchingResults .ResultsArea .Left.Profile.First{
      margin-left: 123px;
  margin-top: 13px;
     top: 0px;
}
#MatchingResults .ResultsArea .Left.Profile{
      top: -43px;
}
#MatchingResults .ResultsArea .Right.Profile.First{
     top: -110px;
     left: 301px;
}
#MatchingResults .ResultsArea .Right.Profile{
  left: 234px;
  position: relative;
  top: -32px;
  width: 198px;
}
#MatchingResults .ResultsArea .Profile{
    width: 198px;
      margin: 0px;
  padding: 0px;
   height: 175px;
   position:relative;
}
#MatchingResults .ResultsArea .Profile .ProfileImg{
     width: 186px;
        position: relative;
}
#MatchingResults .ResultsArea .Right.Profile.First .ProfileImg{  
     top: -28px;}
#MatchingResults .ResultsArea .Right.Profile .ProfileImg{  
    left: 165px;
  top: -105px;}
#MatchingResults .ResultsArea .Left.Profile.First .ProfileImg {
  left: 0px;
  top: 0px;
    }
#MatchingResults .ResultsArea .Left.Profile .ProfileImg {
   
  left: 51px;
  top: -17px;
    }
#MatchingResults .ResultsArea .Right.Profile.First{
   top: -50px;
 left: 301px;

}
#MatchingResults .ResultsArea .Profile .ProfileImg .InnerProfileImg{
  -webkit-border-radius: 50%;
  -moz-border-radius:50%;
  border-radius:50%;
  border-width: 5px;
  border-style: solid;
  border-color: white;
  width: 175px;
  height: 175px;
    background: url('//cdn.goomena.com/Images/ajax-loader.gif?v2') no-repeat 50% 50%;
    display:block;
}
#MatchingResults .ResultsArea .Profile .ProfileImg .InnerProfileImg .RoundImage175{
    -webkit-border-radius: 50%;
  -moz-border-radius:50%;
  border-radius:50%;
      width: 175px;
  height: 175px;

background-size:cover;
}
#MatchingResults .ResultsArea .Profile .ProfileImg .Heart {
        /*background:url('//cdn.goomena.com/Images2/Matching/heart_empty.png') no-repeat 0 0;*/
        /*height: 43px;
        width: 53px;*/
        display: inline-table;
        position: relative;
    }
#MatchingResults .ResultsArea .Left.Profile .ProfileImg .Heart{
     top: -152px;
   left: 150px;
  
}
#MatchingResults .ResultsArea .Right.Profile .Heart{
      top: -129px;
  left: -23px;
}
#MatchingResults .ResultsArea .Profile .ProfileImg .Heart .MatchPercent{
    font-size:14px;
    font-weight:bold;
    color:white ;
    text-align: center;
    margin-top: 9px;
}
#MatchingResults .ResultsArea .Profile .ProfileDetails{
    text-align: center;
  margin-top: -37px;
}
#MatchingResults .ResultsArea .Profile .ProfileDetails .ProfileName{
    font-size:15px;
    font-weight:bold;
    color:#31ade0;
}
#MatchingResults .ResultsArea .Profile .ProfileDetails .ProfileAge{
     font-size:14px;
    font-weight:bold;
    color:black ;
    margin-top: -3px;
}
#MatchingResults .ResultsArea .Profile.First .Right.Line{
          height: 71px;
                   background:url('//cdn.goomena.com/Images2/Matching/line2.png') no-repeat 0 0;
}
#MatchingResults .ResultsArea .Profile .Right.Line{
         background:url('//cdn.goomena.com/Images2/Matching/line4.png') no-repeat 0 0;
            z-index: -1000;
            height: 119px;
}
#MatchingResults .ResultsArea .Profile .Left.Line{
         background:url('//cdn.goomena.com/Images2/Matching/line3.png') no-repeat 0 0;
         height: 111px;
  position: relative;
  left: 168px;
  width: 330px;
    z-index: -1000;
}
#MatchingResults .bottomContainer{
      margin-top: 32px;
}
#MatchingResults .bottomContainer .ButtonMore{  text-align: center;
                                                font-size: 16px;
  font-weight: bold;
    padding-bottom: 20px;
}
#MatchingResults .bottomContainer .ButtonMore .ButtonMoreLink{
    background:url('//cdn.goomena.com/Images2/Matching/more-button.png') no-repeat 0 0;
      display: block;
  width: 163px;
  height: 45px;
  line-height: 41px;
  margin-left: auto;
  margin-right: auto;
}
#MatchingResults .bottomContainer .ButtonMore .ButtonMoreLink:hover{
    background-position:0px -64px;
}
    #MatchingResults .bottomContainer .Loading {
        text-align: center;
    }
     #MatchingResults .ButtonEdit  {
        /*text-align: center;*/
        margin-top: 12px;
    }
      #MatchingResults .ButtonEdit .ButtonEditLink {
            background:url('//cdn.goomena.com/Images2/Matching/edit-button1.png?v2') no-repeat 0 0;
      display: block;
  width: 163px;
  height: 45px;
  line-height: 41px;
  margin:0px 36px 0px auto;
  font-size:16px;
  font-weight:bold;
  color:white;
      }
   #MatchingResults .ButtonEdit .ButtonEditLink .lblButtonEditLink{  padding-left: 42px;}