﻿.vat-info { font-size:12px;font-weight:bold;margin: 10px 22px;
border-bottom: 1px solid #bababc;
padding-bottom: 3px;}
#payment_2 { font-family: 'Segoe UI' , 'Arial'; }
#payment_2 .top-wrap { margin: 20px; }
#payment_2 .paymentsimgs {margin:30px auto;width:666px;text-align:center;}
#payment_2 #methods_2 {margin:0 auto;padding-top:43px; position: relative; 
background: url('//cdn.goomena.com/Images2/payment/bg-payment.png') no-repeat scroll 5% -2%; 
width: 666px;}
#payment_2 #methods_2 .methods-title{position:absolute;top: 8px;left: 48px;}
#payment_2 #methods_2 .methods-title h2{margin:0 0 0 0;color:#fff;font-weight:normal;}
#payment_2 #methods_2 .methods-1, 
#payment_2 #methods_2 .methods-2, 
#payment_2 #methods_2 .methods-3,#payment_2 #methods_2 .methods-4{ position: relative; width: 616px;padding:15px 20px 15px 20px;}
   
#payment_2 #methods_2 .pay-btn { float:left;width: 143px; /*height: 66px;top:10px; left:20px;*/ }
    
#payment_2 #methods_2 .pay-btn .paysafecard{display:block;background: url('//cdn.goomena.com/Images2/payment/paysafe-button.png') no-repeat scroll 0 0; width: 143px; height: 66px; }
#payment_2 #methods_2 .pay-btn .paysafecard:hover{background-position: 100% 100%;}
    
#payment_2 #methods_2 .pay-btn .credit-card{display:block;background: url('//cdn.goomena.com/Images2/payment/credits-cards-button.png') no-repeat scroll 0 0; width: 143px; height: 66px; }
#payment_2 #methods_2 .pay-btn .credit-card:hover{background-position: 100% 100%;}
    
#payment_2 #methods_2 .pay-btn .paypal{display:block;background: url('//cdn.goomena.com/Images2/payment/paypal-button.png') no-repeat scroll 0 0; width: 143px; height: 66px; }
#payment_2 #methods_2 .pay-btn .paypal:hover{background-position: 100% 100%;}

#payment_2 #methods_2 .pay-btn .BitPay{display:block;background: url('//cdn.goomena.com/Images2/payment/bitcoin-button.png') no-repeat scroll 0 0; width: 143px; height: 66px; }
#payment_2 #methods_2 .pay-btn .BitPay:hover{background-position: 100% 100%;}   
 
#payment_2 #methods_2 .pay-text {float:left;width: 445px;margin-left:20px;  }
#payment_2 #methods_2 .bottom-border { background-color:#696969;height:1px;width:636px;margin:0 10px;}
#payment_2 .wrap-2 {margin-top:10px;width:666px;margin-left:auto;margin-right:auto;}
#payment_2 #methods_2_wrap {padding:4px;border:1px solid  #dddddd;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;background-color:#F2F2F2;webkit-box-shadow: -3px -4px 5px rgba(221, 221, 221, 0.4), 4px 3px 5px rgba(221, 221, 221, 0.4);-moz-box-shadow:    -3px -4px 5px rgba(221, 221, 221, 0.4), 4px 3px 5px rgba(221, 221, 221, 0.4);box-shadow:         -3px -4px 5px rgba(221, 221, 221, 0.4), 4px 3px 5px rgba(221, 221, 221, 0.4);}

