﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="Default.aspx.vb" Inherits="Dating.Server.MultiAccess.Web._Default1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>MultiAccess start page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        Hello Jim!<br />
        <br />
        Login successfull, but page is not complete.......</div>
        <br />
        <asp:LoginStatus ID="LoginStatus1" runat="server" />
        <br />

    </form>
</body>
</html>
