
/* Background
----------------------------------------------------------------------------------------------------*/
input[type=checkbox]{border:none !important;}
input[type=radio]{border:none !important;}

#content{background: url(../img/content_bg.png) repeat-y right top;}

.nav{padding:8px 0 5px;}

.pe_form li{clear:both; height:auto;}

.pe_form .form-right{float:left;}

.pe_form label{}

.form_right input{margin:0 !important; margin-bottom:0 !important;}

.p_filter input.p_submit{font-size:0; text-align:justify; line-height:0; text-indent:-99999px; float:none; margin: 0 0 0 15px; }


.ie_padding{padding:10px 0;}

.fb_block{margin-top: -20px;}

.fb_block .form_holder {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    margin: 0;
    padding: 0 0 44px !important;
}

.submit_fb p{padding-top: 40px; margin:0; clear:both;}


.midi_bg {position:relative; zoom:1; overflow:hidden;}

#looking_dating{height: 220px !important;}


.alert{height:20px;}