﻿

/*
.clearfix:before, .clearfix:after, .grid-block:before, .grid-block:after, .deepest:before, .deepest:after {content: "";display: table;}
.clearfix:after, .grid-block:after, .deepest:after {clear: both;}
*/

.menu-dropdown a.level1,
.menu-dropdown span.level1 { font-family: "Maven Pro"; }

.menu-dropdown a.level2,
.menu-dropdown span.level2 { font-family: "Nobile"; font-size: 12px; }

.menu a, .menu span {
    display: block;
}

/* Spacing
----------------------------------------------------------------------------------------------------*/

/*
#header,
#content,
#breadcrumbs,
.module { margin: 5px; }
*/

#header { margin-bottom: 10px; }

#toolbar { margin-bottom: 15px; }

#headerbar { margin-bottom: 30px; }

#footer { margin: 15px 5px; }

#footer .module { margin: 0; }


/* Layout
----------------------------------------------------------------------------------------------------*/

.menu {float:right;}
.menu ul{list-style:none}
.menu ul li{float:left;display:inline;}
.level1 {display:inline;float:left;text-transform:uppercase;padding-left:15px;color:Black;}