﻿/* CSS reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
html, body { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
address, caption, cite, code, dfn, th, var { font-style: normal; font-weight: normal; }
ol, ul { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0; }
body { font-family: 'PT Sans Narrow' , Arial, sans-serif; font-size: 12px; }
a { color: #fff; text-decoration: none; }
h1, h5 { font-size: 40px; font-weight: normal; text-transform: uppercase; font-family: 'Monoton' , Arial, sans-serif; color: #fff; text-shadow: 1px 1px 1px #000; word-spacing: 10px; line-height: 40px; padding: 10px 5px 0px 0px; }
h1 span, h5 { font-size: 18px; color: #c08763; font-family: Georgia, serif; font-style: italic; text-transform: none; word-spacing: 0px; white-space: nowrap; }
h2 { font-family: Georgia, serif; font-style: italic; padding: 5px 10px 5px 5px; font-size: 14px; }
pre { padding: 15px; white-space: pre-wrap; }

.userErrorMsg { font-size: 14px; position: absolute; right: 0px; top: 0px; z-index: 100001; background-color: #fff; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5; }
.clr, .clear { clear: both; }
.lfloat, .l-content { float: left; }
.rfloat, .r-content { float: right; }

.header { width: 980px; margin: 0 auto; }
.container { position: relative; }
#overlay { position: absolute; top: 0px; left: 0px; width: 100%; height: 480px; min-width: 315px; z-index: 100; /*display: none;*/ color: #fff;  }
#overlay .inner { padding: 10px; background: transparent url(../images/black.png) repeat top left; width: 980px; margin: 0 auto; }
#overlay .l-content{width:38%;padding:40px;}
#overlay .r-content{width:50%;}

.more ul { text-transform: uppercase; font-size: 11px; padding: 20px 15px 5px 5px; font-family: 'PT Sans Narrow' , Arial, sans-serif; margin: 0 auto; }
.more ul li { display: inline; line-height: 30px; margin: 0px 2px; white-space: nowrap; }
.more ul li:first-child { clear: both; float: none; display: block; }
.more ul li.selected a, .more ul li.selected a:hover { background: #f7f7f7; color: #000; text-shadow: none; white-space: nowrap; }
.more ul li a { text-shadow: 1px 1px 1px #000; color: #fff; background: #c08763; padding: 3px 6px; -moz-box-shadow: 1px 1px 2px #000; -webkit-box-shadow: 1px 1px 2px #000; box-shadow: 1px 1px 2px #000; }
.more ul li a:hover { background: #fff; color: #000; text-shadow: none; }
.snippet { padding: 5px; }
.snippet span { font-size: 14px; cursor: pointer; padding: 2px 18px 2px 9px; }
.snippet span.down { background: #000 url(../images/arrow.png) no-repeat 98% 50%; }
.snippet span.up { background: #000 url(../images/arrow_up.png) no-repeat 98% 50%; }
.snippet pre { display: none; }
.panel { position: absolute; height: 86px; width: 20px; right: 0px; top: 10px; cursor: pointer; }
.hide { background: transparent url(../images/hide.png) no-repeat center center; }
.show { background: transparent url(../images/show.png) no-repeat center center; }
.loadmore { display: none; width: 700px; line-height: 30px; text-transform: uppercase; background: #333; float: right; font-weight: bold; font-size: 16px; text-align: center; cursor: pointer; text-shadow: 1px 1px 1px #000; }
.loadmore:hover { background: #000; }
.am-wrapper { float: left; position: relative; overflow: hidden; }
.am-wrapper img { position: absolute; outline: none; }


.am-container { position: relative; height: 481px; overflow: hidden; background-color: Black; }
.photo-line { overflow: hidden; height: 121px; white-space: nowrap; }
.am-container { position: relative; height: 481px; overflow: hidden; background-color: Black; }
.am-container { position: relative; height: 481px; overflow: hidden; background-color: Black; }
.photo-line .icon { position: relative; }
.photo-line .icon a { background-color: White; }
.photo-line .icon img { height: 115px; border: 3px solid #fff; margin-bottom: 5px; }
.photo-line .icon .over { position: absolute; background: url(../images/black2.png) repeat scroll 0 0; width: 121px; height: 121px; left: 0px; top: 0px; }
.photo-line .image { left: 0px; top: 0px; }
.photo-line .text { position: absolute; top: -100px; left: 10px; width: 100px; height: 100px; overflow: hidden; }
.photo-line span.icon { position: relative; }
.photo-line span.icon img { height: 115px; border: 3px solid #fff; }
.photo-line span.icon .over { position: absolute; background: url(../images/black2.png) repeat scroll 0 0; width: 121px; height: 121px; left: 0px; top: -112px; }


.logo { float: left; display: block; position: relative; top: 0px; left: 0px; margin-left: 12px;  }
#pageLogo { /*margin-left:-6px;*/ z-index: 5; }
#pageLogo a { background: url('../Images/logo.jpg') no-repeat scroll 0 0; width: 254px; height: 80px; display: block;}
.logoLink { background: url("../images/logo_256x58.png") no-repeat scroll left 3px transparent; display: block; height: 73px; text-indent: -99999px; width: 325px; text-decoration: none; }
.public-top-right { float: right; width: auto; margin-right: 8px; }

.container-middle {clear:both;}
.container-middle .inner{width: 980px; margin: 0 auto;}
.container-middle .l-content{width:45%;}
.container-middle .r-content{width:45%;}
