﻿body
{
    background-color: #222222;   
    text-align: center;
	min-width: 600px;
 
}
#container
{
    border: 10px solid #FFFFFF;
    background-color: #111111;
    font-family: Verdana;
    padding: 20px;
    margin:0 auto;
	width:500px;
	text-align: left;

   
}
#header
{    
    font-weight: bold;
    font-style: italic;
    font-size: small;
    color: #FFFFFF; 
    padding:10px;  
    text-align:center
}
#header select
{
    font-weight: bold;   
    border-style: none;
    font-style: italic;
}
#text
{
    padding: 5px;
    color: #FFFFFF;
    font-size: x-small;    
}
#text a
{
    color: #C0C0C0;
}
#images
{
    padding: 10px;
    text-align: center;
}
#images img
{
    margin: 5px;
    border: 5px outset #FFFFFF;
} 