/*********************************What is it EN START**************************************************************/
html,body{margin:0;padding:0;}
body{font-family: Segoe UI;}
.lfloat{float:left;}
.rfloat{float:right;}
.mosaictieinai101
{
    position: relative;
    width: 1440px;
    height:459px;
margin-left:auto;
margin-right:auto;
    background:url("Images2/ti-einai/ti-einai-big.jpg") no-repeat scroll center center transparent;

}
.tieinaicontainer101
{
    position:absolute;
    height:306px;
    width:387px;
    left:15px;
    top:185px;
}
.tieinaicontainer101 img
{
    z-index:1;
    opacity: 0.83;
    position:absolute;
}
.tieinaicontainer101 h1
{
    color: #A46764;
    font-size: 200%;
    left: 30px;
    position: absolute;
    top: 1px;
    z-index: 1;
}
.tieinaicontainer101 p
{
    bottom: 54px;
    color: #FFFEFF;
    font-size: 120%;
    left: 33px;
    position: absolute;
    width: 323px;
    z-index: 1;
}

.maintieinai101
{

}
.manwomancontainer101
{
    width:1100px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    padding-top: 50px;
}
.clear
{
    clear:both;
}
.nicewomen101
{
    float:left;
    position:relative;
margin-top:50px;
width:543px;
}
.nicewomen101 h1
{
    border-bottom: 1px solid black;
    float: right;
    margin-top: 32px;
    width: 252px;
    margin-right:117px;
font-weight:600;
padding-bottom: 5px;
font-size:20px;
}
.nicewomen101 p
{
    width:285px;
    position:absolute;
    top:78px;
    left:170px;
    text-align: left;
font-size:13px;
font-family: Segoe UI;
}
.nicewomen101 ul
{
    margin-left: 35px;
    margin-top: 47px;
    line-height:28px;
}
.nicewomen101 ul a
{
    font-size:14px;
    text-decoration:none;
    color:black;
    padding-left: 10px;
    padding-right: 10px;

}
.nicewomen101 li
{
font-family: Segoe UI;
    margin-bottom:21px;
    line-height:55px;
    background:url(Images2/ti-einai2/bg-tieinai-.png) repeat;
width:460px;
text-align:center;
list-style:none;
-webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 4px rgba(50, 50, 50, 0.75);
box-shadow:         1px 1px 4px rgba(50, 50, 50, 0.75);
}
.nicemen101
{
    float:right;
    width:520px;
    position:relative;
margin-top:50px;
}
.nicemen101 h1
{
    border-bottom: 1px solid black;
    float:right;
    margin-top: 32px;
    width: 252px;
    margin-right:95px;
font-weight:600;
padding-bottom: 5px;
font-size:20px;
}
.nicemen101 p
{
    width:285px;
    position:absolute;
    top:78px;
    left:170px;
    text-align: left;
font-size:13px;
font-family: Segoe UI;
}
.nicemen101 ul
{
    margin-left: 35px;
    margin-top: 47px;
}
.nicemen101 ul a
{
    font-size:14px;
    text-decoration:none;
    color:black;
    padding-left: 10px;
    padding-right: 10px;

}
.nicemen101 li
{
font-family: Segoe UI;
    margin-bottom:21px;
background:url(Images2/ti-einai2/bg-tieinai-.png) repeat;;
    line-height:55px;
width:460px;
text-align:center;
list-style:none;
-webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 4px rgba(50, 50, 50, 0.75);
box-shadow:         1px 1px 4px rgba(50, 50, 50, 0.75);
}
.guarantee101
{
    margin-top:81px;
margin-left:70px;
    position:relative;
text-align:left;
font-size:22px;
width:454px;
display:inline-block;
}
.losetime101
{
float:right;
    margin-top:34px;
    height:228px;
    width:454px;
    color:White;
    background:#24a9e1;
    position:relative;
}
.losetime101 a
{
    text-decoration:none;
    color:White;
    margin-top: 20px;
    margin-left: 29px;
    position:absolute;
font-size: 23px;
font-weight:lighter;
}
.guaranteeimg101
{    
    position:relative;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 30px;
    margin-left: 40%;
}
.megalilista101 ul
{
    text-decoration:none;
}
.megalilista101 a
{
    text-decoration:none;

}
.megalilista101 li
{
font-family: Segoe UI;
    padding-bottom:22px;
list-style:none;
font-size:13px;
}
.megalilista101 li:last-child
{
    padding-bottom:72px;
}
/*.megalilista101 li:first-child
{
font-size:17px;
font-weight:500;
}*/
.bigletters101
{
font-size:40px;
font-weight:lighter;
}
.perithorio101
{
margin-bottom:60px;
position:relative;
}
.tooltipcustom
{
width:300px;
background:white;
color:white;
font-size:14px;
background:black;
opacity:0.8;
padding:20px;
}
.tip
{
    cursor:pointer;
    font-weight:bold;
    color:#26a9e1;
}
.links
{
text-decoration:none;
font-weight:bold;
color:#25aae2;
}
.learnwhy101
{
    font-size: 17px;
    margin-left: 73px;
    position: absolute;
    top: -72px;
}

/**************What is it EN END *****************************************************************************/


/****************************** What is it GR START ***********************************************************/

body
{
font-family: Segoe UI;
}
.mosaictieinai
{
    position: relative;
    width: 1440px;
    height:459px;
margin-left:auto;
margin-right:auto;
    background:url("Images2/ti-einai/ti-einai-big.jpg") no-repeat scroll center center transparent;

}
.tieinaicontainer
{
    position:absolute;
    height:306px;
    width:387px;
    left:15px;
    top:185px;
}
.tieinaicontainer img
{
    z-index:1;
    opacity: 0.83;
    position:absolute;
}
.tieinaicontainer h1
{
    color: #A46764;
    font-size: 200%;
    left: 30px;
    position: absolute;
    top: 1px;
    z-index: 1;
}
.tieinaicontainer p
{
    bottom: 54px;
    color: #FFFEFF;
    font-size: 120%;
    left: 33px;
    position: absolute;
    width: 323px;
    z-index: 1;
}

.maintieinai
{

}
.manwomancontainer
{
    width:1100px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    padding-top: 50px;
}
.clear
{
    clear:both;
}
.nicewomen
{
    float:left;
    position:relative;
margin-top:50px;
width:543px;
}
.nicewomen h1
{
    border-bottom: 1px solid black;
    float: right;
    margin-top: 32px;
    width: 252px;
    margin-right:117px;
font-weight:600;
padding-bottom: 5px;
font-size:20px;
}
.nicewomen p
{
    width:285px;
    position:absolute;
    top:78px;
    left:170px;
    text-align: left;
font-size:13px;
font-family: Segoe UI;
}
.nicewomen ul
{
    margin-left: 35px;
    margin-top: 47px;
    line-height:28px;
}
.nicewomen ul a
{
    font-size:14px;
    text-decoration:none;
    color:black;
    padding-left: 10px;
    padding-right: 10px;

}
.nicewomen li
{
font-family: Segoe UI;
    margin-bottom:21px;
    line-height:55px;
    background:url(Images2/ti-einai2/bg-tieinai-.png) repeat;
width:460px;
text-align:center;
list-style:none;
-webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 4px rgba(50, 50, 50, 0.75);
box-shadow:         1px 1px 4px rgba(50, 50, 50, 0.75);
}
.nicemen
{
    float:right;
    width:520px;
    position:relative;
margin-top:50px;
}
.nicemen h1
{
    border-bottom: 1px solid black;
    float:right;
    margin-top: 32px;
    width: 252px;
    margin-right:95px;
font-weight:600;
padding-bottom: 5px;
font-size:20px;
}
.nicemen p
{
    width:285px;
    position:absolute;
    top:78px;
    left:170px;
    text-align: left;
font-size:13px;
font-family: Segoe UI;
}
.nicemen ul
{
    margin-left: 35px;
    margin-top: 47px;
}
.nicemen ul a
{
    font-size:14px;
    text-decoration:none;
    color:black;
    padding-left: 10px;
    padding-right: 10px;

}
.nicemen li
{
font-family: Segoe UI;
    margin-bottom:21px;
background:url(Images2/ti-einai2/bg-tieinai-.png) repeat;;
    line-height:55px;
width:460px;
text-align:center;
list-style:none;
-webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 4px rgba(50, 50, 50, 0.75);
box-shadow:         1px 1px 4px rgba(50, 50, 50, 0.75);
}
.guarantee
{
    margin-top:81px;
margin-left:70px;
    position:relative;
text-align:left;
font-size:22px;
width:454px;
display:inline-block;
}
.losetime
{
float:right;
    margin-top:34px;
    height:228px;
    width:454px;
    color:White;
    background:#24a9e1;
    position:relative;
}
.losetime a
{
    text-decoration:none;
    color:White;
    margin-top: 20px;
    margin-left: 29px;
    position:absolute;
font-size: 23px;
font-weight:lighter;
}
.guaranteeimg
{    
    position:relative;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 30px;
    margin-left: 40%;
}
.megalilista ul
{
    text-decoration:none;
}
.megalilista a
{
    text-decoration:none;

}
.megalilista li
{
font-family: Segoe UI;
    padding-bottom:22px;
list-style:none;
font-size:13px;
}
.megalilista li:last-child
{
    padding-bottom:72px;
}
/*.megalilista li:first-child
{
font-size:17px;
font-weight:500;*/
}
.bigletters
{
font-size:40px;
font-weight:lighter;
}
.perithorio
{
position:relative;
margin-bottom: 60px;
}
.tooltipcustom
{
width:300px;
background:white;
color:white;
font-size:14px;
background:black;
opacity:0.8;
padding:20px;
}
.tip
{
    cursor:pointer;
    font-weight:bold;
    color:#26a9e1;
}
.links
{
text-decoration:none;
font-weight:bold;
color:#25aae2;
}
.learnwhy
{
    font-size: 17px;
    margin-left: 73px;
    position: absolute;
    top: -72px;
}

/**************************************** What is it GR END ****************************************/

/**************************************** For Women EN START ****************************************/
.clear
{
    clear:both;
}
.mosaicforwomenen
{
    position: relative;
   width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: 465px;
    background:url("Images2/pws-leitourgei2/pws-leitoyrgi(woman)-bg.jpg") no-repeat scroll center center transparent;
}
.pwsleitourgeiwomanen
{
    max-width:983px;
width:100%;
    position:relative;
    margin-left:auto;
    margin-right:auto;

}
.pwsleitourgeiwomanen h1
{
    color:White;
    height:36px;
    padding-top:2px;
    position:absolute;
    text-align:center;
margin-top:0px;
font-size:38px;
font-weight: lighter;
}
/*.pwsleitourgeiwomanen p
{
    color:White;
    margin-top:25px;
    font-size:17px;
margin-top:34px;
}*/
.womenphotos1en
{
    width:185px;
    height:300px;

    position:relative;
    float:left;
    margin-top:74px;
    margin-right:70px;
    
}

.womenphotos1en img
{
    margin-left:13%;
    display:block;
}
.womenphotos1en h2
{
    float:left;
    font-size:68px;
    color:White;
    font-family: "Arial";
    margin-top:5px;
    opacity: 0.8;
font-weight:lighter;
}
.womenphotos1en p
{
    color:White;
    float:right;
    font-size:100%;
    margin-top:14px;
    width:135px;
}
.womenphotos2en
{
    width:209px;
    height:300px;

    position:relative;
    float:left;
    margin-top:74px;
}
.womenphotos2en h2
{
    float:left;
    font-size:68px;
    color:White;
    font-family: "Arial";
    margin-top:5px;
    opacity: 0.8;
font-weight:lighter;
}
.womenphotos2en img
{
    margin-left:13%;
    display:block;
}
.womenphotos2en p
{
    color:White;
    float:right;
    font-size:100%;
    margin-top:14px;
    width:159px;
}
.main1en
{

}
.reasonsen
{
    position:relative;

    margin-left:auto;
    margin-right:auto;
    width:983px;
}
.main1en ul
{
/*    list-style-image:url("Images2/pws-leitourgei2/ble.png");
list-style-position: inside;*/
list-style:none;
    width:490px;
    margin-top:20px;
    margin-left:0px;
padding-left:0px;
}
.main1en ul li
{
    padding-bottom:14px;
font-size:14px;
margin-bottom:13px;
padding-right:31px;
padding-left:18px;
padding-top:8px;
width:-moz-fit-content;
width:-webkit-fit-content;
width:-o-fit-content;
width:-ms-fit-content;
/*background:url("Images2/pws-leitourgei2/bg1.png");*/
background:url("Images2/pws-leitourgei2/bg-woman.png") no-repeat scroll 0 0 transparent;
}
.main1en .reasonsen h1 
{
    background:#bd1f2d;
    width:85px;
    height:80px;
    color:white;
    font-family:Arial;
    font-size:62px;
font-weight:lighter;
    padding-left:8px;
    padding-top:9px;
    float:left;
    display:inline;
}
.main1en .reasonsen p 
{
    float:left;
    margin-top:61px;
    margin-left: 10px;
    margin-right: 10px;
font-size:34px;
font-weight:lighter;
}
.main1en .reasonsen .mikrologoen
{
    margin-top:44px;
}

.women2en
{
    position:absolute;
    top:285px;
    right:0px;
}
.ginemelosnowwomanen
{
    width:470px;
    height:146px;
    background:#be202e;
    text-align:left;
    vertical-align:middle;
    position:relative;
    margin-top:83px;
    padding-top:20px;
-webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 4px rgba(50, 50, 50, 0.75);
box-shadow:         1px 1px 4px rgba(50, 50, 50, 0.75);
display:block;
text-decoration:none;
color:white;
font-size:38px;
font-weight:lighter;
padding-left:30px;
}
.main2en
{
    margin-top:8px;

    height:780px;

}
.sumvoulesen
{
    position:relative;
    padding-top:98px;
    margin-left:auto;
    margin-right:auto;
    width:983px;   
}
.sumvoulesleften
{
    width:630px;
    float:left;
}
.sumvoulesleften h1
{
    border-bottom: 1px solid black;
    font-weight: normal;
    padding-bottom: 20px;
font-size:17px;

}
.sumvoulesleften h2
{
    margin-top:40px;
    font-weight: 700;
    margin-bottom:21px;
}
.sumvoulesleften p
{
    font-size:100%;
    margin-bottom: 21px;
}
.sumvoulesrighten
{
    float:right;
margin-top:-210px;
}
.sumvoulesrighten h1
{
    border-bottom: 1px solid black;
font-size:15px;
    font-weight: lighter;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.arthro1womenen
{
    width:260px;
    height:255px;
    background:url("Images2/pws-leitoyrgei-men/article-box.png") no-repeat;
    position:relative;
    margin-bottom: 18px;
}
.arthrop1womenen
{
    font-size:90%;
    font-weight:bold;
    margin-bottom:14px;
    padding-left:22px;
    padding-right:10px;
    padding-top:21px;
}
.arthrop2womenen
{
    font-size:90%;
    padding:0px 20px 20px 20px;
}
.sumvoulesright img
{
    padding-left:17px;
}
.arthro1womenen a, .arthro2womenen a
{
    position:absolute;
    bottom:13px;
    right:15px;
    text-decoration:none;
    color:#89b6d5
}
.arthro2womenen
{
    width:260px;
    height:255px;
    background:url("Images2/pws-leitoyrgei-men/article-box.png") no-repeat;
    position:relative;
}
.bigletterswomenen
{
font-size:41px;
font-weight:lighter;
}
.tooltipcustom
{
width:300px;
background:white;
color:white;
font-size:14px;
background:black;
opacity:0.8;
padding:20px;
}
.tip
{
    cursor:pointer;
    font-weight:bold;
    color:#26a9e1;
}
.tip2
{
    cursor:pointer;
    font-weight:bold;
    color:#26a9e1;
}
.tip3
{
    cursor:pointer;
    font-weight:bold;
    color:#26a9e1;
}
.tip4
{
    cursor:pointer;
    font-weight:bold;
    color:#26a9e1;
}
.links
{
text-decoration:none;
font-weight:bold;
color:#25aae2;
}
.enjoyit
{
color: black;
    font-size: 24px;
    font-weight: lighter;
position:absolute;
margin-bottom:0px;
left:0px;
margin-top:0px;
}
.importreasonswomenen
{
left:0px;
font-size:34px;
font-weight:lighter;
margin-top:30px;
}
.top10womenen
{
float:left;
}
.top10containerwomenen
{
}
.headerscontwomenen
{float:left;position:relative;margin-top:39px;}

/***************************************************For Women EN END **********************************************/

/***************************************************For Women GR START **********************************************/
.clear
{
    clear:both;
}
.mosaic
{
    position: relative;
   width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: 465px;
    background:url("Images2/pws-leitourgei2/pws-leitoyrgi(woman)-bg.jpg") no-repeat scroll center center transparent;
}
.pwsleitourgeiwoman
{
    max-width:983px;
width:100%;
    position:relative;
    margin-left:auto;
    margin-right:auto;

}
.pwsleitourgeiwoman h1
{
    color:White;
    height:36px;
    padding-top:2px;
    position:absolute;
    text-align:center;
margin-top:0px;
font-size:38px;
font-weight: lighter;
}
/*.pwsleitourgeiwoman p
{
    color:White;
    margin-top:25px;
    font-size:17px;
margin-top:34px;
}*/
.womenphotos1
{
    width:185px;
    height:300px;

    position:relative;
    float:left;
    margin-top:74px;
    margin-right:70px;
    
}

.womenphotos1 img
{
    margin-left:13%;
    display:block;
}
.womenphotos1 h2
{
    float:left;
    font-size:68px;
    color:White;
    font-family: "Arial";
    margin-top:5px;
    opacity: 0.8;
font-weight:lighter;
}
.womenphotos1 p
{
    color:White;
    float:right;
    font-size:100%;
    margin-top:14px;
    width:135px;
}
.womenphotos2
{
    width:209px;
    height:300px;

    position:relative;
    float:left;
    margin-top:74px;
}
.womenphotos2 h2
{
    float:left;
    font-size:68px;
    color:White;
    font-family: "Arial";
    margin-top:5px;
    opacity: 0.8;
font-weight:lighter;
}
.womenphotos2 img
{
    margin-left:13%;
    display:block;
}
.womenphotos2 p
{
    color:White;
    float:right;
    font-size:100%;
    margin-top:14px;
    width:159px;
}
.main1
{

}
.reasons
{
    position:relative;

    margin-left:auto;
    margin-right:auto;
    width:983px;
}
.main1 ul
{
/*    list-style-image:url("Images2/pws-leitourgei2/ble.png");
list-style-position: inside;*/
list-style:none;
    width:490px;
    margin-top:20px;
    margin-left:0px;
padding-left:0px;
}
.main1 ul li
{
    padding-bottom:14px;
font-size:14px;
margin-bottom:13px;
padding-right:31px;
padding-left:18px;
padding-top:8px;
width:-moz-fit-content;
width:-webkit-fit-content;
width:-o-fit-content;
width:-ms-fit-content;
/*background:url("Images2/pws-leitourgei2/bg1.png");*/
background:url("Images2/pws-leitourgei2/bg-woman.png") no-repeat scroll 0 0 transparent;
}
.main1 .reasons h1 
{
    background:#bd1f2d;
    width:85px;
    height:80px;
    color:white;
    font-family:Arial;
    font-size:62px;
font-weight:lighter;
    padding-left:8px;
    padding-top:9px;
    float:left;
    display:inline;
}
.main1 .reasons p 
{
    float:left;
    margin-top:61px;
    margin-left: 10px;
    margin-right: 10px;
font-size:34px;
font-weight:lighter;
}
.main1 .reasons .mikrologo
{
    margin-top:44px;
}

.women2
{
    position:absolute;
    top:285px;
    right:0px;
}
.ginemelosnowman
{
    width:470px;
    height:146px;
    background:#be202e;
    text-align:left;
    vertical-align:middle;
    position:relative;
    margin-top:83px;
    padding-top:20px;
-webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 4px rgba(50, 50, 50, 0.75);
box-shadow:         1px 1px 4px rgba(50, 50, 50, 0.75);
display:block;
text-decoration:none;
color:white;
font-size:38px;
font-weight:lighter;
padding-left:30px;
}
.main2
{
    margin-top:8px;

    height:823px;

}
.sumvoules
{
    position:relative;
    padding-top:98px;
    margin-left:auto;
    margin-right:auto;
    width:983px;   
}
.sumvoulesleft
{
    width:630px;
    float:left;
}
.sumvoulesleft h1
{
    border-bottom: 1px solid black;
    font-weight: normal;
    padding-bottom: 20px;
font-size:17px;

}
.sumvoulesleft h2
{
    margin-top:40px;
    font-weight: 700;
    margin-bottom:21px;
}
.sumvoulesleft p
{
    font-size:100%;
    margin-bottom: 21px;
}
.sumvoulesright
{
    float:right;
margin-top:-210px;
}
.sumvoulesright h1
{
    border-bottom: 1px solid black;
font-size:15px;
    font-weight: lighter;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.arthro1
{
    width:260px;
    height:255px;
    background:url("Images2/pws-leitoyrgei-men/article-box.png") no-repeat;
    position:relative;
    margin-bottom: 18px;
}
.arthrop1
{
    font-size:90%;
    font-weight:bold;
    margin-bottom:14px;
    padding-left:22px;
    padding-right:10px;
    padding-top:21px;
}
.arthrop2
{
    font-size:90%;
    padding:0px 20px 20px 20px;
}
.sumvoulesright img
{
    padding-left:17px;
}
.arthro1 a, .arthro2 a
{
    position:absolute;
    bottom:13px;
    right:15px;
    text-decoration:none;
    color:#89b6d5
}
.arthro2
{
    width:260px;
    height:255px;
    background:url("Images2/pws-leitoyrgei-men/article-box.png") no-repeat;
    position:relative;
}
.bigletters
{
font-size:41px;
font-weight:lighter;
}
.tooltipcustom
{
width:300px;
background:white;
color:white;
font-size:14px;
background:black;
opacity:0.8;
padding:20px;
}
.tip
{
    cursor:pointer;
    font-weight:bold;
    color:#26a9e1;
}
.tip2
{
    cursor:pointer;
    font-weight:bold;
    color:#26a9e1;
}
.tip3
{
    cursor:pointer;
    font-weight:bold;
    color:#26a9e1;
}
.tip4
{
    cursor:pointer;
    font-weight:bold;
    color:#26a9e1;
}
.links
{
text-decoration:none;
font-weight:bold;
color:#25aae2;
}
.enjoyit
{
color: black;
    font-size: 24px;
    font-weight: lighter;
position:absolute;
margin-bottom:0px;
left:0px;
margin-top:0px;
}
.importreasons
{
left:0px;
font-size:34px;
font-weight:lighter;
margin-top:30px;
}
.top10
{
float:left;
}
.top10container
{
}
.headerscont
{float:left;position:relative;margin-top:39px;}

/**************************************For Women GR END **************************************/

/**************************************For Men GR START **************************************/

.clear
{
    clear:both;
}
.mosaic102
{
    position: relative;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: 465px;
    background:url("Images2/pws-leitourgei2/pws-leitoyrgi(man)-bg.jpg") no-repeat scroll center center transparent;
}
.pwsleitourgei102
{
    max-width:983px;
width:100%;
    position:relative;
    margin-left:auto;
    margin-right:auto;

}
.pwsleitourgei102 h1
{
    color:White;
    height:36px;
    padding-top:2px;
    position:absolute;
    text-align:center;
margin-top:0px;
font-size:38px;
font-weight: lighter;
}
/*.pwsleitourgei102 p
{
    color:White;
    margin-top:10px;
    font-size:17px;
margin-top:34px;
}*/
.menphotos1102
{
    width:185px;
    height:300px;

    position:relative;
    float:left;
    margin-top:85px;
    margin-right:70px;
    
}

.menphotos1102 img
{
    margin-left:13%;
    display:block;
}
.menphotos1102 h2
{
    float:left;
    font-size:68px;
    color:White;
    font-family: "Arial";
    margin-top:5px;
    opacity: 0.8;
font-weight:lighter;
}
.menphotos1102 p
{
    color:White;
    float:right;
    font-size:13px;
    margin-top:14px;
    width:135px;
}
.menphotos2102
{
    width:209px;
    height:300px;

    position:relative;
    float:left;
    margin-top:85px;
}
.menphotos2102 h2
{
    float:left;
    font-size:68px;
    color:White;
    font-family: "Arial";
font-weight:lighter;
    margin-top:5px;
    opacity: 0.8;
}
.menphotos2102 img
{
    margin-left:13%;
    display:block;
}
.menphotos2102 p
{
    color:White;
    float:right;
    font-size:13px;
    margin-top:14px;
    width:159px;
}
.main1102
{

}
.reasons102
{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:983px;
}
.main1102 ul
{
/*    list-style-image:url("Images2/pws-leitourgei2/ble.png");
list-style-position: inside;*/
list-style:none;
    width:490px;
    margin-top:20px;
    margin-left:0px;
padding-left:0px;
}
.main1102 ul li
{
    padding-bottom:14px;
font-size:14px;
margin-bottom:13px;
padding-right:31px;
padding-left:18px;
padding-top:8px;
width:-moz-fit-content;
width:-webkit-fit-content;
width:-o-fit-content;
width:-ms-fit-content;
/*background:url("Images2/pws-leitourgei2/bg1.png");*/
background:url("Images2/pws-leitourgei2/bg-men.png") no-repeat scroll 0 0 transparent;
}
.main1102 .reasons102 h1 
{
    background:#26A9E1;
    width:85px;
    height:80px;
    color:white;
    font-family:Arial;
    font-size:62px;
font-weight:lighter;
    padding-left:8px;
    padding-top:9px;
    float:left;
    display:inline;
}
.main1102 .reasons102 .mikrologo102
{
    margin-top:38px;
}

.men2102
{
    position:absolute;
    top:285px;
    right:0px;
}
.ginemelosnowman102
{
    width:470px;
    height:146px;
    background:#be202e;
    text-align:left;
    vertical-align:middle;
    position:relative;
    margin-top:83px;
    padding-top:20px;
-webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 4px rgba(50, 50, 50, 0.75);
box-shadow:         1px 1px 4px rgba(50, 50, 50, 0.75);
display:block;
text-decoration:none;
color:white;
font-size:38px;
font-weight:lighter;
padding-left:30px;
}
.main2102
{
    margin-top:8px;

    height:827px;

}
.sumvoules102
{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:983px;   
}
.sumvoulesleft102
{
    width:670px;
    float:left;
margin-top:91px;
}
.sumvoulesleft102 h1
{
    border-bottom: 1px solid black;
font-size:17px;
    font-weight: normal;
    padding-bottom: 20px;
}
.sumvoulesleft102 h2
{
    margin-top:40px;
font-size:13px
    font-weight: bold;
    margin-bottom:21px;
}
.sumvoulesleft102 p
{
    font-size: 13px;
    margin-bottom: 21px;
}
.sumvoulesright102
{
    float:right;
margin-top:-160px;
}
.sumvoulesright102 h1
{
    border-bottom: 1px solid black;
    font-weight: lighter;
font-size:15px;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.arthro1102
{
    width:260px;
    height:255px;
    background:url("Images2/pws-leitoyrgei-men/article-box.png") no-repeat;
    position:relative;
    margin-bottom: 18px;
}
.arthrop1102
{
    font-size:90%;
    font-weight:bold;
    margin-bottom:14px;
    padding-left:22px;
    padding-right:10px;
    padding-top:21px;
}
.arthrop2102
{
    font-size:90%;
    padding:0px 20px 20px 20px;
}
.sumvoulesright102 img
{
    padding-left:17px;
}
.arthro1102 a, .arthro2102 a
{
    position:absolute;
    bottom:13px;
    right:15px;
    text-decoration:none;
    color:#89b6d5
}
.arthro2102
{
    width:260px;
    height:255px;
    background:url("Images2/pws-leitoyrgei-men/article-box.png") no-repeat;
    position:relative;
}
.bigletters102
{
font-size:41px;
font-weight:lighter;
}
.tooltipcustom
{
width:300px;
background:white;
color:white;
font-size:14px;
background:black;
opacity:0.8;
padding:20px;
}
.tip
{
    cursor:pointer;
    font-weight:bold;
    color:#26a9e1;
}
.tip2
{
    cursor:pointer;
    font-weight:bold;
    color:#26a9e1;
}
.tip3
{
    cursor:pointer;
    font-weight:bold;
    color:#26a9e1;
}
.tip4
{
    cursor:pointer;
    font-weight:bold;
    color:#26a9e1;
}
.links
{
text-decoration:none;
font-weight:bold;
color:#25aae2;
}
.enjoyit102
{
color: black;
    font-size: 24px;
    font-weight: lighter;
position:absolute;
margin-bottom:0px;
left:0px;
margin-top:0px;
}
.importreasons102
{
left:0px;
font-size:34px;
font-weight:lighter;
margin-top:30px;
}
.top10102
{
float:left;
}
.top10container102
{
}
.headerscont102
{float:left;position:relative;margin-top:39px;}

/*****************************************************For Men GR END ********************************************/

/*********************************************FOR MEN EN START ****************************************************/

    .clear
    {
        clear: both;
    }
    .mosaic103
    {
        position: relative;
        width: 1440px;
        margin-left: auto;
        margin-right: auto;
        height: 465px;
        background: url("Images2/pws-leitourgei2/pws-leitoyrgi(man)-bg.jpg") no-repeat scroll center center transparent;
    }
    .pwsleitourgei103
    {
        max-width: 983px;
        width: 100%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    .pwsleitourgei103 h1
    {
        color: White;
        height: 36px;
        padding-top: 2px;
        position: absolute;
        text-align: center;
        margin-top: 0px;
        font-size: 38px;
        font-weight: lighter;
    }
    /*.pwsleitourgei103 p { color:White; margin-top:10px; font-size:17px; margin-top:34px; }*/
    .menphotos1103
    {
        width: 185px;
        height: 300px;
        position: relative;
        float: left;
        margin-top: 85px;
        margin-right: 70px;
    }
    .menphotos1103 img
    {
        margin-left: 13%;
        display: block;
    }
    .menphotos1103 h2
    {
        float: left;
        font-size: 68px;
        color: White;
        font-family: "Arial";
        margin-top: 5px;
        opacity: 0.8;
        font-weight: lighter;
    }
    .menphotos1103 p
    {
        color: White;
        float: right;
        font-size: 13px;
        margin-top: 14px;
        width: 135px;
    }
    .menphotos2103
    {
        width: 209px;
        height: 300px;
        position: relative;
        float: left;
        margin-top: 85px;
    }
    .menphotos2103 h2
    {
        float: left;
        font-size: 68px;
        color: White;
        font-family: "Arial";
        font-weight: lighter;
        margin-top: 5px;
        opacity: 0.8;
    }
    .menphotos2103 img
    {
        margin-left: 13%;
        display: block;
    }
    .menphotos2103 p
    {
        color: White;
        float: right;
        font-size: 13px;
        margin-top: 14px;
        width: 159px;
    }
    .main1103
    {
    }
    .reasons103
    {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 983px;
    }
    .main1103 ul
    {
        /* list-style-image:url("Images2/pws-leitourgei2/ble.png"); list-style-position: inside;*/
        list-style: none;
        width: 490px;
        margin-top: 20px;
        margin-left: 0px;
        padding-left: 0px;
    }
    .main1103 ul li
    {
        padding-bottom: 14px;
        font-size: 14px;
        margin-bottom: 13px;
        padding-right: 31px;
        padding-left: 18px;
        padding-top: 8px;
        width: -moz-fit-content;
        width: -webkit-fit-content;
        width: -o-fit-content;
        width: -ms-fit-content; /*background:url("Images2/pws-leitourgei2/bg1.png");*/
        background: url("Images2/pws-leitourgei2/bg-men.png") no-repeat scroll 0 0 transparent;
    }
    .main1103 .reasons103 h1
    {
        background: #26A9E1;
        width: 85px;
        height: 80px;
        color: white;
        font-family: Arial;
        font-size: 62px;
        font-weight: lighter;
        padding-left: 8px;
        padding-top: 9px;
        float: left;
        display: inline;
    }
    .main1103 .reasons103 .mikrologo103
    {
        margin-top: 38px;
    }
    .men2103
    {
        position: absolute;
        top: 285px;
        right: 0px;
    }
    .ginemelosnowman103
    {
        width: 470px;
        height: 146px;
        background: #be202e;
        text-align: left;
        vertical-align: middle;
        position: relative;
        margin-top: 83px;
        padding-top: 20px;
        -webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
        box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
        display: block;
        text-decoration: none;
        color: white;
        font-size: 38px;
        font-weight: lighter;
        padding-left: 30px;
    }
    .main2103
    {
        margin-top: 8px;
        height: 827px;
    }
    .sumvoules103
    {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 983px;
    }
    .sumvoulesleft103
    {
        width: 670px;
        float: left;
        margin-top: 91px;
    }
    .sumvoulesleft103 h1
    {
        border-bottom: 1px solid black;
        font-size: 17px;
        font-weight: normal;
        padding-bottom: 20px;
    }
    .sumvoulesleft103 h2
    {
        margin-top: 40px;
        font-size: 13px font-weight: bold;
        margin-bottom: 21px;
    }
    .sumvoulesleft103 p
    {
        font-size: 13px;
        margin-bottom: 21px;
    }
    .sumvoulesright103
    {
        float: right;
        margin-top: -160px;
    }
    .sumvoulesright103 h1
    {
        border-bottom: 1px solid black;
        font-weight: lighter;
        font-size: 15px;
        margin-bottom: 20px;
        padding-bottom: 5px;
    }
    .arthro1103
    {
        width: 260px;
        height: 255px;
        background: url("Images2/pws-leitoyrgei-men/article-box.png") no-repeat;
        position: relative;
        margin-bottom: 18px;
    }
    .arthrop1103
    {
        font-size: 90%;
        font-weight: bold;
        margin-bottom: 14px;
        padding-left: 22px;
        padding-right: 10px;
        padding-top: 21px;
    }
    .arthrop2103
    {
        font-size: 90%;
        padding: 0px 20px 20px 20px;
    }
    .sumvoulesright103 img
    {
        padding-left: 17px;
    }
    .arthro1103 a, .arthro2103 a
    {
        position: absolute;
        bottom: 13px;
        right: 15px;
        text-decoration: none;
        color: #89b6d5;
    }
    .arthro2103
    {
        width: 260px;
        height: 255px;
        background: url("Images2/pws-leitoyrgei-men/article-box.png") no-repeat;
        position: relative;
    }
    .bigletters103
    {
        font-size: 41px;
        font-weight: lighter;
    }
    .tooltipcustom
    {
        width: 300px;
        background: white;
        color: white;
        font-size: 14px;
        background: black;
        opacity: 0.8;
        padding: 20px;
    }
    .tip
    {
        cursor: pointer;
        font-weight: bold;
        color: #26a9e1;
    }
    .tip2
    {
        cursor: pointer;
        font-weight: bold;
        color: #26a9e1;
    }
    .tip3
    {
        cursor: pointer;
        font-weight: bold;
        color: #26a9e1;
    }
    .tip4
    {
        cursor: pointer;
        font-weight: bold;
        color: #26a9e1;
    }
    .links
    {
        text-decoration: none;
        font-weight: bold;
        color: #25aae2;
    }
    .enjoyit103
    {
        color: black;
        font-size: 24px;
        font-weight: lighter;
        position: absolute;
        margin-bottom: 0px;
        left: 0px;
        margin-top: 0px;
    }
    .importreasons103
    {
        left: 0px;
        font-size: 34px;
        font-weight: lighter;
        margin-top: 30px;
    }
    .top10103
    {
        float: left;
    }
    .top10container103
    {
    }
    .headerscont103
    {
        float: left;
        position: relative;
        margin-top: 39px;
    }


    /*******************************FOR MEN EN END ******************************/

    /*******************************FAQ START ******************************/

    .clear
{
    clear:both;
}
.faqcontainer
{
    background: url(Images2/first-general/bg-reapet.jpg) repeat;
    padding-bottom: 125px;
    padding-top: 45px;
    border-top:6px solid #be202f;
    /*box-shadow: 0px 5px 5px 1px #c7c5c8 ;*/
}
.faqcontainer h1
{
color: #BD1F2E;
    font-size: 24px;
    font-weight: lighter;    
}

.faqdiv1
{
    width:959px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
.faqdiv1 h1
{
    margin-top:36px;
    margin-bottom:36px;
}
#accordion1 h3
{
    margin-bottom:4px;
    color:#c01f31;
    font-weight:lighter;
}
#accordion1 h3:hover
{
    cursor:pointer;
}
#accordion1 p
{
    margin-top:10px;
    margin-bottom:10px;
}
#accordion1 a
{
    text-decoration:none;
    color:#25aae2;
    font-weight:bold;
}
#accordion2 h3
{
    margin-bottom:4px;
    color:#c01f31;
    font-weight:lighter;
}
#accordion2 h3:hover
{
    cursor:pointer;
}
#accordion2 p
{
    margin-top:10px;
    margin-bottom:10px;
}
#accordion2 a
{
    text-decoration:none;
    color:#25aae2;
    font-weight:bold;
}
.highlight
{
    background: yellow;
}
.searchbar
{
    position: absolute;
    right: 50px;
    top: 0px;
}
.faqp
{
    margin-top:10px;
    margin-bottom:70px;
}
.links
{
text-decoration:none;
font-weight:bold;
color:#25aae2;
}

/********************************************FAQ END***************************************************/

/*******************************************Advise Both Start ****************************************/
.clear
{
    clear:both;
}
.mosaicadvise
{
    position: relative;
    width: 100%;
    height: 757px;
    background: url("Images2/first-general/bg-reapet.jpg");
    border-top:4px solid #be202f;
    box-shadow: 0px 5px 5px 1px #c7c5c8 ; 
}
.advisemenwomen
{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:992px;
    margin-top:133px;
}
.advisemenwomen a
{
    text-decoration:none;
}
.advisewomen
{
    margin-left:50px;
    width:347px;
    float:left;
}
.advisemenwomen h1
{
    color: #59595B;
    text-align: center;
font-size:180%;
}
.advisewomen img
{
    margin-bottom: 20px;
    margin-left: 22px;
    margin-top: 24px;
}
.advisemenwomen p
{
    color: #BE202E;
    font-size: 90%;
    text-align: center;
}
.advisemen
{
    float:right;
    width:400px;
    margin-right:50px;
}
.advisemen img
{
    margin-bottom: 16px;
    margin-top: 24px;
    margin-left:57px;
}

/********************************Advise Both END*********************************************************/

/********************************Advise Men Start*********************************************************/

.clear
{
    clear:both;
}
.mosaicadvisemen
{
    position: relative;
    width: 100%;
    height: 1067px;
    background: url("Images2/first-general/bg-reapet.jpg");
    border-top:4px solid #be202f;
    box-shadow: 0px 5px 5px 1px #c7c5c8 ; 
}
.maleadvise
{
    width:972px;
    margin-left:auto;
    margin-right:auto;
}
.maleadvise h1, .maleadvise h2
{
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: -o-fit-content;
    width: fit-content;
    height:36px;
    background:white;
    text-align:left;
    margin-bottom:5px;
    font-size:140%;
    font-weight:400;
    padding-left:10px;
    padding-right:22px;
    padding-top:9px;
}
.maleadvise h1
{
    margin-top:18px;
}
.maleadvisep1
{
    color:#bd212e;
    margin-top:40px;
    margin-bottom:30px;
    font-weight:600;
}
.maleadvisep2
{
    margin-bottom:36px;
    font-weight:600;
}
.maleadvise ul
{
list-style:none;
padding-left:0px;
}
.maleadvise ul li
{
    padding-bottom:25px;
}

/******************************************Advise Men END****************************************/


/*******************************************Adivse Women START***************************************/
.clear
{
    clear:both;
}
.mosaicadvisewomen
{
    position: relative;
    width: 100%;
    height: 1175px;
    background: url("Images2/first-general/bg-reapet.jpg");
    border-top:4px solid #be202f;
    box-shadow: 0px 5px 5px 1px #c7c5c8 ; 
}
.femaleadvise
{
    width:972px;
    margin-left:auto;
    margin-right:auto;
}
.femaleadvise h1, .femaleadvise h2
{
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: -o-fit-content;
    width: fit-content;
    height:36px;
    background:white;
    text-align:left;
    margin-bottom:5px;
    font-size:140%;
    font-weight:400;
    padding-left:10px;
    padding-right:22px;
    padding-top:9px;
}
.femaleadvise h1
{
    margin-top:18px;
}
.femaleadvisep1
{
    color:#bd212e;
    margin-top:40px;
    margin-bottom:30px;
    font-weight:600;
}
.femaleadvisep2
{
    margin-bottom:36px;
    font-weight:600;
}
.femaleadvise ul
{
list-style:none;
padding-left:0px;
}
.femaleadvise ul li
{
    padding-bottom:25px;
}

/************************************************Advise Women END*******************************************************/

/*******************************************Aticle 1 START********************************************************/

.article1container104
{
    background: url(Images2/first-general/bg-reapet.jpg) repeat;
    padding-bottom: 125px;
    padding-top: 45px;
    border-top:6px solid #be202f;
   /* box-shadow: 0px 5px 5px 1px #c7c5c8 ;*/
}
.article1104
{
width:980px;
margin-right:auto;
margin-left:auto;
}

/**************************************Article 1 END****************************************************************/

/*******************************************Aticle 2 START********************************************************/
.article2container105
{
    background: url(Images2/first-general/bg-reapet.jpg) repeat;
    padding-bottom: 125px;
    padding-top: 45px;
    border-top:6px solid #be202f;
   /* box-shadow: 0px 5px 5px 1px #c7c5c8 ;*/
}
.article2105
{
width:980px;
margin-right:auto;
margin-left:auto;
}

/**************************************Article 2 END****************************************************************/

/*******************************************Aticle 3 START********************************************************/

.article3container106
{
    background: url(Images2/first-general/bg-reapet.jpg) repeat;
    padding-bottom: 125px;
    padding-top: 45px;
    border-top:6px solid #be202f;
   /* box-shadow: 0px 5px 5px 1px #c7c5c8 ;*/
}
.article3106
{
width:980px;
margin-right:auto;
margin-left:auto;
}

/**************************************Article 3 END****************************************************************/


/**************************************Attention Man & WomanSTART***************************************************************/

.clear
{
    clear:both;
}
.mosaicattentionman
{
    position: relative;
    width: 100%;
padding-bottom:60px;
    background: url("Images2/first-general/bg-reapet.jpg");
    border-top:4px solid #be202f;
    box-shadow: 0px 5px 5px 1px #c7c5c8 ; 
}
.attentionman
{
    width:972px;
    margin-left:auto;
    margin-right:auto;
}
.attentionman h1
{
    color:#bd212e;
    margin-top:40px;
    margin-bottom:30px;
    font-weight:lighter;
font-size:24px;
}

/*****************************************Attention Man & Woman END******************************************************************/


/*********************************************Become An Affiliate START******************************************************************/

.motocontainer
{
    position:absolute;
    left:15px;
    top:185px;
}
.motoaffiliate
{
    color: white;
    font-size: 37px;
    left: 18px;
    position: absolute;
    top: 119px;
    z-index: 1;
width:960px;
font-family:"Arial";
}
.clear
{
    clear:both;
}
.mosaicaffiliate
{
    position: relative;
    width:1440px;
margin-left:auto;
margin-right:auto;
    height:459px;
    background: url("Images2/synergates/aff-big.jpg") no-repeat;
    background-position:center;
   /* border-bottom:8px solid #be202e;
    border-top:8px solid black;*/
    /*box-shadow: 0px 5px 5px 1px #c7c5c8 ;*/
}
.synergatescontainer1
{
    /*background: url(first-general/bg-reapet.jpg) repeat;*/
    padding-top: 45px;
    /*box-shadow: 0px 5px 5px 1px #c7c5c8 ;*/
    height:350px;
}
.synergates1
{
    width:970px;
    position:relative;
    margin-left:auto;
    margin-right:auto;
}
.synergates1 h1
{
    font-size:120%;
    font-weight:600;
    margin-bottom:6px;
}
.synergates1 h2
{
    font-weight:600;
    margin-top:40px;
    margin-bottom:20px;
}
.synergates1 ul
{
    padding-left:16px;
}
.synergates1 ul li
{
    list-style-type:disc;
    margin-bottom:7px;
}
.synergatescontainer2
{
    background: url(Images2/first-general/bg-reapet.jpg) repeat;
    box-shadow: 0px 5px 5px 1px #c7c5c8 ;
    padding-top: 45px;
    padding-bottom:150px;
    position:relative;
}
.synergates2
{
    width:970px;
    position:relative;
    margin-left:auto;
    margin-right:auto;
}
.synergates2 h1
{
    font-size:120%;
    font-weight:600;
    margin-bottom:35px;
}
.synergatesimg1
{
    width:184px;
    height:216px;
    position:relative;
    float:left;
    margin-right:75px;
}
.synergatesimg1 p
{
    position:absolute;
    bottom:0px;
    width:100%;
    text-align:center;
}
.synergatesimg2
{
    width:184px;
    height:216px;
    position:relative;
    float:left;
    margin-right:75px;
}
.synergatesimg2 p
{
    position:absolute;
    bottom:0px;
    width:100%;
    text-align:center;
}
.synergatesimg3
{
    width:184px;
    height:216px;
    position:relative;
    float:left;
    margin-right:75px;
}
.synergatesimg3 p
{
    position:absolute;
    bottom:0px;
    width:100%;
    text-align:center;
}
.synergatesimg4
{
    width:184px;
    height:216px;
    position:relative;
    float:left;
}
.synergatesimg4 p
{
    position:absolute;
    bottom:0px;
    width:100%;
    text-align:center;
}
.gineaffiliate
{
    height:32px;
    padding-left:62px;
    padding-top:9px;
    width:415px;
    position:absolute;
    bottom:-81px;
    left:241px;
    background:#32bbef;
}
.gineaffiliate a
{
    color:White;
    text-decoration:none;
font-size:140%;
}

/*********************************************************Become an Affiliate END********************************************************/

/*******************************************Escort Disallow START******************************************************************/
.Escmaincontainer
{
    background: url(Images2/first-general/bg-reapet.jpg) repeat;
    padding-bottom: 125px;
    padding-top: 45px;
    border-top:6px solid #be202f;
}
.Escmidcon
{
    width:1005px;
    margin-left:auto;
    margin-right:auto;
}
.Escmidcon img
{
float:left;
}
.keimeno
{
float:right;
}
.noallow
{
font-size:20px;
font-weight:bold;
}
.escortp1, .escortp2, .escortp3
{
font-size:18px;
}
.links
{
text-decoration:none;
font-weight:bold;
color:#25aae2;
}

/****************************************************Escort Disallow END*************************************************************************/

/*****************************************************Exeption 227 START**********************************************************************/

.clear
{
    clear:both;
}
.exemptcontainer
{
    background: url(Images2/first-general/bg-reapet.jpg) repeat;
    padding-bottom: 125px;
    padding-top: 45px;
    border-top:6px solid #be202f;
    /*box-shadow: 0px 5px 5px 1px #c7c5c8 ;*/
}
.exemptcontainer h1
{
    
}

.exemptdiv1
{
    width:959px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
.exemptdiv1 h1
{
    margin-top:36px;
}
#accordion1 h3
{
    margin-bottom:4px;
    color:#c01f31;
    font-weight:bold;
margin-top:40px;
}
/*#accordion1 h3:hover
{
    cursor:pointer;
}*/
#accordion1 p
{
    margin-top:10px;
    margin-bottom:10px;
}
#accordion1 a
{
    text-decoration:none;
    color:#25aae2;
    font-weight:bold;
}
.links
{
text-decoration:none;
font-weight:bold;
color:#25aae2;
}

/*****************************************************Exeption 227 END**********************************************************************/

/******************************************Guarantee START *****************************************************************/

.clear
{
    clear:both;
}
.eggyisicontainer
{
    background: url(Images2/first-general/bg-reapet.jpg) repeat;
    padding-bottom: 125px;
    padding-top: 45px;
    border-top:6px solid #be202f;
   /* box-shadow: 0px 5px 5px 1px #c7c5c8 ;*/
}
.eggyisidiv1
{
    width:959px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
.eggyisidiv1 h1
{
    color: #BD1F2E;
    font-size: 24px;
    font-weight: lighter;
    margin-bottom:15px;
}
.eggyisidiv1 h2
{
    margin-bottom:30px;
}
.eggyisidiv1 img
{
    margin-bottom:15px;
    margin-left:40%;
}
.eggyisidiv1 p
{
    margin-bottom:15px;
}
.links
{
text-decoration:none;
font-weight:bold;
color:#25aae2;
}

/******************************************Guarantee END *****************************************************************/

/**********************************************HOW it Works Man START ************************************************************/

.clear
{
    clear:both;
}
.mosaicreasonsman
{
    position: relative;
    width: 100%;
padding-bottom:60px;
    background: url("Images2/first-general/bg-reapet.jpg");
    border-top:4px solid #be202f;
    box-shadow: 0px 5px 5px 1px #c7c5c8 ; 
}
.reasonsman
{
    width:972px;
    margin-left:auto;
    margin-right:auto;
}
.reasonsman h1, .reasonsman h2
{
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: -o-fit-content;
    width: fit-content;
    height:53px;
    background:white;
    text-align:left;
    margin-bottom:5px;
    font-size:30px;
    font-weight:400;
    padding-left:10px;
    padding-right:22px;
    padding-top:9px;
}
.reasonsman h1
{
    margin-top:18px;
}
.reasonsman h3
{
font-weight:lighter;
font-size:16px;
}
.reasonsmanp1
{
    color:#bd212e;
    margin-top:40px;
    margin-bottom:30px;
    font-weight:lighter;
font-size:24px;
}
.reasonsman img
{float:left;}
.reasonsmandiv1
{margin-top:50px;}
.reasonsmandiv1 p
{width:840px;float:right;margin-bottom:60px;font-size:13px;}
.reasonsmandiv2 p
{width:840px;float:right;margin-bottom:60px;font-size:13px;}
.reasonsmandiv3 p
{width:840px;float:right;margin-bottom:150px;font-size:13px;}
.koubi
{width:325px;margin-right:auto;margin-left:auto;}
.koubi a
{display:block;width:315px;height:70px;text-decoration:none;background:#26a9e1;color:white;font-size:36px;padding-top:15px;padding-left:45px;}

/**********************************************HOW it Works Man END ************************************************************/

/***********************************JOB GENERAL START***************************************************************************/

.clear
{
    clear:both;
}
.mosaiccareer
{
    position: relative;
    width: 1440px;
    height:459px;
/*background-position:center center;*/
margin-left:auto;
margin-right:auto;
    background:url("Images2/career/career-big.jpg") no-repeat scroll center center transparent;
    /*border-bottom:8px solid #26a9e1;
    border-top:8px solid black;*/
    /*box-shadow: 0px 5px 5px 1px #c7c5c8 ;*/
}
.careercontainer
{

    padding-bottom: 125px;
    padding-top: 12px;

    height:750px;
}
.careerservice1
{
    width:959px;
    height:380px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
.careerservice1 h1
{
    color:#bd1f2e;
    font-size: 24px;
    font-weight: lighter;
}
.careerp1
{
    width:186px;
    height:150px;

}
.careerp1 h2
{
    margin-bottom:16px;
    font-weight: 600;
}
.careerp2
{
    width:472px;
    height:150px;
}
.careerp2 h2
{
    margin-bottom:16px;
    font-weight: 600;
}
.p1
{
    position:absolute;
    top:50px;
}
.p2
{
    position:absolute;
    top:245px;
}
.p3
{
    position:absolute;
    top:50px;
    left:220px;
}
.p4
{
    position:absolute;
    top:245px;
    left:220px;
}
.p5
{
    position:absolute;
    top:50px;
    right:45px;
}
.careerservice2 
{  
    width:1030px;
    height:326px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    margin-top: 66px;
}
.careerservice2 h1
{
    padding-left:36px;
     margin-bottom: 30px;
     color:#26a9e1;
    font-size: 150%;
    font-weight: lighter;
}
.careerimg1
{
    width:310px;
    height:287px;
    display:inline-block;
    margin-left:32px;
}
.careerimg1 h2
{
    text-align:left;
    padding-left:36px;
    font-weight: 600;
}
.careerimg1 p
{
    text-align:left;
    padding-left:36px;
    margin-bottom:10px;
}
.careerimg1 a
{
    padding-left:36px;
    text-decoration:none;
    color:#1a75bb;
}
.careerimg2
{
    width:310px;
    height:287px;
    float:left;
}
.careerimg2 h2
{
    text-align:left;
    padding-left:36px;
    font-weight: 600;
}
.careerimg2 p
{
    text-align:left;
    padding-left:36px;
    margin-bottom:10px;
}
.careerimg2 a
{
    padding-left:36px;
    text-decoration:none;
    color:#1a75bb;
}
.careerimg3
{
    width:310px;
    height:287px;
    float:right;
    margin-right:41px;
}
.careerimg3 h2
{
    text-align:left;
    padding-left:36px;
    font-weight: 600;
}
.careerimg3 p
{
    text-align:left;
    padding-left:36px;
    margin-bottom:10px;
}
.careerimg3 a
{
    padding-left:36px;
    text-decoration:none;
    color:#1a75bb;
}

/**********************************JOB GENERAL END*****************************************/

/*********************************JOB CUSTOMER START***********************************************/
.clear
{
    clear:both;
}
.mosaiccustomerservice
{
    position: relative;
    width: 1440px;
    height:459px;
margin-left:auto;
margin-right:auto;
    background:url("Images2/career/career-big.jpg") no-repeat scroll center center transparent;
    /*border-bottom:8px solid #be202f;
    border-top:8px solid black;*/
    /*box-shadow: 0px 5px 5px 1px #c7c5c8 ;*/
}
.maincustomercontainer1
{
padding-bottom:150px;
}
.customerservice1
{
    width:959px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
.customerservice1 h1
{
    color:#be202f;
    margin-top:31px;
    margin-bottom:33px;
    font-size:24px;
    font-weight:lighter;
}
.customerservice1 h2
{
    margin-bottom:14px;
    font-size:120%;
    font-weight:600;    
}
.customerservice1 h3
{
    margin-top:52px;
    margin-bottom:25px;
    font-size:110%;
    font-weight:600;    
}
.customerservice1 p
{
}
.customerservice1 a
{
    margin-top:53px;
    margin-bottom:54px;
    position:absolute;
    text-decoration:none;
    color:#297cbe;    
}
.maincustomercontainer2
{
    background: url(Images2/first-general/bg-reapet.jpg) repeat;
    margin-top: 128px;
    padding-bottom: 125px;
    padding-top: 45px;

}
.customerservice2
{
    width:959px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
     
}
.customerservice2 h2
{
    margin-bottom:14px;
    font-size:120%;
    font-weight:600;    
}
.customerservice2 h3
{
    margin-top:52px;
    margin-bottom:25px;
    font-size:110%;
    font-weight:600;    
}
.customerservice2 p
{
}
.customerservice2 a
{
    margin-top:53px;
    margin-bottom:54px;
    position:absolute;
    text-decoration:none;
    color:#297cbe;
}
.customerline1
{
    width:509px;
    height:1px;
    border-top:1px solid #c7c7c7;
    position:absolute;
    top:68px;
    left:180px;
}
.customerline2
{
    width:509px;
    height:1px;
    border-top:1px solid #c7c7c7;
    position:absolute;
    top:12px;
    left:202px;
}

/**************************************Job CUSTOMER END*****************************************************/

/**************************************Job Professional START*****************************************************/

.clear
{
    clear:both;
}
.mosaicprojobs
{
    position: relative;
    width: 1440px;
    height:459px;
margin-left:auto;
margin-right:auto;
    background:url("Images2/career/career-big.jpg") no-repeat scroll center center transparent;

    /*border-bottom:8px solid #be202f;
    border-top:8px solid black;*/
    /*box-shadow: 0px 5px 5px 1px #c7c5c8 ;*/
}
.projobsservice1
{
    width:959px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
.projobsservice1 h1
{
    color:#be202f;
    margin-top:31px;
    margin-bottom:33px;
    font-size:24px;
    font-weight:lighter;
}
.projobsservice1 h2
{
    margin-bottom:14px;
    font-size:120%;
    font-weight:600;
        
}
.projobsservice1 h3
{
    margin-top:52px;
    margin-bottom:25px;
    font-size:110%;
    font-weight:600;    
}
.projobsservice1 p
{
}
.projobsservice1 a
{
    margin-top:53px;
    margin-bottom:54px;
    position:absolute;
    text-decoration:none;
    color:#297cbe;    
}
.mainprojobscontainer2
{
    background: url(Images2/first-general/bg-reapet.jpg) repeat;
    margin-top: 128px;
    padding-bottom: 125px;
    padding-top: 45px;

}
.projobsservice2
{
    width:959px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
     
}
.projobsservice2 h2
{
    margin-bottom:14px;
    font-size:120%;
    font-weight:600;    
}
.projobsservice2 h3
{
    margin-top:52px;
    margin-bottom:25px;
    font-size:110%;
    font-weight:600;    
}
.projobsservice2 p
{
}
.projobsservice2 a
{
    margin-top:53px;
    margin-bottom:54px;
    position:absolute;
    text-decoration:none;
    color:#297cbe;
}
.projobsline1
{
    width:509px;
    height:1px;
    border-top:1px solid #c7c7c7;
    position:absolute;
    top:68px;
    left:90px;
}
.projobsline2
{
    width:509px;
    height:1px;
    border-top:1px solid #c7c7c7;
    position:absolute;
    top:12px;
    left:160px;
}
.projobsline3
{
    width:509px;
    height:1px;
    border-top:1px solid #c7c7c7;
    position:absolute;
    top:12px;
    left:115px;
}
.projobsline4
{
    width:509px;
    height:1px;
    border-top:1px solid #c7c7c7;
    position:absolute;
    top:12px;
    left:190px;
}
.projobsline5
{
    width:509px;
    height:1px;
    border-top:1px solid #c7c7c7;
    position:absolute;
    top:12px;
    left:70px;
}
.projobsline6
{
    width:509px;
    height:1px;
    border-top:1px solid #c7c7c7;
    position:absolute;
    top:12px;
    left:295px;
}

/*****************************************Job Professional END****************************************/

/******************************************Job Tech Support START******************************************/

.clear
{
    clear:both;
}
.mosaictechservice
{
    position: relative;
    width: 1440px;
    height:459px;
margin-left:auto;
margin-right:auto;
    background:url("Images2/career/career-big.jpg") no-repeat scroll center center transparent;
    /*border-bottom:8px solid #be202f;
    border-top:8px solid black;*/
    /*box-shadow: 0px 5px 5px 1px #c7c5c8 ;*/
}
.maintechcontainer1
{
padding-bottom:150px;
}
.techservice1
{
    width:959px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
.techservice1 h1
{
    color:#be202f;
    margin-top:31px;
    margin-bottom:33px;
    font-size:24px;
    font-weight:lighter;
}
.techservice1 h2
{
    margin-bottom:14px;
    font-size:120%;
    font-weight:600;
        
}
.techservice1 h3
{
    margin-top:52px;
    margin-bottom:25px;
    font-size:110%;
    font-weight:600;    
}
.techservice1 p
{
}
.techservice1 a
{
    margin-top:53px;
    margin-bottom:54px;
    position:absolute;
    text-decoration:none;
    color:#297cbe;    
}
.maintechcontainer2
{
    background: url(Images2/first-general/bg-reapet.jpg) repeat;
    margin-top: 128px;
    padding-bottom: 125px;
    padding-top: 45px;
}
.techservice2
{
    width:959px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
     
}
.techservice2 h2
{
    margin-bottom:14px;
    font-size:120%;
    font-weight:600;    
}
.techservice2 h3
{
    margin-top:52px;
    margin-bottom:25px;
    font-size:110%;
    font-weight:600;    
}
.techservice2 p
{
}
.techservice2 a
{
    margin-top:53px;
    margin-bottom:54px;
    position:absolute;
    text-decoration:none;
    color:#297cbe;
}
.techline1
{
    width:509px;
    height:1px;
    border-top:1px solid #c7c7c7;
    position:absolute;
    top:68px;
    left:150px;
}
.techline2
{
    width:509px;
    height:1px;
    border-top:1px solid #c7c7c7;
    position:absolute;
    top:12px;
    left:120px;
}

/*************************************Job Tech Support END**********************************************/

/*******************************************PRESS START ***********************************************/

.clear
{
    clear:both;
}
.presscontainer
{
    background: url(Images2/first-general/bg-reapet.jpg) repeat;
    padding-bottom: 125px;
    padding-top: 45px;
    border-top:6px solid #be202f;
    box-shadow: 0px 5px 5px 1px #c7c5c8 ;
}
.pressdiv1
{
    width:959px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
.pressdiv1 h1
{
    margin-bottom:14px;
    font-size: 24px;
    font-weight: lighter;

}
.pressdiv1 p
{
    margin-bottom:35px;
}
.pressdiv1 h2
{
    margin-bottom:15px;
    width:112px;
    height:29px;
    color:White;
    background:#be202f;
    padding-top: 10px;
    text-align: center;
    font-size:90%;
    
}
.pressdiv1 ul
{
list-style:none;
padding-left:0px;
}
.pressdiv1 ul li
{
    margin-bottom:18px;
    font-size:100%;
}
.hline1
{
    height:1px;
    width:800px;
    border-top:1px solid #bababa;
    margin-left: auto;
    margin-right: auto;
    margin-top: 68px;

}
.pressdiv2
{
    margin-top:50px;
    width:959px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
.pressdiv2 h2
{
    margin-bottom:15px;
    width:112px;
    height:29px;
    color:White;
    background:#be202f;
    padding-top: 10px;
    text-align: center;
    font-size:90%;
    
}
.pressdiv2 h1
{
    margin-top:36px;
font-weight: lighter;
}
.pressdiv2 p
{
    margin-bottom:43px;
    margin-top:12px;
}
.pressdiv2 ul
{
list-style:none;
padding-left:0px;
}
.pressdiv2 ul li
{
    margin-bottom:18px;
    font-size:100%;
}
.hline2
{
    height:1px;
    width:800px;
    border-top:1px solid #bababa;
    margin-left: auto;
    margin-right: auto;
    margin-top: 68px;
}
.pressdiv2logo
{
    position:absolute;
    top:65px;
    right:0px;
}
.pressdiv3
{
    margin-top:50px;
    width:959px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
.pressdiv3 h2
{
    margin-bottom:15px;
    width:112px;
    height:29px;
    color:White;
    background:#be202f;
    padding-top: 10px;
    text-align: center;
    font-size:90%;
    
}
.pressdiv3 h1
{
    margin-top:30px;
    line-height:20px;
font-weight: lighter;
}
.pressdiv3 p
{
    margin-bottom:43px;
    margin-top:12px;
}
.pressdiv3 ul
{
list-style:none;
padding-left:0px;
}
.pressdiv3 ul li
{
    font-size:100%;
    margin-bottom:18px;
}
.pressdiv3logo
{
    position:absolute;
    top:45px;
    right:0px;
}
.pressdiv1 h3
{
font-size:24px;
    font-weight: lighter;
}
.tooltipcustom
{
width:300px;
background:white;
color:white;
font-size:14px;
background:black;
opacity:0.8;
padding:20px;
}
.tip
{
    cursor:pointer;
    font-weight:bold;
    color:#26a9e1;
}
.links
{
text-decoration:none;
font-weight:bold;
color:#25aae2;
}

/*************************************PRESS END *******************************************************/

/*************************************TERMS OF USE START *******************************************************/

.clear
{
    clear:both;
}
.termscontainer
{
    background: url(Images2/first-general/bg-reapet.jpg) repeat;
    padding-bottom: 125px;
    padding-top: 45px;
    border-top:6px solid #be202f;
    /*box-shadow: 0px 5px 5px 1px #c7c5c8 ;*/
}
.termscontainer h1
{
    font-size:120%;
    font-weight:600;
}

.termsdiv1
{
    width:959px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
.termsdiv1 h1
{
    margin-top:36px;
    margin-bottom:36px;
font-size:24px;
font-weight:lighter;
}
.termsdiv1 p
{
    margin-bottom:36px;
}
#accordion5 h3
{
    margin-bottom:4px;
    color:#c01f31;
    font-weight:lighter;
}
#accordion5 h3:hover
{
    cursor:pointer;
}
#accordion5 p
{
    margin-top:10px;
    margin-bottom:10px;
}
#accordion5 a
{
    text-decoration:none;
    color:#25aae2;
    font-weight:bold;
}
.links
{
text-decoration:none;
font-weight:bold;
color:#25aae2;
}

/*****************************************TERMS OF USE END ********************************************************/


/********************************GET MONEY START****************************************************************/
.clear
{clear:both;}
.getmoneymaincontainer
{
background: url(Images2/first-general/bg-reapet.jpg);
border-top: 6px solid #BE202F;
padding-bottom:155px;
}
.getmoneymid
{
width:959px;
margin-left:auto;
margin-right:auto;
}
.getmoneymid h1
{
margin-top:54px;
    color: #BD1F2E;
    font-size: 24px;
    font-weight: lighter;
margin-bottom:62px;
}
.getmoneymid img
{
float:left;
margin-top:30px;
}
.getmoneymid p
{
margin-bottom:15px;
font-size:18px;
}
.getmoneymid a
{
display:block;
text-decoration:none;
color:white;
background:#BE202E;
width:350px;
height:112px;
font-size:29px;
font-weight:lighter;
padding-left:10px;
padding-top:68px;
margin-top: 605px;
}
.keimeno
{
width:583px;
float:right;
}

/********************************GET MONEY END****************************************************************/

/********************************GIVE MONEY START****************************************************************/

.clear
{clear:both;}
.givemoneymaincontainer
{
background: url(Images2/first-general/bg-reapet.jpg);
border-top: 6px solid #BE202F;
padding-bottom:155px;
}
.givemoneymid
{
width:959px;
margin-left:auto;
margin-right:auto;
}
.givemoneymid h1
{
margin-top:54px;
    color: #BD1F2E;
    font-size: 24px;
    font-weight: lighter;
margin-bottom:62px;
}
.givemoneymid img
{
float:left;
margin-top:30px;
}
.givemoneymid p
{
margin-bottom:15px;
font-size:18px;
}
.givemoneymid a
{
display:block;
text-decoration:none;
color:white;
background:#26a9e1;
width:350px;
height:112px;
font-size:29px;
font-weight:lighter;
padding-left:10px;
padding-top:68px;
margin-top: 565px;
}
.keimeno
{
width:583px;
float:right;
}

/********************************GIVE MONEY END****************************************************************/


/*******************************************PRIVACY POLICY START****************************************************/

.clear
{
    clear:both;
}
.privacycontainer
{
    background: url(Images2/first-general/bg-reapet.jpg) repeat;
    padding-bottom: 125px;
    padding-top: 45px;
    border-top:6px solid #be202f;
    /*box-shadow: 0px 5px 5px 1px #c7c5c8 ;*/
}
.privacycontainer h1
{
    font-size:120%;
    font-weight:600;
}

.privacydiv1
{
    width:959px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
.privacydiv1 a
{
    text-decoration:none;
    color:#25aae2;
    font-weight:bold;
}
.privacydiv1 h1
{
    margin-top:36px;
    margin-bottom:36px;
font-size:24px;
font-weight:lighter;
}
#accordion3 h3, #accordion4 h3
{
    margin-bottom:4px;
    color:#c01f31;
    font-weight:lighter;
}
#accordion3 h3:hover, #accordion4 h3:hover
{
    cursor:pointer;
}
#accordion3 p, #accordion4 p
{
    margin-top:10px;
    margin-bottom:10px;
}
#accordion3 a, #accordion4 a
{
    text-decoration:none;
    color:#25aae2;
    font-weight:bold;
}
.privacydiv1 h2
{
    margin-top:35px;
    margin-bottom:25px;
}
.privacydiv1 p
{
    margin-bottom:45px;
}


/*******************************************PRIVACY POLICY END****************************************************/

/*******************************************ABOUT US START****************************************************/

.clear
{
    clear:both;
}
.mosaiccompany
{
    position: relative;
    width: 100%;
    height:459px;
width: 1440px;
margin-left:auto;
margin-right:auto;
    background: url("Images2/etairia/company-big.jpg") no-repeat;
    background-position:center;
    /*box-shadow: 0px 5px 5px 1px #c7c5c8 ;*/
}
.companycontainer
{
    background: url(first-general/bg-reapet.jpg) repeat;
    padding-bottom: 125px;
    padding-top: 45px;
    border-top:6px solid #be202f;
}
.companydiv1
{
    width:959px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
.companydiv1 h1
{
    font-size:24px;
    font-weight:lighter;
    color:#be202f;
}
.companydiv1 ul
{
    width:515px;
    display:inline-block;
    margin-top:25px;
 padding-left: 0px;
}
.companydiv1 ul li 
{
    margin-bottom:23px;
list-style:none;
}
.companydiv2
{
    float:right;
}
.companydiv2 h2
{
    padding-bottom:4px;
    margin-bottom:11px;
    border-bottom:1px solid black;
}
.companydiv2 p
{
    line-height:30px;
    margin-bottom:16px;
}
.companydiv2 a
{
    text-decoration:none;
}
.history
{
    width:959px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
margin-top:70px;
}
.history h1
{
margin-bottom:30px;
    font-size:20px;
    font-weight:lighter;
}

/** ABOUT US END **/


/** PUB SEARCH **/
.search-top { width: 800px; margin: 30px auto; }
.results-list { width: 800px; margin: 0 auto; }
.image-1 { -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; display: block; width: 128px; height: 128px; position:relative;top:6px;left:6px;}
.result-item { width: 800px; position: relative; margin-bottom:10px;}
.pr-photo { background: url('Images2/pub-search/cycle-profile.png') no-repeat scroll 0 0; width: 142px; height: 142px; position: relative; z-index: 10; }
.result-inner { background-color: #FFFFFF; -webkit-box-shadow: 2px 4px 7px rgba(50, 50, 50, 0.38); -moz-box-shadow: 2px 4px 7px rgba(50, 50, 50, 0.38); box-shadow: 2px 4px 7px rgba(50, 50, 50, 0.38); border-right: 10px solid #3D4146; position: absolute; top: 10px; left: 70px; right: 0px; bottom: 10px; }
.pr-details { position: absolute; top: 1px; left: 82px; bottom: 1px; width: 300px; }
.pr-login a { color: #1daeeb; font-size: 21px;text-decoration:none; }
.pr-details-bottom { position: absolute; bottom: 5px; }
.pr-age { font-size: 14px;font-weight:bold; }
.pr-other { font-size: 12px; }
.pr-other ul{list-style: none outside none;margin: 0;padding-left: 0;}
.pr-other ul li{}
.pr-actions { position: absolute; bottom: 0px; right: 5px; width: 450px;font-size:14px }
.pr-actions a.shadow { border: 1px solid #C8C8C8; -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.38); -moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.38); box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.38); text-decoration:none;color:#000;}
.act-distance { float: right; }
.act-like { float: right; padding: 5px 2px 0px 2px; }
.act-like a { display: block; background: url('Images2/pub-search/hand.png') no-repeat scroll 7% 50%; padding: 3px 10px 4px 25px; }
.act-like a:hover { }
.act-favore { float: right; padding: 5px 2px 0px 2px; }
.act-favore a { display: block; background: url('Images2/pub-search/heart.png') no-repeat scroll 7% 50%; padding: 3px 10px 4px 32px; }
.act-favore a:hover { }
.act-other { float: right; padding: 5px 2px 0px 2px; }
.act-other a { display: block; background: url('Images2/pub-search/arrow.png') no-repeat scroll 95% 50%; padding: 3px 25px 4px 10px; }
.act-other a:hover { }
.act-help { float: right; padding: 11px 5px 0px 5px; }
.act-help a { display: block; text-indent: -9999px; background: url('Images2/pub-search/help.png') no-repeat scroll 0% 0%; width: 19px; height: 19px; }

.pagination{height:25px;padding:15px 10px 0; margin:0 auto 10px;text-align:center;}
#pagination{border:0;margin:0;padding:0;float:right}#pagination li{border:0;margin:0;padding:0;font-size:11px;list-style:none;display:inline}
#pagination a{border:solid 1px #ddd;margin-right:2px}#pagination .previous-off,#pagination .next-off{margin-right:2px;color:#666;display:block;float:left;font-weight:bold;padding:3px 4px}
#pagination .next a,#pagination .previous a{font-weight:bold;border:solid 1px #fff}#pagination .active{background:#2e6ab1;color:#fff;font-weight:bold;display:block;float:left;padding:4px 6px;margin-right:2px}
#pagination a:link,#pagination a:visited{color:#0063e3;display:block;float:left;padding:3px 6px;text-decoration:none}#pagination a:hover{border:solid 1px #666}


/* devex fix */
.pagination img.dxWeb_pFirst_Aqua{background:url(Images2/pub-search/button-next.png) no-repeat scroll 0 0;width: 30px;height: 33px;}
.pagination img.dxWeb_pPrev_Aqua {background:url(Images2/pub-search/button-next.png) no-repeat scroll 32% 0;width: 30px;height: 33px;}
.pagination img.dxWeb_pNext_Aqua {background:url(Images2/pub-search/button-next.png) no-repeat scroll 66% 0;width: 30px;height: 33px;}
.pagination img.dxWeb_pLast_Aqua {background:url(Images2/pub-search/button-next.png) no-repeat scroll 100% 0;width: 30px;height: 33px;}
.pagination img.dxWeb_pFirstDisabled_Aqua{background:url(Images2/pub-search/button-next.png) no-repeat scroll 0 0;width: 30px;height: 33px;
                                          -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";	filter: alpha(opacity=30);	-moz-opacity:0.3;-khtml-opacity: 0.3;opacity: 0.3;}
.pagination img.dxWeb_pPrevDisabled_Aqua {background:url(Images2/pub-search/button-next.png) no-repeat scroll 32% 0;width: 30px;height: 33px;
                                          -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";	filter: alpha(opacity=30);	-moz-opacity:0.3;-khtml-opacity: 0.3;opacity: 0.3;}
.pagination img.dxWeb_pNextDisabled_Aqua {background:url(Images2/pub-search/button-next.png) no-repeat scroll 66% 0;width: 30px;height: 33px;
                                          -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";	filter: alpha(opacity=30);	-moz-opacity:0.3;-khtml-opacity: 0.3;opacity: 0.3;}
.pagination img.dxWeb_pLastDisabled_Aqua {background:url(Images2/pub-search/button-next.png) no-repeat scroll 100% 0;width: 30px;height: 33px;
                                          -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";	filter: alpha(opacity=30);	-moz-opacity:0.3;-khtml-opacity: 0.3;opacity: 0.3;}

.pagination .dxpLite_Aqua b.dxp-current {
    background:transparent url(Images2/pub-search/page-rank-bg.png) no-repeat scroll 0 0;width: 24px;height: 26px;
    display:inline-block;
    color: #2090BE;
    text-decoration: none;
    border: none;
    font-size:12px;
    text-align:center;
    padding-top:3px;
    margin-left:5px;
    line-height:25px;
    padding: 3px 4px 2px 3px;
}

.pagination .dxpLite_Aqua a.dxp-num {
    background:transparent url(Images2/pub-search/page-rank-bg.png) no-repeat scroll 0 0;width: 21px;height: 26px;
    display:inline-block;
    color: #000;
    text-decoration: none;
    font-size:12px;
    text-align:center;
    margin-left:5px;
    line-height:27px;
    padding: 2px 4px 2px;
}
/* devex fix end */

/** PUB SEARCH END **/



/**** GIFTS START ****/

.mosaic113
{
    position: relative;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: 456px;
    background: url("Images2/gifts/big-image.jpg") no-repeat scroll center center transparent;
    border-bottom:5px solid #BE202F;
    border-top:5px solid #000000;
}

.gifts113
{
    position: absolute;
    top: 73px;
    left: 701px;
    text-align:right;
}
.gifts113 h1{
    font-size:40px;
    margin:0;
    font-weight:normal;
}
.gifts113 h3{
    font-size:20px;
    margin:0;
    font-weight:normal;
}

.main113
{
    width: 900px;
    margin:50px auto 160px;
    font-size:14px;
}

.main113-content
{
    margin:50px auto;
}

.main113-left
{
    float:left;
    width:550px;
}

.main113-left h2
{
    font-size:20px;
    margin:50px 0 30px 0;
    font-weight:normal;
}

.main113-right
{
    float:right;
    width:300px;
    height:635px;
    background: transparent url('Images2/gifts/image.png') no-repeat scroll center center;
}

/**** GIFTS END ****/
