﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Root.Master" CodeBehind="Landingc.aspx.vb" Inherits="Dating.Server.Site.Web.Landingc" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="insidemosaiccontainer" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="content" runat="server">
    <asp:Label ID="lblHeader" runat="server" Text=""></asp:Label>     
    <div class="landingcontainer">
        <div class="landingdiv3">
            <div class="landingdiv3right">

                <div class="landingdiv3rightup">
                    <asp:Label ID="lblFacesUp" runat="server" Text=""></asp:Label>
                    <div class="clear"></div>
                </div>
                <div class="landingdiv3rightdown">
                    <asp:Label ID="lblFacesDown" runat="server" Text=""></asp:Label>
                    <div class="clear"></div>
                </div>
            </div>
            
    
        </div>
    </div>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cntBodyBottom" runat="server">
</asp:Content>
