﻿<%@ Master Language="VB" AutoEventWireup="true" CodeBehind="RootLanding.Master.vb" Inherits="Dating.Server.Site.Web._RootLandingMaster" %>

<%@ Register src="~/Security/UserControls/ucLogin.ascx" tagname="ucLogin" tagprefix="uc1" %>
<%@ Register src="~/UserControls/ContactControl.ascx" tagname="ContactControl" tagprefix="uc2" %>
<%@ Register src="~/UserControls/PublicMasterBottom.ascx" tagname="PublicMasterBottom" tagprefix="uc3" %>
<%@ Register Assembly="DatingDealsCOM" Namespace="Dating.Server.Site.Web.ServerControls" TagPrefix="cc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html itemscope itemtype="http://schema.org/Organization" xmlns:fb="http://ogp.me/ns/fb#">
<head runat="server">
    <title></title>
    <meta name="google-site-verification" content="mpyZx3Uz8LfMB3h_GKU6-OO_6ju_laLLZOo7EiBxfwE" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="msapplication-config" content="none"/>
    <meta itemprop="image" content="//www.goomena.com/images/50x100woman.png">
    <link href="/v1/css/goomenastyles.css?v=19" rel="stylesheet" type="text/css" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="//cdn.goomena.com/Scripts/jquery-1.7.min.js" type="text/javascript"></script>
    <script src="//cdn.goomena.com/Scripts/jquery.json-2.4.min.js" type="text/javascript"></script>
    <script src="//cdn.goomena.com/Scripts/jquery.tipsy.js" type="text/javascript"></script>
    <script src="//cdn.goomena.com/Scripts/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
    <script src="/v1/Scripts/script1.js?v=16" type="text/javascript"></script>
    <%--<script src="//cdn.goomena.com/balance/media/widgetkit/js/widgetkit.js" type="text/javascript"></script>
    <script src="//cdn.goomena.com/balance/media/widgetkit/js/widgetkit.effects.js" type="text/javascript"></script>
    <script src="//cdn.goomena.com/balance/templates/yoo_balance/warp/js/dropdownmenu.js" type="text/javascript"></script>
    <script src="//cdn.goomena.com/balance/media/widgetkit/widgets/slideshow/js/slideshow.js" type="text/javascript"></script>
    <script src="//cdn.goomena.com/Scripts/slide/slide.js" type="text/javascript"></script>--%>
    <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
    <script src="//connect.facebook.net/en_US/all.js#xfbml=1" type="text/javascript"></script>
    <link href="//fonts.googleapis.com/css?family=Nobile:400,700italic,700,400italic" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Maven+Pro:400,500,700" rel="stylesheet" />
    <link href="//cdn.goomena.com/css/mainmenu21.css" rel="stylesheet" />
    <link href="//cdn.goomena.com/CSS/Hint.css" rel="stylesheet" type="text/css" />
    <%--<link href="//cdn.goomena.com/css/slide/slide.css" rel="stylesheet" />
    <link href="//cdn.goomena.com/css/slide/custom.css" rel="stylesheet" />
    <link href="//cdn.goomena.com/balance/media/widgetkit/widgets/slideshow/css/slideshow.css" rel="stylesheet" />--%>
    <link href="/v1/css/def-public.css?v=9" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link rel="stylesheet" href="/v1/css/def-public-master.css?v=10" />
    <style type="text/css">
        .mosaic { overflow: hidden;height: 278px; }
        .maina{width: 950px;margin-left: auto;margin-right: auto;}
        .hidden{display:none;}
        .logintable .bemember-wrap { padding:2px;-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;background-color:#24A9E1;border: 5px; }
        .logintable .connect-wrap { padding:2px;-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;background-color:#DF194C;border: 5px; }
        .logintable .text-wrap { padding:0px;-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;border: 2px solid #EBEBED;}
    </style>
</head>
<body id="page" class="<%= Session("LagID") %>">
    <div id="fb-root"></div>
    <script type="text/javascript">

        function runExtLinks20() {
            facebook_fnc();
            (function () {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
        }

        $(function () {
            runExtLinks20()
            //setTimeout(runExtLinks20, 900);
        });

    </script>
    <form id="form1" runat="server">
<asp:ScriptManager ID="sm" runat="server">
</asp:ScriptManager>
<dx:ASPxLoadingPanel runat="server" 
    ClientInstanceName="LoadingPanel"
    ImageSpacing="0px" CssPostfix="DevEx" 
    CssFilePath="~/App_Themes/DevEx/{0}/styles.css" 
    ID="LoadingPanel" 
    EnableDefaultAppearance="False" 
    EnableTheming="False" 
    EnableViewState="False" Text="">
    <Image Url="//cdn.goomena.com/Images2/GOO-Loading.gif">
    </Image>
</dx:ASPxLoadingPanel>
<script type="text/javascript">
        function showLoginErrMessage() {
            var login_error = $('.login_error', '#<%= updL.ClientID %>');
        if (login_error.length > 0) {
            $('td', '#login_bottom_row').css("visibility", "hidden");
        }
    }
    function hideLoginErrMessage() {
        var login_error = $('.login_error', '#<%= updL.ClientID %>');
        if (login_error.length > 0) {
            login_error.hide();
            $('td', '#login_bottom_row').css("visibility", "visible");
        }
    }
    function Password_GotFocus(s, e) { hideLoginErrMessage(); }
    function UserName_GotFocus(s, e) { hideLoginErrMessage(); }
    showLoginErrMessage();
    Sys.WebForms.PageRequestManager.getInstance().add_endRequest(showLoginErrMessage);
</script>                                                   
           
                      <div class="headernew">
                        <div class="logincontainernew" >
                                <asp:HyperLink ID="lnkLogo" runat="server" NavigateUrl="~/Default.aspx" onclick="ShowLoading();"><img ID="imgLogo" runat="server" src="//cdn.goomena.com/Images2/logo-pub2.jpg" alt="Goomena Logo" title="Goomena Logo" /></asp:HyperLink>
                                    <%--<img ID="imgLogo" runat="server" class="logo" src="//cdn.goomena.com/Images2/logo-carv-public.png" alt="Goomena Logo" title="Goomena Logo" /><img src="//cdn.goomena.com/Images2/logo-pub-val.png" />--%>
                    <asp:UpdatePanel ID="updL" runat="server">
                        <ContentTemplate>
                                    <uc1:ucLogin ID="ucLogin1" runat="server">
                                    <LoginControl>
                                    <LayoutTemplate>
                                        <asp:HiddenField ID="hdfHideRecaptcha" runat="server" Visible="false" />
                                 <table class="logintable">
                                              <tr>
                                                  <td></td>
                                                  <td></td>
                                                  <td ID="lblUsernameTopTD" runat="server" style="text-align: center; width:130px; font-size:13px;"><asp:Label ID="lblUsernameTop" runat="server" Text="Label"></asp:Label> </td>
                                                  <td ID="lblPasswordTopTD" runat="server" style="text-align: center; width:130px; font-size:13px;"><asp:Label ID="lblPasswordTop" runat="server" Text="Label"></asp:Label></td>
                                                  <td ID="btnLoginTopTD" runat="server"></td>
                                              </tr>
                                              <tr>
                                                  <td><asp:Label ID="lblErrorUserDeleted" runat="server" Visible="false" EnableViewState="false" CssClass="master-login-error"></asp:Label></td>
                                                  <td valign="top">
                                                      <div class="bemember-wrap"><dx:ASPxButton ID="btnJoinToday" runat="server" Text="Join Today" 
                                                            CssClass="bemember" BackColor="#24A9E1" EnableDefaultAppearance="False" 
                                                            Font-Size="Small" ForeColor="White" Height="27px" HorizontalAlign="Center" 
                                                            VerticalAlign="Middle" Width="91px" UseSubmitBehavior="False">
                                                            <ClientSideEvents Click="ShowLoadingOnMenu" />
                                                        </dx:ASPxButton></div></td>
                                                  <td id="UserNameTD" runat="server"><div class="text-wrap"><dx:ASPxTextBox ID="UserName" runat="server" Width="130px" Height="27px" Border-BorderWidth="0px" Paddings-Padding="3px">
                                                          <ValidationSettings ValidationGroup="QuickLoginGroup" ErrorTextPosition="Right" Display="Dynamic"
                                                              ErrorDisplayMode="Text">
                                                              <RequiredField ErrorText="Username or Email is required." IsRequired="true" />
                                                          </ValidationSettings>
                                                          <ClientSideEvents GotFocus="UserName_GotFocus" LostFocus="UserName_GotFocus" />
                                                      </dx:ASPxTextBox></div></td>
                                                  <td id="PasswordTD" runat="server"><div class="text-wrap"><dx:ASPxTextBox ID="Password" runat="server" Width="130px" Height="27px" Border-BorderWidth="0px" Paddings-Padding="3px" Password="True">
                                                          <ValidationSettings ValidationGroup="QuickLoginGroup" ErrorTextPosition="Right" Display="Dynamic"
                                                              ErrorDisplayMode="Text">
                                                              <RequiredField ErrorText="Password is required." IsRequired="true" />
                                                          </ValidationSettings>
                                                          <ClientSideEvents GotFocus="Password_GotFocus" LostFocus="Password_GotFocus" />
                                                      </dx:ASPxTextBox></div></td>
                                                  <td ID="btnLoginTD" runat="server"><div class="connect-wrap"><dx:ASPxButton ID="btnLogin" runat="server" Text="Σύνδεση" 
                                                            CssClass="connect" BackColor="#DF194C" EnableDefaultAppearance="False" 
                                                            Font-Size="Small" ForeColor="White" Height="27px" HorizontalAlign="Center" 
                                                            VerticalAlign="Middle" Width="71px" CommandName="Login">
                                                            <ClientSideEvents Click="ShowLoadingOnMenu" />
                                                        </dx:ASPxButton></div></td>
                                              </tr>
                                              <tr id="login_bottom_row">
                                                  <td></td>
                                                  <td></td>
                                                  <td ID="chkRememberMeTD" runat="server"><dx:ASPxCheckBox ID="chkRememberMe" runat="server" Text="Remember me" EncodeHtml="False"
                                                          EnableDefaultAppearance="True" ForeColor="Black">
                                                        <CheckedImage Url="//cdn.goomena.com/images2/search/check.png" Height="19px"
                                                            Width="18px">
                                                        </CheckedImage>
                                                        <UncheckedImage Url="//cdn.goomena.com/images2/search/uncheck.png" Height="19px"
                                                            Width="18px">
                                                        </UncheckedImage>
                                                      </dx:ASPxCheckBox></td>
                                                  <td ID="lbForgotPasswordTD" runat="server" style="width: 136px;"><dx:ASPxHyperLink ID="lbForgotPassword" runat="server" EncodeHtml="false" Text="Forgot Your Password?"
                                                          EnableDefaultAppearance="False" EnableTheming="False" NavigateUrl="~/RestorePassword.aspx"
                                                          ForeColor="Black" CssClass="forgotpass" /></td>
                                                  <td ID="btnLoginBotTD" runat="server"></td>
                                              </tr>
                                </table>
                                <div class="Errors" style="position:absolute; bottom:0px; right:0px;">
                                    <asp:ValidationSummary ID="ValidationSummary1" runat="server" />
                                </div>
                                               </LayoutTemplate>
                                           </LoginControl>
                                       </uc1:ucLogin>
                        </ContentTemplate>
                    </asp:UpdatePanel> 
                             <div class="languages">
                             <dx:ASPxComboBox ID="cmbLag" runat="server" 
                                CssFilePath="~/App_Themes/DevEx/{0}/styles.css"
                                CssPostfix="DevEx" Spacing="0" 
                                SpriteCssFilePath="~/App_Themes/DevEx/{0}/sprite.css" 
                                SelectedIndex="0" 
                                ShowImageInEditBox="True" 
                                AutoPostBack="True"
                                Height="21px" Width="100px" EncodeHtml="False">
                                <Items>
                                    <dx:ListEditItem ImageUrl="//cdn.goomena.com/Images/flags/US.png" Text="English" Value="US" />
                                    <dx:ListEditItem ImageUrl="//cdn.goomena.com/Images/flags/spain-flag.png" Text="Spanish" Value="ES" />
                                    <dx:ListEditItem ImageUrl="//cdn.goomena.com/Images/flags/Greece.png" Text="Greek" Value="GR" />
                                    <dx:ListEditItem ImageUrl="//cdn.goomena.com/Images/flags/turk.png" Text="Turkish" Value="TR" />
                                    <%--<dx:ListEditItem ImageUrl="~/Images/flags/albania.png" Text="Albanian" Value="AL" />--%>
                                </Items>
                                <LoadingPanelStyle ImageSpacing="5px">
                                </LoadingPanelStyle>
                                <ButtonStyle Width="13px">
                                </ButtonStyle>
                                <ClientSideEvents SelectedIndexChanged="selectedLagChanged" />
                                 <Border BorderStyle="None" />
                            </dx:ASPxComboBox>
                            <%--<div class="hidden">
                                <a id="lagUS" href="<%= Dating.Server.Site.Web._RootMaster.GetNewLAGUrl(0) %>">US</a>
                                <a id="lagGR" href="<%= Dating.Server.Site.Web._RootMaster.GetNewLAGUrl(2) %>">GR</a>
                                <a id="lagAL" href="<%= Dating.Server.Site.Web._RootMaster.GetNewLAGUrl(4) %>">AL</a>
                                <a id="lagTR" href="<%= Dating.Server.Site.Web._RootMaster.GetNewLAGUrl(3) %>">TR</a>
                                <a id="lagES" href="<%= Dating.Server.Site.Web._RootMaster.GetNewLAGUrl(1) %>">ES</a>
                            </div>--%>
                            </div>
                        
                                          <div class="menu">
                                              <dx:ASPxMenu ID="mnuNavi" runat="server" EnableDefaultAppearance="False" 
                                                  ItemSpacing="30px" Font-Bold="False" CssClass="menuwords">
                                                  <ItemStyle>
                                                  <SelectedStyle ForeColor="#26A9E1" Font-Bold="True">
                                                  </SelectedStyle>
                                                  </ItemStyle>
                                                  <ClientSideEvents ItemClick="ShowLoadingOnMenu" />
                                              </dx:ASPxMenu>
                                          </div>
                            <asp:ContentPlaceHolder ID="insidemosaiccontainer" runat="server">
                            </asp:ContentPlaceHolder>
    </div>
</div>
       <div class="gendermsg"></div>         
    <asp:Panel ID="pnlMosaic" CssClass="mosaic" runat="server" EnableViewState="false">
		<div runat="server" class="pic pic1" id="pic1"></div>
		<div runat="server" class="pic pic2" id="pic2"></div>
		<div runat="server" class="pic pic3" id="pic3"></div>
		<div runat="server" class="pic pic4" id="pic4"></div>
		<div runat="server" class="pic pic5" id="pic5"></div>
		<div runat="server" class="pic pic6" id="pic6"></div>
		<div runat="server" class="pic pic7" id="pic7"></div>
		<div runat="server" class="pic pic8" id="pic8"></div>
		<div runat="server" class="pic pic9" id="pic9"></div>
		<div runat="server" class="pic pic10" id="pic10"></div>
		<div runat="server" class="pic pic11" id="pic11"></div>
		<div runat="server" class="pic pic12" id="pic12"></div>
		<div runat="server" class="pic pic13" id="pic13"></div>
		<div runat="server" class="pic pic14" id="pic14"></div>
		<div runat="server" class="pic pic15" id="pic15" ></div>
		<div runat="server" class="pic pic16" id="pic16" ></div>
		<div runat="server" class="pic pic17" id="pic17" ></div>
		<div runat="server" class="pic pic18" id="pic18" ></div>
		<div runat="server" class="pic pic19" id="pic19" ></div>
		<div runat="server" class="pic pic20" id="pic20" ></div>
		<div runat="server" class="pic pic21" id="pic21" ></div>
		<div runat="server" class="pic pic22" id="pic22" ></div>
		<div runat="server" class="pic pic23" id="pic23"></div>
		<div runat="server" class="pic pic24" id="pic24"></div>
		<div runat="server" class="pic pic25" id="pic25"></div>
		<div runat="server" class="pic pic26" id="pic26"></div>
		<div runat="server" class="pic pic27" id="pic27"></div>
		<div runat="server" class="pic pic28" id="pic28"></div>
		<div runat="server" class="pic pic29" id="pic29"></div>
		<div runat="server" class="pic pic30" id="pic30"></div>
		<div runat="server" class="pic pic31" id="pic31"></div>
		<div runat="server" class="pic pic32" id="pic32"></div>
		<div runat="server" class="pic pic33" id="pic33"></div>
		<div runat="server" class="pic pic34" id="pic34"></div>
		<div runat="server" class="pic pic35" id="pic35"></div>
		<div runat="server" class="pic pic36" id="pic36"></div>
		<div runat="server" class="pic pic37" id="pic37" ></div>
		<div runat="server" class="pic pic38" id="pic38" ></div>
		<div runat="server" class="pic pic39" id="pic39" ></div>
		<div runat="server" class="pic pic40" id="pic40" ></div>
		<div runat="server" class="pic pic41" id="pic41" ></div>
		<div runat="server" class="pic pic42" id="pic42" ></div>
		<div runat="server" class="pic pic43" id="pic43" ></div>
		<div runat="server" class="pic pic44" id="pic44" ></div>
		<div runat="server" class="pic pic45" id="pic45"></div>
		<div runat="server" class="pic pic46" id="pic46"></div>
		<div runat="server" class="pic pic47" id="pic47"></div>
		<div runat="server" class="pic pic48" id="pic48"></div>
		<div runat="server" class="pic pic49" id="pic49"></div>
		<div runat="server" class="pic pic50" id="pic50"></div>
        <div runat="server" class="pic pic51" id="pic51"></div>
		<div runat="server" class="pic pic52" id="pic52"></div>
		<div runat="server" class="pic pic53" id="pic53"></div>
		<div runat="server" class="pic pic54" id="pic54"></div>
		<div runat="server" class="pic pic55" id="pic55"></div>
		<div runat="server" class="pic pic56" id="pic56"></div>
		<div runat="server" class="pic pic57" id="pic57"></div>
		<div runat="server" class="pic pic58" id="pic58"></div>
		<div runat="server" class="pic pic59" id="pic59"></div>
		<div runat="server" class="pic pic60" id="pic60"></div>
		<div runat="server" class="pic pic61" id="pic61" ></div>
		<div runat="server" class="pic pic62" id="pic62" ></div>
		<div runat="server" class="pic pic63" id="pic63" ></div>
		<div runat="server" class="pic pic64" id="pic64" ></div>
		<div runat="server" class="pic pic65" id="pic65" ></div>
		<div runat="server" class="pic pic66" id="pic66" ></div>
		<div runat="server" class="pic pic67" id="pic67" ></div>
		<div runat="server" class="pic pic68" id="pic68"></div>
    	<div runat="server" class="pic pic69" id="pic69" visible="false"></div>
		<div runat="server" class="pic pic70" id="pic70" visible="false"></div>
		<div runat="server" class="pic pic71" id="pic71" visible="false"></div>
		<div runat="server" class="pic pic72" id="pic72" visible="false"></div>
		<div runat="server" class="pic pic73" id="pic73" visible="false"></div>
		<div runat="server" class="pic pic74" id="pic74" visible="false"></div>
		<div runat="server" class="pic pic75" id="pic75" visible="false"></div>
		<div runat="server" class="pic pic76" id="pic76" visible="false"></div>
		<div runat="server" class="pic pic77" id="pic77" visible="false"></div>
		<div runat="server" class="pic pic78" id="pic78" visible="false"></div>
		<div runat="server" class="pic pic79" id="pic79" visible="false"></div>
		<div runat="server" class="pic pic80" id="pic80" visible="false"></div>
		<div runat="server" class="pic pic81" id="pic81" visible="false"></div>
		<div runat="server" class="pic pic82" id="pic82" visible="false"></div>
		<div runat="server" class="pic pic83" id="pic83" visible="false"></div>
		<div runat="server" class="pic pic84" id="pic84" visible="false"></div>
		<div runat="server" class="pic pic85" id="pic85" visible="false"></div>
		<div runat="server" class="pic pic86" id="pic86" visible="false"></div>
		<div runat="server" class="pic pic87" id="pic87" visible="false"></div>
		<div runat="server" class="pic pic88" id="pic88" visible="false"></div>
     </asp:Panel> 

    <div class="maina">

        <asp:ContentPlaceHolder ID="content" runat="server">
        </asp:ContentPlaceHolder>

        <asp:Panel ID="pnlBottomPhotos" CssClass="manwomancontainer" runat="server" EnableViewState="false">
            <div class="woman">
                <asp:Literal ID="ltrMenMessage" runat="server"></asp:Literal>
                <div class="photosforwomen">
                    <asp:HyperLink ID="anchornum1" runat="server">
                        <div class="polaroid">
                            <p runat="server" id="imagename1" class="imagename1"></p>
                            <img runat="server" id="imgtag1" class="imgtag1" />
                        </div>
                    </asp:HyperLink>
                    <asp:HyperLink ID="anchornum2" runat="server">
                        <div class="polaroid">
                            <p runat="server" id="imagename2" class="imagename2"></p>
                            <img runat="server" id="imgtag2" class="imgtag2" />
                        </div>
                    </asp:HyperLink>
                    <asp:HyperLink ID="anchornum3" runat="server">
                        <div class="polaroid">
                            <p runat="server" id="imagename3" class="imagename3"></p>
                            <img runat="server" id="imgtag3" class="imgtag3" />
                        </div>
                    </asp:HyperLink>
                    <asp:HyperLink ID="anchornum4" runat="server">
                        <div class="polaroid">
                            <p runat="server" id="imagename4" class="imagename4"></p>
                            <img runat="server" id="imgtag4" class="imgtag4" />
                        </div>
                    </asp:HyperLink>
                </div>
            </div>
            <div class="man">
                <asp:Literal ID="ltrLadiesMessage" runat="server"></asp:Literal>
                <div class="photosformen">
                    <asp:HyperLink ID="anchornum5" runat="server">
                        <div class="polaroid2">
                            <p runat="server" id="imagename5" class="imagename5"></p>
                            <img runat="server" id="imgtag5" class="imgtag5" />
                        </div>
                    </asp:HyperLink>
                    <asp:HyperLink ID="anchornum6" runat="server">
                        <div class="polaroid2">
                            <p runat="server" id="imagename6" class="imagename6"></p>
                            <img runat="server" id="imgtag6" class="imgtag6" />
                        </div>
                    </asp:HyperLink>
                    <asp:HyperLink ID="anchornum7" runat="server">
                        <div class="polaroid2">
                            <p runat="server" id="imagename7" class="imagename7"></p>
                            <img runat="server" id="imgtag7" class="imgtag7" />
                        </div>
                    </asp:HyperLink>
                    <asp:HyperLink ID="anchornum8" runat="server">
                        <div class="polaroid2">
                            <p runat="server" id="imagename8" class="imagename8"></p>
                            <img runat="server" id="imgtag8" class="imgtag8" />
                        </div>
                    </asp:HyperLink>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </asp:Panel> 
    </div>
    <div class="clear"></div>

            <div class="PhotoInfoWrap hidden">
                <div id="PhotoInfos" class="PhotoInfos">
                    <img class="InfoImg" />
                </div>
                <p class="ProfileID"></p>
                <p class="ProfileCity"></p>
                <div class="ProfileAgeWrap">
                    <p class="ProfileAgeText"></p>
                    <p class="ProfileAge"></p>
                </div>
            </div>

<script type="text/javascript">
    var profileBaseUrl = '<%= MyBase.LanguageHelper.GetPublicURL("/profile/", MyBase.GetLag()) %>';
    if (!stringIsEmpty(profileBaseUrl)) {
        if (profileBaseUrl.indexOf("?") > -1) profileBaseUrl = profileBaseUrl.substring(0, profileBaseUrl.indexOf("?"));
    }
    $("#lista1,#listaman1").toggle(function () {
        $("#lista2,#lista3,#lista4,#tiperimeneis,#listaman2,#listaman3,#listaman4,#tiperimeneisman").removeClass("hidden");
    },
    function () {
        $("#lista2,#lista3,#lista4,#tiperimeneis,#listaman2,#listaman3,#listaman4,#tiperimeneisman").addClass("hidden");
    });
    $("#lista1,#listaman1").toggle(function () {
        $("#lista1").css('background', 'url("//cdn.goomena.com/goomena-kostas/first-general/red-meion.png") no-repeat scroll -10px 0 transparent');
        $("#listaman1").css('background', 'url("//cdn.goomena.com/goomena-kostas/first-general/black-meion.png") no-repeat scroll -10px 0 transparent');
    },
    function () {
        $("#lista1").css('background', 'url("//cdn.goomena.com/goomena-kostas/first-general/plus-red.png") no-repeat scroll -10px 0 transparent');
        $("#listaman1").css('background', 'url("//cdn.goomena.com/goomena-kostas/first-general/plus.png") no-repeat scroll -10px 0 transparent');
    });
    $("#listaman4").tooltip({ tooltipClass: "tooltipcustom" });
    var lag = document.cookie.split('LagID=');
    if (lag.length > 1) {
        if (lag[1].slice(0, 2) == "US") {
            $("#listaman4").tooltip({ content: "This offer represents the expenses a woman have to do in order to prepare herself for a date." });
        }
        else if (lag[1].slice(0, 2) == "GR") {
            $("#listaman4").tooltip({ content: "Η προσφορά αυτή , αντιστοιχεί στην ελάχιστη αμοιβή για την προετοιμασία της γυναίκας για να βγει ραντεβού." });
        }
        else if (lag[1].slice(0, 2) == "AL") {
            $("#listaman4").tooltip({ content: "Oferta ndikon për përgatitjen e vajzës për tu takuar." });
        }
    }

    $(".mosaic").children().mouseover(function (e) {
        $(".PhotoInfoWrap").removeClass("hidden");
        var loginName = $(this).attr("data-LoginName");
        var country = $(this).attr("data-Country");
        var age = $(this).attr("data-Age");
        var region = $(this).attr("data-Region");
        var city = $(this).attr("data-City");
        var bg = $(this).attr("data-URL");
        var gender = $(this).attr("data-Gender");
        $(".PhotoInfoWrap").click(function () {
            ShowLoading();
            var ln = loginName;
            if (typeof encodeURIComponent !== 'undefined') {
                ln = encodeURIComponent(loginName);
            }
            else if (typeof encodeURI !== 'undefined') {
                ln = encodeURI(loginName);
            }
            ln = ln.replace(".", "%2e").replace("+", "%20");
            window.location = profileBaseUrl + ln;
        }).css("cursor", "pointer");
        $(this).click(function () {
            ShowLoading();
            var ln = loginName;
            if (typeof encodeURIComponent !== 'undefined') {
                ln = encodeURIComponent(loginName);
            }
            else if (typeof encodeURI !== 'undefined') {
                ln = encodeURI(loginName);
            }
            ln = ln.replace(".", "%2e").replace("+", "%20");
            window.location = profileBaseUrl + ln;
        }).css("cursor", "pointer");

        $(".InfoImg").attr("src", bg);
        $(".PhotoInfoWrap").position({
            my: "left center",
            at: "top bottom",
            of: this
        });
        $(".PhotoInfoWrap").addClass("animate");
        $(".PhotoInfoWrap").css("z-index", "10");
        $(".ProfileID").html(loginName);

        if (!stringIsEmpty(region) && !stringIsEmpty(city) && !stringIsEmpty(country)) {
            $(".ProfileCity").html(region + ", " + city + ", " + country);
        }
        else if (!stringIsEmpty(city) && !stringIsEmpty(country)) {
            $(".ProfileCity").html(city + ", " + country);
        }
        else if (!stringIsEmpty(region) && !stringIsEmpty(country)) {
            $(".ProfileCity").html(region + ", " + country);
        }

        $(".ProfileAgeText").html("age" + '<br/>');
        $(".ProfileAge").html(age);
        if (gender == "1") {
            $(".ProfileID,.ProfileAgeWrap").css("background", "#13a8e4");
        }
        if (gender == "2") {
            $(".ProfileID,.ProfileAgeWrap").css("background", "#ED145B");
        }
    }).mouseleave(function () {
        $(".PhotoInfoWrap").removeClass("animate");
    });


    $(".PhotoInfoWrap").mouseover(function (e) {
        $(".PhotoInfoWrap").removeClass("hidden");
    });

    $(".mosaic").mouseleave(function (e) {
        $(".PhotoInfoWrap").addClass("hidden");
    });

    $(".maina").mouseenter(function () {
        $(".PhotoInfoWrap").addClass("hidden");
    });

    $(".mosaic").mouseleave(function () {
        $(".PhotoInfoWrap").addClass("hidden");
    });

    $(".registerform").mouseenter(function () {
        $(".PhotoInfoWrap").addClass("hidden");
    });

    function stringIsEmpty(s) {
        var b = (s == null || typeof s === 'undefined' || s == ''); return b;
    }

</script>          

        
    <uc3:PublicMasterBottom ID="pmb1" runat="server" />

        <asp:ContentPlaceHolder ID="cntBodyBottom" runat="server">
    </asp:ContentPlaceHolder>

</form>
</body>
</html>
