﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Members/Members2Inner.master" CodeBehind="Automations.aspx.vb" Inherits="Dating.Server.Site.Web.Automations" %>

<%@ Register Assembly="DevExpress.Web.v13.1, Version=13.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxUploadControl" TagPrefix="dx" %>

<%@ Register src="../UserControls/MemberLeftPanel.ascx" tagname="MemberLeftPanel" tagprefix="uc3" %>
<%@ Register src="../UserControls/WhatIsIt.ascx" tagname="WhatIsIt" tagprefix="uc2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>


<asp:Content ID="Content2" ContentPlaceHolderID="content" runat="server">
    <asp:UpdatePanel ID="up1" runat="server" RenderMode="Inline">
        <ContentTemplate>
        <div class="clear"></div>
        <div class="container_12" id="tabs-outter">
            <div class="grid_12 top_tabs">
            </div>
        </div>
        <div class="clear"></div>
		<div class="container_12" id="content_top">


		</div>
		<div class="container_12" id="content">
        <div class="grid_3 top_sidebar" id="sidebar-outter">
            <div class="left_tab" id="left_tab" runat="server">
                <div class="top_info">
                </div>
                <div class="middle" id="search">
                    <div class="submit">
                        <h3><asp:Literal ID="lblItemsName" runat="server" /></h3>
                        <div class="clear"></div>
                        <asp:LinkButton ID="lnkViewDescription" runat="server" CssClass="more_info2" OnClientClick="OnMoreInfoClick('[contentUrl]', this, '[headerText]');return false;" />
                    </div>
                </div>
                <div class="bottom">
                    &nbsp;</div></div>
		        <%--<uc3:MemberLeftPanel ID="leftPanel" runat="server" ShowBottomPanel="false" />--%>
		    </div>
            <div class="grid_9 body">
                <div class="middle" id="content-outter">

                gdfg

			        <div class="clear"></div>
                </div>
                <div class="bottom"></div>
		    </div>
		    <div class="clear"></div>
	    </div>
    </ContentTemplate>
</asp:UpdatePanel>


    <%--<script type="text/javascript">
        function pageLoad(sender, args) {
            if (typeof runPhotosCollapsible === 'function') runPhotosCollapsible();
        }

        function Uploader_OnUploadStart(s,e) {
            btnUpload.SetEnabled(false);
            ShowLoading();
        }
        function Uploader_OnFileUploadComplete(args) {
            LoadingPanel.Hide();
            var o = document.getElementById("up1Refresh");
            if (o) o.click();
            ShowLoading();
        }
        function Uploader_OnFilesUploadComplete(args) {
            UpdateUploadButton();
            LoadingPanel.Hide();
        }
        function UpdateUploadButton() {
            btnUpload.SetEnabled(uploader.GetText(0) != "");
        }
        function getPreviewImageElement() {
            return document.getElementById("previewImage");
        }
// ]]> 
    </script>--%>

	<uc2:whatisit ID="WhatIsIt1" runat="server" />
    
</asp:Content>

