﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="ConfigValues.aspx.vb" Inherits="Dating.Server.Site.Web.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
    </div>
    </form>
</body>
</html>
