﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Members/Members2.Master" CodeBehind="CouponsList.aspx.vb" Inherits="Dating.Server.Site.Web.CouponsList" %>
<%--<%@ Register Src="~/UserControls/gifts/ucCouponsList.ascx" TagPrefix="uc1" TagName="ucCouponsList" %>--%>
<%@ Register Src="~/UserControls/UcRefferalCouponHistory.ascx" TagPrefix="uc2" TagName="UcRefferalCouponHistory" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <link href="../v1/CSS/GiftsStyle.css?v4" rel="stylesheet" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="content" runat="server">
        <uc2:UcRefferalCouponHistory runat="server" id="UcRefferalCouponHistory" />
 <%--   <uc1:ucCouponsList runat="server" id="ucCouponsList" />--%>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cntBodyBottom" runat="server">
</asp:Content>
