﻿<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/Members/Members2Inner.Master" CodeBehind="PopupGifts.aspx.vb" Inherits="Dating.Server.Site.Web.PopupGifts" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <%--<script src="../Scripts/bootstrap-dropdown.js" type="text/javascript"></script>--%>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="content" runat="server">
   
    <div class="GiftPopupContainer" style="width: 670px;      height: 609px;      background-color: white;" >
        <div class="closeButton"></div>
        <div class="MainContent">
            <div class="lfloat">
                 <asp:Label ID="lblLeftContent" runat="server" Text="" CssClass="PopUpLeftContent"></asp:Label>
             </div>
            <div class="rfloat">
                <asp:Label ID="lblRightContent" runat="server" Text="" CssClass="PopUpRightContent"></asp:Label>
             </div>
            <div class="clear">
</div>
           
        </div>
        <div class="bottomBrands">
          
                <asp:Label ID="lblbottomBrands" runat="server"  Text=""></asp:Label>

            
              
        </div>
    </div>


   



</asp:Content>


