﻿<script src="https://connect.facebook.net/en_US/all.js#xfbml=1" type="text/javascript"></script>
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td><a href="https://twitter.com/goomena" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow</a>
            <script>
                !function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                } (document, "script", "twitter-wjs");
                </script>
                </td>
        <td style="width:10px;">&nbsp;</td>
        <td><div style="width:70px;"><g:plusone></g:plusone></div></td>
        <td style="width:7px;">&nbsp;</td>
        <td><div style="width:45px;"><fb:like href="https://www.facebook.com/goomena" send="false" layout="button_count" width="45" show_faces="true"></fb:like></div></td>
        <td><div style="width:40px">&nbsp;</div></td>
    </tr>
</table>
