﻿<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/Members/Members2Inner.Master" CodeBehind="GiftsTest.aspx.vb" Inherits="Dating.Server.Site.Web.CouponTest" %>
<%@ Register src="~/UserControls/gifts/ucCredits.ascx" tagname="ucCredits" tagprefix="uc2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <%--<script src="../Scripts/bootstrap-dropdown.js" type="text/javascript"></script>--%>
    <link href="../v1/CSS/GiftsStyle.css?v4" rel="stylesheet" />
    <style type="text/css">
        .txtCouponName {}
    </style>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="content" runat="server">
    <uc2:ucCredits runat="server" id="ucCredits1" ShowCreditsHeader="false" />
</asp:Content>


