﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="err.master.vb" Inherits="Dating.Server.Site.Web._errMaster" %>
<%@ Register src="~/Security/UserControls/ucLogin.ascx" tagname="ucLogin" tagprefix="uc1" %>
<%@ Register Src="~/UserControls/TraceSrc.ascx" TagName="TraceSrc" TagPrefix="uc2" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="msapplication-config" content="none"/>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/v1/css/utils.css?v=1" type="text/css" rel="Stylesheet" />
    <link href="/v1/css/mbr.css?v=001" type="text/css" rel="Stylesheet" />
    <script src="//cdn.goomena.com/Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="//cdn.goomena.com/Scripts/jquery.json-2.4.min.js" type="text/javascript"></script>
    <script src="//cdn.goomena.com/Scripts/jquery.tipsy.js" type="text/javascript"></script>
    <script src="/v1/Scripts/script1.js?v=16" type="text/javascript"></script>
    <%--<script src="//cdn.goomena.com/Scripts/bootstrap-dropdown.js" type="text/javascript"></script>--%>
    <script src="//cdn.goomena.com/Scripts/bootstrap-2.3.2/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="//cdn.goomena.com/Scripts/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
    <%--<script src="//cdn.goomena.com/Scripts/jquery-ui-1.10.0.js" type="text/javascript"></script>--%>

    <%--
    --- auto refresh ----
    <script src="/v1/Scripts/load_member_counters.js?v10" type="text/javascript"></script>
    --%>
    <%--<script type="text/javascript">
        // <![CDATA[
        var postponedCallbackRequired = false;
        function refreshCallBackPanel(s, e) {
            if (CallbackPanel.InCallback())
                postponedCallbackRequired = true;
            else
                CallbackPanel.PerformCallback();
        }
        function OnEndCallback(s, e) {
            if (postponedCallbackRequired) {
                CallbackPanel.PerformCallback();
                postponedCallbackRequired = false;
            }
        }
        // ]]>
    </script>--%>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

    <script type="text/javascript">
        function DevExPopup_setPos(s, e) {
            // correction for chrome-opera -top psoition
            var hgt = s.GetCurrentTop();
            var m_top = $('.second-row', '#m-top-container');
            if (m_top.length > 0) hgt = m_top.height();
            var index = -1;
            s.SetWindowPos(index, s.GetWindowElement(index), null, hgt);
        }
        function DevExPopup_Toggle(s, e) {
            jQuery('#' + s.popupElementID).toggleClass('menuOpen');
        }
    </script>
    
</head>
<body id="page">

    

    <div id="fb-root"></div>
    
    <form id="form1" runat="server">
    <asp:ScriptManager ID="sm" runat="server">
    </asp:ScriptManager>

<%--        <script type="text/javascript">
            function adjustTopBar() {
                jQuery('.second-row').css("height", "88px");
                jQuery('.second-row .row-content > table').css("float", "right");
            }
    </script>--%>

    <dx:ASPxLoadingPanel runat="server" 
        ClientInstanceName="LoadingPanel"
        ImageSpacing="0px" CssPostfix="DevEx" 
        CssFilePath="~/App_Themes/DevEx/{0}/styles.css" 
        ID="LoadingPanel" 
        EnableDefaultAppearance="False" 
        EnableTheming="False" 
        EnableViewState="False" Text="">
        <Image Url="//cdn.goomena.com/images2/GOO-Loading.gif">
        </Image>
    </dx:ASPxLoadingPanel>
<div id="topFrameHolder">
    <div id="m-top-container">
        <asp:UpdatePanel ID="updTopMenu" runat="server" RenderMode="Block">
            <ContentTemplate>

    <div class="top-row">
        <div class="row-content">
            <div id="userErrorMsg"></div>
            <div class="lfloat logo-container">
                <asp:HyperLink ID="lnkGoomenaLogo" runat="server" onclick="ShowLoading();" NavigateUrl="/default.aspx" ToolTip="Home"><img src="//cdn.goomena.com/images2/mbr2/logo.png" alt="Goomena Logo" title="Goomena Logo" /></asp:HyperLink>
                    <%--<img src="//cdn.goomena.com/images2/logo-carn-member.png" alt="Goomena Logo" title="Goomena Logo" />--%><%--<img src="//cdn.goomena.com/images2/logo-member-val.png" alt="Goomena Logo" title="Home" />--%>
            </div>

            <div class="rfloat languages">
                <dx:ASPxComboBox ID="cmbLag" runat="server" 
                    CssFilePath="~/App_Themes/DevEx/{0}/styles.css"
                    CssPostfix="DevEx" 
                    Spacing="0" 
                    SpriteCssFilePath="~/App_Themes/DevEx/{0}/sprite.css" 
                    SelectedIndex="0" 
                    ShowImageInEditBox="True" 
                    AutoPostBack="True"
                    Height="21px" Width="100px">
                   <Items>
                        <dx:ListEditItem ImageUrl="~/Images/flags/US.png" Text="English" Value="US" />
                        <dx:ListEditItem ImageUrl="~/Images/flags/spain-flag.png" Text="Spanish" Value="ES" />
                        <dx:ListEditItem ImageUrl="~/Images/flags/Greece.png" Text="Greek" Value="GR" />
                        <dx:ListEditItem ImageUrl="~/Images/flags/turk.png" Text="Turkish" Value="TR" />
                        <%--<dx:ListEditItem ImageUrl="~/Images/flags/albania.png" Text="Albanian" Value="AL" />--%>
                    </Items>
                    <LoadingPanelImage Url="~/App_Themes/DevEx/Editors/Loading.gif">
                    </LoadingPanelImage>
                    <LoadingPanelStyle ImageSpacing="5px">
                    </LoadingPanelStyle>
                    <ButtonStyle Width="13px">
                    </ButtonStyle>
                    <ClientSideEvents SelectedIndexChanged="ShowLoadingOnMenu" />
                    <Border BorderStyle="None" />
                </dx:ASPxComboBox>
            </div>
            <div class="rfloat">
                <div id="social_buttons">
                    <div class="lfloat"><a class="fb" href="https://www.facebook.com/goomena" title="Visit Goomena on Facebook" target="_blank"></a></div>
                    <div class="lfloat"><a class="tw" href="https://twitter.com/goomena" title="Follow @goomena on Twitter" target="_blank"></a></div>
                    <div class="lfloat"><a class="gplus" href="https://plus.google.com/117771129858965427748/posts" title="Visit Google+" target="_blank"></a></div>
                    <div class="clear"></div>
                </div>
                <%--<div id="social_buttons">
                    <%
            Dim html As String = Dating.Server.Site.Web.clsTemplatesCache.GetTemplate(Dating.Server.Site.Web.clsTemplatesCache.HtmlTemplate.SocialButtons)
            html = html.Replace("'", "\'")
            html = html.Replace("<", "&lt;")
            html = html.Replace(">", "&gt;")
                        %>
                        <script type="text/javascript">
                            function LoadSocials() {
                                $('#social_buttons').show();
                                var html = '<%= html %>';
                                html = html.replace(/&lt;/gi, "<")
                                html = html.replace(/&gt;/gi, ">")
                                $("#social_buttons").prepend(html);
                            }
                        </script>
                    <div class="clear"></div>
                </div>--%>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="second-row">
        <div class="row-content">
            <div class="lfloat membersBar">
                <asp:HyperLink ID="lnkHome" runat="server" onclick="ShowLoading();" NavigateUrl="/default.aspx" title="Home" CssClass="hdr-link-err">HyperLink</asp:HyperLink>
            </div>

             <uc1:ucLogin ID="ucLogin1" runat="server">
                                    <LoginControl>
                                    <LayoutTemplate>
                                        <asp:HiddenField ID="hdfHideRecaptcha" runat="server" Visible="false" />
                                 <table class="logintable">
                                              <tr>
                                                  <td></td>
                                                  <td ID="lblUsernameTopTD" runat="server" style="text-align: center; width:130px; font-size:13px;"><asp:Label ID="lblUsernameTop" runat="server" Text="Label"></asp:Label> </td>
                                                  <td ID="lblPasswordTopTD" runat="server" style="text-align: center; width:130px; font-size:13px;"><asp:Label ID="lblPasswordTop" runat="server" Text="Label"></asp:Label></td>
                                                  <td ID="btnLoginTopTD" runat="server"></td>
                                              </tr>
                                              <tr>
                                                  <td><dx:ASPxButton ID="btnJoinToday" runat="server" Text="Join Today" 
                                                            CssClass="bemember" BackColor="#24A9E1" EnableDefaultAppearance="False" 
                                                            Font-Size="Small" ForeColor="White" Height="29px" HorizontalAlign="Center" 
                                                            VerticalAlign="Middle" Width="91px" UseSubmitBehavior="False">
                                                            <ClientSideEvents Click="ShowLoadingOnMenu" />
                                                        </dx:ASPxButton></td>
                                                  <td id="UserNameTD" runat="server"><dx:ASPxTextBox ID="UserName" runat="server" Width="130px" Height="29px">
                                                          <ValidationSettings ValidationGroup="QuickLoginGroup" ErrorTextPosition="Right" Display="Dynamic"
                                                              ErrorDisplayMode="Text">
                                                              <RequiredField ErrorText="Username or Email is required." IsRequired="true" />
                                                          </ValidationSettings>
                                                      </dx:ASPxTextBox></td>
                                                  <td id="PasswordTD" runat="server"><dx:ASPxTextBox ID="Password" runat="server" Width="130px" Height="29px" Password="True">
                                                          <ValidationSettings ValidationGroup="QuickLoginGroup" ErrorTextPosition="Right" Display="Dynamic"
                                                              ErrorDisplayMode="Text">
                                                              <RequiredField ErrorText="Password is required." IsRequired="true" />
                                                          </ValidationSettings>
                                                      </dx:ASPxTextBox></td>
                                                  <td ID="btnLoginTD" runat="server"><dx:ASPxButton ID="btnLogin" runat="server" Text="Σύνδεση" 
                                                            CssClass="connect" BackColor="#BF2130" EnableDefaultAppearance="False" 
                                                            Font-Size="Small" ForeColor="White" Height="29px" HorizontalAlign="Center" 
                                                            VerticalAlign="Middle" Width="71px" CommandName="Login">
                                                            <ClientSideEvents Click="ShowLoadingOnMenu" />
                                                        </dx:ASPxButton></td>
                                              </tr>
                                              <tr>
                                                <td></td>
                                                  <td ID="chkRememberMeTD" runat="server"><dx:ASPxCheckBox ID="chkRememberMe" runat="server" Text="Remember me" EncodeHtml="False"
                                                          EnableDefaultAppearance="True" ForeColor="Black">
                                                      </dx:ASPxCheckBox></td>
                                                  <td ID="lbForgotPasswordTD" runat="server" style="width: 136px;"><dx:ASPxHyperLink ID="lbForgotPassword" runat="server" EncodeHtml="false" Text="Forgot Your Password?"
                                                          EnableDefaultAppearance="False" EnableTheming="False" NavigateUrl="~/RestorePassword.aspx"
                                                          ForeColor="Black" CssClass="forgotpass" /></td>
                                                  <td ID="btnLoginBotTD" runat="server"></td>
                                              </tr>
                                </table>
                                <div class="Errors" style="position:absolute; bottom:0px; right:0px;">
                                    <asp:ValidationSummary ID="ValidationSummary1" runat="server" />
                                </div>
                                                                                                   
                                               </LayoutTemplate>
                                           </LoginControl>
                                       </uc1:ucLogin>

            <div class="clear"></div>
        </div>
    </div>

            </ContentTemplate>
        </asp:UpdatePanel>
    </div>
</div>


    <div id="m-body-container">
        <div class="lfloat right-side error_image_container">
            <asp:ContentPlaceHolder ID="content" runat="server">

            </asp:ContentPlaceHolder>
        </div>
        <div class="clear"></div>
    </div>


    <div class="footernew">
        <div class="footerbox">
        <div class="ul1">
            <asp:Label ID="lblFooterMenuTitle1" runat="server" Text="Label"></asp:Label>
            <dx:ASPxMenu ID="mnuFooter1" runat="server" EnableDefaultAppearance="False" 
                Orientation="Vertical">
                <ClientSideEvents ItemClick="ShowLoadingOnMenu" />
            </dx:ASPxMenu>
        </div>
        <div class="ul2">
            <asp:Label ID="lblFooterMenuTitle5" runat="server" Text="Label"></asp:Label>
            <dx:ASPxMenu ID="mnuFooter5" runat="server" EnableDefaultAppearance="False" 
                EncodeHtml="False" Orientation="Vertical">
                <ClientSideEvents ItemClick="ShowLoadingOnMenu" />
            </dx:ASPxMenu>
        </div>
        <div class="ul3">
            <asp:Label ID="lblFooterMenuTitle3" runat="server" Text="Label"></asp:Label>
            <dx:ASPxMenu ID="mnuFooter3" runat="server" EnableDefaultAppearance="False" 
                Orientation="Vertical">
                <ClientSideEvents ItemClick="ShowLoadingOnMenu" />
            </dx:ASPxMenu>

        </div>
        <div class="ul4">
            <asp:Label ID="lblFooterMenuTitle2" runat="server" Text="Label"></asp:Label>
            <dx:ASPxMenu ID="mnuFooter2" runat="server" EnableDefaultAppearance="False" 
                Orientation="Vertical">
                <ClientSideEvents ItemClick="ShowLoadingOnMenu" />
            </dx:ASPxMenu>
        </div>
        <div class="ul5">
            <asp:Label ID="lblFooterMenuTitle4" runat="server" Text="Label"></asp:Label>
            <dx:ASPxMenu ID="mnuFooter4" runat="server" EnableDefaultAppearance="False" 
                Orientation="Vertical">
                <ClientSideEvents ItemClick="ShowLoadingOnMenu" />
            </dx:ASPxMenu>
        </div>
            <div class="socialbox">
                 <p>Social Media</p>
                 <div class="twcontainer">
                 <a href="https://twitter.com/intent/tweet?text=Goomena.com is definitely the Nr1 dating service! @Goomena beautiful women wait in line to be spoiled by you and spoil you back!"><img src="//cdn.goomena.com/goomena-kostas/first-general/tw.png" alt="twitter"/></a>
                 <p id="followers" style="display:none;"></p>
                 </div>
                 <div class="gpluscontainer">
                 <a href="https://plus.google.com/117771129858965427748/posts"><img src="//cdn.goomena.com/goomena-kostas/first-general/google-plus.png" alt="facebook"/></a>
                 </div>
                 <div class="fbcontainer">
                 <a href="https://www.facebook.com/goomena"><img src="//cdn.goomena.com/goomena-kostas/first-general/fb.png" alt="facebook"/></a>
                 <p id="fblikes"></p>
                 </div>
                 <div class="clear"></div>
            </div>
            <div>
                <div class="lfloat"><img class="footerlogo" src="//cdn.goomena.com/goomena-kostas/first-general/logo-footer.png" alt="logo" /></div>
                <div class="rfloat"><img src="//cdn.goomena.com/Images2/info-icons.png" alt="logo" /></div>
                <div class="clear"></div>
            </div>

            <div class="infobox">
                <h1><asp:Label ID="lblFooterSiteTitle" runat="server" Text="" /></h1>
                <p class="info"><asp:Label ID="lblFooterSiteDescription" runat="server" Text="" />
                <br/><br/><br/>
                <div class="prosoxicontainer">
                <a class="prosoxi2" href="/cmspage.aspx?pageid=197&title=EscortsDisallow"><asp:Label ID="lblEscortsWarning" runat="server" Text="" CssClass="prosoxi2" style="font-size:10pt;" ForeColor="Black" Font-Bold="False"></asp:Label></a>
                    <dx:ASPxPopupControl ID="lblEscortsWarningPopup" runat="server" 
                        CloseAction="MouseOut" PopupAction="MouseOver" 
                        PopupElementID="lblEscortsWarning" PopupVerticalAlign="Above" 
                        ShowHeader="False" Width="300px" CssClass="tooltip_Popup" ForeColor="White" BackColor="Black">                        
                            <ContentCollection>
                                <dx:PopupControlContentControl ID="PopupControlContentControl2" runat="server" BackColor="Black" ForeColor="White">
    <asp:Label ID="lblEscortsWarningTooltip" runat="server" Text="" ForeColor="White"></asp:Label>
                                </dx:PopupControlContentControl>
                            </ContentCollection>
                            <ContentStyle>
                                <Paddings Padding="10px" />
                            </ContentStyle>
                            <HeaderStyle>
                            <Paddings Padding="10px" />
                            </HeaderStyle>
                            <FooterStyle>
                            <Paddings Padding="10px" />
                            </FooterStyle>
                    </dx:ASPxPopupControl>
                    </div>
                                        
                </p>
            </div>


            <div class="siteinfo">
                <asp:Label ID="lblFooterCopyRight" runat="server" Text="" CssClass="copyrightParagraph" Visible="false"/> User IP: <%= Session("IP") & " - " & Session("GEO_COUNTRY_CODE")%>
                <asp:HyperLink ID="lnkSiteMap" runat="server" NavigateUrl="~/sitemap.aspx" onclick="ShowLoading();">Sitemap</asp:HyperLink>
            </div>

        </div>
    </div>

<asp:ContentPlaceHolder ID="cntBodyBottom" runat="server">
</asp:ContentPlaceHolder>

<asp:HiddenField ID="hdfTimeOffset" runat="server" />
<script type="text/javascript" language="javascript">
    Sys.WebForms.PageRequestManager.getInstance().add_beginRequest(BeginRequestHandler);
    Sys.WebForms.PageRequestManager.getInstance().add_endRequest(EndRequestHandler);
    function BeginRequestHandler(sender, args) {
        try {
            if (args._updatePanelsToUpdate.length > 0 && ((args._updatePanelsToUpdate[0].indexOf("$nearestMembersUpdatePanel") > 0) || (args._updatePanelsToUpdate[0].indexOf("$profilesViewedUpdatePanel") > 0))) {

            }
            else {
                ShowLoading();
            }
        }
        catch (e) { }
    }
    function EndRequestHandler(sender, args) {
        try {
            HideLoading();
        }
        catch (e) { }
        if (typeof fnError_Sending_Receiver_DoNot_Have_Photo !== 'undefined') {
            try {
                fnError_Sending_Receiver_DoNot_Have_Photo();
                fnError_Sending_Receiver_DoNot_Have_Photo = function () { return false; }
            }
            catch (e) { }
        }
    }
    $(function () {

        if (typeof fnError_Sending_Receiver_DoNot_Have_Photo !== 'undefined') {
            try {
                fnError_Sending_Receiver_DoNot_Have_Photo();
                fnError_Sending_Receiver_DoNot_Have_Photo = function () { return false; }
            }
            catch (e) { }
        }

        var d = new Date()
        var n = d.getTimezoneOffset();
        $('#<%= hdfTimeOffset.ClientID %>').val(n);
    });


</script>

<%--
<script type="text/javascript">
    function runExtLinks() {
        var isHttp = ('<%= (Request.Url.Scheme = "http").ToString().ToLower() %>' == 'true' ? true : false);
        LoadSocials();
        try {
            facebook_fnc();
        }
        catch (e) { }

        try {
            (function () {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = false;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[1]; s.parentNode.insertBefore(po, s);
            })();
        }
        catch (e) { }

        try {
            (function () {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = false;
                po.src = 'https://platform.twitter.com/widgets.js';
                var s = document.getElementsByTagName('script')[2]; s.parentNode.insertBefore(po, s);
            })();
        }
        catch (e) { }
    }

</script>
 <!--[if gte IE 6]>
<script type="text/javascript">
    function runExtLinks_Helper(){
        runExtLinks();
    }
</script>
<![endif]-->
<script type="text/javascript">
    $(function () {
        if (typeof runExtLinks_Helper === 'function') {
            runExtLinks_Helper()
        }
        else {
            // runExtLinks();
            //setTimeout(runExtLinks, 5500);
        }
    });
</script>
--%>

<script type="text/javascript">
    var like;
    function setLikes(data) {
        like = data.likes;
        try {
            console.log('Got results', data.id, like);
        }
        catch (e) { };
        document.getElementById('fblikes').innerHTML = like;
    }

    var s = document.createElement('script');
    //s.src = 'https://graph.facebook.com/?id=http://www.goomena.com&callback=setLikes';
    s.src = 'https://graph.facebook.com/http://www.facebook.com/goomena?callback=setLikes';
    document.getElementsByTagName('head')[0].appendChild(s);
    $(function () {
        var jqxhr = $.getJSON('https://api.twitter.com/1.1/users/show.json?screen_name=goomena&callback=?',
            function (data) {
                $('#followers').show().html(data.followers_count.toString().replace(/\B(?=(?:\d{3})+(?!\d))/g, ","));
            })
          .done(function () { })
          .fail(function (o, err, reason) { })
          .always(function () { });

        //$.getJSON('http://api.twitter.com/1/users/show.json?screen_name=goomena&callback=?', function (data) {
        //    alert(data)
        //        });

    });
</script>


<uc2:TraceSrc ID="trc" runat="server" EnableViewState="false" />
</form>
  <script type="text/javascript">
      setTimeout(function () {
          jsLoad('<%= MyBase.RedirectURL %>');
      }, 5000);
  </script>
</body>
</html>

