﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="LiveZilla.ascx.vb" Inherits="Dating.Server.Site.Web.LiveZilla" %>
<%--
<%
    If (Request.Url.Scheme = "https") Then
%>
<!-- LiveZilla Chat Button Link Code (ALWAYS PLACE IN BODY ELEMENT) -->
<div style="text-align:center;width:120px;">
<a href="javascript:void(window.open('https://chat.goomena.com/chat.php','','width=590,height=610,left=0,top=0,resizable=yes,menubar=no,location=no,status=yes,scrollbars=yes'))"><img src="https://chat.goomena.com/image.php?id=01&amp;type=inlay" width="120" height="30" border="0" alt="LiveZilla Live Help"></a><div style="margin-top:2px;"><a href="https://www.livezilla.net" target="_blank" title="LiveZilla Live Chat" style="font-size:10px;color:#bfbfbf;text-decoration:none;font-family:verdana,arial,tahoma;">LiveZilla Live Chat</a></div></div>
<!-- http://www.LiveZilla.net Chat Button Link Code -->
<%
    Else
%>
<!-- LiveZilla Chat Button Link Code (ALWAYS PLACE IN BODY ELEMENT) -->
<div style="text-align:center;width:120px;">
<a href="javascript:void(window.open('http://chat.goomena.com/chat.php','','width=590,height=610,left=0,top=0,resizable=yes,menubar=no,location=no,status=yes,scrollbars=yes'))"><img src="http://chat.goomena.com/image.php?id=01&amp;type=inlay" width="120" height="30" border="0" alt="LiveZilla Live Help"></a><div style="margin-top:2px;"><a href="http://www.livezilla.net" target="_blank" title="LiveZilla Live Chat" style="font-size:10px;color:#bfbfbf;text-decoration:none;font-family:verdana,arial,tahoma;">LiveZilla Live Chat</a></div></div>
<!-- http://www.LiveZilla.net Chat Button Link Code -->
<%
    End If
%>
--%>