﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ProfileIconOther.ascx.vb" Inherits="Dating.Server.Site.Web.ProfileIconOther" %>
<asp:HyperLink ID="lnkPhoto" NavigateUrl="~/Members/Photos.aspx" runat="server" CssClass="lnkPhoto">
    <asp:Image ID="imgPhoto" runat="server"  ImageUrl="~/Images/guy.jpg" CssClass="imgPhoto" /><asp:Label ID="lblName" runat="server" Text="" CssClass="lblPhoto" ></asp:Label>
</asp:HyperLink>
