﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="SearchControl.ascx.vb" 
    Inherits="Dating.Server.Site.Web.SearchControl" %>
<script type="text/javascript">
    var animating_elemnts_list = new Array();
    var img_zodiacs = new Array();
</script>

<script type="text/javascript" >
    var liketext = '<%= Me.GetKeys().WinkText %>';
    var Favoritetext = '<%= Me.GetKeys().FavoriteText %>';
    var UnFavoritetext = '<%= Me.GetKeys().UnfavoriteText %>';
    var IsFavoriteList = '<%= If(Me.UsersListView=WinkUsersListViewEnum.MyFavoriteList,1,0) %>';
    function OnNoPhoto() {
        location.assign('<%= System.Web.VirtualPathUtility.ToAbsolute("~/Members/Photos.aspx") %>');
    }
    function ReplaceElementLik(id, Newid) {
        var str = '<div id="Unlike' + Newid + '" class="btn lnkUnWink disabled opacity70">' + liketext + '</div>'
        var Obj = document.getElementById(id); //any element to be fully replaced
        if (Obj.outerHTML) { //if outerHTML is supported
            Obj.outerHTML = str;
        } else { //if outerHTML is not supported, there is a weird but crossbrowsered trick
            var tmpObj = document.createElement("div");
            tmpObj.innerHTML = '<!--REPLACE-->';
            ObjParent = Obj.parentNode; //Okey, element should be parented
            ObjParent.replaceChild(tmpObj, Obj); //here we placing our temporary data instead of our target, so we can find it then and replace it into whatever we want to replace to
            ObjParent.innerHTML = ObjParent.innerHTML.replace('<div><!--REPLACE--></div>', str);
        }
    }
        function ReplaceElementUnLik(id, Newid) {
        var Stid = "'" + Newid + "'";
        var NewStid = "'Unlike" + Newid + "'";
        var str = '<a id="lnkWink' + Newid + '" class="btn lnkWink" href="javascript:void(0);" onclick="ReplaceElementLik(this.id,' + Stid + ');LikeProfile(' + Stid + ',ReplaceElementUnLik,' + NewStid + ',' + Stid + ',OnNoPhoto);return false;" >' + liketext + '</a>';
        var Obj = document.getElementById(id); //any element to be fully replaced
        if (Obj.outerHTML) { //if outerHTML is supported
            Obj.outerHTML = str;
        } else { //if outerHTML is not supported, there is a weird but crossbrowsered trick
            var tmpObj = document.createElement("div");
            tmpObj.innerHTML = '<!--REPLACE-->';
            ObjParent = Obj.parentNode; //Okey, element should be parented
            ObjParent.replaceChild(tmpObj, Obj); //here we placing our temporary data instead of our target, so we can find it then and replace it into whatever we want to replace to
            ObjParent.innerHTML = ObjParent.innerHTML.replace('<div><!--REPLACE--></div>', str);
        }
    }
    function ReplaceElementFav(id, Newid) {
        var Stid = "'" + Newid + "'"
        var str = '<a id="UnFavorite' + Newid + '" class="btn lnkUnFavorite" href="javascript:void(0);" onclick="ReplaceElementUnFav(this.id,' + Stid + '); UnFavoriteProfile(' + Stid + ',OnNoPhoto);return false;" >' + UnFavoritetext + '</a>'
      
        var Obj = document.getElementById(id); //any element to be fully replaced
        if (Obj.outerHTML) { //if outerHTML is supported
            Obj.outerHTML = str;
        } else { //if outerHTML is not supported, there is a weird but crossbrowsered trick
            var tmpObj = document.createElement("div");
            tmpObj.innerHTML = '<!--REPLACE-->';
            ObjParent = Obj.parentNode; //Okey, element should be parented
            ObjParent.replaceChild(tmpObj, Obj); //here we placing our temporary data instead of our target, so we can find it then and replace it into whatever we want to replace to
            ObjParent.innerHTML = ObjParent.innerHTML.replace('<div><!--REPLACE--></div>', str);
        }
    }
    function ReplaceElementUnFav(id, Newid, WholeId) {
        var str =''
        var Obj
        if (IsFavoriteList == '1') { str = ''; 
            Obj = document.getElementById(WholeId);
        } else {
            var Stid = "'" + Newid + "'"
            str = '<a id="Favorite' + Newid + '" class="btn lnkFavorite" href="javascript:void(0);" onclick="ReplaceElementFav(this.id,' + Stid + '); FavoriteProfile(' + Stid + ',OnNoPhoto);return false;" >' + Favoritetext + '</a>'
           Obj = document.getElementById(id);
        }
       
         //any element to be fully replaced
        if (Obj.outerHTML) { //if outerHTML is supported
            Obj.outerHTML = str;
        } else { //if outerHTML is not supported, there is a weird but crossbrowsered trick
            var tmpObj = document.createElement("div");
            tmpObj.innerHTML = '<!--REPLACE-->';
            ObjParent = Obj.parentNode; //Okey, element should be parented
            ObjParent.replaceChild(tmpObj, Obj); //here we placing our temporary data instead of our target, so we can find it then and replace it into whatever we want to replace to
            ObjParent.innerHTML = ObjParent.innerHTML.replace('<div><!--REPLACE--></div>', str);
        }
    }
</script>
<div id="<%= Mybase.UsersListView.toString() %>">
<asp:MultiView ID="MultiView1" runat="server" ActiveViewIndex="0">

    <asp:View ID="View1" runat="server">
    </asp:View>
    
    
    <asp:View ID="vwNoPhoto" runat="server" EnableViewState="false">
        <asp:FormView ID="fvNoPhoto" runat="server">
        <ItemTemplate>
<div id="ph-edit" class="no-photo">
    <div class="items_none items_hard">
            <div class="items_none_wrap">
        <div class="items_none_text">
            <%= GetKeys().HasNoPhotosText %>
        </div>
        <div class="search_members_button_right"><asp:HyperLink ID="HyperLink1" runat="server" CssClass="btn lighter" NavigateUrl="~/Members/Photos.aspx" onclick="ShowLoading();"><%= GetKeys().AddPhotosText %><i class="icon-chevron-right"></i></asp:HyperLink></div>
        <div class="clear"></div>
    </div>
    </div>
</div>
        </ItemTemplate>
        </asp:FormView>
    </asp:View>
      
    <asp:View ID="vwNoOffers" runat="server">
        <asp:FormView ID="fvNoOffers" runat="server" EnableViewState="false">
        <ItemTemplate>
            <div class="items_none">
                <div id="offers_icon" class="middle_icon"></div>
                <div class="items_none_text">
                    <%# Eval("NoOfferText")%>
	                <div class="clear"></div>
                    <div class="search_members_button">
                    <asp:HyperLink ID="lnk4" runat="server" NavigateUrl="~/Members/Search.aspx"><%= GetKeys().SearchOurMembersText %><i class="icon-chevron-right"></i></asp:HyperLink>
                    </div>
                </div>
            </div>
        </ItemTemplate>
        </asp:FormView>
    </asp:View>


    <asp:View ID="vwSearchingOffers" runat="server">
<div id="search-results">
<asp:Repeater ID="rptSearch" runat="server">
<ItemTemplate>
<div id="s_item<%# ReturnAlphaCharacters(Eval("OtherMemberLoginName"))%>" class="s_item <%# Eval("AddItemCssClass")%>" login="<%# Eval("OtherMemberLoginName")%>">
   <div class="TopBox"> 
            <div class="left" ID="dLeft" runat="server" EnableViewState="false">
                <div class="photo">
                    <div class="pr-photo-116-noshad <%# Eval("PhotoCssClass")%>">
                        <asp:HyperLink ID="hl2" CssClass="RoundImgLink" runat="server"  NavigateUrl=<%# Eval("OtherMemberProfileViewUrl")%>  onclick=<%# GetPhoto(Eval("PhotosProperties(0).HasPhoto"), Eval("OtherMemberProfileViewUrl"), Eval("OtherMemberLoginName"))%> ><img src="<%# Eval("OtherMemberImageUrl") %>" class="round-img-116" /></asp:HyperLink>
                    </div>
                    <div class="tooltip tooltip_search_photo">
                        <div class="tooltip_text left-arrow"><%# Eval("PhotosCountString")%></div>
                    </div>
                </div>
                <div class="info">
                    <h2><asp:HyperLink ID="hl" runat="server" CssClass="login-name" NavigateUrl='<%# Eval("OtherMemberProfileViewUrl") %>' Text='<%# Eval("OtherMemberLoginName")%>' /></h2>
                    <%--<p><%# Eval("OtherMemberHeading")%></p>--%>
                    <div class="stats" style="position:relative;">
                        <%# MyBase.WriteSearch_MemberInfo(Container.DataItem)%>
                        <div class="tooltip tooltip_search_ZodiacName">
                            <div class="tooltip_text w-arrow"><%# Eval("ZodiacString")%></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right <%# Eval("OtherMemberGenderClass")%>">
                <div class="indicators">
                    <asp:Panel runat="server" ID="pnlIsOnline" EnableViewState="false" Visible='<%# MyBase.ShowIsOnline(Container.DataItem)%>' class="rfloat">
                        <div id="pnlIsOnline<%# Eval("OtherMemberProfileID") %>" 
                            class="online-indicator <%# if(Eval("OtherMemberIsVip").ToString()="True","with-vip","") %><%# If(Eval("OtherMemberIsOnlineRecently").ToString() = "True", " online-recent", "")%>"><asp:Image ID="imgOn" runat="server" ImageUrl="//cdn.goomena.com/Images/spacer10.png" AlternateText='<%# Eval("OtherMemberIsOnlineText") %>' ToolTip='<%# Eval("OtherMemberIsOnlineText") %>' /><asp:Label
                                            ID="lblOnline" runat="server" Text='<%# Eval("OtherMemberIsOnlineText") %>'></asp:Label>
                        </div>
                        <script type="text/javascript">
                           if('<%# Eval("OtherMemberIsOnline").ToString() %>' == 'True') animating_elemnts_list.push('pnlIsOnline<%# Eval("OtherMemberProfileID") %>');
                        </script>
                    </asp:Panel>
                    <div class="clear"></div>
                </div>
                <div id="info_icons" class="info_icons" runat="server" EnableViewState="false" Visible='<%# Eval("OtherMemberShowInfoIcons") %>'>
                    <div id="pnlStatus" class="rfloat status_info info-item" runat="server" Visible='<%# if(not string.isnullOrEmpty(Eval("OtherMemberRelationshipTooltip")),true,false) %>'>
                        <img alt="" src="//cdn.goomena.com/Images/spacer10.png" class="tt_enabled <%# Eval("OtherMemberRelationshipClass")%>" />
                        <div class="tooltip tooltip_status_info">
                            <div class="tooltip_text right-arrow"><%# Eval("OtherMemberRelationshipTooltip")%></div>
                        </div>
                    </div>
                    <div id="pnlHair" class="rfloat hair info-item" runat="server" Visible='<%# if(not string.isnullOrEmpty(Eval("OtherMemberHairClass")),true,false) %>'>
                        <img alt="" src="//cdn.goomena.com/Images/spacer10.png" class="tt_enabled <%# Eval("OtherMemberHairClass")%>" />
                        <div class="tooltip tooltip_hair">
                            <div class="tooltip_text right-arrow"><%# Eval("OtherMemberHairTooltip")%></div>
                        </div>
                    </div> 
                    <div id="pnlWantVisit" class="rfloat want-visit info-item" runat="server" Visible='<%# if(not string.isnullOrEmpty(Eval("OtherMemberWantVisitText")),true,false) %>'>
                        <img alt="" src="//cdn.goomena.com/Images/spacer10.png" class="tt_enabled" />
                        <div class="tooltip tooltip_want_visit">
                            <div class="tooltip_text right-arrow"><%# Eval("OtherMemberWantVisitText")%></div>
                        </div>
                    </div> 
                    <div id="pnlWantJob" class="rfloat want-job info-item" runat="server" Visible='<%# if(not string.isnullOrEmpty(Eval("OtherMemberWantJobTooltip")),true,false) %>'>
                        <img alt="" src="//cdn.goomena.com/Images/spacer10.png" class="tt_enabled" />
                        <div class="tooltip tooltip_want_job">
                            <div class="tooltip_text right-arrow"><%# Eval("OtherMemberWantJobTooltip")%></div>
                        </div>
                    </div> 
                    <div class="rfloat zodiac_info">
                        <img alt="" src="//cdn.goomena.com/Images/spacer10.png" class="tt_enabled <%# Eval("ZodiacName")%>" />
                        <div class="tooltip tooltip_zodiac">
                            <div class="tooltip_text right-arrow"><%# Eval("ZodiacString")%></div>
                        </div>
                    </div> 
                    <div id="pnlDrink" class="rfloat drinking info-item" runat="server" Visible='<%# if(not string.isnullOrEmpty(Eval("OtherMemberDrinkingText")),true,false) %>'>
                        <img alt="" src="//cdn.goomena.com/Images/spacer10.png" class="tt_enabled <%# Eval("OtherMemberDrinkingClass")%>" />
                        <div class="tooltip tooltip_drinking">
                            <div class="tooltip_text right-arrow"><%# Eval("OtherMemberDrinkingText")%></div>
                        </div>
                    </div> 
                    <div id="pnlSmoke" class="rfloat smoking info-item" runat="server" Visible='<%# if(not string.isnullOrEmpty(Eval("OtherMemberSmokingText")),true,false) %>'>
                        <img alt="" src="//cdn.goomena.com/Images/spacer10.png" class="tt_enabled <%# Eval("OtherMemberSmokingClass")%>" />
                        <div class="tooltip tooltip_smoking">
                            <div class="tooltip_text right-arrow"><%# Eval("OtherMemberSmokingText")%></div>
                        </div>
                    </div>
                    <div id="pnlBreastSz" class="rfloat breast info-item" runat="server" Visible='<%# if(not string.isnullOrEmpty(Eval("OtherMemberBreastSizeTooltip")),true,false) %>'>
                        <img alt="" src="//cdn.goomena.com/Images/spacer10.png" class="tt_enabled <%# Eval("OtherMemberBreastSizeClass")%>" />
                        <div class="tooltip tooltip_breast">
                            <div class="tooltip_text right-arrow"><%# Eval("OtherMemberBreastSizeTooltip")%></div>
                        </div>
                    </div> 
                    <div id="pnlVip" class="rfloat vip_info info-item" runat="server" Visible='<%# Eval("OtherMemberIsVip") %>'>
                        <img alt="" src="//cdn.goomena.com/Images/spacer10.png" title="" class="vip-png" />
                    </div>
                 <%# Me.ShowBirthday(Eval("OtherMemberBirthday"), Eval("OtherMemberLoginName"), Eval("OtherMemberGenderid"))%>
                    <%--
                     --%>
                </div>
                <div class="bot_right_actions">
                    <div class="indicators-bottom rfloat">
                        <asp:Panel runat="server" ID="divTooltipholder" EnableViewState="false" 
                            CssClass="rfloat icon_tooltipholder"
                            Visible='<%# Eval("AllowTooltipPopupSearch")%>'>
                            <asp:LinkButton ID="lnkWhatIs" runat="server" OnClientClick="OnMoreInfoClick('[contentUrl]',this,'[headerText]');return false;"> <img runat="server" id="icon_tip" src="//cdn.goomena.com/Images/spacer102.png" alt="" class="questmark"/></asp:LinkButton>
                        </asp:Panel>
                        <div class="clear"></div>
                    </div>
                    <div class="btn-group" ID="ActionsMenu" runat="server" Visible='<%# Eval("AllowActionsMenu") %>'>
                        <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#"><%= GetKeys().ActionsText %> <span class="caret"></span></a>
                        <ul class="dropdown-menu right-menu">
                            <li ID="liActsSendMsgOnce" runat="server" visible='<%# Eval("AllowActionsSendMessageOnce")%>' EnableViewState="false"><asp:HyperLink 
                                    ID="lnkSendMsgOnce" runat="server" NavigateUrl='<%# Eval("SendMessageUrlOnce")%>' 
                                    CssClass="btn"><%# Eval("SendMessageOnceText")%></asp:HyperLink></li>

                            <li ID="liActsSendMsgMany" runat="server" visible="false" EnableViewState="false"><asp:HyperLink 
                                    ID="lnkSendMsgMany" runat="server"  NavigateUrl='<%# Eval("SendMessageUrlMany")%>' 
                                    CssClass="btn"><%# Eval("SendMessageManyText")%></asp:HyperLink></li>

                            <li ID="liActsUnlock" runat="server" visible='<%# Eval("AllowActionsUnlock")%>' EnableViewState="true"><asp:LinkButton 
                                    ID="lnkActsUnlock" runat="server" 
                                    CommandName="UNLOCKOFFER" CommandArgument='<%# Eval("OfferId") %>' 
                                    CssClass="btn"><%# Eval("ActionsUnlockText")%></asp:LinkButton></li>

                            <asp:PlaceHolder ID="PlaceHolder1" runat="server" Visible ="false" >
                             <li ID="liActsMakeOffer" runat="server" visible='<%# Eval("AllowActionsCreateOffer") %>' EnableViewState="false"><asp:HyperLink 
                                    ID="lnkNewMakeOffer2" runat="server"  NavigateUrl='<%# Eval("CreateOfferUrl") %>'
                                    CssClass="btn"><span><%# Eval("ActionsMakeOfferText")%></span></asp:HyperLink></li>
                            </asp:PlaceHolder>
                            <li ID="liActsSendMsg" runat="server" visible='<%# Eval("AllowActionsSendMessage")%>' EnableViewState="false"><asp:HyperLink 
                                    ID="lnkSendMsg2" runat="server" NavigateUrl='<%# Eval("SendMessageUrl")%>'
                                    CssClass="btn"><%= GetKeys().SendMessageText %></asp:HyperLink></li>
                                <asp:PlaceHolder ID="PlaceHolder2" runat="server" Visible ="false" >

                            <li ID="liActsDelOffr" runat="server" visible='<%# Eval("AllowActionsDeleteOffer")%>' EnableViewState="true"><asp:LinkButton 
                                    ID="lnkDelOffr" runat="server" 
                                    CommandName="DELETEOFFER" CommandArgument='<%# Eval("OfferId") %>' OnClientClick='<%#  Eval("OfferDeleteConfirmMessage")  %>'
                                    CssClass="btn"><%= GetKeys().DeleteOfferText %></asp:LinkButton></li>
                                  </asp:PlaceHolder>
                        </ul>
                    </div>
                    <div class="rfloat">
                        <asp:LinkButton ID="lnkUnblock" runat="server" CssClass="btn lnkUnblock" 
                        EnableViewState="true"
                        Visible='<%# Eval("AllowUnblock") %>' CommandArgument='<%# Eval("OtherMemberProfileID") %>' 
                        CommandName="UNBLOCK"><%= GetKeys().UnblockText %></asp:LinkButton>
                    </div>
                    <div class="rfloat">
                       <%-- <asp:LinkButton ID="lnkUnFavorite" runat="server" CssClass="btn lnkUnFavorite" 
                        EnableViewState="true" 
                        Visible='<%# Eval("AllowUnfavorite") %>' CommandArgument='<%# Eval("OtherMemberProfileID") %>' 
                        CommandName="UNFAVORITE"><%= GetKeys().UnfavoriteText %></asp:LinkButton>--%>
                            <a ID="lnkUnFavorite"
                                              class="btn lnkUnFavorite" 
                                              runat="server" 
                                              href="javascript:void(0);"  
                                              onclick='<%# "ReplaceElementUnFav(this.id,""" & Me.GetProfileIdString(Eval("OtherMemberProfileID") )&""",""s_item" & ReturnAlphaCharacters(Eval("OtherMemberLoginName")) &"""); UnFavoriteProfile(""" & Me.GetProfileIdString(Eval("OtherMemberProfileID")) & """,OnNoPhoto);return false;"%>'   
                                              visible='<%# Eval("AllowUnfavorite") %>'><%= GetKeys().UnfavoriteText %></a>
                    </div>
                    <div class="rfloat">
                                       <a ID="lilnkFavorite"
                                              class="btn lnkFavorite" 
                                              runat="server" 
                                              href="javascript:void(0);"  
                                              onclick='<%# "ReplaceElementFav(this.id,""" & Me.GetProfileIdString(Eval("OtherMemberProfileID") )&"""); FavoriteProfile(""" & Me.GetProfileIdString(Eval("OtherMemberProfileID")) & """,OnNoPhoto);return false;"%>'   
                                              visible='<%# Eval("AllowFavorite") %>'><%= GetKeys().FavoriteText %></a>
                    </div>
                    <div class="rfloat">
                        <asp:HyperLink ID="lnk1" runat="server" EnableViewState="false" Visible='<%# Eval("AllowSendMessage")%>' 
                            CssClass="btn lnkSendMessage lighter"
                            NavigateUrl='<%# Eval("SendMessageUrl")%>'><%= GetKeys().SendMessageText %><i class="icon-chevron-right"></i></asp:HyperLink>
                    </div>
                    <div class="rfloat">
                                            <a id="lnkWink" class="btn lnkWink" runat="server" href="javascript:void(0);"  onclick='<%# "ReplaceElementLik(this.id,""" & Me.GetProfileIdString(Eval("OtherMemberProfileID") )&"""); LikeProfile(""" & Me.GetProfileIdString(Eval("OtherMemberProfileID")) & """,ReplaceElementUnLik,""Unlike" & Me.GetProfileIdString(Eval("OtherMemberProfileID")) &""","""& Me.GetProfileIdString(Eval("OtherMemberProfileID")) & """,OnNoPhoto);return false;"%>'   visible='<%# Eval("AllowWink") %>'><%= GetKeys().WinkText %></a>
                    </div>
                    <div class="rfloat">
                                    <div id="lnkUnWink" runat="server"
                                            class="btn lnkUnWink disabled opacity70"
                                            visible='<%# Eval("AllowUnWink") %>'>
                                            <%= GetKeys().WinkText %>
                                        </div>
                         </div>
                    <div ID="divDistance" class='<%# "tt_enabled distance " & Eval("DistanceCss") %>' runat="server" EnableViewState="false"></div>
                    <div class="tooltip tooltip_search">
                        <div class="tooltip_text right-arrow"><%# Eval("MilesAwayText")%></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
    </div>
     <div Id="BoxBotom" class ="BottomBox" runat="server" visible=<%# Eval("PhotosProperties(0).HasPhoto")%> > 
         <a  class="CloseBox" href="<%# GetClosePhoto(Eval("OtherMemberLoginName"))%>"></a>
         <%# GetPhoto(Eval("PhotosProperties(0).HasPhoto"), Eval("PhotosProperties(0).ImageUrl"), Eval("PhotosProperties(0).ImageUrlOnClick") _
              , Eval("PhotosProperties(0).ImageThumbUrl"), Eval("PhotosProperties(0).PhotoLevelText"), Eval("OtherMemberLoginName"), Eval("PhotosProperties(0).DisplayLevelText"))%> 
             
     <%# GetPhoto(Eval("PhotosProperties(1).HasPhoto"), Eval("PhotosProperties(1).ImageUrl"), Eval("PhotosProperties(1).ImageUrlOnClick") _
              , Eval("PhotosProperties(1).ImageThumbUrl"), Eval("PhotosProperties(1).PhotoLevelText"), Eval("OtherMemberLoginName"), Eval("PhotosProperties(1).DisplayLevelText"))%> 
      
            <%# GetPhoto(Eval("PhotosProperties(2).HasPhoto"), Eval("PhotosProperties(2).ImageUrl"), Eval("PhotosProperties(2).ImageUrlOnClick") _
              , Eval("PhotosProperties(2).ImageThumbUrl"), Eval("PhotosProperties(2).PhotoLevelText"), Eval("OtherMemberLoginName"), Eval("PhotosProperties(2).DisplayLevelText"))%> 
             
        <%# GetPhoto(Eval("PhotosProperties(3).HasPhoto"), Eval("PhotosProperties(3).ImageUrl"), Eval("PhotosProperties(3).ImageUrlOnClick") _
              , Eval("PhotosProperties(3).ImageThumbUrl"), Eval("PhotosProperties(3).PhotoLevelText"), Eval("OtherMemberLoginName"), Eval("PhotosProperties(3).DisplayLevelText"))%> 
             
             <%# GetPhoto(Eval("PhotosProperties(4).HasPhoto"), Eval("PhotosProperties(4).ImageUrl"), Eval("PhotosProperties(4).ImageUrlOnClick") _
              , Eval("PhotosProperties(4).ImageThumbUrl"), Eval("PhotosProperties(4).PhotoLevelText"), Eval("OtherMemberLoginName"), Eval("PhotosProperties(4).DisplayLevelText"))%> 
             <div class="ViewProfile">
                 <a Id="ViewProfileLink"  runat="server" class="ViewProfileLink"  href='<%# Eval("OtherMemberProfileViewUrl")%>'></a>
             </div>
          </div>
</div>
</ItemTemplate>
</asp:Repeater>
</div>
    </asp:View>


</asp:MultiView>


<script type="text/javascript">
    function LoadSearch() {

        $(".vip-png", '#search-results .TopBox').tooltip({
            tooltipClass: "tooltip-VIP",
            content: "<%= Dating.Server.Site.Web.AppUtils.JS_PrepareString(Me.VIPTooltip) %>",
            show: { delay: 1500 }
        });
        $("img.round-img-116", '#search-results .TopBox').mouseenter(function () {
            var t = this;
            var p = $(t).parent().parent().parent().parent().parent();
            //while (!p.is('.left')) { p = $(p).parent(); }
            if (p.length > 0) {
                p.find('a', '.info h2').addClass('hovered');
            }
           // p.addClass('hovered');
        }).mouseleave(function () {
            var t = this;
            var p = $(t).parent().parent().parent().parent().parent();
                       //while (!p.is('.left')) { p = $(p).parent(); }
            if (p.length > 0) {
                p.find('a', '.info h2').removeClass('hovered');
            }
        });
        $("a.login-name", '#search-results .TopBox').mouseenter(function () {
            var t = this;
            var p = $(t).parent().parent().parent().parent().parent();
      
           // while (!p.is('.left')) { p = $(p).parent(); }
            if (p.length > 0) {
                p.find('.TopBox .pr-photo-116-noshad', '.photo').addClass('hovered')
            }
        }).mouseleave(function () {
            var t = this;
            var p = $(t).parent().parent().parent().parent().parent();
            //while (!p.is('.left')) { p = $(p).parent(); }
            if (p.length > 0) {
                p.find('.pr-photo-116-noshad', '.photo').removeClass('hovered')
            }
        });



        var scope = "#offers-list .l_new", scope2;
        scope = (($(".l_pending", "#offers-list").length > 0) ? "#offers-list .l_pending" : scope);
        scope = (($(".l_rejected", "#offers-list").length > 0) ? "#offers-list .l_rejected" : scope);
        scope = (($(".l_accepted", "#offers-list").length > 0) ? "#offers-list .l_accepted" : scope);
        scope2 = (($(".s_item", "#MyBlockedList").length > 0) ? "#MyBlockedList .s_item" : scope);

        var itms = $("a.btn", scope + " .left").css("width", "auto");
        if (itms.length == 0) { itms = $("a.btn", scope2 + " .bot_right_actions").css("width", "auto"); }
        for (var c = 0; c < itms.length; c++) {
            var w = $(itms[c]).width();
            $(itms[c]).css("width", "").removeClass("lnk130").removeClass("lnk180");
            if (w < 120)
                $(itms[c]).addClass("lnk130");
            else
                $(itms[c]).addClass("lnk180");
        }

        itms = $("a.dropdown-toggle", scope + " .left .btn-group").css("width", "auto");
        for (c = 0; c < itms.length; c++) {
            var w = $(itms[c]).width();
            $(itms[c]).css("width", "").removeClass("lnk130").removeClass("lnk180").removeClass("lnk107").removeClass("lnk116");
            if (w < 83)
                $(itms[c]).addClass("lnk107");
            else
                $(itms[c]).addClass("lnk116");
        }
    }

    function startAnimating() {
        if (animating_elemnts_list.length > 0) { setTimeout(startAnimateOnlineImg, 500); }
    }
    function processAnimating() {
        try {
            animating_elemnts_list = new Array();
            var online = $('.online-indicator', '#search-results');
            if (online.length > 0) {
                for (var c = 0; c < online.length; c++) {
                    animating_elemnts_list.push(online[c].id)
                }
                setTimeout(startAnimateOnlineImg, 500);
            }
        }
        catch (e) { }
    }
    (function () {
        LoadSearch()
        startAnimating();
        Sys.WebForms.PageRequestManager.getInstance().add_pageLoaded(processAnimating);
    })();
</script>

</div>











