﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucLandingProfiles.ascx.vb" Inherits="Dating.Server.Site.Web.ucLandingProfiles" %>


<div class="landingcontainer">
<div class="landingdiv3">
    <div class="landingdiv3left">
        <asp:Label ID="btnRegister" runat="server" Text="" EnableViewState="false"></asp:Label>
        <asp:Label ID="lblCloseRdv" runat="server" Text="" EnableViewState="false"></asp:Label>
    </div>
    <div class="landingdiv3right">
        <div class="landingdiv3rightup">
            <asp:Label ID="lblFacesUp" runat="server" Text=""></asp:Label>
            <div class="clear"></div>
        </div>
        <div class="landingdiv3rightdown">
            <asp:Label ID="lblFacesDown" runat="server" Text=""></asp:Label>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
</div>

