﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="AgeDropDown.ascx.vb" Inherits="Dating.Referrals.Server.Site.Web.AgeDropDown" %>
<dx:ASPxComboBox ID="ddl" runat="server" EncodeHtml="False" Width="60px">
</dx:ASPxComboBox>
<%--<select runat="server" id="ddl">
<option>18</option>
<option>19</option>
<option>20</option>
<option>21</option>
<option>22</option>
<option>23</option>
<option>24</option>
<option>25</option>
<option>26</option>
<option>27</option>
<option>28</option>
<option>29</option>
<option>30</option>
<option>31</option>
<option>32</option>
<option>33</option>
<option>34</option>
<option>35</option>
<option>36</option>
<option>37</option>
<option>38</option>
<option>39</option>
<option>40</option>
<option>41</option>
<option>42</option>
<option>43</option>
<option>44</option>
<option>45</option>
<option>46</option>
<option>47</option>
<option>48</option>
<option>49</option>
<option>50</option>
<option>51</option>
<option>52</option>
<option>53</option>
<option>54</option>
<option>55</option>
<option>56</option>
<option>57</option>
<option>58</option>
<option>59</option>
<option>60</option>
<option>61</option>
<option>62</option>
<option>63</option>
<option>64</option>
<option>65</option>
<option>66</option>
<option>67</option>
<option>68</option>
<option>69</option>
<option>70</option>
<option>71</option>
<option>72</option>
<option>73</option>
<option>74</option>
<option>75</option>
<option>76</option>
<option>77</option>
<option>78</option>
<option>79</option>
<option>80</option>
<option>81</option>
<option>82</option>
<option>83</option>
<option>84</option>
<option>85</option>
<option>86</option>
<option>87</option>
<option>88</option>
<option>89</option>
<option>90</option>
<option>91</option>
<option>92</option>
<option>93</option>
<option>94</option>
<option>95</option>
<option>96</option>
<option>97</option>
<option>98</option>
<option>99</option>
<option>100</option>
<option>101</option>
<option>102</option>
<option>103</option>
<option>104</option>
<option>105</option>
<option>106</option>
<option>107</option>
<option>108</option>
<option>109</option>
<option>110</option>
<option>111</option>
<option>112</option>
<option>113</option>
<option>114</option>
<option>115</option>
<option>116</option>
<option>117</option>
<option>118</option>
<option>119</option>
<option>120</option>
<option>121</option>
<option>122</option>
<option>123</option>
<option>124</option>
<option>125</option>
<option>126</option>
<option>127</option>
<option>128</option>
<option>129</option>
<option>130</option>
<option>131</option>
<option>132</option>
<option>133</option>
<option>134</option>
<option>135</option>
<option>136</option>
<option>137</option>
<option>138</option>
<option>139</option>
<option>140</option>
<option>141</option>
<option>142</option>
<option>143</option>
<option>144</option>
<option>145</option>
<option>146</option>
<option>147</option>
<option>148</option>
<option>149</option>
<option>150</option>
<option>151</option>
<option>152</option>
<option>153</option>
<option>154</option>
<option>155</option>
<option>156</option>
<option>157</option>
<option>158</option>
<option>159</option>
<option>160</option>
<option>161</option>
<option>162</option>
<option>163</option>
<option>164</option>
<option>165</option>
<option>166</option>
<option>167</option>
<option>168</option>
<option>169</option>
<option>170</option>
<option>171</option>
<option>172</option>
<option>173</option>
<option>174</option>
<option>175</option>
<option>176</option>
<option>177</option>
<option>178</option>
<option>179</option>
<option>180</option>
<option>181</option>
<option>182</option>
<option>183</option>
<option>184</option>
<option>185</option>
<option>186</option>
<option>187</option>
<option>188</option>
<option>189</option>
<option>190</option>
<option>191</option>
<option>192</option>
<option>193</option>
<option>194</option>
<option>195</option>
<option>196</option>
<option>197</option>
<option>198</option>
<option>199</option>
</select>--%>