﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="TraceSrc.ascx.vb" Inherits="Dating.Referrals.Server.Site.Web.TraceSrc" %>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32245832-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    var _kmq = _kmq || [];
    var _kmk = _kmk || '248a3d6838dff1a02a5dcc4a7c90123792416969';
    function _kms(u) {
        setTimeout(function () {
            var d = document, f = d.getElementsByTagName('script')[0],
      s = d.createElement('script');
            s.type = 'text/javascript'; s.async = true; s.src = u;
            f.parentNode.insertBefore(s, f);
        }, 1);
    }
    _kms('//i.kissmetrics.com/i.js');
    _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
</script>

<!-- Google Code for &Gamma;&nu;&omega;&rho;&iota;&mu;&#943;&epsilon;&sigmaf; Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1000407937;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "bQnmCJe5ygQQgYeE3QM";
var google_conversion_value = 0;
/* ]]> */
</script>

<div style="display:none;">
<%
    If (Request.Url.Scheme = "https") Then
%><script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1000407937/?value=0&amp;label=bQnmCJe5ygQQgYeE3QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript><%
               
           Else
               
%><script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1000407937/?value=0&amp;label=bQnmCJe5ygQQgYeE3QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript><%
        End If
%>
</div>