﻿<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/Members/Members2.master" CodeBehind="Coupon.aspx.vb" Inherits="Dating.Server.Site.Web.Coupon" %>


<%@ Register Src="~/UserControls/gifts/ucCredits.ascx" TagPrefix="uc2" TagName="ucCredits" %>

<%@ Register src="~/UserControls/WhatIsIt.ascx" tagname="WhatIsIt" tagprefix="uc2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
 
    <link href="../v1/CSS/GiftsStyle.css?v114" rel="stylesheet" />
           
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="content" runat="server">
    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
             <uc2:ucCredits runat="server" ID="ucCredits" ShowCreditsHeader="true" />
           
        </ContentTemplate>
    </asp:UpdatePanel>
           <uc2:WhatIsIt ID="WhatIsIt1" runat="server" />
</asp:Content>


