﻿<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/Members/Members2Inner.Master" CodeBehind="PopupOnlyTerms.aspx.vb" Inherits="Dating.Server.Site.Web.PopupOnlyTerms" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
<style type="text/css">
       
</style>
<link href="//cdn.goomena.com/v1/Scripts/scrollbars/jquery.mCustomScrollbar.css" rel="stylesheet" />
<link href="/v1/CSS/new-terms.css?v2" rel="stylesheet" />
<script type="text/javascript" src="//cdn.goomena.com/v1/Scripts/scrollbars/jquery.mCustomScrollbar.concat.min.js"></script>
   
    <style  type="text/css">
        .mCSB_scrollTools {
            margin-top:42px!important;
            height:398px!Important
        }
        #popuponlyterms-page{
            width:727px;
        }
      
    </style>

</asp:Content>


<asp:Content ID="Content2" ContentPlaceHolderID="content" runat="server">
   
    <div class="NewTermsPopupConathiner" >
       

        <div id="NewTermsBottom2">
               <%-- <div class="NewTermsBottomLine"></div>--%>
                <asp:Label ID="lblNewTermsBottom"   CssClass ="lblNewTermsBottom" runat="server"   Text=""></asp:Label>

            
              
        </div>
    </div>

    <script type="text/javascript">

  


        $(document).ready(function () {
            $("#<%=lblNewTermsBottom.ClientID %>").mCustomScrollbar({ theme: "dark" });
            if ('<%=Request("scrollTo")%>' == 'reward') {
                setTimeout(function () {
                    $("#<%=lblNewTermsBottom.ClientID %>").mCustomScrollbar("scrollTo", ".reward_program");
                }, 500);
            }
        });
         </script>
        
</asp:Content>


