﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="Members2.master.vb" Inherits="Dating.Server.Site.Web.Members2" %>
<%@ Register Src="~/UserControls/ucNewWinksQuick.ascx" TagName="ucNewWinksQuick"    TagPrefix="uc1" %>
<%@ Register Src="~/UserControls/ucNewOffersQuick.ascx" TagName="ucNewOffersQuick"    TagPrefix="uc2" %>
<%@ Register Src="~/UserControls/ucNewMessagesQuick.ascx" TagName="ucNewMessagesQuick"    TagPrefix="uc4" %>
<%@ Register Src="~/UserControls/ucNewDatesQuick.ascx" TagName="ucNewDatesQuick"    TagPrefix="uc5" %>
<%@ Register Src="~/UserControls/LiveZilla.ascx" TagName="LiveZilla" TagPrefix="uc6" %>
<%@ Register Src="~/UserControls/TraceSrc.ascx" TagName="TraceSrc" TagPrefix="uc1" %>
<%@ Register Src="../UserControls/MemberLeftPanel.ascx" TagName="MemberLeftPanel"    TagPrefix="uc7" %>
<%@ Register Src="~/UserControls/MembersBarLeft.ascx" TagName="MembersBarLeft" TagPrefix="uc8" %>
<%@ Register Src="~/UserControls/MembersBarRight.ascx" TagName="MembersBarRight" TagPrefix="uc8" %>
<%--<%@ Register Src="~/UserControls/CheckUserMessagesPopup.ascx" TagPrefix="uc1" TagName="CheckUserMessagesPopup" %>--%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="msapplication-config" content="none"/>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="//cdn.goomena.com/v1/css/utils.css?v=1" type="text/css" rel="Stylesheet" />
    <link href="/v1/css/mbr2.css?v201505291030" type="text/css" rel="Stylesheet" />
        <script src="//cdn.goomena.com/Scripts/head.min.js" type="text/javascript"></script>
    <script src="//cdn.goomena.com/Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="//cdn.goomena.com/Scripts/jquery.json-2.4.min.js" type="text/javascript"></script>
    <script src="//cdn.goomena.com/Scripts/jquery.tipsy.js" type="text/javascript"></script>
    <script src="//cdn.goomena.com/v1/Scripts/script1.js?v=18" type="text/javascript"></script>
    <script src="//cdn.goomena.com/Scripts/bootstrap-2.3.2/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="//cdn.goomena.com/Scripts/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
    <%--  //cdn.goomena.com<script src="//cdn.goomena.com/Scripts/jquery-ui-1.10.0.js" type="text/javascript"></script>--%>

    <!--- auto refresh ---->
    <script src="//cdn.goomena.com/v1/Scripts/load_member_counters.js?v10" type="text/javascript"></script>
    <script type="text/javascript">
        // <![CDATA[
        var postponedCallbackRequired = false;
        function refreshCallBackPanel(s, e) {
            if (cbpTopBar.InCallback())
                postponedCallbackRequired = true;
            else
                cbpTopBar.PerformCallback();
        }
        function cbpTopBar_OnEndCallback(s, e) {
            if (postponedCallbackRequired) {
                cbpTopBar.PerformCallback();
                postponedCallbackRequired = false;
            }
        }
        function cbpTopBar_CallbackError(s, e) {
            clearTimeout(loadMemberActionCountersTimer);
        }
        // ]]>

        function DevExPopup_setPos(s, e) {
            // correction for chrome-opera -top psoition
            var hgt = s.GetCurrentTop();
            var m_top = $('.second-row', '#m-top-container');
            if (m_top.length > 0) hgt = m_top.height();
            var index = -1;
            s.SetWindowPos(index, s.GetWindowElement(index), null, hgt);
        }
        function DevExPopup_Toggle(s, e) {
            jQuery('#' + s.popupElementID).toggleClass('menuOpen');
        }
    </script>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

</head>
<body id="page" class="lang-<%= if(Session("LAGID") isnot nothing,Session("LAGID").tostring().tolower(), "") %> <%= If(MyBase.IsMale, "me-male", "") %><%= If(MyBase.IsFemale, "me-female", "") %> <%= If(MyBase.IsMale, "memberNewDesign2015", "memberNewDesign2015")%><%= If(DateTime.UtcNow < New DateTime(2015, 4, 13, 10, 0, 0), " Easter", If(DateTime.UtcNow < New DateTime(DateTime.UtcNow.Year, DateTime.UtcNow.Month, DateTime.UtcNow.Day, 17, 0, 0), " Morning", " Night"))%>">
    <div id="fb-root"></div>
    <style type="text/css">
        .carnival  .profile-self{position: absolute;top:-61px;left: 0px;right: 0px;z-index: 12;}
        .flowers-season{}
        .mayday{}
        .summer-season { }
        .september2014 {}
        .octomber2014 {
        }
        .winter20140112 {
        }
        .autumn2014 {
        }
        .moving20141121{}
        .member20150127 {
        }
        .memberNewDesign2015 {
        }
        /*#GPolls {
            display: none;
        }*/
    </style>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="sm" runat="server">
    </asp:ScriptManager>
    <dx:ASPxLoadingPanel runat="server" 
        ClientInstanceName="LoadingPanel"
        ImageSpacing="0px" CssPostfix="DevEx" 
        CssFilePath="~/App_Themes/DevEx/{0}/styles.css" 
        ID="LoadingPanel" 
        EnableDefaultAppearance="False" 
        EnableTheming="False" 
        EnableViewState="False" Text="">
        <Image Url="//cdn.goomena.com/images2/GOO-Loading.gif">
        </Image>
    </dx:ASPxLoadingPanel>
<div id="topFrameHolder">
    <div id="m-top-container">
    <div class="top-row-image">
        <div class="image-bg-wrap"><div class="image-bg"></div></div>
    </div>
    <div class="top-row">
        <div id="top-MemberImg"></div>
        <div class="row-content">
            <div id="userErrorMsg"></div>
            <div class="lfloat logo-container">
                <a href="default.aspx" title="Home" onclick="ShowLoading();"><asp:Image runat="server" ID="imgLogo" ImageUrl="//cdn.goomena.com/images2/mbr2/logo.png" AlternateText="Goomena Logo" ToolTip="Goomena Logo" /></a>
<%--<img src="//cdn.goomena.com/images2/logo-carn-member.png" alt="Goomena Logo" title="Goomena Logo" />--%>
<%--<img src="//cdn.goomena.com/images2/logo-member-val.png" alt="Goomena Logo" title="Goomena Logo" />--%>
            </div>
            <div class="rfloat languages">
                <dx:ASPxComboBox ID="cmbLag" runat="server" 
                    CssFilePath="~/App_Themes/DevEx/{0}/styles.css"
                    CssPostfix="DevEx" 
                    Spacing="0" 
                    SpriteCssFilePath="~/App_Themes/DevEx/{0}/sprite.css" 
                    SelectedIndex="0" 
                    ShowImageInEditBox="True" 
                    AutoPostBack="True"
                    Height="21px" Width="100px">
                   <Items>
                        <dx:ListEditItem ImageUrl="//cdn.goomena.com/images/flags/US.png" Text="English" Value="US" />
                        <dx:ListEditItem ImageUrl="//cdn.goomena.com/images/flags/spain-flag.png" Text="Spanish" Value="ES" />
                        <dx:ListEditItem ImageUrl="//cdn.goomena.com/images/flags/Greece.png" Text="Greek" Value="GR" />
                        <dx:ListEditItem ImageUrl="//cdn.goomena.com/images/flags/turk.png" Text="Turkish" Value="TR" />
                        <%--<dx:ListEditItem ImageUrl="//cdn.goomena.com/images/flags/albania.png" Text="Albanian" Value="AL" />--%>
                    </Items>
                    <LoadingPanelImage Url="~/App_Themes/DevEx/Editors/Loading.gif">
                    </LoadingPanelImage>
                    <LoadingPanelStyle ImageSpacing="5px">
                    </LoadingPanelStyle>
                    <ButtonStyle Width="13px">
                    </ButtonStyle>
                    <ClientSideEvents SelectedIndexChanged="ShowLoadingOnMenu" />
                    <Border BorderStyle="None" />
                </dx:ASPxComboBox>
            </div>
            <div class="rfloat">
                <div id="social_buttons">
                    <div class="lfloat"><a class="fb" href="https://www.facebook.com/goomena" title="Visit Goomena on Facebook" target="_blank"></a></div>
                    <div class="lfloat"><a class="tw" href="https://twitter.com/goomena" title="Follow @goomena on Twitter" target="_blank"></a></div>
                    <div class="lfloat"><a class="gplus" href="https://plus.google.com/117771129858965427748/posts" title="Visit Google+" target="_blank"></a></div>
                    <div class="clear"></div>
                </div>
                <%--<div id="social_buttons">
                    <%
            Dim html As String = Dating.Server.Site.Web.clsTemplatesCache.GetTemplate(Dating.Server.Site.Web.clsTemplatesCache.HtmlTemplate.SocialButtons)
            html = html.Replace("'", "\'")
            html = html.Replace("<", "&lt;")
            html = html.Replace(">", "&gt;")
                        %>
                        <script type="text/javascript">
                            function LoadSocials() {
                                $('#social_buttons').show();
                                var html = '<%= html %>';
                                html = html.replace(/&lt;/gi, "<")
                                html = html.replace(/&gt;/gi, ">")
                                $("#social_buttons").prepend(html);
                            }
                        </script>
                    <div class="clear"></div>
                </div>--%>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="second-row">
        <div class="row-content">
            <div class="lfloat membersBar">
                <div class="lfloat mbr-menu-item" id="SearchPopupContent">
                    <asp:HyperLink ID="btnSearch" runat="server" NavigateUrl="~/Members/Search.aspx"
                        CssClass="hdr-link btnSearch" onclick="ShowLoading();">Search</asp:HyperLink>
                    <div class="mbr-menu-item-inner"></div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="memberActions">
                <div id="quick-lists">
                    <div class="lfloat">
                        <dx:ASPxCallbackPanel runat="server" ID="cbpTopBar" 
                         ClientInstanceName="cbpTopBar" RenderMode="Div" ShowLoadingPanel="False">
                            <ClientSideEvents EndCallback="cbpTopBar_OnEndCallback" CallbackError="cbpTopBar_CallbackError"></ClientSideEvents>
                            <PanelCollection>
                                <dx:PanelContent ID="PanelContent3" runat="server">
                                    <uc8:MembersBarLeft ID="mbl" runat="server" Visible="true" />
                                </dx:PanelContent>
                            </PanelCollection>
                        </dx:ASPxCallbackPanel>
                        <div class="clear"></div>
                    </div>
                    <uc8:MembersBarRight ID="mbr" runat="server" Visible="true" />
                </div>
            </div>

            <div class="clear"></div>
            <div id="column-shadow"></div>
        </div>
    </div>

    </div>
</div>


    <div id="m-body-container">
        <div class="lfloat left-side-wrap">
            <div class="left-side">
                <asp:Panel ID="pnlTop" runat="server" CssClass="profile-self" style="">
                    <ul class="quick-links">
                        <li id="left-online" class="online-indicator">
                            <asp:Image ID="imgOn" runat="server" Visible="false"  ImageUrl="//cdn.goomena.com/Images/spacer10.png" AlternateText="online" ToolTip="online" />
                            <asp:HyperLink ID="lnkOnline" runat="server" 
                               
                                NavigateUrl="~/Members/Search.aspx?vw=online" 
                                onclick="ShowLoading();"
                                CssClass="lnkOnline" >
                                <asp:Label ID="lblOnline" runat="server" Text="Who's online"></asp:Label></asp:HyperLink>
                        </li>
                    </ul>
                   <%-- <script type="text/javascript">
                        animateOnlineImg('left-online');
                    </script>--%>
                </asp:Panel>
                <asp:ContentPlaceHolder ID="leftPanelUpperContent" runat="server">
                </asp:ContentPlaceHolder>
                <div id="left-side-inner" style="position: relative;">
        	    <asp:UpdatePanel ID="updLeftMenu" runat="server">
                    <ContentTemplate> 
                    <uc7:MemberLeftPanel ID="leftPanel" runat="server" />
                    </ContentTemplate>
                </asp:UpdatePanel>
                </div>
            </div>
        </div>
        <div class="lfloat right-side">
            <asp:ContentPlaceHolder ID="content" runat="server">

            </asp:ContentPlaceHolder>
        </div>
        <div class="clear"></div>
    </div>

        <div class="ChatView">
</div>
    <div class="footernew">
        <div class="footerbox">
        <div class="ul1">
            <asp:Literal ID="lblFooterMenuTitle1" runat="server" Text="Label" EnableViewState="false"/>
            <dx:ASPxMenu ID="mnuFooter1" runat="server" EnableDefaultAppearance="False" 
                Orientation="Vertical" EnableViewState="false">
                <ClientSideEvents ItemClick="ShowLoadingOnMenu" />
            </dx:ASPxMenu>
        </div>
        <div class="ul2">
            <asp:Literal ID="lblFooterMenuTitle5" runat="server" Text="Label" EnableViewState="false"/>
            <dx:ASPxMenu ID="mnuFooter5" runat="server" EnableDefaultAppearance="False" 
                EncodeHtml="False" Orientation="Vertical" EnableViewState="false">
                <ClientSideEvents ItemClick="ShowLoadingOnMenu" />
            </dx:ASPxMenu>
        </div>
        <div class="ul3">
            <asp:Literal ID="lblFooterMenuTitle3" runat="server" Text="Label" EnableViewState="false"/>
            <dx:ASPxMenu ID="mnuFooter3" runat="server" EnableDefaultAppearance="False" 
                Orientation="Vertical" EnableViewState="false">
                <ClientSideEvents ItemClick="ShowLoadingOnMenu" />
            </dx:ASPxMenu>

        </div>
        <div class="ul4">
            <asp:Literal ID="lblFooterMenuTitle2" runat="server" Text="Label" EnableViewState="false"/>
            <dx:ASPxMenu ID="mnuFooter2" runat="server" EnableDefaultAppearance="False" 
                Orientation="Vertical" EnableViewState="false">
                <ClientSideEvents ItemClick="ShowLoadingOnMenu" />
            </dx:ASPxMenu>
        </div>
        <div class="ul5">
            <asp:Literal ID="lblFooterMenuTitle4" runat="server" Text="Label" EnableViewState="false"/>
            <dx:ASPxMenu ID="mnuFooter4" runat="server" EnableDefaultAppearance="False" 
                Orientation="Vertical" EnableViewState="false">
                <ClientSideEvents ItemClick="ShowLoadingOnMenu" />
            </dx:ASPxMenu>
        </div>
            <div class="socialbox">
                 <p>Social Media  <div class="twcontainer">
                 <a href="https://twitter.com/intent/tweet?text=Goomena.com is definitely the Nr1 dating service! @Goomena beautiful women wait in line to be spoiled by you and spoil you back!"><img src="//cdn.goomena.com/goomena-kostas/first-general/tw.png" alt="twitter"/></a>
                 <p id="followers" style="display:none;"></p>
                 </div>
                 <div class="gpluscontainer">
                 <a href="https://plus.google.com/117771129858965427748/posts"><img src="//cdn.goomena.com/goomena-kostas/first-general/google-plus.png" alt="facebook"/></a>
                 </div>
                 <div class="fbcontainer">
                 <a href="https://www.facebook.com/goomena"><img src="//cdn.goomena.com/goomena-kostas/first-general/fb.png" alt="facebook"/></a>
                 <p id="fblikes"></p>
                 </div>
                 <div class="clear"></div>
            </div>
            <div>
                <div class="lfloat"><img class="footerlogo" src="//cdn.goomena.com/goomena-kostas/first-general/logo-footer.png" alt="logo" /></div>
                <div class="rfloat"><img src="//cdn.goomena.com/images2/info-icons.png" alt="logo" /></div>
                <div class="clear"></div>
            </div>

            <div class="infobox">
                <h1><asp:Label ID="lblFooterSiteTitle" runat="server" Text="" EnableViewState="false" /></h1>
                <div class="info"><asp:Label ID="lblFooterSiteDescription" runat="server" Text="" EnableViewState="false" />
                <br/><br/><br/>
               
                <a class="prosoxi2" href="/cmspage.aspx?pageid=197&title=EscortsDisallow"><asp:Label ID="lblEscortsWarning" runat="server" Text="" CssClass="prosoxi2" style="font-size:10pt;" ForeColor="Black" Font-Bold="False" EnableViewState="false"></asp:Label></a>
                    <dx:ASPxPopupControl ID="lblEscortsWarningPopup" runat="server" 
                        CloseAction="MouseOut" PopupAction="MouseOver" 
                        PopupElementID="lblEscortsWarning" PopupVerticalAlign="Above" 
                        ShowHeader="False" Width="300px" CssClass="tooltip_Popup" ForeColor="White" BackColor="Black" 
                        EnableViewState="false" Enabled="false">                        
                            <ContentCollection>
                                <dx:PopupControlContentControl ID="PopupControlContentControl2" runat="server" BackColor="Black" ForeColor="White">
   <%-- <asp:Label ID="lblEscortsWarningTooltip" runat="server" Text="" ForeColor="White" EnableViewState="false"></asp:Label>--%>
                                </dx:PopupControlContentControl>
                            </ContentCollection>
                            <ContentStyle>
                                <Paddings Padding="10px" />
                            </ContentStyle>
                            <HeaderStyle>
                            <Paddings Padding="10px" />
                            </HeaderStyle>
                            <FooterStyle>
                            <Paddings Padding="10px" />
                            </FooterStyle>
                    </dx:ASPxPopupControl>
                    </div>
                                        
                </div>
            </div>


            <div class="siteinfo">
                <asp:Label ID="lblFooterCopyRight" runat="server" Text="" CssClass="copyrightParagraph" Visible="false" EnableViewState="false"/> User IP: <%= Session("IP") & " - " & Session("GEO_COUNTRY_CODE")%>
                <asp:HyperLink ID="lnkSiteMap" runat="server" NavigateUrl="~/sitemap.aspx" onclick="ShowLoading();">Sitemap</asp:HyperLink>
            </div>

        </div>
    


        
<asp:ContentPlaceHolder ID="cntBodyBottom" runat="server">
</asp:ContentPlaceHolder>

<script type="text/javascript" src="/v1/Scripts/member-bottom.js?v2"></script>
<asp:HiddenField ID="hdfTimeOffset" runat="server" />
<script type="text/javascript" language="javascript">

if ('<%= If(Session("IsMobileAccess") IsNot Nothing, Session("IsMobileAccess").ToString().ToLower(), "")%>' == '') {
    jsonConnect.hdfTimeOffsetID = '<%= hdfTimeOffset.ClientID %>';
    jsonConnect.SetClientDataUrl = '<%= ResolveClientUrl("~/jsonPub.aspx/SetClientData")%>';
    jsonConnect.setClientData();
}

</script>
<%--
<script type="text/javascript">
    function runExtLinks() {
        var isHttp = ('<%= (Request.Url.Scheme = "http").ToString().ToLower() %>' == 'true' ? true : false);
        LoadSocials();
        try {
            facebook_fnc();
        }
        catch (e) { }

        try {
            (function () {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = false;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[1]; s.parentNode.insertBefore(po, s);
            })();
        }
        catch (e) { }

        try {
            (function () {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = false;
                po.src = 'https://platform.twitter.com/widgets.js';
                var s = document.getElementsByTagName('script')[2]; s.parentNode.insertBefore(po, s);
            })();
        }
        catch (e) { }
    }

</script>
 <!--[if gte IE 6]>
<script type="text/javascript">
    function runExtLinks_Helper(){
        runExtLinks();
    }
</script>
<![endif]-->
<script type="text/javascript">
    $(function () {
        if (typeof runExtLinks_Helper === 'function') {
            runExtLinks_Helper()
        }
        else {
            // runExtLinks();
            setTimeout(runExtLinks, 5500);
        }
    });
</script>
--%>


    <uc1:TraceSrc ID="trc" runat="server" EnableViewState="false" />

    <asp:Panel runat="server" ID="pnlAdditionalInfo" Visible="false">
        <div id="divAddInfoVeil" class="opacity90"></div>
        <iframe id="frmAddInfo" frameborder="0" src="AfterRegister.aspx"></iframe>
        <script type="text/javascript">
            LoadVeil()
        </script>
    </asp:Panel>

</form>

</body>
</html>


