<div id="lz_chat_alert_box" style="position:absolute;z-index:999;background:#f0f0f0;border:1px solid #808080;border-top:0px solid #808080;width:350px;background-image:url('<!--server-->images/chat_bg_footer.gif');background-repeat:repeat-x;display:none;">
	<table cellspacing="4" cellpadding="0" width="100%" height="95%">
		<tr>
			<td height="15" valign="top" style="font-family:verdana,arial;font-size:10px;color:#FFFFFF;font-weight:bold;" colspan="2"><!--title--></td>
		</tr>
		<tr>
			<td width="50" align="center" valign="top"><img src="<!--server-->images/icon_info.gif" alt="" width="32" height="32" border="0" style="margin:10px;"></td>
			<td id="lz_chat_alert_box_text" style="font-size:12px;font-family:verdana,arial;padding:5px;"></td>
		</tr>
		<tr>
			<td height="30" valign="top" align="center" colspan="2"><input type="button" id="lz_chat_alert_button" style="border:0px;cursor:pointer;height:22px;width:70px;font-size:11px;font-family:verdana,arial;background-image:url('<!--server-->images/lz_button.gif');" value="OK"></td>
		</tr>
	</table>
</div>


