<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!--html-->
<head>
<META NAME="description" CONTENT="<!--config_gl_desc-->">
<META NAME="keywords" CONTENT="<!--config_gl_keywords-->">
<META NAME="author" CONTENT="LiveZilla GmbH">
<META NAME="Copyright" CONTENT="LiveZilla GmbH">
<META NAME="generator" CONTENT="LiveZilla GmbH - http://www.livezilla.net">
<META NAME="audience" CONTENT="All">
<META NAME="robots" CONTENT="index,follow">
<META http-equiv="X-UA-Compatible" content="IE=edge">

<title><!--config_gl_site_name--></title>

<link rel="stylesheet" type="text/css" href="./templates/style.css">
<link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
<script language="javaScript" type="text/javascript">
<!--extern_script-->
<!--global_script-->
<!--connector_script-->
<!--group_script-->
</script>
</head>

<!-- frames -->
<frameset onmouseover="lz_chat_change_window_state(false);" rows="10,*,10" cols="10,*,10" border="0" frameborder="0" framespacing="0">
    <frame name="lz_chat_frame.0.0" src="./templates/frames/static/lz_chat_frame.0.0.html" onload="lz_chat_release_frame('lz_chat_frame.0.0');" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" border="0">
    <frame name="lz_chat_frame.0.1" src="./templates/frames/static/lz_chat_frame.0.1.html" onload="lz_chat_release_frame('lz_chat_frame.0.1');" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" border="0">
    <frame name="lz_chat_frame.0.2" src="./templates/frames/static/lz_chat_frame.0.2.html" onload="lz_chat_release_frame('lz_chat_frame.0.2');" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" border="0">
    <frameset rows="50%,*" border="0" frameborder="0" framespacing="0">
        <frame name="lz_chat_frame.1.0" src="./templates/frames/static/lz_chat_frame.1.0.html" onload="lz_chat_release_frame('lz_chat_frame.1.0');" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" border="0">
        <frame name="lz_chat_frame.2.0" src="./templates/frames/static/lz_chat_frame.2.0.html" onload="lz_chat_release_frame('lz_chat_frame.2.0');" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" border="0">
    </frameset>
    <frameset rows="99,*" border="0" frameborder="0" framespacing="0">
        <frame name="lz_chat_frame.1.1" src="./<!--file_chat-->?template=lz_chat_frame.1.1&amp;<!--url_get_params-->" onload="lz_chat_release_frame('lz_chat_frame.1.1');" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" border="0">
		<frameset rows="*,20" border="0" frameborder="0" framespacing="0">
			<frame name="lz_chat_frame.3.2" src="./<!--file_chat-->?template=lz_chat_frame.3.2.lgin&amp;<!--url_get_params-->" onload="lz_chat_release_frame('lz_chat_frame.3.2');" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" border="0">
            <frame name="lz_chat_frame.4.1" src="./<!--file_chat-->?template=lz_chat_frame.4.1&amp;<!--url_get_params-->" onload="lz_chat_release_frame('lz_chat_frame.4.1');" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" border="0">
		</frameset>
    </frameset>
    <frameset rows="50%,*" border="0" frameborder="0" framespacing="0">
        <frame name="lz_chat_frame.1.2" src="./templates/frames/static/lz_chat_frame.1.2.html" onload="lz_chat_release_frame('lz_chat_frame.1.2');" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" border="0">
        <frame name="lz_chat_frame.2.2" src="./templates/frames/static/lz_chat_frame.2.2.html" onload="lz_chat_release_frame('lz_chat_frame.2.2');" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" border="0">
    </frameset>
    <frame name="lz_chat_frame.3.0" src="./templates/frames/static/lz_chat_frame.3.0.html" onload="lz_chat_release_frame('lz_chat_frame.3.0');" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" border="0">
    <frame name="lz_chat_frame.5.1" src="./templates/frames/static/lz_chat_frame.5.1.html" onload="lz_chat_release_frame('lz_chat_frame.5.1');" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" border="0">
    <frame name="lz_chat_frame.3.3" src="./templates/frames/static/lz_chat_frame.3.3.html" onload="lz_chat_release_frame('lz_chat_frame.3.3');" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" border="0">
</frameset>
<!-- frames -->
</html>