<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
	<title>LiveZilla Server Page</title>
	<meta name="robots" content="index, follow">
	<link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="./templates/style.css">
</head>
<body background="./images/lz_index_bg.gif">
<!-- http://www.LiveZilla.net Tracking Code --><div id="livezilla_tracking" style="display:none"></div>
<script language="JavaScript" type="text/javascript">var script = document.createElement("script");script.type="text/javascript";var src = "./server.php?request=track&output=jcrpt&code=U0VSVkVSUEFHRQ__&nse="+Math.random();setTimeout("script.src=src;document.getElementById('livezilla_tracking').appendChild(script)",1);</script>
<noscript><img src="./server.php?request=track&amp;output=nojcrpt&amp;code=U0VSVkVSUEFHRQ__" width="0" height="0" style="visibility:hidden;" alt=""></noscript>
<!-- http://www.LiveZilla.net Tracking Code -->
<br><br><br>
<table cellpadding="5" cellspacing="0" align="center">
	<tr>
		<td colspan="2" valign="top" align="center">&nbsp;<img src="./images/lz_index_logo.gif" border="0" class="lz_index_logo" alt=""></td>
	</tr>
	<!--index_errors-->
	<tr>
		<td valign="top">
			<table cellpadding="5" cellspacing="0" class="lz_index_box" width="100%">
				<tr>
					<td valign="top">
						<table class="lz_index_inner_box" cellpadding="0" cellspacing="0"  width="384">
							<tr>
								<td><a href="javascript:void(window.open('./<!--file_chat-->?code=U0VSVkVSUEFHRQ__','','width=<!--width-->,height=<!--height-->,left=0,top=0,resizable=yes,menubar=no,location=yes,status=yes,scrollbars=yes'))"><img src="./images/lz_index_startchat.gif" alt="" width="384" height="40" border="0"></a></td>
							</tr>
							<tr>
								<td>
									<table cellpadding="5" class="lz_index_description_box">
										<tr>
											<td><!--lang_index_description_demochat--><br><br></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td valign="top" colspan="2" align="center">
			<table cellpadding="0" cellspacing="4">
				<tr>
					<td align="center"><a class="lz_index_link" href="http://www.livezilla.net" title="<!--title-->"><!--title--></a></td>
					<td align="center" class="lz_index_light_text">|</td>
					<td align="center"><a class="lz_index_link" href="http://www.livezilla.net/faq/" title="<!--title--> - Frequently Asked Questions">FAQ</a></td>
					<td align="center" class="lz_index_light_text">|</td>
					<td align="center"><a class="lz_index_link" href="http://www.livezilla.net/downloads/" title="<!--title--> - Downloads and Updates">Updates</a></td>
					<td align="center" class="lz_index_light_text">|</td>
					<td align="center"><a class="lz_index_link" href="http://www.livezilla.com/board/" title="<!--title--> - Community Forums">Forums</a></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2" width="400" align="center" class="lz_index_light_text">LiveZilla is a registered trademark<br>of LiveZilla GmbH<br><br>Version <!--lz_version--></td>
	</tr>
</table>
</body>
</html>
