<table width="97%" border="0" cellspacing="0" cellpadding="0" align="center" style="margin-top:6px;">
	<tr>
		<td>
			<table width="100%" cellspacing="0" cellpadding="0" height="20">
				<tr>
					<td width="6" background="./images/chat_bg_green_left.gif"></td>
					<td width="6" background="./images/chat_bg_green_center.gif"></td>
					<td valign="middle" background="./images/chat_bg_green_center.gif" style="padding-bottom:2px;" NOWRAP><span class="lz_message_a_title"><b><!--name--></b></span></td>
					<td align="right" valign="middle" background="./images/chat_bg_green_center.gif" style="padding-bottom:2px;"><span class="lz_message_a_time"><!--time--></span></td>
					<td width="8" background="./images/chat_bg_green_center.gif"></td>
					<td width="6" background="./images/chat_bg_green_right.gif"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td dir="<!--dir-->">
			<table width="100%" cellspacing="0" cellpadding="4" height="20">
				<tr>
					<td width="5"></td>
					<!--icon-->
					<td><span class="lz_message_text"><!--message--></span></td>
					<td width="2"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>