﻿<%@ Master Language="VB" AutoEventWireup="true" CodeBehind="err.Master.vb" Inherits="Dating.Referrals.Server.Site.Web._errMaster" %>

<%@ Register assembly="DevExpress.XtraCharts.v13.1.Web, Version=13.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.XtraCharts.Web" tagprefix="dxchartsui" %>
<%@ Register assembly="DevExpress.XtraCharts.v13.1, Version=13.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.XtraCharts" tagprefix="cc1" %>
<%@ Register src="~/Security/UserControls/ucLogin.ascx" tagname="ucLogin" tagprefix="uc1" %>
<%@ Register src="~/UserControls/TraceSrc.ascx" tagname="TraceSrc" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head runat="server">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="../v1/css/ref.css" rel="stylesheet" type="text/css" />
    <script src="../Scripts/jquery-1.7.min.js" type="text/javascript"></script>
    <script src="../Scripts/jquery.tipsy.js" type="text/javascript"></script>
    <script src="../Scripts/script1.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
		<script src="assets/ie9.js">IE7_PNG_SUFFIX = ".png";</script>
	<![endif]-->
    <!--[if lt IE 8]>
	    <link rel="stylesheet" type="text/css" media="screen, projection" charset="utf-8" href="assets/ie_fix.css">
	<![endif]-->
    <!--[if lte IE 7]>
	    <link rel="stylesheet" type="text/css" media="screen, projection" charset="utf-8" href="assets/ie7_fix.css">
	<![endif]-->
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body id="page">
    <form id="form1" runat="server"><%-- onsubmit="LoadingPanel.Show();"--%>
    <asp:ScriptManager ID="sm" runat="server">
    </asp:ScriptManager>
    <dx:ASPxLoadingPanel runat="server" ClientInstanceName="LoadingPanel"
        ImageSpacing="5px" CssPostfix="DevEx" 
        CssFilePath="~/App_Themes/DevEx/{0}/styles.css" ID="LoadingPanel">
        <Image Url="~/App_Themes/DevEx/Web/Loading.gif">
        </Image>
    </dx:ASPxLoadingPanel>
        <table>
            <tr>
                <td><div style="margin:20px 20px 20px 100px;border-bottom:2px solid #000;padding-bottom:4px;">
                        <asp:HyperLink ID="lnkEn" runat="server">EN</asp:HyperLink>&nbsp;/&nbsp;<asp:HyperLink ID="lnkGR" runat="server">GR</asp:HyperLink>
                    </div></td>
                <td>&nbsp;</td>
                <td><div style="margin:20px 20px 20px 0;border-bottom:2px solid #000;padding-bottom:4px;">
                        <asp:HyperLink ID="lnkHome" runat="server" NavigateUrl="~/Default.aspx">Home</asp:HyperLink>
                    </div></td>
            </tr>
        </table>
        <dx:ASPxComboBox ID="cmbLag" runat="server" CssFilePath="~/App_Themes/BlackGlass/{0}/styles.css"
            CssPostfix="BlackGlass" 
                SpriteCssFilePath="~/App_Themes/BlackGlass/{0}/sprite.css" SelectedIndex="0" 
                ShowImageInEditBox="True" AutoPostBack="True"
            Height="21px" Visible="false">
            <Items>
                <dx:ListEditItem ImageUrl="~/Images/flags/United-States24x24.ico" Text="English"
                    Value="US" />
                <dx:ListEditItem ImageUrl="~/Images/flags/Grece24x24.png" Text="Greek" Value="GR" />
                <dx:ListEditItem ImageUrl="~/Images/flags/albania.png" Text="Albanian" Value="AL" />
            </Items>
            <LoadingPanelImage Url="~/App_Themes/BlackGlass/Editors/Loading.gif">
            </LoadingPanelImage>
            <ButtonStyle Width="11px">
            </ButtonStyle>
            <ClientSideEvents SelectedIndexChanged="function(s, e) { LoadingPanel.Show(); }" />
            <ValidationSettings ErrorText="Error has occurred">
                <ErrorFrameStyle ImageSpacing="4px">
                    <ErrorTextPaddings PaddingLeft="4px" />
                </ErrorFrameStyle>
            </ValidationSettings>
        </dx:ASPxComboBox>
    <br />
    <table align="center">
    <tr>
        <td>
            <asp:ContentPlaceHolder ID="content" runat="server">
            </asp:ContentPlaceHolder>
        </td>
    </tr>
    </table>
</form>

</body>
</html>

