<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<META NAME="robots" CONTENT="noindex,follow">
	<title>LiveZilla Live Chat Software</title>
	<link rel="stylesheet" type="text/css" href="<!--server-->templates/style.css">
</head>
<body topmargin="0" leftmargin="0" style="margin:0px;padding:0px;" onscroll="parent.parent.lz_chat_chat_alert_move();" onresize="parent.parent.lz_chat_chat_alert_move();">
<!--alert-->
<div id="lz_chat_main"></div>
</body>
</html>
