<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!--html-->
<head>
	<META NAME="robots" CONTENT="noindex,follow">
	<title><!--config_gl_site_name--></title>
	<link rel="stylesheet" type="text/css" href="<!--server-->templates/style.css">
</head>
<body id="lz_chat_body_chat_function">
	<table cellpadding="2" cellspacing="5" height="100%">
		<tr>
			<td></td>
			<td><img onClick="parent.parent.lz_chat_take_smiley('smile');" src="./images/smilies/smile.gif" alt="" border="0" class="lz_chat_clickable_image"></td>
			<td><img onClick="parent.parent.lz_chat_take_smiley('sad');" src="./images/smilies/sad.gif" alt="" border="0" class="lz_chat_clickable_image"></td>
			<td><img onClick="parent.parent.lz_chat_take_smiley('neutral');" src="./images/smilies/neutral.gif" alt="" border="0" class="lz_chat_clickable_image"></td>
			<td><img onClick="parent.parent.lz_chat_take_smiley('tongue');" src="./images/smilies/tongue.gif" alt="" border="0" class="lz_chat_clickable_image"></td>
			<td><img onClick="parent.parent.lz_chat_take_smiley('cry');" src="./images/smilies/cry.gif" alt="" border="0" class="lz_chat_clickable_image"></td>
			<td><img onClick="parent.parent.lz_chat_take_smiley('lol');" src="./images/smilies/lol.gif" alt="" border="0" class="lz_chat_clickable_image"></td>
			<td><img onClick="parent.parent.lz_chat_take_smiley('shocked');" src="./images/smilies/shocked.gif" alt="" border="0" class="lz_chat_clickable_image"></td>
			<td><img onClick="parent.parent.lz_chat_take_smiley('wink');" src="./images/smilies/wink.gif" alt="" border="0" class="lz_chat_clickable_image"></td>
			<td><img onClick="parent.parent.lz_chat_take_smiley('cool');" src="./images/smilies/cool.gif" alt="" border="0" class="lz_chat_clickable_image"></td>
			<td><img onClick="parent.parent.lz_chat_take_smiley('sick');" src="./images/smilies/sick.gif" alt="" border="0" class="lz_chat_clickable_image"></td>
			<td><img onClick="parent.parent.lz_chat_take_smiley('question');" src="./images/smilies/question.gif" alt="" border="0" class="lz_chat_clickable_image"></td>
			<td><img onClick="parent.parent.lz_chat_take_smiley('sleep');" src="./images/smilies/sleep.gif" alt="" border="0" class="lz_chat_clickable_image"></td>
		</tr>
	</table>
</body>
</html>
