<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<META NAME="robots" CONTENT="noindex,follow">
	<title><!--config_gl_site_name--></title>
	<link rel="stylesheet" type="text/css" href="<!--server-->templates/style.css">
</head>
<body>
	<div class="lz_chat_navigation">
	<table width="100%" height="100%" cellspacing="0" cellpadding="0" align="center">
		<tr>
			<td width="10"></td>
			<td id="lz_chat_site_title">&nbsp;&nbsp;<!--config_gl_site_name--></td>
			<td align="right">
				<table cellspacing="0" cellpadding="0">
					<tr>
						<td><img src="./images/chat_bg_navigation_left.gif" alt="" width="10" height="30" border="0"></td>
						<td><img class="lz_chat_clickable_image" onclick="parent.parent.close();" src="./images/button_close.gif" border="0" title="<!--lang_client_close_window-->" alt=""></td>
						<td><img src="./images/chat_bg_navigation_right.gif" alt="" width="10" height="30" border="0"></td>
					</tr>
				</table>
			</td>
			<td width="5"></td>
		</tr>
	</table>
	</div>
	<div id="lz_chat_navigation_sub"></div>
</body>
</html>
