<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
       "http://www.w3.org/TR/html4/loose.dtd">
<!--html-->
<head>
	<META NAME="robots" CONTENT="noindex,follow">
	<title><!--config_gl_site_name--></title>
</head>
<frameset id="lz_chat_frameset_chat" rows="30,0,0,0,5,*,70,<!--misc_frame_height-->" border="0" frameborder="0" framespacing="0">
	<frame name="lz_chat_frame.3.2.chat.0.0" src="./<!--file_chat-->?template=lz_chat_frame.3.2.chat.0.0&intgroup=<!--intgroup-->&amp;<!--url_get_params-->" onload="parent.lz_chat_release_frame('lz_chat_frame.3.2.chat.0.0');parent.lz_chat_detect_sound();" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" border="0">
	<frame name="lz_chat_frame.3.2.chat.1.0" src="./<!--file_chat-->?template=lz_chat_frame.3.2.chat.1.0&amp;<!--url_get_params-->" onload="parent.lz_chat_release_frame('lz_chat_frame.3.2.chat.1.0');" marginwidth="0" marginheight="0" scrolling="no" id="lz_chat_file_upload_frame" frameborder="0" border="0">
	<frame name="lz_chat_frame.3.2.chat.2.0" src="./<!--file_chat-->?template=lz_chat_frame.3.2.chat.2.0&amp;<!--url_get_params-->" onload="parent.lz_chat_release_frame('lz_chat_frame.3.2.chat.2.0');" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" border="0">
 	<frame name="lz_chat_frame.3.2.chat.3.0" src="./<!--file_chat-->?template=lz_chat_frame.3.2.chat.3.0&amp;nolang=1" onload="parent.lz_chat_release_frame('lz_chat_frame.3.2.chat.3.0');" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" border="0">
	<frame name="lz_chat_frame.3.2.chat.3.1" src="./templates/frames/static/lz_chat_frame.3.2.chat.3.1.html" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" border="0">
	<frame name="lz_chat_frame.3.2.chat.4.0" src="./<!--file_chat-->?template=lz_chat_frame.3.2.chat.4.0&amp;nolang=1" onload="parent.lz_chat_release_frame('lz_chat_frame.3.2.chat.4.0');" marginwidth="0" marginheight="0" scrolling="auto" application="yes" frameborder="0" border="0">
	<frame name="lz_chat_frame.3.2.chat.5.0" src="./<!--file_chat-->?template=lz_chat_frame.3.2.chat.5.0&amp;<!--url_get_params-->" onload="parent.lz_chat_release_frame('lz_chat_frame.3.2.chat.5.0');" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" border="0">
	<frame name="lz_chat_frame.3.2.chat.6.0" src="./<!--file_chat-->?template=lz_chat_frame.3.2.chat.6.0&amp;<!--url_get_params-->" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" border="0">
</frameset>
</html>
