<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<META NAME="robots" CONTENT="noindex,follow">
	<title><!--config_gl_site_name--></title>
	<link rel="stylesheet" type="text/css" href="<!--server-->templates/style.css">
</head>
<body>
	<div class="lz_chat_navigation">
	<table width="100%" height="100%" cellspacing="0" cellpadding="0">
		<tr>
			<td width="10"></td>
			<td>
				<table cellspacing="0">
					<tr>
						<td id="lz_chat_site_title">&nbsp;&nbsp;<!--config_gl_site_name--></td>
						<td align="left" valign="middle"></td>
					</tr>
				</table>
			</td>
			<td align="right">
				<table cellspacing="0" cellpadding="0">
					<tr>
						<td><img src="./images/chat_bg_navigation_left.gif" alt="" width="10" height="30" border="0"></td>
						<td><img class="lz_chat_clickable_image" onclick="parent.parent.lz_chat_close();" src="./images/button_back.gif" border="0" title="<!--lang_client_goto_login-->" alt="<!--lang_client_goto_login-->"></td>
						<td <!--SM_HIDDEN-->><img src="./images/chat_bg_navigation_dev.gif" alt="" width="10" height="30" border="0"></td>
						<td <!--SM_HIDDEN-->><img class="lz_chat_clickable_image" onclick="parent.parent.lz_chat_switch_smiley_box();" id="lz_chat_smiley_button" src="./images/button_smiley.gif" border="0" title="<!--lang_client_insert_smiley-->" alt="<!--lang_client_insert_smiley-->"></td>
						<td <!--SO_HIDDEN-->><img src="./images/chat_bg_navigation_dev.gif" alt="" width="10" height="30" border="0"></td>
						<td <!--SO_HIDDEN-->><img<!--SO_HIDDEN--> class="lz_chat_clickable_image" onclick="parent.parent.lz_chat_switch_sound();" id="lz_chat_sound_button" src="./images/button_s1.gif" border="0" title="<!--lang_client_switch_sounds-->" alt="<!--lang_client_switch_sounds-->"></td>
						<td <!--PR_HIDDEN-->><img src="./images/chat_bg_navigation_dev.gif" alt="" width="10" height="30" border="0"></td>
						<td <!--PR_HIDDEN-->><img class="lz_chat_clickable_image" onclick="parent.parent.lz_chat_print();" id="lz_chat_print_button" src="./images/button_print.gif" border="0" title="<!--lang_client_print-->" alt="<!--lang_client_print-->"></td>
						<td <!--FU_HIDDEN-->><img src="./images/chat_bg_navigation_dev.gif" alt="" width="10" height="30" border="0"></td>
						<td <!--FU_HIDDEN-->><img class="lz_chat_clickable_image" onclick="parent.parent.lz_chat_switch_file_upload();" src="./images/button_file.gif" border="0" title="<!--lang_client_send_file-->" alt="<!--lang_client_send_file-->"></td>
						<td <!--RA_HIDDEN-->><img src="./images/chat_bg_navigation_dev.gif" alt="" width="10" height="30" border="0"></td>
						<td <!--RA_HIDDEN-->><img class="lz_chat_clickable_image" onclick="parent.parent.lz_chat_switch_rating();" src="./images/button_rate.gif" border="0" title="<!--lang_client_rate_representative-->" alt="<!--lang_client_rate_representative-->"></td>
						<td <!--FV_HIDDEN-->><img src="./images/chat_bg_navigation_dev.gif" alt="" width="10" height="30" border="0"></td>
						<td <!--FV_HIDDEN-->><img class="lz_chat_clickable_image" onclick="parent.parent.lz_chat_bookmark();" src="./images/button_fav.gif" border="0" title="<!--lang_client_bookmark-->" alt="<!--lang_client_bookmark-->"></td>
						<td><img src="./images/chat_bg_navigation_dev.gif" alt="" width="10" height="30" border="0"></td>
						<td><img class="lz_chat_clickable_image" onclick="parent.parent.close();" src="./images/button_close.gif" border="0" title="<!--lang_client_close_window-->" alt="<!--lang_client_close_window-->"></td>
						<td><img src="./images/chat_bg_navigation_right.gif" alt="" width="10" height="30" border="0"></td>
						<td width="10"></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	</div>
</body>
</html>
